﻿@model System.Object[]

@{
	Layout = "~/Views/Shared/_Report.cshtml";
	var title = Model[0] as ViewModels.Report.TitleViewModel;
	var uaList = Model[1] as List<ViewModels.Report.UnityAverageViewModel>;
	var averageQualifications = (double)Model[2];
	var averageAchievements = (double)Model[3];
	var uvtList = Model[4] as List<ViewModels.Report.UnityViewedAverageViewModel>;
	var uvtListResume = Model[5] as List<ViewModels.Report.UnityViewedAverageViewModel>;
	var averageTime = (double)Model[6];

	var unitsMax = uaList.Count;
	var maxTime = uvtListResume.Max(p => p.UnityViewedTimes.FirstOrDefault().Time);
}

<div class="col-xs-12 text-center">
	<h3 class="text-uppercase"><b>Informe Curso por Asignatura</b></h3>
	<h5>
		@DateTime.Now.ToString("dd/MM/yyyy")
	</h5>
</div>

<br>

<div class="col-xs-12 ">
	<span>Establecimiento: @title.Establishment</span>
</div>

<div class="col-xs-12 ">
	<span>Curso: @title.Course</span>
</div>

<div class="col-xs-12 ">
	<span>Asignatura: @title.Subject</span>
</div>

<div class="col-xs-12 ">
	<span>Nº de Estudiantes: @title.NStudents</span>
</div>

<div class="col-xs-12 ">
	<span>Nº de Unidades: @title.NUnits</span>
</div>

<div class="col-xs-12 ">
	<span>Nº de Sub Unidades: @title.NSubUnits</span>
</div>

<br />
<br />

<div class="col-xs-12 ">
	<h4><b>Promedio de unidades</b></h4>
</div>

@if (uaList.Count != 0)
{
	<div class="col-xs-12" style="padding-top: 10px;">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th style="text-align:center;">Unidad</th>
					<th style="text-align:center; width:120px; ">Calificación</th>
				</tr>
			</thead>
			<tbody>

				@{ var index = 0; }
				@foreach (var ua in uaList)
				{
					<tr>
						<td>Unidad @((index++) + 1) - @ua.unity.Name</td>
						<td style="text-align:center; width:50px;">@(ua.Average == -1 ? "-" : ua.Average.ToString())</td>
					</tr>
				}

				<tr>
					<td style="text-align:right;"><strong>Promedio</strong></td>
					<td style="text-align:center; width:50px;"><strong>@(averageQualifications == -1 ? "-" : averageQualifications.ToString())</strong></td>
				</tr>

				<tr>
					<td style="text-align:right;"><strong>Porcentaje de logro</strong></td>
					<td style="text-align:center; width:50px;"><strong>@(averageAchievements == -1 ? "-" : averageAchievements.ToString())%</strong></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="col-xs-12" style="page-break-before: always;">
		<div class="col-xs-12 graph-container" style="padding-top: 20px;">
			<h4 class="text-center">
				Comparativa promedios
			</h4>
			<div id='chart1' style="text-align:center; margin:0 auto;"></div>
		</div>
	</div>

	<div class="col-xs-12 ">
		<h4><b>Tiempo promedio por alumno en cada unidad</b></h4>
	</div>

	<div class="col-xs-12" style="padding-top: 10px;">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th style="text-align:center; width:100px;">Estudiante</th>

					@for (var i = 0; i < unitsMax; i++)
					{
						<th style="text-align:center;">U@(i + 1)</th>
					}
				</tr>
			</thead>
			<tbody>

				@foreach (var uvt in uvtList)
				{
					<tr>
						<td>@uvt.User.Name @uvt.User.FatherLastName</td>

						@foreach (var uvTime in uvt.UnityViewedTimes)
						{
							<td style="text-align:center; vertical-align:middle; width:50px;">@(uvTime.GetTimeFormat())</td>
						}
					</tr>
				}
			</tbody>
		</table>
	</div>

	<div class="col-xs-12">
		@{
			var resume = new ViewModels.Report.UnityViewedTime() { Time = averageTime };
		}
		<h4 style="float:right;"><b>Duración media de la sesión: @resume.GetTimeFormat()</b></h4>
		<br />
		<br />
	</div>

	<div class="col-xs-12" style="page-break-before: always;">
		<div class="col-xs-12 graph-container" style="padding-top: 20px;">
			<h4 class="text-center">
				Tiempo promedio dedicado por unidad
			</h4>
			<div id='chart2' style="text-align:center; margin:0 auto;"></div>
		</div>
	</div>
}
else
{
	<div class="col-xs-12 ">
		<span>Sin información</span>
		<br />
		<br />
	</div>
}

@if (uaList.Count != 0)
{
	<script>

		var units = [];

		@for (var i = 0; i < uaList.Count; i++)
		{
			@:units.push('U@(i + 1)');
		}

		var qualifications = [];
		var achievements = [];

		@foreach (var ua in uaList)
		{
			@:qualifications.push(@(ua.Average == -1 ? 0 : Math.Round(ua.Average)));
			@:achievements.push(@(ua.AverageAchievements == -1 ? 0 : Math.Round(ua.AverageAchievements)));
		}

		var config1 = {
			"globals": { "font-family": "Helvetica" },
			"type": "bar",
			"background-color": "white",
			"scale-y": {
				"line-color": "none",
				"tick": { "line-color": "none" },
				"guide": { "line-style": "solid" },
				"item": { "color": "#606060" }
			},
			"scale-y": {
				"values": '0:100:10',
				"label": { "text": "" }
			},
			"scale-x": {
				"label": { "text": "" },
				"values": units
			},
			"plot": {
				"value-box": { "text": "%v", "color": "#606060" },
				"tooltip": { "visible": false },
				"animation": { "effect": "none" },
			},
			"legend": { "background-color": "none", "border-color": "white", "border-width": 0, "shadow": 0 },
			"series": [
				{ "values": qualifications, text: "Promedio del Test Final", backgroundColor: '#2493BA' },
				{ "values": achievements, text: "Promedio del % de Logro en Actividades", backgroundColor: '#41C944' },
			]
		};

		zingchart.render({
			id: 'chart1',
			data: config1,
			height: '400',
			width:'810'
		});

		var timers = [];


		@foreach (var uvt in uvtListResume)
		{
			@:timers.push(@(Math.Round(uvt.UnityViewedTimes.FirstOrDefault().Time)));
		}



		var config2 = {
			"globals": { "font-family": "Helvetica" },
			"type": "bar",
			"background-color": "white",
			"scale-y": {
				"line-color": "none",
				"tick": { "line-color": "none" },
				"guide": { "line-style": "solid" },
				"item": { "color": "#606060" }
			},
			"scale-y": {
				"values": '0:@Math.Round(maxTime+30):30',
				"label": { "text": "Minutos" }
			},
			"scale-x": {
				"label": { "text": "" },
				"values": units
			},
			"plot": {
				"value-box": { "text": "%v", "color": "#606060" },
				"tooltip": { "visible": false },
				"animation": { "effect": "none" },
			},
			"legend": { "background-color": "none", "border-color": "white", "border-width": 0, "shadow": 0 },
			"series": [
				{ "values": timers, text: "Tiempo promedio dedicado (Minutos)", backgroundColor: '#2493BA' },
			]
		};

		zingchart.render({
			id: 'chart2',
			data: config2,
			height: '400',
			width:'810'
		});

	</script>
}
else
{
	<script>
		$("#chart1").html("No es posible generar este gráfico con los datos actuales");
	</script>
}