﻿@model ViewModels.ReportViewModel
@{
   Layout = "~/Views/Shared/_Report.cshtml";
}

<div class="col-xs-12 text-center">
    <hr />
    <h4><b>CALENDARIO CURSO</b></h4>
    <hr style="margin-bottom: 5px;" />
    <h5>
        @DateTime.Now.ToString("dd/MM/yyyy")
    </h5>

</div>

<div class="col-xs-12" style="padding-top: 10px;">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th class=" col-xs-3 text-uppercase color-row">ESTABLECIMIENTO</th>
                <td>@Model.Establishment.Name.ToUpper()</td>
                <td class="col-xs-3" rowspan="4">
                    <div class=" text-center">
                        <img src="@Model.Establishment.PathImage"  height="120" width="120"/>
                    </div>
                </td>
            </tr>
 
            <tr>
                <th class=" col-xs-3 text-uppercase color-row">CURSO</th>
                <td>@Model.Course.Name</td>
            </tr>
        </tbody>
    </table>
</div>

@{ string[] months = { "ENERO", "FEBRERO", "MARZO", "ABRIL", "MAYO", "JUNIO", "JULIO", "AGOSTO", "SEPTIEMBRE", "OCTUBRE", "NOVIEMBRE", "DICIEMBRE" }; }


<div class="col-xs-12">
   
        <br /><br />
        @if (Model.Events == null || Model.Events.Count() == 0)
        {
            <table class="table table-bordered">
                <tr>
                    <td>
                        Sin eventos asociados
                    </td>
                </tr>
            </table>
        }
        else
        {
            <br />
            <h4><b>CALENDARIO DEL MES DE @months[Model.Month - 1]</b></h4>
            <br />

            <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="col-xs-3 color-row">Fecha</th>
                            <th class="col-xs-3 color-row">Título</th>
                            <th class="col-xs-8 color-row">Descripción</th>
                        </tr>
                    </thead>    
                    <tbody>
                    @foreach (var _event in Model.Events)
                    {
                        <tr>
                            <td class="col-xs-2 text-uppercase">@String.Format("{0:dd/MM/yyyy}", @_event.Start)</td>
                            <td class="col-xs-2 text-uppercase">@_event.Title</td>
                            <td class="col-xs-8 text-uppercase">@_event.Description</td>
                        </tr>
                    }
                </tbody>
            </table>
   }
</div>