﻿@model System.Object[]

@{
	Layout = "~/Views/Shared/_Report.cshtml";
	var title = Model[0] as ViewModels.Report.TitleViewModel;
	var sabuList = Model[1] as List<ViewModels.Report.SubjectAverageByUnityInfoViewModel>;

	var unitsMax = sabuList.Count == 0 ? 0 : sabuList.Max(p => p.UnityQualifications.Count);
}

<div class="col-xs-12 text-center">
	<h3 class="text-uppercase"><b>Informe Promedio de asignatura por Unidad</b></h3>
	<h5>
		@DateTime.Now.ToString("dd/MM/yyyy")
	</h5>
</div>

<br>

<div class="col-xs-12 ">
	<span>Nombre alumno: @title.Student</span>
</div>

<div class="col-xs-12 ">
	<span>Establecimiento: @title.Establishment</span>
</div>

<div class="col-xs-12 ">
	<span>Curso: @title.Course</span>
</div>

<br />
<br />

<div class="col-xs-12 ">
	<h4><b>Promedio de asignatura por Unidad</b></h4>
</div>

@if (sabuList.Count != 0 && unitsMax != 0)
{
	<div class="col-xs-12" style="padding-top: 10px;">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th style="text-align:center; width:50px;">Asignaturas</th>

					@for (var i = 0; i < unitsMax; i++)
					{
						<th style="text-align:center;">U@(i + 1)</th>
					}

					<th style="text-align:center;">P%LA</th>
					<th style="text-align:center;">PTF</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var sabu in sabuList)
				{
					<tr>
						<td style="width:50px;">@sabu.Subject.Name</td>


						@{ var addSpaces = unitsMax - sabu.UnityQualifications.Count; }

						@foreach (var s in sabu.UnityQualifications)
						{
							<td style="text-align:center; width:30px;">@s.Qualification</td>
						}

						@for (var i = 0; i < addSpaces; i++)
						{
							<td style="text-align:center; width:30px;"></td>
						}

						<td style="text-align:center; width:30px;">@(sabu.AverageAchievements == -1 ? "-" : sabu.AverageAchievements.ToString())%</td>
						<td style="text-align:center; width:30px;">@(sabu.Average == -1 ? "-" : sabu.Average.ToString())</td>
					</tr>
				}
			</tbody>
		</table>
	</div>

	<div class="col-xs-12" style="padding-top: 10px;">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th style="text-align:center;">Glosario</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>U = Unidad</td>
				</tr>

				<tr>
					<td>P%LA = Promedio de % en Logro de actividades </td>
				</tr>

				<tr>
					<td>PTF = Promedio de test finales</td>
				</tr>
			</tbody>
		</table>
		<br />
	</div>

	<div class="col-xs-12">
		<div class="col-xs-12 graph-container" style="padding-top: 20px;">
			<h4 class="text-center">
				Promedio del % de Logro de las actividades VS Promedio del test final por asignatura
			</h4>
			<div id='chart1' style="text-align:center; margin:0 auto;"></div>
		</div>
	</div>
}
else
{
	<div class="col-xs-12 ">
		<span>Sin información</span>
		<br />
		<br />
	</div>
}

@if (sabuList.Count != 0 && unitsMax != 0)
{
	<script>

		var subjects = [];

		@foreach(var sabu in sabuList)
		{
			@:subjects.push('@(sabu.Subject.Name.ToLower()
											.Replace("á", "a")
											.Replace("é", "e")
											.Replace("í", "i")
											.Replace("ó", "o")
											.Replace("ú", "u")
											.Replace("ñ", "n")
											.ToUpper())');
		}

		var qualifications = [];
		var achievements = [];

		@foreach(var sabu in sabuList)
		{
			@:qualifications.push(@(sabu.Average == -1 ? 0 : sabu.Average));
			@:achievements.push(@(sabu.AverageAchievements == -1 ? 0 : sabu.AverageAchievements));
		}

		var config1 = {
			"globals": { "font-family": "Helvetica" },
			"type": "bar",
			"background-color": "white",
			"scale-y": {
				"line-color": "none",
				"tick": { "line-color": "none" },
				"guide": { "line-style": "solid" },
				"item": { "color": "#606060" }
			},
			"scale-y": {
				"values": '0:100:10',
				"label": { "text": "" }
			},
			"scale-x": {
				"label": { "text": "" },
				"values": subjects
			},
			"plot": {
				"value-box": { "text": "%v", "color": "#606060" },
				"tooltip": { "visible": false },
				"animation": { "effect": "none" },
			},
			"legend": { "background-color": "none", "border-color": "white", "border-width": 0, "shadow": 0 },
			"series": [
				{ "values": qualifications, text: "Promedio del test final por asignatura", backgroundColor: '#2493BA' },
				{ "values": achievements, text: "Promedio del % de Logro de las actividades", backgroundColor: '#41C944' },
			]
		};

		zingchart.render({
			id: 'chart1',
			data: config1,
			height: '400',
			width:'810'
		});

	</script>
}
else
{
	<script>
		$("#chart1").html("No es posible generar este gráfico con los datos actuales");
	</script>
}