﻿@model System.Int32

@{
	var content = Generic.ViewGeneric.GeneratePanel<ViewModel.Report_SubUnityViewModel>(typeof(Model.User))
					.AddManagerSelect(
						new Component.Select.ManagerSelect(url: "User/GetUsersByCourse")
							.AddSelect(new Component.Select.SelectComponent(
							typeModel: typeof(Model.Course),
							code: Component.Select.SelectCode.Course,
							url: "Course/GetCoursesFilteredByUser",
							name: "Curso",
							placeholder: "Seleccione un curso"
						)));

	//Cuando se completa todos los selects gatilla la siguiente ruta.
	content.groupCode = Model;
	content.displayTitle = false;
}

<div id="div-select-@content.groupCode" class="div-report" style="display:none;">
	@{Html.RenderPartial("GenericPanel", content);}
</div>

<script>

	$(function () {

		EventDispatcher.on(GenericSystemButton.buttonEvent, function (obj) {

			if (obj.groupCode != "@content.groupCode") return;

			switch (obj.componentCode)
			{
				case "viewButton":
					Repository.queryApi(
						{
							urlServerTemporal: "@(SecurityGuard.ConnectionHelper.UrlReport)ReportGeneralStudent",
							method: "GET",
							data:
								{
									user_id		: obj.idValue,
									course_id : GenericSystemSelect.getSelect("Course",@content.groupCode).val(),
								},
							success: function (data)
							{
								var structurePdf = '<object type="application/pdf" data="data:application/pdf;base64,' + data + '" style="width:100%; height:100%;">' +
									'<p>Problemas al ejecutar, intente más tarde</p>' +
									'</object >';

								$("#div-pdfModal").find("div").css("height", $(window).height()*0.9);
								$("#div-pdfModal").find("div").html(structurePdf);
								$("#div-pdfModal").modal('show');	
							}
						}, true, true);
				break;
			}

		});
	});

</script>