﻿<div class="row bg-title">
	<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
		<h4 class="page-title">Gestión de Informes</h4>
	</div>
	<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"></div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="white-box">
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="">Tipo de Informe</label>
						<select class="custom-select col-sm-12" id="report-type">
							<option value="0" disabled selected>Seleccione un tipo de informe</option>

							@if (SecurityGuard.Authentication.ContainRole("Administrador, SubAdministrador, Profesor"))
							{
								<option value="1">Informe Rendimiento en Subunidad</option>
								<option value="3">Informe General de Alumno</option>
								<option value="5">Informe Curso por Asignatura</option>
								<option value="6">Informe Calificaciones Deficientes por Curso</option>
							}

							@if (SecurityGuard.Authentication.ContainRole("Alumno"))
							{
								<option value="2">Informe Rendimiento en Subunidad</option>
								<option value="4">Informe General</option>
							}
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="div-pdfModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size:25px!important; color:white; opacity:0.7; margin-top:15px; margin-right:15px;">×</button>
	<div style="max-width: 90%; width:90%; min-width:800px; margin: 30px auto;"></div>
</div>

<!-- El valor numérico representa el GroupCode - Siempre debe ser único para cada vista -
	El valor va acorde al valor del Select de arriba	-->

@if (SecurityGuard.Authentication.ContainRole("Administrador, SubAdministrador, Profesor"))
{
	Html.RenderPartial("SubUnity_Teacher", 1);
	Html.RenderPartial("GeneralStudent_Teacher", 3);
	Html.RenderPartial("CourseBySubject_Teacher", 5);
	Html.RenderPartial("LowQualificationsByCourse_Teacher", 6);
}

@if (SecurityGuard.Authentication.ContainRole("Alumno"))
{
	Html.RenderPartial("SubUnity_Student", 2);
	Html.RenderPartial("GeneralStudent_Student", 4);
}

<script>

	$(function () {
		$("#report-type").change(function () {
			$(".div-report").each(function () { $(this).hide(); });
			$("#div-select-" + $(this).val()).show();
		});
	});

</script>