﻿@model System.Object[]

@{
	Layout = "~/Views/Shared/_Report.cshtml";
	var title = Model[0] as ViewModels.Report.TitleViewModel;
	var ulqsList = Model[1] as List<ViewModels.Report.UserLowQualificationsViewModel>;
	var subjects = Model[2] as List<Model.Subject>;
}

<div class="col-xs-12 text-center">
	<h3 class="text-uppercase"><b>Informe de Calificaciones Deficientes por Curso</b></h3>
	<h5>
		@DateTime.Now.ToString("dd/MM/yyyy")
	</h5>
</div>

<br>

<div class="col-xs-12 ">
	<span>Establecimiento: @title.Establishment</span>
</div>

<div class="col-xs-12 ">
	<span>Curso: @title.Course</span>
</div>

<div class="col-xs-12 ">
	<span>Nº de Estudiantes: @title.NStudents</span>
</div>

<br />

<div class="col-xs-12 ">
	<h4 style="text-align:center;"><b>Calificaciones reprobadas</b></h4>
</div>

<div class="col-xs-12 ">
	<span>PTF: Promedio en los Test Finales</span>
</div>

<div class="col-xs-12 ">
	<span>PTU: Promedio de Tiempos en la Unidad</span>
</div>

@*<div class="col-xs-12 ">
	<span>V: Agregar visitas a la asignatura</span>
</div>*@

<div class="col-xs-12 ">
	<span>NR: No rendido</span>
</div>

<br />
<br />

@if (subjects.Count != 0)
{
<div class="col-xs-12" style="padding-top: 10px;">

	@foreach (var subject in subjects)
	{

		var units = ulqsList.FirstOrDefault(p => p.SubjectLowQualifications.Any(q => q.Subject.Id == subject.Id));

		if (units == null)
		{
			continue;
		}

		var count = units.SubjectLowQualifications.FirstOrDefault(p => p.Subject.Id == subject.Id).UnityQualifications.Count();

		<div class="col-xs-12 ">
			<h4 style="text-align:center;"><b>@subject.Name</b></h4>
		</div>

		<div class="col-xs-12 ">
			<span>1. Promedio de test finales</span>
			<br><br>
		</div>

		<table class="table table-bordered">
			<thead>
				<tr>
					<th style="text-align:center; min-width:175px;">Alumno</th>

					@for (var i = 0; i < count; i++)
					{
						<th style="text-align:center;">PTF@(i + 1)</th>
					}

					<th style="text-align:center; max-width:50px;">Prom.</th>
				</tr>
			</thead>
			<tbody>

				@foreach (var ulqs in ulqsList.Select(p => new { p.User, SubjectLowQualifications = p.SubjectLowQualifications.FirstOrDefault(q => q.Subject.Id == subject.Id) }))
				{
					if (ulqs.SubjectLowQualifications == null) { continue; }

					<tr>
						<td style="min-width:175px;">@ulqs.User.Name @ulqs.User.FatherLastName</td>

						@foreach (var qualification in ulqs.SubjectLowQualifications.UnityQualifications)
						{

							<td style="text-align:center; vertical-align:middle; color:@(qualification.IncludeQualification && Double.Parse(qualification.Qualification) < 60.0 ? "red" : "black");">@(qualification.Qualification != "-" ? qualification.Qualification : "NR")</td>
						}

						@{
							var qualificationAll = ulqs.SubjectLowQualifications.GetQualificationAll();
							var color = qualificationAll != -1 && qualificationAll < 60.0 ? "red" : "black";
						}

						<td style="text-align:center; vertical-align:middle; color:@color;">@( qualificationAll != -1 ? qualificationAll.ToString() : "-" )</td>
					</tr>
				}

			</tbody>
		</table>

		<div class="col-xs-12 ">
			<span>2. Tiempo en cada unidad</span>
			<br><br>
		</div>

		<table class="table table-bordered">
			<thead>
				<tr>
					<th style="text-align:center;">Alumno</th>

					@for (var i = 0; i < count; i++)
					{
						<th style="text-align:center;">PTU@(i + 1)</th>
					}

					<th style="text-align:center; max-width:50px;">Prom.</th>
				</tr>
			</thead>
			<tbody>

				@foreach (var ulqs in ulqsList.Select(p => new { p.User, SubjectLowQualifications = p.SubjectLowQualifications.FirstOrDefault(q => q.Subject.Id == subject.Id) }))
				{
					if (ulqs.SubjectLowQualifications == null) { continue; }

					<tr>
						<td style="min-width:175px;">@ulqs.User.Name @ulqs.User.FatherLastName</td>

						@foreach (var timer in ulqs.SubjectLowQualifications.UnityViewedAverages.SelectMany(p => p.UnityViewedTimes))
						{
							<td style="text-align:center; vertical-align:middle;">@timer.GetTimeFormat()</td>
						}

						@{
							var time = new ViewModels.Report.UnityViewedTime() { Time = ulqs.SubjectLowQualifications.UnityViewedAverages.SelectMany(p => p.UnityViewedTimes).Sum(p => p.Time) };
							var time_count = ulqs.SubjectLowQualifications.UnityViewedAverages.SelectMany(p => p.UnityViewedTimes).Where(p => p.Time != 0).Count();

							if (time_count != 0)
							{
								time.Time /= time_count;
							}
						}

						<td style="text-align:center; vertical-align:middle;">@time.GetTimeFormat()</td>
					</tr>
				}

			</tbody>
		</table>

	}
</div>
}
else
{
<div class="col-xs-12 ">
	<span>Sin información</span>
	<br />
	<br />
</div>
}