﻿@model ViewModels.ReportViewModel
@{

    Layout = "~/Views/Shared/_Report.cshtml";
    var noInfo = false;
    var totalAchievement = 0;
    var contectsWithData = 0;
    int correctas = 0;
    var todasLasRespuestas = 0;
    double rendimiento = 0.0;

    var summary = new List<Summary>();
}
@functions {
    public class Summary
    {
        public string Theme { get; set; }
        public int Total { get; set; }
    }
}

<div class="col-xs-12 text-center"  >
    <hr />
    <h4><b>RENDIMIENTO POR ALUMNO</b></h4>
    <hr style="margin-bottom: 5px;" />
    <h5>
        @DateTime.Now.ToString("dd/MM/yyyy")
    </h5>
</div>
<div class="col-xs-12" style="padding-top: 10px;">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th class=" col-xs-3 text-uppercase color-row">ESTABLECIMIENTO</th>
                <td>@Model.Establishment.Name.ToUpper()</td>
                <td class="col-xs-3" rowspan="4">
                    <div class=" text-center">
                        <img src="@Model.Establishment.PathImage" height="120" width="120" />
                    </div>
                </td>
            </tr>
            <tr>
                <th class=" col-xs-3 text-uppercase color-row">PROFESOR</th>
                <td>@Model.Teacher.Name</td>
            </tr>
            <tr>
                <th class=" col-xs-3 text-uppercase color-row">CURSO</th>
                <td>@Model.CourseSubject.Course.Name</td>
            </tr>
            <tr>
                <th class=" col-xs-3 text-uppercase color-row">ASIGNATURA</th>
                <td>@Model.CourseSubject.Subject.Name</td>
            </tr>
            <tr>
                <th class=" col-xs-3 text-uppercase color-row">ALUMNO</th>
                <td colspan="2">@Model.Student.Name </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-xs-12" >

    @foreach (var item in Model.CourseSubject.Units)
    {<br /><br />
        <h4 class="text-uppercase text-center">Eje tematico : @item.Name</h4>
        if (item.SubUnits.Count == 0)
        {
            <table class="table table-bordered">
                <tr>
                    <td>
                        Sin temas ni contenidos asociados
                    </td>
                </tr>
            </table>
        }
        var i = 1;
        foreach (var subUn in item.SubUnits)
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="col-xs-3 color-row">Tema @i </th>
                        <td class="col-xs-8 text-uppercase">@subUn.Name</td>
                        <th class="col-xs-3 color-row">Logro</th>
                    </tr>
                </thead>
                <tbody>
                    @if (subUn.Tests.Count == 0)
                    {
                    <td class="text-red">Sin Contenido</td>
                    <td class="text-red">Sin test asociado</td>
                    <td class="text-red">Sin nota</td>
                }
                    @{var j = 1;
                        totalAchievement = 0;
                        contectsWithData = 0;
                    }
                    @foreach (var test in subUn.Tests)
                    {
                        <tr>
                            <th class="col-xs-3 text-uppercase color-row">Contenido @j </th>
                            <td class="col-xs-8">@test.Title</td>

                            @{ //calculate achievement
                                var totalQuestions = test.Questions.Count();
                                var localAchievement = 0;
                                var totalLocalAchievement = 0;
                            }
                            @if (totalQuestions == 0)
                            {
                                noInfo = true;
                            }
                            else
                            {
                                foreach (var question in test.Questions)
                                {
                                    var totalAsnwers = question.Answers.Where(x => x.User.Id == Model.Student.Id).Count();
                                    var correctAnswers = 0;
                                    if (totalAsnwers == 0)
                                    {
                                        noInfo = true;
                                    }
                                    else
                                    {
                                        foreach (var answer in question.Answers.Where(x => x.User.Id == Model.Student.Id))
                                        {
                                            if (question.Choice == answer.Choice) { correctAnswers++; }
                                        }
                                        localAchievement = (correctAnswers * 100) / totalAsnwers;
                                        totalLocalAchievement = totalLocalAchievement + localAchievement;
                                    }
                                }
                                totalLocalAchievement = totalLocalAchievement / totalQuestions;
                            }
                            @if (noInfo == false)
                            {
                                <td>@totalLocalAchievement %</td>
                                totalAchievement = totalAchievement + totalLocalAchievement;
                                contectsWithData++;
                            }
                            else
                            {
                                <td class="text-red">Sin nota</td>
                            }
                            @{j++; }
                        </tr>
                    }
                    @if (totalAchievement > 0)
                    {
                        <tr>
                            @{ totalAchievement = totalAchievement / contectsWithData;}
                            <td colspan="2">Total</td>
                            <td>@totalAchievement %</td>
                            @{
                                var sum = new Summary() { Theme = "Tema " + i, Total = totalAchievement };
                                summary.Add(sum);
                            }
                        </tr>
                    }
                    </tbody>
                </table>
                i++;
            }
            <br />
            <h4 class="text-uppercase text-center">Resumen</h4>
            if (summary.Count == 0)
            {
                <table class="table table-bordered">
                    <tr>
                        <td>
                            No existe la información requerida para generar un resumen.
                        </td>
                    </tr>
                </table>
            }
            else
            {
                foreach (var sum in summary)
                {
                    <table class="table table-bordered">
                        <tr>
                            <th class="col-xs-3 color-row">@sum.Theme</th>
                            <td class="text-right">@sum.Total %</td>
                        </tr>
                    </table>
                }
            }
            summary.Clear();
        }
</div>
@* ******************************************** Rendimiento por contenido ************************************************************* *@


@* ******************************************** Rendimiento por Habilidad Cognitiva ************************************************************* *@
<p CLASS="breakhere" />
<div class="col-xs-12  text-center" style="padding-top: 10px;">
    @{ var count = 1; }
    <h4 class="text-uppercase text-center">Resumen rendimiento por "Habilidad Cognitiva"</h4><br />
    <br />
    <br>
    <br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-uppercase text-center col-xs-1 color-row">N°</th>
                <th class="text-uppercase text-left col-xs-3 color-row">Habilidad Cognitiva</th>
                <th class="text-uppercase text-center col-xs-1 color-row">Rendimiento</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var skill in Model.Skills)
            {
                <tr>
                    <td class="text-center">
                        @count
                    </td>
                    <td class="text-left">
                        @skill.Name
                    </td>
                    @{
                        var respuestas = Model.Answers.Where(x => x.Status == true && x.Choice == x.Question.Choice && Model.Tests.Contains(x.Question.Test.Id) && x.Question.Skill.Id == skill.Id && x.User_Id == Model.Student.Id).Count();
                        todasLasRespuestas = Model.Questions.Where(x => x.Status == true && x.Skill.Id == skill.Id && Model.Tests.Contains(x.Test.Id)).Count();
                        rendimiento = Math.Round((double)respuestas / todasLasRespuestas * 100);
                    }
                    <td class="text-center">
                        @rendimiento %
                    </td>
                </tr>
                count += 1;
            }
        </tbody>
    </table>
</div>