﻿@model ViewModels.ReportViewModel
@using Model
@{
    Layout = "~/Views/Shared/_Report.cshtml";    
}

<div class="col-xs-12 text-center">
    <hr />
    <h4><b>RELACIÓN PROFESOR, CURSO, ASIGNATURA, EJE TEMATICO, TEMA  </b></h4>
    <hr style="margin-bottom: 5px;" />
    <h5>
        @DateTime.Now.ToString("dd/MM/yyyy")
    </h5>

</div>

<div class="col-xs-12" style="padding-top: 15px;">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th style="background-color: rgba(221, 221, 221, 0.46);">ESTABLECIMIENTO</th>
                <td>@Model.Establishment.Name.ToUpper()</td>
                <td class="col-xs-3" rowspan="2">
                    <div class=" text-center" >
                        <img src="@Model.Establishment.PathImage" height="120" width="120" />
                    </div>
                </td>
            </tr>
            <tr>
                <th style="background-color: rgba(221, 221, 221, 0.46);">PROFESOR</th>
                <td>@Model.Teacher.Name</td>
            </tr>
        </tbody>
    </table>
</div>

 <div class="col-xs-12">
    @{
        var course = 0;
    }

    @foreach (var courseSubject in Model.CourseSubjects)
    {
        if (course != courseSubject.Course_Id)
        {
            <br>
            <h4 class="text-uppercase text">@courseSubject.Course.Name</h4>
        }
        <h5 class="text-uppercase">Asignatura: @courseSubject.Subject.Name</h5>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="col-xs-6 text-center">Eje temático</th>
                    <th class="col-xs-6  text-center">Tema</th>
                </tr>
            </thead>
            <tbody>
                @if (courseSubject.Units.Count == 0)
                {
                    <tr>
                        <td style="color:red;">No hay eje tematico</td>
                        <td style="color:red;">No hay tema</td>
                    </tr>
                }
                else { 
                    foreach (var unit in courseSubject.Units)
                    {
                        <tr>
                            @{var rows = unit.SubUnits.Count()+1;}
                            <th rowspan="@rows" class="text-uppercase">
                                @unit.Name
                            </th>
                                @if(unit.SubUnits.Count == 0){
                                        <td style="color:red;">No hay tema</td>
                                }
                        </tr>    

                        foreach (var subUnit in unit.SubUnits)
                        {
                            <tr class="text-capitalize">
                                <td>@subUnit.Name</td>
                            </tr>
                        }
                    }
               }
            </tbody>
        </table>
        course = courseSubject.Course_Id;
    }
</div>

