﻿@model System.Int32

@{
	var content = Generic.ViewGeneric.GeneratePanel<ViewModel.Report_SubUnityViewModel>(typeof(Model.User))
									 .AddManagerSelect(Interactic.Controllers.SubUnityController.GetManagerSelect());

	//Agregando un select que falta
	content.managerSelect.AddSelect(new Component.Select.SelectComponent(
							typeModel: typeof(Model.SubUnity),
							code: Component.Select.SelectCode.SubUnity,
							parentCode: Component.Select.SelectCode.Unity,
							url: "SubUnity/GetSubUnitsByUnity",
							name: "Sub-Unidad",
							placeholder: "Seleccione una sub-unidad",
							requiredCodes: new List<Component.Select.SelectCode>() { Component.Select.SelectCode.Course }
							));

	//Cuando se completa todos los selects gatilla la siguiente ruta.
	content.managerSelect.url = "User/GetUsersByCourse";
	content.groupCode = Model;
	content.displayTitle = false;
}

<div id="div-select-@content.groupCode" class="div-report" style="display:none;">
	@{Html.RenderPartial("GenericPanel", content);}
</div>

<script>

	$(function () {

		EventDispatcher.on(GenericSystemButton.buttonEvent, function (obj) {

			if (obj.groupCode != "@content.groupCode") return;

			switch (obj.componentCode)
			{
				case "viewButton":
					Repository.queryApi(
						{
							urlServerTemporal: "@(SecurityGuard.ConnectionHelper.UrlReport)ReportSubUnity",
							method: "GET",
							data:
								{
									user_id		: obj.idValue,
									subunity_id : GenericSystemSelect.getSelect("SubUnity",@content.groupCode).val(),
								},
							success: function (data)
							{
								var structurePdf = '<object type="application/pdf" data="data:application/pdf;base64,' + data + '" style="width:100%; height:100%;">' +
									'<p>Problemas al ejecutar, intente más tarde</p>' +
									'</object >';

								$("#div-pdfModal").find("div").css("height", $(window).height()*0.9);
								$("#div-pdfModal").find("div").html(structurePdf);
								$("#div-pdfModal").modal('show');	
							}
						}, true, true);
				break;
			}

		});
	});

</script>