﻿@model System.Object[]

@{
	Layout = "~/Views/Shared/_Report.cshtml";
	var title = Model[0] as ViewModels.Report.TitleViewModel;
	var activities_section = Model[1] as object[];

	var activities = activities_section[0] as List<List<string>>;
	var activity_average = (double)activities_section[1];
	var activity_achievements = (double)activities_section[2];

	var actionFiles_section = Model[2] as object[];
	var actionFiles = actionFiles_section[0] as List<List<string>>;
	var actionFiles_achievements = (double)actionFiles_section[1];

	var links_section = Model[3] as object[];
	var links = links_section[0] as List<List<string>>;
	var links_achievements = (double)links_section[1];

	var allActivitiesAverage = (double)Model[4];

	var qualificationInfo = Model[5] as ViewModels.QualificationInfoViewModel;

	var qualificationGraphic_section = Model[6] as object[];
	var qualificationStudent = (double)qualificationGraphic_section[0];
	var qualificationAverage_Course = (double)qualificationGraphic_section[1];

}

<div class="col-xs-12 text-center">
	<h3 class="text-uppercase"><b>Informe de rendimiento en subunidad</b></h3>
	<h5>
		@DateTime.Now.ToString("dd/MM/yyyy")
	</h5>
</div>

<br>

<div class="col-xs-12 ">
	<span><strong>I.</strong> <strong style="padding-left:2em;">Datos Generales</strong></span>
	<br>
</div>

<div class="col-xs-12" style="padding-top: 10px;">
	<table class="table table-bordered">
		<tbody>
			<tr>
				<td style="width:200px;">Establecimiento Educacional</td>
				<td>@title.Establishment</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="col-xs-12" style="padding-top: 5px;">
	<table class="table table-bordered">
		<thead>
			<tr>
				<td style="text-align:center;">Nombre del alumno</td>
				<td style="width:150px; text-align:center;">Curso</td>
				<td style="text-align:center;">Asignatura</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>@title.Student</td>
				<td>@title.Course</td>
				<td>@title.Subject</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="col-xs-12" style="padding-top: 5px;">
	<table class="table table-bordered">
		<thead>
			<tr>
				<td style="text-align:center;">Nombre Unidad</td>
				<td style="text-align:center;">Subunidad</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>@title.Unity</td>
				<td>@title.SubUnity</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="col-xs-12 ">
	<span><strong>II.</strong> <strong style="padding-left:2em;">Resultados</strong></span>
	<br><br>
</div>

<div class="col-xs-12 ">
	<span style="padding-left:2em;">1.	Calificaciones del alumno en las actividades realizadas en la subunidad.</span>
	<br>
</div>

@if (activities.Count != 0)
{
	<div class="col-xs-12" style="padding-top: 10px;">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th style="text-align:center;">Actividad</th>
					<th style="text-align:center;">Calificación</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var texts in activities)
				{
					<tr>
						<td>@texts[0]</td>
						<td style="text-align:center; width:150px;">@texts[1]</td>
					</tr>
				}

				<tr>
					<td style="text-align:right;"><strong>Promedio</strong></td>
					<td style="text-align:center; width:150px;"><strong>@(activity_average == -1 ? "-" : activity_average.ToString())</strong></td>
				</tr>

				<tr style="background-color:whitesmoke;">
					<td style="text-align:right;"><strong>Porcentaje de logro</strong></td>
					<td style="text-align:center; width:150px;"><strong>@(activity_achievements)%</strong></td>
				</tr>

			</tbody>
		</table>
		<br />
	</div>
}
else
{
	<div class="col-xs-12 ">
		<span>Sin actividades</span>
		<br />
		<br />
	</div>
}

<div class="col-xs-12 ">
	<span style="padding-left:2em;">2.	Revisión de los archivos a desarrollar en la subunidad.</span>
	<br>
</div>

@if (actionFiles.Count != 0)
{
	<div class="col-xs-12" style="padding-top: 10px;">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th style="text-align:center;">Nombre de archivo</th>
					<th style="text-align:center;">Tipo de archivo</th>
					<th style="text-align:center;">Visualización</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var texts in actionFiles)
				{
					<tr>
						<td>@texts[0]</td>
						<td style="text-align:center; width:250px;">@texts[1]</td>
						<td style="text-align:center; width:150px;">@texts[2]</td>
					</tr>
				}

				<tr style="background-color:whitesmoke;">
					<td colspan="2" style="text-align:right;"><strong>Porcentaje de logro</strong></td>
					<td style="text-align:center; width:150px;"><strong>@(actionFiles_achievements)%</strong></td>
				</tr>

			</tbody>
		</table>
		<br />
	</div>
}
else
{
	<div class="col-xs-12 ">
		<span>Sin archivos</span>
		<br />
		<br />
	</div>
}

<div class="col-xs-12 ">
	<span style="padding-left:2em;">3.	Revisión de enlaces multimedia que refuerzan los contenidos de la subunidad.</span>
	<br>
</div>

@if (links.Count != 0)
{
	<div class="col-xs-12" style="padding-top: 10px;">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th style="text-align:center;">Nombre de archivo</th>
					<th style="text-align:center;">Tipo de enlace</th>
					<th style="text-align:center;">Visualización</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var texts in links)
				{
					<tr>
						<td>@texts[0]</td>
						<td style="text-align:center; width:250px;">@texts[1]</td>
						<td style="text-align:center; width:150px;">@texts[2]</td>
					</tr>
				}

				<tr style="background-color:whitesmoke;">
					<td colspan="2" style="text-align:right;"><strong>Porcentaje de logro</strong></td>
					<td style="text-align:center; width:150px;"><strong>@(links_achievements)%</strong></td>
				</tr>

			</tbody>
		</table>
	</div>
}
else
{
	<div class="col-xs-12 ">
		<span>Sin enlaces</span>
		<br />
		<br />
	</div>
}

@if (activity_achievements != -1 || actionFiles_achievements != -1 || links_achievements != -1)
{
	<div class="col-xs-12">
		<h4 style="float:right;"><b>Porcentaje de logro actividades: @(allActivitiesAverage)%</b></h4>
		<br />
		<br />
		<br />
	</div>
}

<div class="col-xs-12 ">
	<span style="padding-left:2em;">4.	Porcentaje de logro en los diferentes ítems del Test Final de la subunidad.</span>
	<br>
</div>

@if (qualificationInfo.IsCalculable)
{
	var qualification_count = qualificationInfo.Alternatives.Count + qualificationInfo.TrueFalse.Count + qualificationInfo.PairedWords.Count + qualificationInfo.WrittenAnswer.Count;

	<div class="col-xs-12" style="padding-top: 10px;">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th style="text-align:center; width:33%;">Actividad</th>
					<th style="text-align:center; width:33%;">N° Correctas</th>
					<th style="text-align:center; width:33%;">Calificación</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Alternativas</td>
					<td style="text-align:center;">
						@(qualificationInfo.Alternatives.Count == 0 ? "-" : qualificationInfo.Alternatives.Success + "/" + qualificationInfo.Alternatives.Count )
					</td>
					<td style="text-align:center;">
						@(Math.Round(((double)qualificationInfo.Alternatives.Success / (double)qualification_count) * 99, 1))
					</td>
				</tr>

				<tr>
					<td>Terminos pariados</td>
					<td style="text-align:center;">
						@(qualificationInfo.PairedWords.Count == 0 ? "-" : qualificationInfo.PairedWords.Success + "/" + qualificationInfo.PairedWords.Count )
					</td>
					<td style="text-align:center;">
						@(Math.Round(((double)qualificationInfo.PairedWords.Success / (double)qualification_count) * 99, 1))
					</td>
				</tr>

				<tr>
					<td>Verdadero o Falso</td>
					<td style="text-align:center;">
						@(qualificationInfo.TrueFalse.Count == 0 ? "-" : qualificationInfo.TrueFalse.Success + "/" + qualificationInfo.TrueFalse.Count )
					</td>
					<td style="text-align:center;">
						@(Math.Round(((double)qualificationInfo.TrueFalse.Success / (double)qualification_count) * 99, 1))
					</td>
				</tr>

				<tr>
					<td>Respuesta con desarrollo</td>
					<td style="text-align:center;">
						@(qualificationInfo.WrittenAnswer.Count == 0 ? "-" : qualificationInfo.WrittenAnswer.Count.ToString() )
					</td>
					<td style="text-align:center;">
						@(Math.Round(((double)qualificationInfo.WrittenAnswer.Qualification / (double)qualification_count) * 99, 1))
					</td>
				</tr>
			</tbody>
		</table>
		<br />
	</div>

	<div class="col-xs-12">
		<h4 style="float:right;"><strong>Porcentaje de logro test@(qualificationInfo.IsWrittenAnswerPending ? "(Aún falta corregir algunas respuestas por parte del profesor - Nota final puede variar) " : "") :@(qualificationInfo.Qualification)%</strong></h4>
		<br />
		<br />
		<br />
	</div>
}
else
{
	<div class="col-xs-12 ">
		<span>No es posible calcular la nota final</span>
		<br />
		<br />
	</div>
}

<div class="col-xs-12" style="page-break-before: always;">
	<br>
	<br>
	<span style="padding-left:2em;">5.	Resultados finales.</span>
	<br>
	<br>
</div>

<div class="col-xs-12">
	<span style="padding-left:2em;">5.1.  Test Final de la subunidad:</span>
	<br>
	<br>
</div>

<div class="col-xs-12">
	<span style="padding-left:3em;">Gráfico 1. Promedio del curso versus puntaje del alumno.</span>
</div>

<div class="col-xs-12">
	<div class="col-xs-12 graph-container" style="padding-top: 20px;">
		<div id='chart1' style="margin:0 auto; width:340px;"></div>
	</div>
</div>

<div class="col-xs-12">
	<br>
	<span style="padding-left:2em;">5.2.	Porcentaje de actividades realizadas y no realizadas por el alumno en la sub unidad.</span>
</div>

<div class="col-xs-12">
	<div class="col-xs-12 graph-container" style="padding-top: 20px;">
		<div id='chart2' style="margin:0 auto; width:340px;"></div>
	</div>
</div>

@if (qualificationStudent != -1 && qualificationStudent != -2 && qualificationInfo.IsCalculable)
{
	<script>

	 var config1 = {
        "globals": { "font-family": "Helvetica" },
        "type": "bar",
        "background-color": "white",
        "scale-y": { "line-color": "none",
					 "tick": { "line-color": "none" },
					 "guide": { "line-style": "solid" },
					 "item": { "color": "#606060" }
				   },
		 "scale-y": { "values": '0:100:10',
					  "label": { "text": "Nota Test Final" }
					},
        "scale-x": { "label": { "text": ""},
					 "values": [""]
				   },
		 "plot": {
			"value-box": { "text": "%v", "color": "#606060" },
            "tooltip": { "visible": false },
            "animation": { "effect": "none" },
		 },
		 "legend": { "background-color": "none", "border-color": "white", "border-width": 0, "shadow": 0 },
		 "series": [
			 { "values": [@(qualificationStudent)], text: "Puntaje Alumno", backgroundColor: '#2493BA' },
			 { "values": [@(qualificationAverage_Course)], text: "Promedio Curso", backgroundColor: '#41C944' },
		 ]
	};

	zingchart.render({
		id: 'chart1',
		data: config1,
		height: '400',
		width: '350'
	});

	</script>
}
else
{
	<script>
		$("#chart1").html("No es posible generar este gráfico con los datos actuales");
	</script>
}


@if (allActivitiesAverage != -1)
{
	<script>

	var r_1 = parseFloat("@(allActivitiesAverage)");
	var r_2 = parseFloat("@(100.0 - allActivitiesAverage)");

	var myConfig2 = {
		"type": "pie",
		"legend": { "background-color": "none", "border-color": "white", "border-width": 0, "shadow": 0 },
		"series": [
			{ "values": [r_1], text: "Realizadas", backgroundColor: '#2493BA' },
			{ "values": [r_2], text: "No realizadas", backgroundColor: '#FF7965' }
		]
	};

	zingchart.render({
		id: 'chart2',
		data: myConfig2,
		height: '350',
		width: "350"
	});

	</script>
}
else
{
	<script>
		$("#chart2").html("No es posible generar este gráfico con los datos actuales");
	</script>
}