﻿@model ViewModels.ReportViewModel

@{
	Layout = "~/Views/Shared/_Report.cshtml";
}


<div class="col-xs-12 text-center">
	<hr />
	<h4 class="text-uppercase"><b>Respuestas equivocas y omitidas</b></h4>
	<hr style="margin-bottom: 5px;" />
	<h5>
		@DateTime.Now.ToString("dd/MM/yyyy")
	</h5>

</div>

<div class="col-xs-12" style="padding-top: 10px;">
	<table class="table table-bordered">
		<tbody>
			<tr>
				<th class=" col-xs-3 text-uppercase color-row">ESTABLECIMIENTO</th>
				<td>@Model.Establishment.Name.ToUpper()</td>
				<td class="col-xs-3" rowspan="4">
					<div class=" text-center">
						<img src="@Model.Establishment.PathImage" height="120" width="120" />
					</div>
				</td>
			</tr>
			<tr>
				<th class=" col-xs-3 text-uppercase color-row">PROFESOR</th>
				<td class="text-uppercase">@Model.Teacher.Name</td>
			</tr>
			<tr>
				<th class=" col-xs-3 text-uppercase color-row">CURSO</th>
				<td class="text-uppercase">@Model.CourseSubject.Course.Name</td>
			</tr>
			<tr>
				<th class=" col-xs-3 text-uppercase color-row">ASIGNATURA</th>
				<td class="text-uppercase">@Model.CourseSubject.Subject.Name</td>
			</tr>
		</tbody>
	</table>
</div>



<div class="col-xs-12" style="padding-top: 10px;">
	<table class="table table-bordered">
		<tbody>
			<tr>
				<th class=" col-xs-3 text-uppercase color-row">Eje temático</th>
				<td class="text-uppercase">@Model.SubUnity.Unity.Name</td>
			</tr>
			<tr>
				<th class=" col-xs-3 text-uppercase color-row">Tema</th>
				<td class="text-uppercase">@Model.SubUnity.Name</td>
			</tr>
			<tr>
				<th class=" col-xs-3 text-uppercase color-row">Título</th>
				<td class="text-uppercase">@Model.Test.Title</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="col-xs-12" style="padding-top: 10px;">
	<table class="table table-bordered">
		<tbody>
			<tr>
				<th class=" col-xs-3 text-uppercase color-row">Alumno</th>
				<td class="text-uppercase">@Model.Student.Name</td>
			</tr>
		</tbody>
	</table>
	@{ var rightAnswers = 0;}
	@foreach (var answer in Model.Answers.Where(p => p.Question.Status))
	{
		if (answer.Question.Choice == answer.Choice)
		{
			rightAnswers++;
		}
	}
	@{ var performance = (rightAnswers * 100) / Model.Test.Questions.Where(p => p.Status).Count(); }
	<h4>Rendimiento : @performance %</h4>

	@{ var omitted = new List<int>();
		var different = false;
	}
	@foreach (var quest in Model.Test.Questions.Where(p => p.Status))
	{
		different = false;
		foreach (var ans in Model.Answers.Where(p => p.Question.Status))
		{
			if (quest.Id == ans.Question.Id)
			{
				different = true;
			}
		}
		if (!different)
		{
			omitted.Add(quest.Id);
		}
	}

	<table class="table table-bordered">
		<thead>
			<tr>
				<th class="text-uppercase col-xs-3 color-row">N° De Pregunta</th>
				<th class="text-uppercase col-xs-3 color-row">Correcta</th>
				<th class="text-uppercase col-xs-3 color-row">Tu Indicaste</th>
			</tr>
		</thead>
		<tbody>
			@{ var i = 1;}
			@foreach (var question in Model.Test.Questions.Where(p => p.Status))
			{
				<tr>
					<td class="text-uppercase">@i</td>
					<td class="text-uppercase">@question.Choice</td>
					@if (omitted.Contains(question.Id))
					{
						<td class="text-uppercase">Omitido</td>
					}

					@foreach (var answer in Model.Answers.Where(p => p.Question.Status))
					{
						if (answer.Question.Id == question.Id)
						{
							if (question.Choice != answer.Choice)
							{
								<td class="text-uppercase" style="color:red;">@answer.Choice</td>
							}
							else
							{
								<td class="text-uppercase">@answer.Choice</td>
							}
						}
					}

				</tr>
				i++;
			}
		</tbody>
	</table>

</div>