﻿@model System.Object[]

@{
	var content_all = Model[0] as Component.Panel.GenericPanel;
	var content_filter = Model[1] as Component.Panel.GenericPanel;

}

<div class="row bg-title">
	<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
		<h4 class="page-title">Rev. pendientes (Test)</h4>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="white-box">
			<div class="sttabs tabs-style-linebox">
				<nav>
					<ul>
						<li class="tab-current"><a href="#section-linebox-1"><span>Evaluaciones pendientes</span></a></li>
						<li class=""><a href="#section-linebox-2"><span>Buscar</span></a></li>
					</ul>
				</nav>
				<div class="content-wrap text-center">
					<section id="section-linebox-1" class="content-current">
						@{Html.RenderPartial("GenericPanel", content_all);}
					</section>
					<section id="section-linebox-2" class="">
						@{Html.RenderPartial("GenericPanel", content_filter);}
					</section>
				</div>
			</div>
		</div>
	</div>
</div>

@{Html.RenderPartial("Form");}

<script>
	$(document).ready(function ()
	{
		[].slice.call(document.querySelectorAll('.sttabs')).forEach(function (el) {
			new CBPFWTabs(el);
		});
        
		$.fn.refreshTable("@content_all.groupCode");

		EventDispatcher.on(GenericSystemButton.buttonEvent, function (obj)
		{
			switch (obj.componentCode)
			{
				//******************************** Actualizar Nota ********************************//
				case "evaluateButton":
					Repository.queryApi(
						{
							url: "SpecialQuestion/QuestionWrittenAnswer",
							method: "GET",
							data: { id: obj.idValue },
							success: function (data)
                            {
                                console.log(obj.contentValue);
								obj.contentValue.QuestionWrittenAnswer.Name = data.Name;
								$.fn.populateForm(obj.contentValue, obj.groupCode);
							}
						}, false, false);
				break;
			}
		});
	});

	//******************************* Actualizar Tabla ************************************//
		$.fn.refreshTable = function(groupCode)
        {
			Repository.query(
			{
				url: "SpecialTest/GetPendingTests",
                method: "GET",
                dataConvert: "Table",
				dataTypeResult: "PendingTestResponseViewModel",
				viewModelConvert: "PendingTest_AllViewModel",
                success: function (data) {
                    GenericSystemTable.populateTable(@content_all.groupCode, data);
                },
                error: function (error, errorHtml) {
                    console.log(errorHtml);
                }
			}, false, true);

			var subUnity_id = GenericSystemSelect.getSelect("SubUnity",@content_filter.groupCode).val();
			var user_id = GenericSystemSelect.getSelect("User",@content_filter.groupCode).val();

			if (subUnity_id == null || subUnity_id == 0 ||
				user_id == null || user_id == 0) return;

			Repository.query(
				{
					url: "SpecialTest/GetAnswerTestsBySubUnityAndUser",
					method: "GET",
					dataTypeResult: "PendingTestResponseViewModel",
					dataConvert: "Table",
					viewModelConvert: "PendingTest_AllViewModel",
					data: { subunity_id: subUnity_id, user_id: user_id },
					success: function (data) {
						GenericSystemTable.populateTable(@content_filter.groupCode, data);
					}
				}, false, true);

		}
</script>

