﻿<!DOCTYPE html>
<html>
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width" />
	@Styles.Render("~/Content/css")

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	<style>
		.color-row {
			background-color: rgba(221, 221, 221, 0.46);
		}

		thead, tfoot {
			display: table-row-group
		}

		tr {
			page-break-inside: avoid;
		}

		span {
			font-size: 17px;
		}
	</style>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
    
    @RenderSection("scripts", required: false)
</body>
</html>
