﻿@model System.Object[]

@{
	var unity = (Model[0] ?? new Model.Unity() { Name = "" }) as Model.Unity;
	var managerSelect = Model[1] as Component.Select.ManagerSelect;
	managerSelect.showVertical = true;

	var action = unity.Id == 0 ? "Agregar" : "Actualizar";
	var methodAjax = unity.Id == 0 ? "POST" : "PUT";

	if (unity.Id != 0)
	{
		managerSelect.FindSelectComponent(Component.Select.SelectCode.Course).defaultValue = unity.CourseSubject.Course.Id.ToString();
		managerSelect.FindSelectComponent(Component.Select.SelectCode.Subject).defaultValue = unity.CourseSubject.Subject.Id.ToString();
	}
}

@*@Scripts.Render("~/Js/CKEditor")*@

<form id="UnityForm" data-parsley-validate>

	<div class="row">
		<div class="col-sm-12">

			<div class="form-group">
				<label class="col-sm-12">Nombre Unidad</label>
				<div class="col-sm-12">
					<input id="input-name" id-value="0" class="form-control" type="text" name="Name" value="@unity.Name" required>
				</div>
			</div>

			@*<div class="form-group">
				<textarea name="editor1"></textarea>
				<script>
					CKEDITOR.replace('editor1', {
						extraPlugins: 'mathjax',
						mathJaxLib: 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_HTML',
						height: 320
					}
						);
				</script>
			</div>*@

			@{Html.RenderPartial("SelectLayout", @managerSelect);}

			<div class="row">
				<div class="col-sm-12">
					<button id="buttonSubmit" class="btn float-right @StyleConfig.ButtonStyle_Accept">@action</button>
				</div>
			</div>
		</div>
	</div>
</form>

<script>
	$(document).ready(function ()
	{
		var selects = GenericSystemSelect.getSelectsByGroupCode(@managerSelect.groupCode);

		for (var i = 0; i < selects.length; i++)
			selects[i].prop('required', true);

		$("#UnityForm").parsley().on('form:submit', function () {

			var name = $("#UnityForm").find('input[name="Name"]').val();
			var course_id = GenericSystemSelect.getSelect("Course",@managerSelect.groupCode).val();
			var subject_id = GenericSystemSelect.getSelect("Subject",@managerSelect.groupCode).val();

			data =
				{
					Id: "@unity.Id",
					Name: name,
					CourseSubject:
					{
						Subject: { Id: subject_id },
						Course:  { Id: course_id }
					}
				};

			Repository.queryApi(
				{
					url: "Unity",
					method: "@methodAjax",
					data: data,
					success: function (data) {
						window.location.href = "/Unity";
					}
				}, true, true);

			return false;
		});
	});
</script>