﻿<div class="row bg-title">
	<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
		<h4 class="page-title">Usuario</h4>
	</div>
	<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
		<ol class="breadcrumb">
			<li><a href="@Url.Action("Index", "User")">Usuario</a></li>
			<li class="active">Creación</li>
		</ol>
	</div>
</div>

<div id="div-register" style="display:none;">
	@{Html.RenderPartial("Form");}
</div>

<div id="div-run-validation">
		<div class="col-sm-12">
			<div class="white-box">
				<div class="row">
					<div class="col-md-4 form-group"></div>
					<div class="col-md-4 form-group">
						<label class="col-md-10">R.U.N</label>
						<div class="col-md-10">
							<input id="input-run-validate" class="form-control" type="text" name="R.U.N" required>
						</div>

						<div class="form-group">
							<div class="col-md-2">
								<button id="button-run-validate" type="button" class="btn @StyleConfig.ButtonStyle_Accept">Registrar</button>
							</div>
						</div>
					</div>
					<div class="col-md-4 form-group"></div>
				</div>
			</div>
		</div>
</div>

<script>
	$(document).ready(function ()
	{

		EventDispatcher.on(StepperExpress.FinishedLastStageEvent, function (obj)
		{
            var data = new FormData(document.getElementById("formStages"));

			var user =
				{
					Id: $("#formStages").attr("id-user"),
					UserName: $("#input-run").val(),
					Name: $("#input-name").val(),
					FatherLastName: $("#input-fatherlastname").val(),
					MotherLastName: $("#input-motherlastname").val(),
					Address: $("#input-address").val(),
					Email: $("#input-email").val(),
					UserRoleEducationalEstablishments: [],
					StudentCourses: [],
					TeacherCourseSubjects: []
				};

			var selecteds = $("#input-roles").val();

			for (var i = 0; i < selecteds.length; i++)
				if (selecteds[i] == "Alumno")
					associateStudentInfo(user);
				else
					if (selecteds[i] == "Profesor")
						associateTeacherInfo(user);
					else
						if (selecteds[i] == "SubAdministrador")
							associateSubAdministratorInfo(user);
						else
							if (selecteds[i] == "Administrador")
								associateAdministratorInfo(user);

			data.append("User", JSON.stringify(user));

			Repository.queryApi(
				{
					url: "User",
					method: "POST",
					data: data,
					success: function (data)
					{
						window.location.href = "/User";
					}
				}, true, true);
        });

       function associateStudentInfo(user)
		{
			var role = { Role: { Name: "Alumno" } };
			user.UserRoleEducationalEstablishments.push(role);

			$(".component-courseAssociate").each(function ()
			{
				user.StudentCourses.push(
					{
						Course: { Id: $(this).find("input[name='Course']").attr("id-model")},
						ListNumber: ($(this).find("input[name='NumberList']").val() != "" && $(this).find("input[name='NumberList']").val()!=null) ? $(this).find("input[name='NumberList']").val() : -1 ,
						EstablishmentRegisterNumber: $("#input-numberenrollment").val() != "" ? $("#input-numberenrollment").val() : -1
					});
			});

			if (user.StudentCourses.length == 0)
			{
				var index = user.UserRoleEducationalEstablishments.indexOf(role);
				if (index > -1)
					user.UserRoleEducationalEstablishments.splice(index, 1);
			}
		}

		function associateTeacherInfo(user)
		{
			var role = { Role: { Name: "Profesor" } };
			user.UserRoleEducationalEstablishments.push(role);

			$(".component-associate-teacher").each(function () {
				user.TeacherCourseSubjects.push(
					{
						CourseSubject:
						{
							Course: { Id: $(this).find("input[name='Course']").attr("id-model") },
							Subject: { Id: $(this).find("input[name='Subject']").attr("id-model") }
						}
					});
			});

			if (user.TeacherCourseSubjects.length == 0) {
				var index = user.UserRoleEducationalEstablishments.indexOf(role);
				if (index > -1)
					user.UserRoleEducationalEstablishments.splice(index, 1);
			}
		}

		function associateAdministratorInfo(user)
		{
			for (var i = 0; i < user.UserRoleEducationalEstablishments.length; i++)
				if (user.UserRoleEducationalEstablishments[i].Role.Name == "Administrador")
					user.UserRoleEducationalEstablishments.splice(i, 1);

			var selecteds = $("#input-roles").val();

			for (var i = 0; i < selecteds.length; i++)
				if (selecteds[i] == "Administrador") {
					user.UserRoleEducationalEstablishments.push(
						{
							EducationalEstablishment:
							{
								Id: 0
							},

							Role:
							{
								Name: "Administrador"
							}
						});
					break;
				}
		}

		function associateSubAdministratorInfo(user)
		{
			for (var i = 0; i < user.UserRoleEducationalEstablishments.length; i++)
			{
				if (user.UserRoleEducationalEstablishments[i].Role.Name == "SubAdministrador")
					user.UserRoleEducationalEstablishments.splice(i, 1);
			}

			$(".component-associate-subAdministrator").each(function () {
				user.UserRoleEducationalEstablishments.push(
					{
						EducationalEstablishment:
						{
							Id: $(this).find("input[name='EducationalEstablishment']").attr("id-model")
						},

						Role:
						{
							Name : "SubAdministrador"
						}
					});
			});
		}        

		$("#button-run-validate").click(function () {
			if (!$.validateRut($("#input-run-validate").val())) {
				Toast.error("R.U.N inválido.");
				return;
			}

			$("#input-run-validate").val($.formatRut($("#input-run-validate").val()));
			$(this).prop('disabled', true);

			Repository.queryApi(
				{
					url: "User/GetUserByCurrentEstablishment",
					method: "GET",
					data: { username: $("#input-run-validate").val() },
					success: function (data) {
						if (data == null) {
							$("#input-run").val($("#input-run-validate").val());
							$("#div-register").show();
							$("#div-run-validation").hide();
						}
						else {
							Toast.success("Usuario ya registrado, redireccionando a edición.");
							window.location.href = "/User/Edit/" + data.Id;
						}

						$("#button-run-validate").prop('disabled', false);
					},
					error: function (error, errorHtml) {
						$("#button-run-validate").prop('disabled', false);
					}
				});
		});
});
</script>
