﻿@{
	var url = SecurityGuard.ConnectionHelper.URL_WEBAPI + "User";

	var managerSelect = new Component.Select.ManagerSelect()
				.AddSelect(new Component.Select.SelectComponent(
					typeModel: typeof(Model.Course),
					code: Component.Select.SelectCode.Course,
					url: "Course",
					name: "Curso",
					placeholder: "Seleccione un curso"
				));
	managerSelect.groupCode = 10;
	managerSelect.showVertical = true;
}

<div class="row bg-title">
	<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
		<h4 class="page-title">Usuario</h4>
	</div>
	<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
		<ol class="breadcrumb">
			<li><a href="@Url.Action("Index", "User")">Usuario</a></li>
			<li class="active">Registar lista de alumnos</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-sm-3"></div>
	<div class="col-sm-6">
		<div class="white-box">
			<form id="form-students" method="post" enctype="multipart/form-data" action="@url" data-parsley-validate>
				<div class="row">
					<div class="col-sm-12">
						@{Html.RenderPartial("SelectLayout", managerSelect);}

						<div class="form-group">
							<label class="col-md-12">Subir archivo</label>
							<div class="col-md-12" style="margin-bottom:15px;">
								<input id="input-excel-students" name="Excel" type="file" accept=".xlsx" class="form-control-file" aria-describedby="fileHelp" required>
							</div>
						</div>
					</div>

					<div class="col-sm-12">
						<a href="@Url.Content("~/Content/Files/students_template.xlsx")" class="btn @StyleConfig.ButtonStyle_Delete">Descargar plantilla (.xlsx)</a>
						@*<a href="@Url.Content("~/Content/Files/students_template.xls")" class="btn @StyleConfig.ButtonStyle_Do"><i class="material-icons right">cloud_download</i>Plantilla (.xls)</a>*@
						<button id="button-submit-students" class="btn float-right @StyleConfig.ButtonStyle_Accept">Registrar</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="col-sm-3"></div>
</div>

<script>
	$(function () {
		var selects = GenericSystemSelect.getSelectsByGroupCode(@managerSelect.groupCode);

		for (var i = 0; i < selects.length; i++)
			selects[i].prop('required', true);

		$("#form-students").parsley().on('form:submit', function ()
		{
			var data = new FormData(document.getElementById("form-students"));
			data.append("course_id", GenericSystemSelect.getSelect("Course",@managerSelect.groupCode).val());

			Repository.queryApi(
				{
					url: "User/RegisterStudents_Excel",
					method: "POST",
					data: data,
					success: function (data)
					{
						Toast.success(data);
					}
				}, true, true);

			return false;
		});
	});
</script>
