﻿@model Model.User

<div class="row bg-title">
	<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
		<h4 class="page-title">Usuario</h4>
	</div>
	<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
		<ol class="breadcrumb">
			<li><a href="@Url.Action("Index", "User")">Usuario</a></li>
			<li class="active">Edición</li>
		</ol>
	</div>
</div>

<div id="div-register">
	@{Html.RenderPartial("Form");}
</div>

<script>
	$(document).ready(function ()
	{
		populateForm(@Html.Raw(Json.Encode(@Model)));

		EventDispatcher.on(StepperExpress.FinishedLastStageEvent, function (obj)
		{
            var data = new FormData(document.getElementById("formStages"));

			var user =
				{
					Id: $("#formStages").attr("id-user"),
					UserName: $("#input-run").val(),
					Name: $("#input-name").val(),
					FatherLastName: $("#input-fatherlastname").val(),
					MotherLastName: $("#input-motherlastname").val(),
					Address: $("#input-address").val(),
					Email: $("#input-email").val(),
					UserRoleEducationalEstablishments: [],
					StudentCourses: [],
					TeacherCourseSubjects: []
				};

			var selecteds = $("#input-roles").val();

			for (var i = 0; i < selecteds.length; i++)
				if (selecteds[i] == "Alumno")
					associateStudentInfo(user);
				else
					if (selecteds[i] == "Profesor")
						associateTeacherInfo(user);
					else
						if (selecteds[i] == "SubAdministrador")
							associateSubAdministratorInfo(user);
						else
							if (selecteds[i] == "Administrador")
								associateAdministratorInfo(user);

			data.append("User", JSON.stringify(user));

			Repository.queryApi(
				{
					url: "User",
					method: "PUT",
					data: data,
					success: function (data)
					{
						window.location.href = "/User";
					}
				}, true, true);
		});

		function populateForm(item = null) {

			$("#formStages").attr("id-user", item.Id);
			$("#input-run").val(item.UserName);
			$("#input-name").val(item.Name);
			$("#input-fatherlastname").val(item.FatherLastName);
			$("#input-motherlastname").val(item.MotherLastName);
			$("#input-address").val(item.Address);
			$("#input-email").val(item.Email);

			var roles = [];
			for (var i = 0; i < item.UserRoleEducationalEstablishments.length; i++)
				roles.push(item.UserRoleEducationalEstablishments[i].Role.Name);

			$("#input-roles").selectpicker('val', roles);
			$.fn.refreshStepper();				

			//Cargando - Alumno
			for (var i = 0; i < item.StudentCourses.length; i++)
				addCourseAssociate(item.StudentCourses[i]);

			if (item.StudentCourses.length >= 1)
				$("#input-numberenrollment").val(item.StudentCourses[0].EstablishmentRegisterNumber);

			//Cargando - Profesor
			for (var i = 0; i < item.TeacherCourseSubjects.length; i++)
				addCourseandSubjectAssociate_teacher(item.TeacherCourseSubjects[i].CourseSubject);

			//Cargando - SubAdministrador
			for (var i = 0; i < item.UserRoleEducationalEstablishments.length; i++)
				addEducationalEstablishmentAssociate_subAdministrator(item.UserRoleEducationalEstablishments[i]);

		}


       function associateStudentInfo(user)
		{
			var role = { Role: { Name: "Alumno" } };
			user.UserRoleEducationalEstablishments.push(role);

			$(".component-courseAssociate").each(function ()
			{
				user.StudentCourses.push(
					{
						Course: { Id: $(this).find("input[name='Course']").attr("id-model")},
						ListNumber: ($(this).find("input[name='NumberList']").val() != "" && $(this).find("input[name='NumberList']").val()!=null) ? $(this).find("input[name='NumberList']").val() : -1 ,
						EstablishmentRegisterNumber: $("#input-numberenrollment").val() != "" ? $("#input-numberenrollment").val() : -1
					});
			});

			if (user.StudentCourses.length == 0)
			{
				var index = user.UserRoleEducationalEstablishments.indexOf(role);
				if (index > -1)
					user.UserRoleEducationalEstablishments.splice(index, 1);
			}
		}

		function associateTeacherInfo(user)
		{
			var role = { Role: { Name: "Profesor" } };
			user.UserRoleEducationalEstablishments.push(role);

			$(".component-associate-teacher").each(function () {
				user.TeacherCourseSubjects.push(
					{
						CourseSubject:
						{
							Course: { Id: $(this).find("input[name='Course']").attr("id-model") },
							Subject: { Id: $(this).find("input[name='Subject']").attr("id-model") }
						}
					});
			});

			if (user.TeacherCourseSubjects.length == 0) {
				var index = user.UserRoleEducationalEstablishments.indexOf(role);
				if (index > -1)
					user.UserRoleEducationalEstablishments.splice(index, 1);
			}
		}

		function associateAdministratorInfo(user)
		{
			for (var i = 0; i < user.UserRoleEducationalEstablishments.length; i++)
				if (user.UserRoleEducationalEstablishments[i].Role.Name == "Administrador")
					user.UserRoleEducationalEstablishments.splice(i, 1);

			var selecteds = $("#input-roles").val();

			for (var i = 0; i < selecteds.length; i++)
				if (selecteds[i] == "Administrador") {
					user.UserRoleEducationalEstablishments.push(
						{
							EducationalEstablishment:
							{
								Id: 0
							},

							Role:
							{
								Name: "Administrador"
							}
						});
					break;
				}
		}

		function associateSubAdministratorInfo(user)
		{
			for (var i = 0; i < user.UserRoleEducationalEstablishments.length; i++)
			{
				if (user.UserRoleEducationalEstablishments[i].Role.Name == "SubAdministrador")
					user.UserRoleEducationalEstablishments.splice(i, 1);
			}

			$(".component-associate-subAdministrator").each(function () {
				user.UserRoleEducationalEstablishments.push(
					{
						EducationalEstablishment:
						{
							Id: $(this).find("input[name='EducationalEstablishment']").attr("id-model")
						},

						Role:
						{
							Name : "SubAdministrador"
						}
					});
			});
		}
});
</script>
