﻿@Scripts.Render("~/Js/Stepper")

@{
	var url = SecurityGuard.ConnectionHelper.URL_WEBAPI + "User";

	var managerSelect_teacher = new Component.Select.ManagerSelect()
				.AddSelect(new Component.Select.SelectComponent(
					typeModel: typeof(Model.Course),
					code: Component.Select.SelectCode.Course,
					url: "Course",
					name: "Curso",
					placeholder: "Seleccione un curso"
				))
				.AddSelect(new Component.Select.SelectComponent(
					typeModel: typeof(Model.Subject),
					code: Component.Select.SelectCode.Subject,
					parentCode: Component.Select.SelectCode.Course,
					url: "Subject/GetSubjectsByCourse",
					name: "Asignatura",
					placeholder: "Selecciona una asignatura"
				));
	managerSelect_teacher.groupCode = 5;

	var managerSelect_subAdministrator = new Component.Select.ManagerSelect()
				.AddSelect(new Component.Select.SelectComponent(
					typeModel: typeof(Model.Region),
					code: Component.Select.SelectCode.Region,
					url: "Region",
					name: "Región",
					placeholder: "Seleccione una región"
				))
				.AddSelect(new Component.Select.SelectComponent(
					typeModel: typeof(Model.Province),
					code: Component.Select.SelectCode.Province,
					parentCode: Component.Select.SelectCode.Region,
					url: "Province/GetProvincesByRegion",
					name: "Provincia",
					placeholder: "Seleccione una provincia"
				))
				.AddSelect(new Component.Select.SelectComponent(
					typeModel: typeof(Model.Commune),
					code: Component.Select.SelectCode.Commune,
					parentCode: Component.Select.SelectCode.Province,
					url: "Commune/GetCommunesByProvince",
					name: "Comuna",
					placeholder: "Seleccione una comuna"
				))
				.AddSelect(new Component.Select.SelectComponent(
					typeModel: typeof(Model.EducationalEstablishment),
					code: Component.Select.SelectCode.EducationalEstablishment,
					parentCode: Component.Select.SelectCode.Commune,
					url: "EducationalEstablishment/GetEducationalEstablishmentsByCommune",
					name: "Establecimiento",
					placeholder: "Seleccione un establecimiento"
				));

	managerSelect_subAdministrator.groupCode = 6;
}


<div class="row">
	<div class="col-sm-12">
		<div class="white-box">

			<div id="StepperMaster"></div>


			<div id="Stage_1" class="col-sm-12">

				<form id="formStages" method="post" enctype="multipart/form-data" action="@url" data-parsley-validate>

					<div class="row">
						<div class="col-sm-6">

							<div class="form-group">
								<label class="col-md-12">R.U.N</label>
								<div class="col-md-12">
									<input id="input-run" class="form-control" type="text" name="R.U.N" readonly required>
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-12">Nombres</label>
								<div class="col-md-12">
									<input id="input-name" class="form-control" id-value="0" type="text" name="Name" required>
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-12">Ap. Paterno</label>
								<div class="col-md-12">
									<input id="input-fatherlastname" class="form-control" type="text" name="FatherLastName" required>
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-12">Ap. Materno</label>
								<div class="col-md-12">
									<input id="input-motherlastname" class="form-control" type="text" name="MotherLastName" required>
								</div>
							</div>
						</div>

						<div class="col-sm-6">

							<div class="form-group">
								<label class="col-md-12">Correo electrónico</label>
								<div class="col-md-12">
									<input id="input-email" class="form-control" type="email" name="Email" placeholder="Opcional" data-parsley-type="email">
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-12">Dirección</label>
								<div class="col-md-12">
									<input id="input-address" class="form-control" type="text" name="Address" placeholder="Opcional">
								</div>
							</div>


							<div class="form-group">
								<label class="col-md-12">Subir foto</label>
								<div class="col-md-12" style="margin-bottom:15px;">
									<input id="input-file" name="pdf" type="file" class="form-control-file" aria-describedby="fileHelp" accept=".jpg,.jpeg,.png">
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-12">Tipo de rol/roles a asociar</label>
								<div class="col-md-12">
									<select id="input-roles" class="selectpicker" name="roles[]" multiple data-parsley-mincheck="1">
										<option value="Alumno">Alumno</option>
										<option value="Profesor">Profesor</option>

										@if (SecurityGuard.Authentication.currentAccess.Role == "Administrador")
										{
											@:
											<option value="Administrador">Administrador</option>
											@:
											<option value="SubAdministrador">Sub-Administrador</option>
										}
									</select>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12">
							<br/>
							<button id="formBaseButton" type="button" class="btn btn-success next-stage float-right">Continuar</button>
						</div>
					</div>

				</form>
			</div>


			<div id="Stage_2" class="col-sm-12 stageStepper">

				<form data-parsley-validate>

					<div class="row">

						<div class="col-sm-12">
							<div class="form-group">
								<label class="col-md-10">Curso</label>
								<div class="col-md-10">
									<select id="alumno-input-select" class="custom-select col-12"><option disabled selected>Seleccionar curso</option></select>
								</div>
							</div>

							<div class="form-group">
								<div class="col-md-2">
									<button id="alumno-input-associate" type="button" class="btn @StyleConfig.ButtonStyle_Accept" style="margin-top:4px;">Asociar curso</button>
								</div>
							</div>
						</div>

						<div class="col-sm-12">
							<div class="form-group">
								<label class="col-md-12">Cursos asociados:<br></label>
								<div class="col-md-12">
									<div id="alumno-courseAssociate" class="well"></div>
								</div>
							</div>
						</div>

						<div class="col-sm-3">
							<div class="form-group">
								<label class="col-md-12">Número de matricula</label>
								<div class="col-md-12">
									<input class="form-control" id="input-numberenrollment" type="number">
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12 ">
							<div class="form-group float-right">
								<button type="button" class="btn back-stage">Atrás</button>
								<button type="button" class="btn next-stage btn-success">Continuar</button>
							</div>
						</div>
					</div>
				</form>
			</div>


			<div id="Stage_3" class="col-sm-12 stageStepper">
				<form data-parsley-validate>

					<div class="row">

						@{Html.RenderPartial("SelectLayout", managerSelect_teacher);}

						<div class="form-group">
							<div class="col-md-4">
								<button id="teacher-input-associate" type="button" class="btn @StyleConfig.ButtonStyle_Accept" style="margin-top:30px;">Asociar</button>
							</div>
						</div>

						<div class="col-sm-12">
							<div class="form-group">
								<label class="col-md-12">Curso/Asignatura asociados:<br></label>
								<div class="col-md-12">
									<div id="teacher-associate" class="well"></div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12 ">
							<div class="form-group float-right">
								<button type="button" class="btn back-stage">Atrás</button>
								<button type="button" class="btn next-stage btn-success">Continuar</button>
							</div>
						</div>
					</div>
				</form>
			</div>

			<div id="Stage_4" class="col-sm-12 stageStepper">

				<form data-parsley-validate>

					<div class="row">

						@{Html.RenderPartial("SelectLayout", managerSelect_subAdministrator);}

						<div class="form-group">
							<div class="col-md-4">
								<button id="subAdministrator-input-associate" type="button" class="btn @StyleConfig.ButtonStyle_Accept" style="margin-top:30px;">Asociar</button>
							</div>
						</div>

						<div class="col-sm-12">
							<div class="form-group">
								<label class="col-md-12">Establecimientos asociados:<br></label>
								<div class="col-md-12">
									<div id="subAdministrator-associate" class="well"></div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12 ">
							<div class="form-group float-right">
								<button type="button" class="btn back-stage">Atrás</button>
								<button type="button" class="btn next-stage btn-success">Continuar</button>
							</div>
						</div>
					</div>
				</form>
			</div>

		</div>
	</div>
</div>

<script>
	$(document).ready(function () {
		/************************************** Inicialización **************************************/
		$('.selectpicker').selectpicker({
			style: 'btn-default btn-outline'
		});


		$("#StepperMaster").InitStepper(
			{
				stages: [{ id: "Stage_1", title: "Registro", icon:"fa fa-file" }]
			});

		EventDispatcher.on(StepperExpress.ChangedStageEvent, function (obj)
		{
			if (obj.action == "next" && obj.id == "Stage_3")
			{
				GenericSystemSelect.getSelect("Course",@managerSelect_teacher.groupCode).find('option:first').prop('selected', 'selected');
				GenericSystemSelect.getSelect("Subject",@managerSelect_teacher.groupCode).find('option:first').prop('selected', 'selected');
				GenericSystemSelect.getSelect("Subject",@managerSelect_teacher.groupCode).prop('disabled', true);
			}

			if (obj.action == "next" && obj.id == "Stage_4")
			{
				GenericSystemSelect.getSelect("Region",@managerSelect_subAdministrator.groupCode).find('option:first').prop('selected', 'selected');
				GenericSystemSelect.getSelect("Province",@managerSelect_subAdministrator.groupCode).find('option:first').prop('selected', 'selected');
				GenericSystemSelect.getSelect("Commune",@managerSelect_subAdministrator.groupCode).find('option:first').prop('selected', 'selected');
				GenericSystemSelect.getSelect("EducationalEstablishment",@managerSelect_subAdministrator.groupCode).find('option:first').prop('selected', 'selected');

				GenericSystemSelect.getSelect("Province",@managerSelect_subAdministrator.groupCode).prop('disabled', true);
				GenericSystemSelect.getSelect("Commune",@managerSelect_subAdministrator.groupCode).prop('disabled', true);
				GenericSystemSelect.getSelect("EducationalEstablishment",@managerSelect_subAdministrator.groupCode).prop('disabled', true);
			}
		});

	$("#formBaseButton").click(function () {
		$.fn.refreshStepper();
	});

	$.fn.refreshStepper = function ()
	{
		var stages = [{ id: "Stage_1", title: "Registro", icon: "fa fa-file" }];

		var multiSelect = $("#input-roles").val();

		for (var i = 0; i < multiSelect.length; i++) {
			if (multiSelect[i] == "Alumno")
				stages.push({ id: "Stage_2", title: "Alumno", icon: "fa fa-graduation-cap" });

			if (multiSelect[i] == "Profesor")
				stages.push({ id: "Stage_3", title: "Profesor", icon: "fa fa-user" });

			if (multiSelect[i] == "SubAdministrador")
				stages.push({ id: "Stage_4", title: "Sub-Administrador", icon: "fa fa-plus-circle" });
		}

		$("#StepperMaster").InitStepper(
			{
				stages: stages
			});
	}


	/********************************************** Alumno/Profesor ****************************************************/
	//Cargando Curso - Panel Alumno/Panel Profesor
	Repository.query(
		{
			url: "Course",
			dataConvert: "Select",
			dataTypeResult: "Course",
			success: function (data) {
				var select = $("#alumno-input-select");
				GenericSystemSelect.populateDropdown(select, data);
				select.find('option:first').prop('selected', 'selected');

				select = $("#profesor-input-select-curso");
				GenericSystemSelect.populateDropdown(select, data);
				select.find('option:first').prop('selected', 'selected');
			},
			error: function (error, errorHtml) {

			}
		});

	$("#alumno-input-associate").click(function () {
		var select = $("#alumno-input-select");

		if (select.val() == null || select.val() == "") return;

		var addItem = true;

		$("#alumno-courseAssociate input").each(function () {
			if ($(this).attr("id-model") == select.val())
				return addItem = false;
		});

		if (!addItem) return;

		addCourseAssociate({ Course: { Id: select.val(), Name: $("#alumno-input-select option[value = '" + select.val() + "']").text() }, ListNumber: 0 });
	});


	/**********************************************************************************************************/

	/************************************************ Profesor ************************************************/

	$("#teacher-input-associate").click(function () {
		var select_1 = GenericSystemSelect.getSelect("Course",@managerSelect_teacher.groupCode);
		var select_2 = GenericSystemSelect.getSelect("Subject",@managerSelect_teacher.groupCode);


		if (select_1.val() == null || select_1.val() == "" || select_2.val() == null || select_2.val() == "") return;

		var addItem = true;

		$("#teacher-associate div").each(function () {
			if ($(this).attr("id") == ("teacher_associate" + select_1.val() + '_' + select_2.val()))
				return addItem = false;
		});

		if (!addItem) return;

		addCourseandSubjectAssociate_teacher({ Course: { Id: select_1.val(), Name: select_1.find('option:selected').text() }, Subject: { Id: select_2.val(), Name: select_2.find('option:selected').text() } });
	});

		/************************************************ SubAdministrador ***********************************************/

	$("#subAdministrator-input-associate").click(function ()
	{
		var select = GenericSystemSelect.getSelect("EducationalEstablishment",@managerSelect_subAdministrator.groupCode);
		var select_2 = GenericSystemSelect.getSelect("Commune",@managerSelect_subAdministrator.groupCode);

		if (select.val() == null || select.val() == "" || select_2.val() == null || select_2.val() == "") return;

		var addItem = true;

		$("#subAdministrator-associate input").each(function () {
			if ($(this).attr("id-model") == select.val())
				return addItem = false;
		});

		if (!addItem) return;

		addEducationalEstablishmentAssociate_subAdministrator({ EducationalEstablishment: { Id: select.val(), Name: select.find('option:selected').text(), Commune: { Id: select_2.val(), Name: select_2.find('option:selected').text() } }, Role: { Name: "SubAdministrador" } });
	});
});

	/*************************************************** Extra ****************************************************/

	function addCourseAssociate(courseAssociate = null) {
		if (courseAssociate == null)
			return;

		var text = '<div id="courseAssociate' + courseAssociate.Course.Id + '" class="component-courseAssociate row">' +
			' <div class="input-field col-md-7">' +
			'<label>Curso</label>' +
			'<input id-model="' + courseAssociate.Course.Id + '" value="' + courseAssociate.Course.Name + '" type="text" name="Course" class="form-control" required readonly>' +
			'</div>' +

			'<div class="input-field col-md-4">' +
			'<label for="#alumno-input-numberlist' + courseAssociate.Course.Id + '">Número de lista</label>' +
			'<input id="#alumno-input-numberlist' + courseAssociate.Course.Id + '" value="' + courseAssociate.ListNumber + '" type="number" class="form-control" name="NumberList">' +
			'</div>' +

			'<div class="input-field col-md-1">' +
			'<button type="button" id-remove="courseAssociate' + courseAssociate.Course.Id + '" class="btn @StyleConfig.ButtonStyle_Delete" style="margin-top:25px;"><i class="fa fas fa-trash"></i></button>' +
			'</div> </div>';

		$("#alumno-courseAssociate").append(text);
	}

	function addCourseandSubjectAssociate_teacher(associate = null) {
		if (associate == null)
			return;

		var text = '<div id="teacher_associate' + associate.Course.Id + '_'+associate.Subject.Id+'" class="component-associate-teacher row" style="margin-bottom:5px; margin-top:5px;" >' +
			' <div class="input-field col-md-5">' +
			'<input id-model="' + associate.Course.Id + '" value="' + associate.Course.Name + '" type="text" name="Course" class="form-control" required readonly>' +
			'</div>' +

			' <div class="input-field col-md-6">' +
			'<input id-model="' + associate.Subject.Id + '" value="' + associate.Subject.Name + '" type="text" name="Subject" class="form-control" required readonly>' +
			'</div>' +

			'<div class="input-field col-md-1">' +
			'<button type="button" id-remove="teacher_associate' + associate.Course.Id + '_' + associate.Subject.Id +'" class="btn @StyleConfig.ButtonStyle_Delete" style="margin-top:1px;"><i class="fa fas fa-trash"></i></button>' +
			'</div> </div>';

		$("#teacher-associate").append(text);
	}

	function addEducationalEstablishmentAssociate_subAdministrator(associate = null) {
		if (associate == null || associate.Role.Name != "SubAdministrador")
			return;

		var text = '<div id="subAdministrator_associate' + associate.EducationalEstablishment.Id +'" class="component-associate-subAdministrator row" style="margin-bottom:5px; margin-top:5px;">' +
			' <div class="input-field col-md-11">' +
			'<input id-model="' + associate.EducationalEstablishment.Id + '" value="' + associate.EducationalEstablishment.Name + ', ' + associate.EducationalEstablishment.Commune.Name +'" type="text" name="EducationalEstablishment" class="form-control" required readonly>' +
			'</div>' +

			'<div class="input-field col-md-1">' +
			'<button type="button" id-remove="subAdministrator_associate' + associate.EducationalEstablishment.Id + '" class="btn @StyleConfig.ButtonStyle_Delete" style="margin-top:1px;"><i class="fa fas fa-trash"></i></button>' +
			'</div> </div>';

		$("#subAdministrator-associate").append(text);
	}

	$('body').on('click', 'button', function () {
		var remove = $(this).attr("id-remove");

		if (remove != null && remove != "")
			$("#" + remove).remove();
	});
</script>

