﻿@model Component.Panel.GenericPanel

@{Html.RenderPartial("GenericPanel", Model);}
<style>
    #img-avatar-establishment {
        padding-bottom: 0px !important;
    }
</style>

<div id="div-modal-delete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				
			</div>
			<div class="modal-body">
				<h4>¿Seguro que desea eliminarlo?</h4>
				<hr>
				<p>Eliminará cualquier <strong>Rol</strong> asociacido para este establecimiento, menos Administrador.</p>
				<p>Si desea desactivar el Rol Admininistrador, diríjase al formulario de edición y deseleccione la opción Administrador en Roles.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancelar</button>
				<button id="button-delete" id-value="0" type="button" class="btn btn-danger waves-effect">Eliminar</button>
			</div>
		</div>
	</div>
</div>

<div id="div-modal-reset" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			</div>
			<div class="modal-body">
				<h4>¿Seguro que desea reestablecer la contraseña?</h4>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancelar</button>
				<button id="button-reset" id-value="0" type="button" class="btn btn-success waves-effect">Reestablecer</button>
			</div>
		</div>
	</div>
</div>


<script>
	$(document).ready(function () {
        $("<div style='display:-webkit-box'><input name='buscador' class='form-control' placeholder='Ingrese texto' style='display:none;vertical-align:bottom;margin-bottom: 0px;margin-top:14px;'></div>").insertAfter(".custom-select");
        $("<button name='search' class='waves-effect btn waves-effect waves-light light-blue darken-2' style='display:none;margin-left:20px;margin-top: 15px;'>Buscar Usuario</button>").insertAfter("input[name=buscador]");

        $("#Select_Role_1").change(function (e) {

            $("input[name=buscador]").show();
            $("button[name=search]").show();
            $("input[name=buscador]").val('');
        });

        $("input[name=buscador]").change(function (e) {
            $("button[name=search]").attr("id", this.value);
        });


        $("button[name=search]").click(function (event) {
            buscar(this.id);
        });

		EventDispatcher.on(GenericSystemButton.buttonEvent, function (obj) {

			switch (obj.componentCode) {
				//******************************** Agregar ********************************//
				case "addButton":
					window.location.href = "User/Add";
					break;

				//************************ Agregar lista alumnos **************************//
				case "addStudentsButton":
					window.location.href = "User/AddExcel";
					break;

				//******************************** Editar ********************************//
				case "editButton":
					window.location.href = "User/Edit/" + obj.idValue;
					break;

				//******************************** Eliminar ********************************//
				case "deleteButton":
					$("#button-delete").attr("id-value", obj.idValue);
					$('#div-modal-delete').modal('show');
				break;

				//******************************** Reset Password ********************************//
				case "resetButton":
					$("#button-reset").attr("id-value", obj.idValue);
					$('#div-modal-reset').modal('show');
				break;
			}

		});

		//******************* Envío de información Formulario Eliminar *******************//
		$("#button-delete").click(function () {

			var user_id = $(this).attr("id-value");

			Repository.queryApi(
				{
					url: "User",
					method: "DELETE",
					data: { id: user_id },
					success: function (data) {
						refreshTable();
						$('#div-modal-delete').modal('hide');
					}
				}, true, true);

		});

		//******************* Envío de información Formulario Reestablecer *******************//
		$("#button-reset").click(function () {

			var user_id = $(this).attr("id-value");

			Repository.queryApi(
				{
					url: "User/ResetPassword",
					method: "GET",
					data: { user_id: user_id },
					success: function (data) {
						$('#div-modal-reset').modal('hide');
					}
				}, true, true);

		});

		//******************* Actualizar el contenido de la tabla cuando (Creamos/Actualizamos/Eliminamos) *******************//
		//******************************* Actualizar Tabla ************************************//
		function refreshTable() {

			var role_id = GenericSystemSelect.getSelect("Role",@Model.groupCode).val();

			if (role_id == null || role_id == 0) return;

			Repository.query(
				{
					url: "User/GetUsersByRole",
					method: "GET",
					dataTypeResult: "User",
					dataConvert: "Table",
					viewModelConvert: "@Model.viewModelType",
					data: { role_id: role_id },
					success: function (data) {
						GenericSystemTable.populateTable(@Model.groupCode, data);
					}
				});
        }
        function buscar(texto) {
            var role_id = GenericSystemSelect.getSelect("Role",@Model.groupCode).val();
			if (role_id == null || role_id == 0) return;

            Repository.query(
				{
					url: "User/GetUsersByText?role_id="+role_id+"&text="+texto+"",
                    method: "GET",
                    dataTypeResult: "User",
                    dataConvert: "Table",
					viewModelConvert: "@Model.viewModelType",
                    success: function (data) {
                        GenericSystemTable.populateTable(@Model.groupCode, data);
					}
				});
		}
	});
</script>

