﻿@model Component.Select.ManagerSelect

@Styles.Render("~/Css/Summernote")
@Scripts.Render("~/Js/Summernote")
@Scripts.Render("~/Js/Moment")
@Styles.Render("~/Css/DropZone")
@Scripts.Render("~/Js/DropZone")
@Scripts.Render("~/Js/FileSaver")


<style>
	.scrollable-menu {
		height: auto;
		max-height: 250px;
		overflow-x: hidden;
	}

	.cool-link {
		display: inline-block;
		color: #005aa1;
		text-decoration: none;
	}

		.cool-link::after {
			content: '';
			display: block;
			width: 0;
			height: 1px;
			background: #005aa1;
			transition: width .3s;
		}

		.cool-link:hover::after {
			width: 100%;
			//transition: width .3s;
		}
</style>

<div class="row bg-title">
	<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
		<h4 class="page-title">Gestión de Actividades</h4>
	</div>
	<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"></div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="white-box">
			<div class="row">
				@{Html.RenderPartial("SelectLayout", Model);}
			</div>
		</div>
	</div>

	<div id="div-subUnits" class="col-sm-12"></div>
</div>

@{Html.RenderPartial("File - View");}
@{Html.RenderPartial("Link - View");}
@{Html.RenderPartial("ActionLesson - View");}
@{Html.RenderPartial("Publication - View");}
@{Html.RenderPartial("Test - View");}
@{Html.RenderPartial("UploadFileStudent - Form");}

<script>

	$(document).ready(function ()
	{
		GenericSystemSelect.getSelect("Course",@Model.groupCode).on('change', function () {
			$("#div-subUnits").hide();
		});

		GenericSystemSelect.getSelect("Subject",@Model.groupCode).on('change', function () {
			$("#div-subUnits").hide();
		});

		//Usamos una variable global para almacenar los actuales ActionFiles
		$.fn.ActionFileGroups = [];

		//******************************* Actualizar Tabla ************************************//
		$.fn.refreshTable = function ()
		{
			var unity_id = GenericSystemSelect.getSelect("Unity",@Model.groupCode).val();

			if (unity_id == null || unity_id == 0) return;

			Repository.queryApi(
				{
					url: "SubUnity/GetSubUnitsViewModel",
					method: "GET",
					data: { unity_id: unity_id },
					success: function (data) {
						$.fn.ActionFileGroups = [];
						generateContent(data);
					}
				});
		}

		//*********************************** Select Event ***************************************//
		EventDispatcher.on(GenericSystemSelect.lastSelectedEvent, function (elements) {

			if ("@Model.groupCode" != (elements.groupCode + "")) return;
			$.fn.refreshTable();
		});

		function generateContent(data)
		{
			var structure = "";

			for (var i = 0; i < data.length; i++)
				structure += generateSubUnityContent(i, i + 1 == data.length, data[i]);

			$("#div-subUnits").html(structure);
			$("#div-subUnits").show();
		}

		function generateSubUnityContent(index, lastSubUnity, subUnity)
		{

			if (subUnity.Description == null)
				subUnity.Description = "";



			var structure = '<div class="panel panel-danger">' +
				'<div class="ribbon ribbon-right ribbon-warning" style="position: relative; top:-10px; right:-5px; width:320px; float:right; text-align:center;">Desde: ' + moment(new Date(subUnity.Start)).format('DD/MM/YY') + ' - Hasta: ' + moment(new Date(subUnity.Ends)).format('DD/MM/YY')+'</div>'+
				'<div class="panel-heading" style="background-color:#4867A8; border-color:#4867A8;">Sub-Unidad ' + (index + 1) + ': ' + subUnity.Title +'</div>' +
				'<div class="panel-wrapper collapse in" aria-expanded="true" style="">' +
				'<div class="panel-body">' +

				(subUnity.IsBlock?
				'<div class=" text-center"> <i class="ti-timer" style="font-size:2em; margin:5;"></i><br>Bloqueado - Temporalmente </div>'
				:
				subUnity.Description +
				generateActivities(lastSubUnity, subUnity))+
				'</div>' +
				'</div>' +
				'</div>';

			return structure;
		}

		function generateActivities(lastSubUnity ,subUnity)
		{
			var structure = '';

			for (var i = 0; i < subUnity.Activities.length; i++)
			{
				structure +='<div class="row">'+
								'<div class="col-sm-11">'+
									'<h3 id="h4-title-'+subUnity.Activities[i].Id+'" class="box-title" style="color:#686868;">' + (i + 1) + '. ' + subUnity.Activities[i].Title + '</h4>' +
								'</div>'+
								'<div class="col-sm-1">'+
					'</div>' +
					generateActions(lastSubUnity, subUnity.Activities[i].Actions) +
							'</div>';
			}

			if (structure != "")
				structure = '<hr>' + structure;

			return structure;
		}

		function generateActions(lastSubUnity, actions)
		{
			structure = "";

			for (var i = 0; i < actions.length; i++)
			{
				//Todos los métodos terminarán por defecto en _Add _Edit _Delete _Etc
				//Solamente incluir el nombre antes del _"Accion"
				var methodAction = "";
				var icon = "";
				var title = "";
				var content_view = "";
				var sub_content = "";
				var isViewed = false;

				switch (actions[i].Type+"")
				{
					case '@((int)GeneralHelper.ActionType.File)':
						methodAction= "File";
						icon = "icon-cloud-download";
						title = actions[i].Content.ActionFileGroup.Name;
						content_view = actions[i].Content;
						isViewed = actions[i].Content.Viewed.IsAllViewed;
						$.fn.ActionFileGroups[actions[i].Content.ActionFileGroup.Id] = actions[i].Content;
					break;
					case '@((int)GeneralHelper.ActionType.ActionLesson)':
						methodAction = "ActionLesson";
						icon = "icon-book-open";
						title = actions[i].Content.Title;
						sub_content = actions[i].Content.Description;
					break;
					case '@((int)GeneralHelper.ActionType.Link)':
						methodAction = "Link";
						icon = "fa fa-link";
						title = actions[i].Content.Link.Name;
						content_view = actions[i].Content.Link;
						isViewed = actions[i].Content.IsViewed;
					break;
					case '@((int)GeneralHelper.ActionType.Forum)':
						methodAction = "Publication";
						icon = "icon-bubbles";
						title = actions[i].Content.Title;
						content_view = actions[i].Content;
					break;
					case '@((int)GeneralHelper.ActionType.Test)':
						methodAction = "Test";
						icon = "icon-bulb";
						title = actions[i].Content.Test.Title;
						content_view = actions[i].Content.Test;
						isViewed = actions[i].Content.IsAnswered;
					break;
					case '@((int)GeneralHelper.ActionType.UploadFileStudent)':
						methodAction = "UploadFileStudentQualification";
						icon = "ti-upload";
						title = actions[i].Content.UploadFileStudent.Title;
						content_view = actions[i].Content.UploadFileStudent;
						isViewed = actions[i].Content.IsViewed;
					break;
				}

				if (content_view != "")
					content_view = StringCast.ObjectToString_Encode(content_view);

				structure +=
					'<div class="col-sm-11">' +
					((content_view=="")?
					'<a style="margin-left:15px; color:#005aa1; height:37px;"><i class="' + icon + ' p-r-10" style="font-size: 1.3em;"></i> <span class="hide-menu">' + title + '</span></a>' :
					'<a href="#" style="margin-left:15px; color:#005aa1; height:37px;" class="cool-link waves-effect active" onclick="$.fn.' + methodAction + '_View(StringCast.StringToObject_Decode(\'' + content_view + '\'), $(this));"><i class="' + icon + ' p-r-10" style="font-size: 1.3em;"></i> <span class="hide-menu">' + title +
					(isViewed ? '<i class="fa fa-check p-r-10" style="font-size: 1.3em; color:green; margin-left:10px;"></i>' : '' ) + '</span></a>') +
				'</div>' +
					'<div class="col-sm-1">' + '</div>';

				if (sub_content != "")
					structure += '<div class="col-sm-11" style="margin-left:40px;" >' + sub_content + '</div>';
			}

			return structure;
		}

		var unityViewedTimer = function () {

			var unity_id = GenericSystemSelect.getSelect("Unity",@Model.groupCode).val();

			console.log(unity_id);

			if (unity_id != null && unity_id != undefined && unity_id != "")
			{
				Repository.queryApi(
					{
						url: "UnityViewed/RegistrationTime",
						method: "POST",
						data: { Unity_Id: unity_id, SessionCode: "@(SecurityGuard.Authentication.currentAccess.SessionCode)" }
					});
			}

			setTimeout(unityViewedTimer, 60000);
		};

		setTimeout(unityViewedTimer, 60000);
	});
</script>