﻿@Styles.Render("~/Css/VenoBox")
@Scripts.Render("~/Js/VenoBox")

<button id="a-link-view-video" class="venobox" data-vbtype="video" href="" disabled style="display:none;">Visualizador</button>
<button id="a-link-view-image" class="venobox" href="" disabled style="display:none;">Visualizador</button>
<a id="a-link-view-new" href="#" target="_blank" style="display:none;" ></a>
<img id="img-link-view-image" src="" style="display:none;"/>

<script>
	$(function ()
	{
		$.fn.Link_View = function (content, _this) {
			event.preventDefault();
		
			if (content.Url.toLowerCase().indexOf("youtu.be") != -1 ||
				(content.Url.toLowerCase().indexOf("youtube") != -1 && content.Url.toLowerCase().indexOf("/watch") != -1) ||
				content.Url.toLowerCase().indexOf("player.vimeo") != -1) {
				$("#a-link-view-video").attr("href", content.Url);
				$("#a-link-view-video").attr("data-vbtype", "video");
				$("#a-link-view-video").venobox().trigger('click');
			}
			else
				if (content.Url.split('.').pop().toLowerCase() == "png" ||
					content.Url.split('.').pop().toLowerCase() == "jpg" ||
					content.Url.split('.').pop().toLowerCase() == "jpeg") {
					$("#img-link-view-image").attr("src", content.Url);
					$("#a-link-view-image").attr("href", content.Url);
				}
				else
					if (content.Url.toLowerCase().indexOf("www.") == 0)
						window.open("http://" + content.Url);
					else
						window.open(content.Url);

			var isContain = false;

			_this.find("i").each(function () {
				isContain = $(this).hasClass("fa-check");
			});

			if (!isContain) {
				_this.append('<i class="fa fa-check p-r-10" style="font-size: 1.3em; color:green; margin-left:10px;"></i>');

				Repository.queryApi(
					{
						url: "Link/ViewedLink",
						method: "GET",
						data: { link_id: content.Id },
					});
			}
		}

		$("#img-link-view-image").bind('error', function (ev)
		{
			alert("Imagen no disponible.");
		});

		$("#img-link-view-image").bind('load', function (ev)
		{
			$("#a-link-view-image").venobox().trigger('click');
		});
	});
</script>