﻿@{
	var url = SecurityGuard.ConnectionHelper.URL_WEBAPI + "UploadFileStudentQualification";
}

<style>
	.dz-progress {
		display: none;
	}
</style>

<div id="div-modal-uploadFileStudentQualification" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
	<div style="max-width: 690px; margin: 30px auto;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">Archivos a subir</h4>
			</div>
			<form id="form-uploadFileStudentQualification" method="post" enctype="multipart/form-data" action="@url" data-parsley-validate>
				<div class="modal-body">

					<div class="form-group">
						<div class="dropzone" id="myDropzone" style="border: 0.5px solid rgba(0,0,0,0.3); min-height:100px;"></div>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancelar</button>
					<button id="button-submit-uploadFileStudentQualification" type="submit" class="btn btn-info waves-effect waves-light">Agregar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div id="div-modal-uploadFileStudentQualification-view" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
	<div style="max-width: 500px; margin: 30px auto;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 id="h4-modal-uploadFileStudentQualification-view" class="modal-title">Archivos</h4>
			</div>

			<div class="row">
				<div class="col-md-12">
					<ul class="list-group" id="ul-modal-uploadFileStudentQualification-view"></ul>
				</div>
			</div>

			<div style="width:100%; text-align:center; margin-bottom:10px;">
				<label id="label-modal-uploadFileStudentQualification-view"></label>
			</div>
		</div>
	</div>
</div>

<script>
	Dropzone.autoDiscover = false;

	$(function () {

		var DropZone;

		//Componente que se está manipulando.
		var currentComponent;

		$.fn.UploadFileStudentQualification_View = function (content) {
			event.preventDefault();
			resetForm();

			

			if (content.UploadFileStudentQualifications == null || content.UploadFileStudentQualifications.length == 0 ||
				content.UploadFileStudentQualifications[0].UploadFileStudentItems == null ||
				content.UploadFileStudentQualifications[0].UploadFileStudentItems.length == 0) {
				$.fn.UploadFileStudentQualification_Add(content);
				return;
			}

			$("#h4-modal-uploadFileStudentQualification-view").text(content.Title);
			$('#div-modal-uploadFileStudentQualification-view').modal('show');

			var structure = "";

			for (var i = 0; i < content.UploadFileStudentQualifications[0].UploadFileStudentItems.length; i++)
			{
				var item = content.UploadFileStudentQualifications[0].UploadFileStudentItems[i];

				structure +=
					'<li class="list-group-item">' +
					'<a href="#" onclick="$.fn.UploadFileStudentQualification_Download(' + item.Id + ',\'' + item.DocumentType + '\')" style="margin-left:15px; color:#2b2b2b;" class="waves-effect active" onclick=""><i class="icon-arrow-down-circle p-r-10" style="font-size: 1.3em;"></i> <span class="hide-menu">' + item.DocumentName + '</span></a>' +
					'</li>';
			}


			if (content.UploadFileStudentQualifications[0].Qualification == 0)
				$("#label-modal-uploadFileStudentQualification-view").html('Calificación(1 a 100): Pendiente');
			else
				$("#label-modal-uploadFileStudentQualification-view").html('Calificación(1 a 100): ' + content.UploadFileStudentQualifications[0].Qualification);
			
			$("#ul-modal-uploadFileStudentQualification-view").html(structure);
		}

		$.fn.UploadFileStudentQualification_Add = function (content) {
			event.preventDefault();
			resetForm();
			$('#div-modal-uploadFileStudentQualification').modal('show');
			$("#form-uploadFileStudentQualification").attr("uploadFileStudent-id", content.Id);
			$("#button-submit-uploadFileStudentQualification").text("Agregar");
		}		

		$.fn.UploadFileStudentQualification_Download = function (uploadfilestudentitem_id, type) {
			Repository.queryApi(
				{
					url: "UploadFileStudentItem/Download",
					method: "GET",
					data: { "uploadfilestudentitem_id": uploadfilestudentitem_id },
					success: function (_data) {
						DownloadManager.downloadBase64(_data, name, type);
					}
				}, true, true);
		}

		$("#myDropzone").dropzone({
			dictDefaultMessage: "Suelta los archivos aquí o haz clic para cargarlos.",
			dictRemoveFile: "Eliminar",
			url: "/UploadFileStudentQualification",
			autoProcessQueue: false,
			uploadMultiple: true,
			parallelUploads: 5,
			maxFiles: 5,
			maxFilesize: 5,
			addRemoveLinks: true,
			init: function () {
				dropZone = this;
			}
		});

		$("#form-uploadFileStudentQualification").parsley().on('form:submit', function () {
			var data = new FormData(document.getElementById("form-uploadFileStudentQualification"));
			var uploadFileStudent_id = $("#form-uploadFileStudentQualification").attr("uploadFileStudent-id");					

			data.append("UploadFileStudentRequestViewModel", JSON.stringify(
				{
					UploadFileStudent_Id: uploadFileStudent_id
				}));

			var files = dropZone.getAcceptedFiles();
			for (var i = 0; i < files.length; i++)
				data.append("file-" + i, files[i]);

			if (files.length == 0) { alert("Mínimo un archivo debe ser seleccionado."); return false; }

			Repository.queryApi(
				{
					url: "UploadFileStudentQualification",
					method: "POST",
					data: data,
					success: function (data) {
						$.fn.refreshTable();
						$('#div-modal-uploadFileStudentQualification').modal('hide');
					}
				}, true, true);

			return false;
		});
		
		function resetForm()
		{
			$("#form-uploadFileStudentQualification").get(0).reset();
			$("#form-uploadFileStudentQualification").parsley().reset();
			dropZone.removeAllFiles(true);
		}
	});
</script>