﻿@model Model.User
@{
    var url_account_configuration = SecurityGuard.ConnectionHelper.URL_WEBAPI + "/User/UpdateInformationCurrentUser";
}
<style>
    #img-avatar-establishment {
        padding-top: 8px;
        padding-bottom: 0px !important;
    }
    span.hidden-xs {
        padding-top: 10px;
    }
</style>
<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Información personal</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
            <li class="active">Configuración</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
        <div class="white-box">
            <h5 style="text-align:center;">Datos personales</h5>
            <form id="form-account-configuration" method="post" enctype="multipart/form-data" action="@url_account_configuration" data-parsley-validate>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-md-12">R.U.N</label>
                            <div class="col-md-12">
                                <input id="input-run-account-configuration" class="form-control" type="text" name="R.U.N" value="@Model.UserName" readonly required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">Nombres</label>
                            <div class="col-md-12">
                                <input id="input-name-account-configuration" class="form-control" type="text" name="Name" value="@Model.Name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">Ap. Paterno</label>
                            <div class="col-md-12">
                                <input id="input-fatherlastname-account-configuration" class="form-control" type="text" name="FatherLastName" value="@Model.FatherLastName" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">Ap. Materno</label>
                            <div class="col-md-12">
                                <input id="input-motherlastname-account-configuration" class="form-control" type="text" name="MotherLastName" value="@Model.MotherLastName" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">Correo electrónico</label>
                            <div class="col-md-12">
                                <input id="input-email-account-configuration" class="form-control" type="email" name="Email" data-parsley-type="email" value="@Model.Email" placeholder="Opcional">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">Dirección</label>
                            <div class="col-md-12">
                                <input id="input-address-account-configuration" class="form-control" type="text" name="Address" value="@Model.Address" placeholder="Opcional">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">Subir foto</label>
                            <div class="col-md-12" style="margin-bottom:15px;">
                                <input id="input-file-account-configuration" name="pdf" type="file" class="form-control-file" aria-describedby="fileHelp" accept=".jpg,.jpeg,.png">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <button id="button-update-account" class="btn float-right @StyleConfig.ButtonStyle_Accept">Actualizar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="col-sm-1"></div>
    <div class="col-sm-4">
        <div class="white-box">
            <h5 style="text-align:center;">Cambiar contraseña</h5>
            <div class="row">
                <div class="form-group">
                    <label class="col-md-12">Antigua contraseña</label>
                    <div class="col-md-12">
                        <input id="input-old-password-account" class="form-control" type="password" name="OldPassword">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">Nueva contraseña</label>
                    <div class="col-md-12">
                        <input id="input-new-password-account-1" class="form-control" type="password" name="NewPassword_1">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">Repetir Nueva contraseña</label>
                    <div class="col-md-12">
                        <input id="input-new-password-account-2" class="form-control" type="password" name="NewPassword_2">
                    </div>
                </div>
                <div class="col-sm-12">
                    <button id="button-update-password-account" class="btn float-right @StyleConfig.ButtonStyle_Accept">Actualizar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>
<script>

    $(function () {
        $("#form-account-configuration").parsley().on('form:submit', function () {
            var data = new FormData(document.getElementById("form-account-configuration"));

            data.append("User",
                JSON.stringify({
                    Name: $("#input-name-account-configuration").val(),
                    MotherLastName: $("#input-motherlastname-account-configuration").val(),
                    FatherLastName: $("#input-fatherlastname-account-configuration").val(),
                    Address: $("#input-address-account-configuration").val(),
                    Email: $("#input-email-account-configuration").val()
                }));

            Repository.queryApi(
                {
                    url: "User/UpdateInformationCurrentUser",
                    method: "POST",
                    data: data,
                    success: function (data) {
                        $.ajax({
                            type: "get",
                            url: "/Home/RefreshInformationCurrentUser",
                            success: function (response) {
                                location.reload();
                            }
                        });
                    }
                }, true, true);


            return false;
        });

        $("#button-update-password-account").click(function () {
            var old = $("#input-old-password-account").val();
            var new_1 = $("#input-new-password-account-1").val();
            var new_2 = $("#input-new-password-account-2").val();

            if (old == undefined || old == null || old == "") {
                Toast.error("Debe ingresar su contraseña actual.");
                return;
            }

            if (new_1 == undefined || new_1 == null || new_2 == undefined || new_2 == null) {
                Toast.error("Debe ingresar la contraseña nueva en ambos campos.");
                return;
            }

            if (new_1.length < 6 || new_2.length < 6) {
                Toast.error("La contraseña nueva debe tener al menos 6 carácteres.");
                return;
            }

            if (new_1 != new_2) {
                Toast.error("Las contraseñas nuevas no coinciden.");
                return;
            }

            Repository.queryApi(
                {
                    url: "User/UpdatePasswordCurrentUser",
                    method: "PUT",
                    data: { OldPassword: old, NewPassword: new_1 },
                    success: function (data) {
                        $("#input-old-password-account").val("");
                        $("#input-new-password-account-1").val("");
                        $("#input-new-password-account-2").val("");
                        Toast.success("Cambio de contraseña realizado.");
                    }
                }, true, true);

        });

        var queryNotification = function () {
            Repository.queryApi(
                {
                    url: "Message/GetNotifications",
                    method: "GET",
                    success: function (data) {
                        generateNotifications(data);
                    }
                });

            setTimeout(queryNotification, 180000);
        };

        queryNotification();

        function generateNotifications(data) {
            var structure = "";

            for (var i = 0; i < data.Notifications.length; i++) {
                var notification = data.Notifications[i];

                structure += '<div class="row' + (i == 0 ? 'mt-0' : '') + '>' +
                    '<div class="col s12">' +
                    '<span class="media-date">' + moment(new Date(Date.parse(notification.Date))).format('h:mm A  DD/MM/YY') + '</span>' +
                    '<a href="/Message/Index/' + notification.Conversation_Id + '" class="media-title">' + notification.Name + '</a>' +
                    '<span>' + (notification.Body.length >= 110 ? notification.Body.substring(0, 120) + '...' : notification.Body) + '</span>' +
                    '</div>' +
                    '</div>';
            }

            if (structure == '') {
                $("#div-notifications").html('Sin mensajes.');
                $("#span-unreadCount").removeClass("new");
                $("#span-unreadCount").hide();
                $("#span-unreadCount").html("");
            }
            else {
                $("#div-notifications").html(structure);

                if (data.UnreadCount == 0) {
                    $("#span-unreadCount").removeClass("new");
                    $("#span-unreadCount").hide();
                    $("#span-unreadCount").html("");
                }
                else {
                    $("#span-unreadCount").addClass("new");
                    $("#span-unreadCount").html(data.UnreadCount);
                    $("#span-unreadCount").show();
                }
            }
        }

    });
</script>
