﻿<div id="div-modal-activity-add" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
	<div style="max-width: 500px; margin: 30px auto;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">Actividad</h4>
			</div>
			<form id="form-activity" data-parsley-validate>
				<div class="modal-body">

					<div class="form-group">
						<label for="recipient-name" class="control-label">Nombre:</label>
						<input type="text" name="Name" class="form-control" id="recipient-name" required>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancelar</button>
					<button id="button-submit-activity" type="submit" class="btn btn-info waves-effect waves-light">Agregar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	$(function ()
	{
		//Componente que se está manipulando.
		var currentComponent;		

		$.fn.Activity_Add = function (subunity_id)
		{
			event.preventDefault();
			resetForm();
			$('#div-modal-activity-add').modal('show');
			$("#form-activity").attr("subunity-id", subunity_id);
			$("#form-activity").attr("activity-id", 0);
			$("#button-submit-activity").text("Agregar");
		}

		$.fn.Activity_Edit = function (index,component,data, activity_id)
		{
			event.preventDefault();
			resetForm();			
			$("#form-activity").find('input[name="Name"]').val(data);
			$('#div-modal-activity-add').modal('show');
			$("#form-activity").attr("subunity-id", 0);
			$("#form-activity").attr("activity-id", activity_id);
			$("#form-activity").attr("component-index", index);
			$("#button-submit-activity").text("Actualizar");
			currentComponent = component;		
		}

		$.fn.Activity_Delete = function (activity_id)
		{
			event.preventDefault();
			$("#button-delete").attr("id-value", activity_id);
			$("#button-delete").attr("url-name", "Activity");
			$('#div-modal-delete').modal('show');
		}

		$("#form-activity").parsley().on('form:submit', function ()
		{
			var name = $("#form-activity").find('input[name="Name"]').val();
			var subUnity_id = $("#form-activity").attr("subunity-id");
			var activity_id = $("#form-activity").attr("activity-id");

			Repository.queryApi(
				{
					url: "Activity",
					method: activity_id == 0 ? "POST" : "PUT",
					data: { Name: name, SubUnity_Id: subUnity_id, Activity_Id: activity_id },
					success: function (data)
					{
						if (activity_id == 0)
							$.fn.refreshTable();
						else
							currentComponent.text((parseInt($("#form-activity").attr("component-index")) + 1) + ". " + data.Name);
						
						$('#div-modal-activity-add').modal('hide');
						currentComponent = null;
					}
				}, true, true);

			return false;
		});

		function resetForm()
		{
			$("#form-activity").get(0).reset();
			$("#form-activity").parsley().reset();
		}
	});
</script>