﻿<style>
	.dz-progress {
		display: none;
	}
</style>

<div id="div-modal-file-view" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
	<div style="max-width: 500px; margin: 30px auto;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 id="h4-modal-file-view" class="modal-title">Archivos</h4>
			</div>

			<div class="row">
				<div class="col-md-12">
					<ul class="list-group" id="ul-modal-file-view"></ul>
				</div>
			</div>

		</div>
	</div>
</div>

<script>

	$(function () {

		var currentSelectorDownload = null;

		$.fn.File_View = function (content, _this) {
			event.preventDefault();
			content = $.fn.ActionFileGroups[content.ActionFileGroup.Id];
			currentSelectorDownload = _this;

			$("#h4-modal-file-view").text("Archivos: " + content.ActionFileGroup.Name);
			$('#div-modal-file-view').modal('show');

			var structure = "";

			for (var i = 0; i < content.ActionFileGroup.ActionFiles.length; i++)
			{
				var isViewed = false;

				for (var j = 0; j < content.Viewed.ViewedList.length; j++)
					if (content.ActionFileGroup.ActionFiles[i].Id == content.Viewed.ViewedList[j].Id)
						isViewed = content.Viewed.ViewedList[j].IsViewed;

				var documentName = content.ActionFileGroup.ActionFiles[i].DocumentName;

				if (documentName.length > 42)
					documentName = documentName.substr(0, 42) + "...";

				structure +=
					'<li class="list-group-item">' +
						'<a href="#" onclick="$.fn.File_Download(' + content.ActionFileGroup.ActionFiles[i].Id + ',\'' + content.ActionFileGroup.ActionFiles[i].DocumentType + '\', $(this))" style="margin-left:15px; color:#2b2b2b;" class="waves-effect active" onclick=""><i class="icon-arrow-down-circle p-r-10" style="font-size: 1.3em;"></i> <span class="hide-menu">' + documentName + '</span> ' +
						(isViewed ? '<i class="fa fa-check p-r-10" style="font-size: 1.3em; color:green; margin-left:10px;"></i>' : '') + ' </a>' +
					'</li>';
			}


			$("#ul-modal-file-view").html(structure);
		}

		$.fn.File_Download = function (actionfile_id, type, _this)
		{
			event.preventDefault();
			//******************* Solamente Manipulación Visual *************************/
			//Registrando cambios
			var count_IsViewed = 0;

			$.each($.fn.ActionFileGroups, function (index, value){

				if (value == undefined) return true;

				var viewed = value.Viewed;
				for (var j = 0; j < viewed.ViewedList.length; j++)
					if (actionfile_id == viewed.ViewedList[j].Id) {
						viewed.ViewedList[j].IsViewed = true;

						for (var i = 0; i < viewed.ViewedList.length; i++)
							count_IsViewed += viewed.ViewedList[i].IsViewed ? 1 : 0;

						if (count_IsViewed == value.ActionFileGroup.ActionFiles.length)
						{
							var isContain = false;

							currentSelectorDownload.find("i").each(function () {
								isContain = $(this).hasClass("fa-check");
							});

							if (!isContain)
								currentSelectorDownload.append('<i class="fa fa-check p-r-10" style="font-size: 1.3em; color:green; margin-left:10px;"></i>');
						}
					}
			});

			var isContain = false;

			_this.find("i").each(function () {
				isContain = $(this).hasClass("fa-check");
			});

			if (!isContain)
				_this.append('<i class="fa fa-check p-r-10" style="font-size: 1.3em; color:green; margin-left:10px;"></i>');		
			//******************* Fin *************************/

			Repository.queryApi(
				{
					url: "ActionFile/Download",
					method: "GET",
					data: { "actionfile_id": actionfile_id },
					success: function (_data) {
						DownloadManager.downloadBase64(_data, name, type);
					}
				}, true, true);
		}
	});
</script>