﻿
    
    <form id="SubjectForm" data-parsley-validate="" novalidate="">

        <div class="row">
            <div class="col-sm-12">

                <div class="form-group">
                    <label class="col-sm-12">Nombre asignatura</label>
                    <div class="col-sm-12">
                        <input id="input-name-subject" id-value="0" class="form-control" type="text" name="Name" value="" required="">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-12">Tipo de calificación</label>
                    <div class="col-sm-12">
                        <select class="form-control" id="select-typeQualification" required>
                            <option value="" selected>Seleccione tipo de calificación</option>
                            @foreach (int item in System.Enum.GetValues(typeof(Enums.TypeQualification)))
                            {
                                @:
                                <option value="@item">@System.Enum.GetName(typeof(Enums.TypeQualification), item)</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div id="div-addSubSubject-component">
                        <div class="input-field col s8">
                            <input class="form-control" id="input-SubSubject" placeholder="SubAsignatura" type="text">
                            <label>Nombre de SubAsignatura</label>
                        </div>
                        <div class="col s4" style="margin-top:15px;">
                            <button id="button-addSubSubject" type="button" class="btn @StyleConfig.ButtonStyle_Accept">Agregar SubAsignatura</button>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Cursos asignados:</label>
                    <p id="course-list">
                    </p>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <button id="buttonSubmit" class="btn float-right btn-info waves-effect waves-light">Registrar</button>
                        <button onclick="closeModals();" class="btn float-right btn-info waves-effect waves-light">Cerrar</button>
                    </div>
                </div>

            </div>
        </div>
    </form>

    
<script>
	$(function ()
	{
		var indexSubSubject = 0;
		var currentSubSubject = 0;

		$('body').on('click', 'button', function () {

			var subSubject = $(this).attr("id-SubSubjectRemove");

			if (subSubject != null && subSubject != "") {
				$("#" + subSubject).remove();
				currentSubSubject--;

				if (currentSubSubject <= 0)
					$("#div-subSubjects").hide();
			}
		});  

		$("#button-addSubSubject").click(function ()
		{
			var item = $("#input-SubSubject").val();
			$("#input-SubSubject").val("");

			if (item == undefined || item == null || item == "")
				return;

			var repeated = false;

			$('#div-subSubjects').find("label").each(function () {
				if (repeated = ($(this).text() == item))
					return status = false;
			});

			if (repeated) return;

			addSubSubject({ Name: item });
		});

		$.addSubSubjects = function (subSubjects, disabledRemove = false) {
			$("#div-subSubjects").html("");
			$("#div-subSubjects").hide();
			currentSubSubject = 0;
			indexSubSubject = 0;

			if (disabledRemove)
			{
				$("#div-addSubSubject-component").hide();
				$("#div-subSubjects").html("<br><label>SubAsignaturas registradas:</label>");
			}
			else
				$("#div-addSubSubject-component").show();

			for (var i = 0; subSubjects != null && i < subSubjects.length; i++)
				addSubSubject(subSubjects[i], disabledRemove);
		}

		function addSubSubject(subSubject = null, disabledRemove = false)
		{
			if (subSubject == null)
			{
				if (currentSubSubject <= 0)
					$("#div-subSubjects").hide();
				return;
			}

			$("#div-subSubjects").show();
			var text =
				'<div dinamycSubSubject id="div-subSubject-component-' + (indexSubSubject)+'">' +
					'<div class="input-field col s10">' +
						'<label>'+ subSubject.Name +'</label>'+
					'</div>' +

					'<div class="input-field col s2">' +
						(!disabledRemove ? '<button type="button" id-SubSubjectRemove="div-subSubject-component-' + (indexSubSubject) +'" class="btn-floating waves-effect waves-light red"><i class="material-icons">remove</i></button>' : '<div style="height:45px;"></div>') +
					'</div>' +
				'</div>';

			indexSubSubject++;
			currentSubSubject++;
			$("#div-subSubjects").append(text);
			//Materialize.updateTextFields();
		}
	});
</script>