﻿<div id="div-modal-evaluate" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
	<div style="max-width: 70%; margin: 30px auto;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">Evaluación</h4>
			</div>
			<form id="form-evaluate" data-parsley-validate>
				<div class="modal-body">

					<div class="row">

						<div class="col-md-6">
							<ul class="list-group">
								<li class="list-group-item">
									<label class="control-label">R.U.N:</label><span name="run"></span>
								</li>

								<li class="list-group-item">
									<label class="control-label">Alumno:</label><span name="name"></span>
								</li>

								<li class="list-group-item">
									<label class="control-label">Curso:</label><span name="course"></span>
								</li>
							</ul>
						</div>

						<div class="col-md-6">

							<ul class="list-group">
								<li class="list-group-item">
									<label class="control-label">Asignatura:</label><span name="subject"></span>
								</li>

								<li class="list-group-item">
									<label class="control-label">Unidad:</label><span name="unity"></span>
								</li>

								<li class="list-group-item">
									<label class="control-label">Sub-Unidad:</label><span name="subunity"></span>
								</li>
							</ul>
						</div>

						<div class="col-md-12">
							<ul class="list-group">
								<li class="list-group-item">
									<label class="control-label">Test:</label>									
									<p name="test_name">Test</p>
								</li>

								<li class="list-group-item" style="overflow-x:auto;">
									<label class="control-label">Pregunta:</label>									
									<p name="test_question">Test</p>
								</li>

								<li class="list-group-item">
									<label class="control-label">Respuesta de alumno:</label>									
									<p name="test_answer">Test</p>
								</li>
							</ul>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6">
						</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="col-sm-12">Nota (1 a 100):</label>
									<div class="col-sm-12">
										<input class="form-control" type="number" name="Qualification" min="1" max="100" data-parsley-type="digits" value="1" required>
									</div>
								</div>
							</div>
						</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancelar</button>
					<button type="submit" id="button-submit-link" class="btn btn-info waves-effect waves-light">Actualizar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	$(function ()
	{
		$.fn.populateForm = function(data, groupCode)
		{
			$("#form-evaluate").find('span[name="run"]').html(' ' + data.StudentAnswer.StudentTest.User.UserName);
			$("#form-evaluate").find('span[name="name"]').html(' ' + data.StudentAnswer.StudentTest.User.Name + ' ' + data.StudentAnswer.StudentTest.User.FatherLastName);
			$("#form-evaluate").find('span[name="course"]').html(' ' + data.CourseSubject.Course.Name);
			$("#form-evaluate").find('span[name="subject"]').html(' ' + data.CourseSubject.Subject.Name);
			$("#form-evaluate").find('span[name="unity"]').html(' ' + data.SubUnity.Unity.Name);
			$("#form-evaluate").find('span[name="subunity"]').html(' ' + data.SubUnity.Name);

			$("#form-evaluate").find('p[name="test_name"]').html(' ' + data.QuestionWrittenAnswer.Test.Title);
			$("#form-evaluate").find('p[name="test_question"]').html(' ' + data.QuestionWrittenAnswer.Name);
			$("#form-evaluate").find('p[name="test_answer"]').html(' ' + data.StudentAnswer.Answer);

			$("#form-evaluate").find('input').val(data.StudentAnswer.Qualification);

			$("#div-modal-evaluate").attr("User_Id", data.StudentAnswer.User_Id);
			$("#div-modal-evaluate").attr("Test_Id", data.StudentAnswer.Test_Id);
			$("#div-modal-evaluate").attr("QuestionItem_Id", data.StudentAnswer.QuestionItem_Id);
			$("#div-modal-evaluate").attr("modal-groupCode", groupCode);

			$("#div-modal-evaluate").modal('show');
		}

		$("#form-evaluate").parsley().on('form:submit', function ()
		{
			var data =
				{
					User_Id: $("#div-modal-evaluate").attr("User_Id"),
					Test_Id: $("#div-modal-evaluate").attr("Test_Id"),
					QuestionItem_Id: $("#div-modal-evaluate").attr("QuestionItem_Id"),
					Qualification: $("#form-evaluate").find('input').val()
				};

			Repository.queryApi(
				{
					url: "Test/RegisterQualification",
					method: "POST",
					data: data,
					success: function (data) {
						$.fn.refreshTable($("#div-modal-evaluate").attr("modal-groupCode"));
						$("#div-modal-evaluate").modal('hide');
						$.fn.NavBarLeft_LoadInformation();
					}
				}, true, true);
			return false;
		});

	});
</script>