﻿@model System.Object[]
@Scripts.Render("~/FlotPie/js")
@{
}
<div id="StepperMaster3" class="col-sm-12"></div>

<div id="Etapa_11" class="col-sm-9">
    <form id="FormDescriptionRubric" method="post" enctype="multipart/form-data" data-parsley-validatedata-parsley-validate>
        <p>Complete los siguientes campos</p>
        <br />
        <div class="row">
            <div class="select-student-evaluation" style="margin-top:6px;"></div>
        </div>
        <div>
            <div style="padding-top:20px;padding-bottom:20px" class="input-field col-sm-3"><label>Descripción items</label></div>
            <div >
                <div id="div-table-rubrics"></div>
                <div id="div-select-evaluation1" style="float: right;display: inline-block;max-width:20%"></div>
                <div style="color:#0305ff;font-size:16px;font-weight:600;max-height: x;display: inline-block;width: 80vw;" id="div-mean1"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 float-right">
                <button type="button" class="back-stage btn float-right btn-info waves-effect waves-light">Atrás</button>
                <button type="button" class="next-stage btn float-right btn-info waves-effect waves-light">Guardar y Continuar</button>
                <button type="button" onclick="closeModals();" class="btn float-right btn-info waves-effect waves-light">Cerrar</button>
            </div>
        </div>
    </form>
</div>

<div id="Etapa_22" class="col-sm-9" >
    <form data-parsley-validate>
        <p>Complete los siguientes campos</p>
        <br />
        <div class="row">
            <div class="select-student-evaluation1" style="margin-top:6px;"></div>
        </div>
        <div>
            <div style="padding-top:20px;padding-bottom:20px" class="input-field col-sm-3"><label>Descripción items</label></div>
            <div>
                <div id="div-table-rubrics2"></div>
                <div id="div-select-evaluation2" style="float: right;display: inline-block;max-width:20%"></div>
                <div style="color:#0305ff;font-size:16px;font-weight:600;max-height: x;display: inline-block;width: 80vw;" id="div-mean2"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 float-right">
                <button type="button" class="back-stage btn float-right btn-info waves-effect waves-light">Atrás</button>
                <button type="button" class="next-stage btn float-right btn-info waves-effect waves-light">Guardar y Continuar</button>
                <button type="button" onclick="closeModals();" class="btn float-right btn-info waves-effect waves-light">Cerrar</button>
            </div>
        </div>
    </form>
</div>
<div id="Etapa_33" class="col-sm-9" >
    <form data-parsley-validate>
        <p>Complete los siguientes campos</p>
        <br />
        <div class="row">
            <div class="select-student-evaluation2" style="margin-top:6px;"></div>
        </div>
        <div>
            <div style="padding-top:20px;padding-bottom:20px" class="input-field col-sm-3"><label>Descripción items</label></div>
            <div>
                <div id="div-table-rubrics3"></div>
                <div id="div-select-evaluation3" style="float: right;display: inline-block;max-width:20%"></div>
                <div style="color:#0305ff;font-size:16px;font-weight:600;max-height: x;display: inline-block;width: 80vw;" id="div-mean3"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 float-right">
                <button type="button" class="back-stage btn float-right btn-info waves-effect waves-light">Atrás</button>
                <button type="button" class="next-stage btn float-right btn-info waves-effect waves-light">Guardar y Continuar</button>
                <button type="button" onclick="closeModals();" class="btn float-right btn-info waves-effect waves-light">Cerrar</button>
            </div>
        </div>
    </form>
</div>

<script>

    $(document).ready(function () {

        /************************************** Inicialización **************************************/
		$("#StepperMaster3").InitStepper(
		{
			stages: [
				
                { id: "Etapa_11", title: "Declarativo" },
                { id: "Etapa_22", title: "Procedimental" },
                { id: "Etapa_33", title: "Actitudinal" },
			]
        });
        ResetFormsStepperDescriptions();
        //$('#Etapa_11').css("display", "none");
        //$('#Etapa_22').css("display", "none");
        //$('#Etapa_33').css("display", "none");
        EventDispatcher.on(StepperExpress.ChangedStageEvent, function (obj)
        {

        });

        $('body').on('click', 'button', function () {
            var achievement = $(this).attr("id-AchievementRemove");

            if (achievement != null && achievement != "") {
                $("#component-achievement-" + achievement).remove();
                achievementsCount--;
            }
        });



    function closeModal() {
        $('#modal-rubrics').modal("hide");
    }

    function ResetFormsStepperDescriptions() {
            //$("#StepperMaster3").ResetStepper();

            $("#Etapa_11 form").get(0).reset();
            $("#Etapa_22 form").get(0).reset();
            $("#Etapa_33 form").get(0).reset();

            $("#Etapa_11 form").parsley().reset();
            $("#Etapa_22 form").parsley().reset();
            $("#Etapa_33 form").parsley().reset();

            //$('select').material_select();
            Materialize.updateTextFields();
        }
    }



</script>