﻿
<form id="UnityForm" data-parsley-validate="" novalidate="">

    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="col-sm-12">Nombre eje temático</label>
                <div class="col-sm-12">
                    <input id="input-name-unity" id-value="0" class="form-control" type="text" name="Name" value="" required="">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <button id="buttonSubmitUnity" class="btn float-right btn-info waves-effect waves-light">Agregar</button>
                    <button onclick="closeModals();" class="btn float-right btn-info waves-effect waves-light">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</form>
