﻿<form id="EventForm" enctype="multipart/form-data" name="EventForm" data-parsley-validate>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label>Nombre del evento</label>
                <input class="form-control" id="input-name-event" type="text" required>
            </div>
        </div>
        @if (SecurityGuard.Authentication.ContainRole("Administrador, SubAdministrador, Profesor"))
        {
            <div class="col-sm-10">
                <div class="form-group">
                    <label>Selecciona un color</label>
                    <select class="form-control" name="colorpicker" id="select-color">
                        <option value="" disabled selected>Selecciona un color</option>
                        <option value="#7bd148">Verde</option>
                        <option value="#5484ed">Azul</option>
                        <option value="#46d6db">Turquesa</option>
                        <option value="#fbd75b">Amarillo</option>
                        <option value="#ffb878">Naranjo</option>
                        <option value="#ff887c">Rojo</option>
                        <option value="#dbadff">Morado</option>
                        <option value="#e1e1e1">Plomo</option>
                    </select>
                </div>
            </div>

            <div class="col-sm-1">
                <div id="block-color" style="height:30px; width:30px; margin-top:0px;"></div>
            </div>
        }

        <input type="hidden" id="id" date="" value="0">
        <div class="form-group col-sm-12">
            <label>Descripción</label>
            <textarea class="form-control" id="input-description" required></textarea>
        </div>
        @if (SecurityGuard.Authentication.ContainRole("Administrador, SubAdministrador, Profesor"))
        {
            <div class="file-field form-group col-sm-12">
                <label>Subir archivo</label>
                <div class="btn">
                    <input id="input-file-event" type="file" name="pdf" accept=".pdf, .xls, .xlsx, .doc, .docx, .pptx, .ppt" multiple>
                </div>

            </div>
        }

        <div class="row col-sm-12 float-right">
            <i id="author">Creado por...</i>
            <div class="col-sm-12 float-right">
                <button type="button" id="button-delete" class="btn float-right btn-info waves-effect waves-light">Eliminar</button>
                <button type="submit" id="button-action" id-model="0" class="btn float-right btn-info waves-effect waves-light">Agregar</button>
                <button type="button" id="button-ok" class="btn float-right btn-info waves-effect waves-light" style="display:none;">Aceptar</button>
                <button  type="button" id="button-close-event" onclick="closeModals();" class="btn float-right btn-info waves-effect waves-light">Cerrar</button>
            </div>
        </div>
    </div>
</form>

