﻿
<form id="SubUnityForm" data-parsley-validate="" novalidate="">
    <div class="row">
        <div class="col-sm-12">
            <div class="row form-group">
                <div class="col-sm-6">
                    <label class="col-sm-12">Nombre del contenido</label>
                    <div class="col-sm-12">
                        <input id="input-name-subunity" id-value="0" class="form-control" type="text" name="Name" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <button id="buttonSubmit" class="btn float-right btn-info waves-effect waves-light">Agregar</button>
                    <button onclick="closeModals();" class="btn float-right btn-info waves-effect waves-light">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</form>
