﻿@Scripts.Render("~/RUN/js")


	<form id="form-observation" data-parsley-validate>
        <div class="col-sm-12">

            <div class="form-group">

                <label class="col-sm-12">Anotación</label>
                <div class="col-sm-12">
                    <textarea id="textarea-form" class="form-control" required></textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <button class="btn float-right btn-info waves-effect waves-light">Registrar</button>
                    <button onclick="closeModals();" class="btn float-right btn-info waves-effect waves-light">Cerrar</button>
                </div>
            </div>
        </div>
	</form>


