﻿<div class="col-md-3" style="margin-top:20px;">
    <div class="input-group">
        <label for="select-test-difficulty" style="margin-top:10px;padding-right:10px">Dificultad</label>
        <select class="select-test-difficulty form-control">
            <option selected value="1">Sin dificultad</option>
            <option value="2">Fácil</option>
            <option value="3">Medio</option>
            <option value="3">Difícil</option>
        </select>
    </div>
</div>
<div class="col-md-3" style="margin-top:20px;">
    <div class="input-group">
        <label for="select-test-unity" style="margin-top:10px;padding-right:10px">Eje temático</label>
        <select class="select-test-unity form-control">
        </select>
    </div>
</div>
<div class="col-md-3" style="margin-top:20px;">
    <div class="input-group">
        <label for="select-test-subunity" style="margin-top:10px;padding-right:10px">Contenido</label>
        <select  disabled class="select-test-subunity form-control">
            <option selected>Seleccione una opción</option>
        </select>
    </div>
</div>
<div class="col-md-3 select-test-add-component" style="margin-top:20px;display:none;">
    <div class="input-group">
        <select class="form-control" id="select-test-add-component-bank">
            <option disabled selected>Agregar una pregunta</option>
            <option value="1">Alternativas</option>
            <option value="2">Desarrollo</option>
            <option value="4">Terminos pareados</option>
            <option value="3">Verdadero/Falso</option>
        </select>
        <span class="input-group-btn">
            <button type="button" class="btn btn-success waves-effect waves-light button-test-add-component">Agregar</button>
        </span>
    </div>
</div>
<div style="margin-top:30px;min-width: 90%;" id="questionlist"></div>
