﻿@Scripts.Render("~/Js/JQuery-UI")

<style>
	.column-border-left
	{
		border-right: 1px dashed #686868;
	}
</style>

<div id="div-modal-test-view" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
	<div style="max-width: 430px; margin: 30px auto;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">Test</h4>
			</div>
			<div class="modal-body">
				<p id="p-modal-test-view-1" style="text-align:center;"><strong>-</strong></p>

				<div id="div-modal-test-view-content" class="card card-inverse card-warning text-white">
					<div class="card-block">
						<p id="p-modal-test-view-2">Tiempo estimado para terminar:<strong> -</strong></p>
						<p id="p-modal-test-view-3">Intentos disponibles:<strong> -</strong></p>
						<p id="p-modal-test-view-4">Tiempo para responder:<strong>-</strong></p>
					</div>
				</div>				
			</div>

			<div class="modal-footer">
				<button id="modal-test-view-start" type="button" class="btn btn-info waves-effect" data-dismiss="modal">Iniciar</button>
			</div>

		</div>
	</div>
</div>

<script>

	$(function ()
	{
					var currentContent = null;

		$("#modal-test-view-start").click(function ()
		{
						window.open('Test/AnsweringTest/' + currentContent.Id);
					});
		
		$.fn.Test_View = function (content)
		{
			event.preventDefault();

			currentContent = content;

			Repository.queryApi(
				{
					url: "Test/GetInfo",
					method: "GET",
					data: { id : content.Id },
					success: function (data)
		{

			if (data == null || data == undefined)
			{
				alert("Error - No es posible inicializar");
				return;
			}

			if (data.Error != null && data.Error != "")
			{
				alert(data.Error);
				return;
			}

			if (data.Info != undefined && data.Info != null)
			{
				var timer = data.Info.Timer;
				var currentTimer = data.Info.CurrentTimer;
				var currentAttempts = parseInt(data.Info.CurrentAttempts);
				var attempts = parseInt(data.Info.Attempts);

							$("#p-modal-test-view-1").html('<strong>Actualmente se encuentra en desarrollo esta evaluación</strong>');
							$("#div-modal-test-view-content").show();
							$("#p-modal-test-view-2").show();
							$("#button-modal-test-view-start").prop('disabled', false);

				if (currentTimer >= 0 && timer > 0) {
					var hours = Math.floor(currentTimer / (60 * 60));

					currentTimer -= hours * 60 * 60;

					var minutes = Math.floor(currentTimer / 60);
					currentTimer -= minutes * 60;

					var seconds = Math.floor(currentTimer);

								$("#p-modal-test-view-2").find("strong").html(' ' + hours + 'hr : ' + minutes + 'min : ' + seconds + 's');

					if (!data.Info.IsFirtTime)
						currentAttempts--;
				}


				var hours = Math.floor(timer / (60 * 60));
				timer -= hours * 60 * 60;
				var minutes = Math.floor(timer / 60);
				timer -= minutes * 60;
				var seconds = Math.floor(timer);
							$("#p-modal-test-view-4").find("strong").html(' ' + hours + 'hr : ' + minutes + 'min : ' + seconds + 's');



				if (parseInt(data.Info.Timer) <= 0) {
									$("#p-modal-test-view-2").find("strong").html(' Indefinido');
									$("#p-modal-test-view-4").find("strong").html(' Indefinido');
				}



				if (parseInt(data.Info.CurrentTimer) <= 0) {
								$("#p-modal-test-view-1").html("¿Iniciar evaluación?");
								$("#p-modal-test-view-2").hide();
				}

							$("#p-modal-test-view-3").find("strong").html(' ' + currentAttempts);
							$("#div-modal-test-view").modal('show');
			}
		}
	}, false, true);


		
		}
	});
</script>