﻿<div id="div-modal-test" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static" style="display: none;max-height: 100vh;height:100vh; max-width: 100vw; width:100vw;" aria-hidden="true">
	<div style="max-width: 90%; width:90%; min-width:800px; margin: 30px auto;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>				
				<h4 class="modal-title">Test</h4>

			</div>
			<form id="form-test" data-parsley-validate>
				<div class="modal-body" style="min-height: 420px; height:90%; max-height:90%; overflow-y: hidden; overflow-x: hidden;  ">
                    <div class="col-sm-12" style="overflow-x: hidden; overflow-y: hidden; ">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-12">Título:</label>
                                    <div class="col-sm-12">
                                        <input class="form-control" type="text" name="Name_Test" required>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group form-check" style="margin-top:32px; text-align:center;">
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" name="global" class="custom-control-input" disabled>
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Test Global</span>
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group form-check" style="margin-top:32px; text-align:center;">
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" name="random" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Test Aleatorio</span>
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-12">Intentos:</label>
                                    <div class="col-sm-12">
                                        <input class="form-control" type="number" name="Attempts_Test" min="1" max="50000" data-parsley-type="digits" value="1" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-12">Tiempo en Minutos (Cero es Indef.):</label>
                                    <div class="col-sm-12">
                                        <input class="form-control" type="number" name="Timer_Test" min="0" max="50000" data-parsley-type="digits" value="0" required>
                                    </div>
                                </div>
                            </div>



                        </div>
                        <div class="row form-group">
                            <div class="col-sm-6">
                                <label class="col-sm-12">Preguntas:</label>
                            </div>
                            <div class="col-sm-6">
                                <button type="button" class="btn btn-danger waves-effect waves-light" style="float:right;" onclick="$.fn.ShowAndHideTestQuestions();">Desplegar/Ocultar contenidos</button>
                            </div>
                            <div class="col-sm-12">
                                <ul id="ul-test-questions" class="sortable-test list-group " style="  overflow-x: hidden;  background-color:#f1f1f1"></ul>
                            </div>
                        </div>
                        <div class="col-md-7"></div>
                        <div class="col-md-5">
                            <div class="input-group">
                                <select id="select-test-add-component" class="form-control">
                                    <option disabled selected>Agregar una pregunta</option>
                                    <option value="1">Alternativas</option>
                                    <option value="2">Desarrollo</option>
                                    <option value="4">Terminos pareados</option>
                                    <option value="3">Verdadero/Falso</option>
                                </select>
                                <span class="input-group-btn">
                                    <button id="button-test-add-component" type="button" class="btn btn-success waves-effect waves-light">Agregar</button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-12 random-body">
                            <div class="col-md-7"></div>
                            <div class="col-md-5">
                                <div class="input-group">
                                    <select id="select-difficulty-random" class="form-control">
                                        <option selected>Seleccione una dificultad</option>
                                        <option value="1">Sin dificultad</option>
                                        <option value="2">Fácil</option>
                                        <option value="3">Medio</option>
                                        <option value="4">Difícil</option>
                                    </select>
                                </div>
                            </div>
                            <div style="margin-top:60px" id="accordion">
                            </div>
                        </div>
                    </div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancelar</button>
					<button type="submit" id="button-submit-test" class="btn btn-info waves-effect waves-light">Agregar</button>
				</div>
			</form>
		</div>
	</div>
</div>


<div style="height:100vh;max-height:100vh; width:100vw;"  id="div-modal-question-test" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static" style="display: none;width:1400px;" aria-hidden="true">
	<div style="margin: 30px auto;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">Modo edición</h4>
			</div>
			<form data-parsley-validate>
				<div class="modal-body" style="height: 450px; overflow-y: hidden;">
					<div class="form-group">
						<label class="col-md-12">Texto:</label>
						<div class="col-md-12">
							<textarea id="textarea-modal-question-test" name="editortext"></textarea>
						</div>
					</div>					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancelar</button>
					<button type="button" id="button-modal-question-test" class="btn btn-info waves-effect waves-light">Actualizar</button>
				</div>
			</form>
		</div>
	</div>
</div>



<script>
	$(function () {
        var count_ShowAndHideTestQuestions = 0;
        var index_question = 0;

		$("#ul-test-questions").sortable(
		{
			delay: 250,
			tolerance: -100
		});

		$.fn.Test_View = function (content) {
			event.preventDefault();
			resetForm();

			window.open("Test/AnsweringTest/" + content.Id);
		}

		$("#div-modal-test").on('hidden.bs.modal', function () {
			resetForm();
		});

		$.fn.Test_Add = function (activity_id) {
			event.preventDefault();
			resetForm();

			$('#div-modal-test').modal('show');

			$("#form-test").attr("activity-id", activity_id);
			$("#form-test").attr("test-id", 0);
			$("#button-submit-test").text("Agregar");
		}

		$.fn.Test_Edit = function (content) {
			event.preventDefault();
			resetForm();
            index_question = 0;
			Repository.queryApi(
				{
					url: "SpecialTest/GetTest_Edit",
					method: "GET",
					data: { id: content.Id },
					success: function (data) {
						content = data;
						$("#form-test").attr("activity-id", 0);
						$("#form-test").attr("test-id", content.Id);
						$("#form-test").find('input[name="Name_Test"]').val(content.Title);
						$("#form-test").find('input[name="Attempts_Test"]').val(content.Attempts);
						$("#form-test").find('input[name="Timer_Test"]').val(content.Timer);
						$("#form-test").find('input[name="global"]').prop('checked', content.Global);

						for (var i = 0; i < content.Questions.length; i++) {
							var question = content.Questions[i];
                            index_question++;

							switch (question.QuestionType + "") {
								case '2':
                                    $("#ul-test-questions").append($.fn.Test_generatePanelWrittenAnswer(question, true, true));
                                    break;
                                    console.log(question.Difficulty);


								case '3':
                                    $("#ul-test-questions").append($.fn.Test_generatePanelTrueFalse(question, true, true));
                                    console.log(question.Difficulty);

									break;

								case '4':
                                    $("#ul-test-questions").append($.fn.Test_generatePanelPairedWords(question, true, true));
                                    console.log(question.Difficulty);

									break;

								case '1':
                                    $("#ul-test-questions").append($.fn.Test_generatePanelAlternative(question, true, true));
                                    
									break;
							}
						}

						$("#button-submit-test").text("Actualizar");
						$('#div-modal-test').modal('show');

					}
				}, false, true);
		}

		$.fn.Test_Delete = function (content) {
			event.preventDefault();
			$("#button-delete").attr("id-value", content.Id);
			$("#button-delete").attr("url-name", "test");
			$('#div-modal-delete').modal('show');
        }

        $("#form-test").parsley().on("form:submit", function (e) {
			var data =
				{
                    SubUnity_Id: ($("#subunity").attr("valor")),
                    Subject_Id: ($("#subject").attr("valor")),
                    Course_Id: ($("#course").attr("valor")),
					SpecialTest:
					{
						Id: $("#form-test").attr("test-id"),
						Title: $("#form-test").find('input[name="Name_Test"]').val(),
						Attempts: $("#form-test").find('input[name="Attempts_Test"]').val(),
						Timer: $("#form-test").find('input[name="Timer_Test"]').val(),
						IsTestReport: $("#form-test").find('input[name="IsTestReport_Test"]').is(':checked')
					},
					QuestionTrueFalses:[],
					QuestionWrittenAnswers: [],
					QuestionPairedWords: [],
                    QuestionAlternatives: [],
                    RandomQuestionSet: [],
                    Random: $("input[name=random]").is(":checked"),
                    Global: $("#form-test").find('input[name="global"]').is(':checked'),
                };

                if ($("input[name=random]").is(":checked")) {
                    $(".count-question").each(function () {
                        if ($(this).val() != undefined && $(this).val() != 0) {
                            data.RandomQuestionSet.push({ "Subunity_Id": parseInt($(this).attr("data-subunity")), "Count": parseInt($(this).val()) });
                        }
                    });
                } else {
                    $("#ul-test-questions").children("li").each(function (index) {
                        index_question++;
                        try {

                            var type = $(this).attr("question-type");
                            if (type == null || type == undefined || type == "") return true;

                            switch (type + "") {
                                case "2": data.QuestionWrittenAnswers.push($.fn.Test_GetData_WrittenAnswer(index, $(this))); break;
                                case "3": data.QuestionTrueFalses.push($.fn.Test_GetData_TrueFalse(index, $(this))); break;
                                case "4": data.QuestionPairedWords.push($.fn.Test_GetData_PairedWords(index, $(this))); break;
                                case "1": data.QuestionAlternatives.push($.fn.Test_GetData_Alternative(index, $(this))); break;
                            }

                        } catch (Ex) { }
                    });
                }
			        Repository.queryApi(
					    {
                            url: "SpecialTest",
                            //method:  "POST" ,
						    method: $("#form-test").attr("test-id") != 0 &&  $("#form-test").attr("test-id") != undefined ? "PUT" : "POST",
						    data: data,
                            success: function (data) {
							    //$.fn.refreshTable();
                           
                                $('#div-fullscreenloader').css('display', 'none');
                                $('#div-modal-test').modal('hide');
                                refreshTableSpecialTest();
                            
                            },
                            complete: function () {
                                var loader = $("#div-fullscreenloader");
                                if (loader.length) {
                                    setTimeout(function () {
                                        loader.fadeOut("slow", function () {
                                            loader.remove();
                                        });
                                    }, 500);

                                }
                                $('#div-modal-test').modal('hide');
                                refreshTableSpecialTest();
                            },
					    }, false, false,false);

                return false;
            
        });

        $.fn.Test_GetData_RandomQuestionSet = function () {
            var items;
            $(".count-question").each(function () {
                if ($(this).val() != undefined && $(this).val() != 0) {
                    items.push({ "Subunity_Id": $(this).attr("data-subunity"), "Count": $(this).val() });
                }
            });
            console.log(items);
            return items;
        }

		$.fn.Test_GetData_WrittenAnswer = function(index, component)
        {
			var dt =
				{
					Order: index,
					Type: "2",
					Id: component.attr("id-model"),
                    Name: decodeURIComponent(escape(window.atob(component.find('button[name="name"]').attr("content-code")))),
					QuestionWrittenAnswerItem: { Answer: decodeURIComponent(escape(window.atob(component.find('button[name="textarea"]').attr("content-code")))) }
                };
            console.log(dt);
            return dt;
        }

        function refreshTableSpecialTest() {

            var subunity_id = $('#subunity').attr('valor');
            if (subunity_id == null || subunity_id == 0) return;

            Repository.queryApi(
                {
                    url: "SpecialTest/GetSpecialTestsBySubUnity",
                    method: "GET",
                    data: { id: subunity_id },
                    success: function (data) {
                        $('#folder').html("");
                        for (i = 0; i < data.length; i++) {
                            div = '<div class="specialtest" id="' + data[i].Id + '" ><img id="'+ data[i].Id+'" src="/Content/Images/285638 - pencil.png"><p id="' + data[i].Id + '">' + data[i].Title + '</p></div>';
                            $('#folder').append(div);
                        }
                        //$('#folder').append('<div class="reporttest"><img src="/Content/Images/285672 - text.png"><div class="columna"><p>Informes</p></div></div>');
                        @if (SecurityGuard.Authentication.ContainRole("Administrador, Subadministrador, Profesor"))
                        {
                            @:$('#folder').append('<div class="addfoldertest"><img src="/Content/Images/299068 - add sign.png"><div class="columna"><p>Agregar test Avanzado</p></div></div>');
                        }
                        verificar_css();
                    }
                });
        }

		$.fn.Test_GetData_TrueFalse = function(index, component)
		{
			var data =
				{
					Order: index,
					Type: "3",
					Id: component.attr("id-model"),
                    Name: decodeURIComponent(escape(window.atob(component.find('button[name="Name"]').attr("content-code")))),
                    SubUnity_Id: component.find('.select-test-subunity').val(),
                    Difficulty: component.find('.select-test-difficulty').val(),
					ComplementaryAnswer: decodeURIComponent(escape(window.atob(component.find('button[name="ComplementaryAnswer"]').attr("content-code")))),
					QuestionTrueFalseItems: []
				};

			component.find('.segment-test-truefalse').each(function ()
			{
				var radioName = $(this).attr("radio-name");
				if (radioName == null || radioName == undefined || radioName == "") return true;

				var value =$(this).find("input:radio[name ='" + radioName + "']:checked").val();

				if (value == null || value == undefined || value == "") return true;

				data.QuestionTrueFalseItems.push(
					{
						Id: $(this).attr("id-model"), Text: decodeURIComponent(escape(window.atob($(this).find('button[name = "input_truefalse"]').attr("content-code")))), Value : value == "1"
					});
			});
			return data;
		}

		$.fn.Test_GetData_PairedWords = function(index, component)
		{
			var data =
				{
					Order: index,
					Type: "4",
					Id: component.attr("id-model"),
                    Name: decodeURIComponent(escape(window.atob(component.find('button[name="Name"]').attr("content-code")))),
                    SubUnity_Id: component.find('.select-test-subunity').val(),
                    Difficulty: component.find('.select-test-difficulty').val(),
					ComplementaryAnswer: decodeURIComponent(escape(window.atob(component.find('button[name="ComplementaryAnswer"]').attr("content-code")))),
					QuestionPairedWordItems: []
				};

			component.find('.segment-test-pairedWords').each(function ()
			{
				var text_1 = decodeURIComponent(escape(window.atob($(this).find('button[name = "textarea-1"]').attr("content-code"))));
				var alternative = $(this).find("select").val();
				var text_2 = decodeURIComponent(escape(window.atob($(this).find('button[name = "textarea-2"]').attr("content-code"))));
				var index = $(this).find(".label-current-number").attr('pairedWords-currentIndex');

				if (text_1 == undefined || text_1 == null || text_1 == "" ||
					text_2 == undefined || text_2 == null || text_2 == "" ||
					index == undefined || index == null || index == "" ||
					alternative == undefined || alternative == null || alternative == "")
					return true;

				data.QuestionPairedWordItems.push(
					{
						Id: $(this).attr("id-model"),
						Column_1_Text: text_1,
						Column_1_Alternative: alternative,
						Column_2_Text: text_2,
						Column_2_Index: index
					});
			});
			return data;
		}

		$.fn.Test_GetData_Alternative = function(index, component)
		{
			var data =
				{
					Order: index,
					Type: "1",
					Id: component.attr("id-model"),
                    Name: decodeURIComponent(escape(window.atob(component.find('button[name="Name"]').attr("content-code")))),
                    SubUnity_Id: component.find('.select-test-subunity').val(),
                    Difficulty: component.find('.select-test-difficulty').val(),
					ComplementaryAnswer: decodeURIComponent(escape(window.atob(component.find('button[name="ComplementaryAnswer"]').attr("content-code")))),
					QuestionAlternativeItems: []
				};

			component.find('.segment-test-alternative').each(function ()
			{
				var radioName = $(this).attr("radio-name");
				if (radioName == null || radioName == undefined || radioName == "") return true;

				var value = $(this).find("input:radio[name ='" + radioName + "']:checked").val();
				if (value == undefined) value = "0";

				if (value == null || value == "") return true;

				data.QuestionAlternativeItems.push(
					{
						Id: $(this).attr("id-model"), Text: decodeURIComponent(escape(window.atob($(this).find('button[name = "input_alternative"]').attr("content-code")))), Value : value == "1"
					});
            });
			return data;
		}

		function resetForm() {
			count_ShowAndHideTestQuestions = 0;
			$("#form-test").get(0).reset();
			$("#form-test").parsley().reset();
			$("#ul-test-questions").html("");
		}

		$("#button-test-add-component").click(function ()
		{
			var type = $("#select-test-add-component").val();

			if (type == null || type == "") return;

            var question = '';

            index_question++;

			switch (type)
			{
				case "2":
					$("#ul-test-questions").append($.fn.Test_generatePanelWrittenAnswer({}, true, true));
					break;

				case "3":
					$("#ul-test-questions").append($.fn.Test_generatePanelTrueFalse({}, true, true));
					break;

				case "4":
					$("#ul-test-questions").append($.fn.Test_generatePanelPairedWords({}, true, true));
				break;

				case "1":
					$("#ul-test-questions").append($.fn.Test_generatePanelAlternative({}, true, true));
				break;
			}

        });

        $.fn.Test_generatePanelWrittenAnswer = function(content, isRemovable = false, isMovable = false)
		{
			if (content.Id == undefined)
				content.Id = 0;

			if (content.Name == undefined)
				content.Name = '';

			if (content.QuestionWrittenAnswerItem == undefined)
				content.QuestionWrittenAnswerItem = { Answer: '' };

			structure=
				'<li class="list-group-item" question-type="2" id-model="'+content.Id+'" >' +
				(isMovable? '<i class="fa fa-arrows-alt" style="float:right;"></i>' : '') +
				'<div class="row">' +					
					'<div class="col-sm-12">'+
					generateTextAccordion({attribute:"name", title: "Pregunta", content: content.Name, isRequired:true }) +
					'</div>'+
					'<div class="col-sm-12">'+
						generateTextAccordion({attribute:"textarea",title: "Respuesta (Opcional)",content: content.QuestionWrittenAnswerItem.Answer, color: "#fb9678" })+
					'</div>'+
            '</div>' +
            (!$("#div-modal-test").is(":visible") ?
                '<div class="col-md-7"></div>' +
                '<div class="col-md-5" style="margin-top:20px;">' +
                '<div class="input-group select-test-difficulty">' +
                '<label for="select-test-difficulty" style="margin-top:10px;padding-right:10px">Dificultad</label>' +
                '<select  data-id=' + content.Id + ' data-index=' + index_question + ' class="select-test-difficulty form-control">' +
                '<option selected value="1">Sin dificultad</option>' +
                '<option value="2">Fácil</option>' +
                '<option value="3">Medio</option>' +
                '<option value="4">Difícil</option>' +
                '</select>' +
                '</div>' +
                '</div>' : "") +
				generateXQuestion()+
				'</li>';

			return structure;
		}

		var trueFalse_Count = 0;

		$.fn.Test_generatePanelTrueFalse = function (content , isRemovable = false, isMovable = false)
		{
			if (content.Id == undefined)
				content.Id = 0;

			if (content.Name == undefined)
				content.Name = "";

			if (content.QuestionTrueFalseItems == undefined)
				content.QuestionTrueFalseItems = [];

			if (content.ComplementaryAnswer == undefined)
				content.ComplementaryAnswer = "";
			
			var _structure = '';

			for (var i = 0; i < content.QuestionTrueFalseItems.length; i++)
				_structure += $.fn.Test_generateAddInputTrueFalse(null, content.QuestionTrueFalseItems[i], i==0 || isRemovable);

			if (_structure == "")
				_structure = $.fn.Test_generateAddInputTrueFalse(null, {}, false);

            Repository.queryApi(
                {
                    url: "Unity/GetUnitiesBySubjectAndCourse",
                    method: "GET",
                    data: { subject_id: $("#subject").attr("valor"), course_id: $("#course").attr("valor") },
                    success: function (data) {
                        str = "<option value='0' selected >Seleccione una opción</option>";
                        for (i = 0; i < data.length; i++) {
                            str += "<option value=" + data[i].Id + ">" + data[i].Name + "</option>";
                        }
                        $(".select-test-unity[data-index=" + index_question + "]").html(str);
                    }
                });
			var structure = '<li class="list-group-item" question-type="3" id-model="'+content.Id+'">'+
				(isMovable ? '<i class="fa fa-arrows-alt" style="float:right;"></i>' : '') +
					'<div class="row">'+
						'<div class="col-sm-12">'+
							generateTextAccordion({ attribute: "Name", title: "Pregunta", content: content.Name, isRequired:true }) +
						'</div>'+
						'<div class="col-sm-12">'+
							generateTextAccordion({ attribute: "ComplementaryAnswer", title: "Respuesta (Opcional)", content: content.ComplementaryAnswer, color:"#fb9678" }) +
						'</div>'+
					'</div>'+

					'<div class="row">'+
						'<div class="row form-group col-sm-12 components-truefalse">'+_structure+'</div>'+
						'<div class="col-sm-4"></div>'+
						'<div class="col-sm-4">'+
							'<button type="button" class="btn btn-default waves-effect btn-block" onclick="$.fn.Test_generateAddInputTrueFalse($(this),{}, true);">Agregar otro más</button>'+
						'</div>'+
						'<div class="col-sm-4"></div>'+
                '</div>' +
                (!$("#div-modal-test").is(":visible") ? 
                '<div class="col-md-7"></div>' +
                '<div class="col-md-5" style="margin-top:20px;">' +
                    '<div class="input-group select-test-difficulty">' +
                        '<label for="select-test-difficulty" style="margin-top:10px;padding-right:10px">Dificultad</label>' +
                        '<select  data-id=' + content.Id + ' data-index=' + index_question + ' class="select-test-difficulty form-control">' +
                            '<option selected value="1">Sin dificultad</option>' +
                            '<option value="2">Fácil</option>' +
                            '<option value="3">Medio</option>' +
                            '<option value="4">Difícil</option>' +
                        '</select>' +
                    '</div>' +
                '</div>' : "")+
						generateXQuestion() +
					'</li>';


			return structure;
		}

		$.fn.Test_generateAddInputTrueFalse = function (component, content, isRemovable = false)
		{
			if (content.Id == undefined)
				content.Id = 0;

			if (content.Text == undefined)
				content.Text = "";

			if (content.Value == undefined)
				content.Value = true;

			var radioCheck_1 = content.Value ? "checked" : "";
			var radioCheck_2 = content.Value ? "" : "checked";

			var structure = '<div class="row col-sm-12 segment-test-truefalse" id-model="' + content.Id + '" radio-name="trueandfalse_' + (++trueFalse_Count) + '"> <label class="col-sm-12"></label>' +
				'<div class="col-sm-2">' +
				'<div class="radio-list" style="margin-top:13px; text-align:center;">' +

				'<label class="custom-control custom-radio">'+
                   '<input type="radio"  class="custom-control-input" name="trueandfalse_' + trueFalse_Count + '" value="1" ' + radioCheck_1+'>' +
					'<span class="custom-control-indicator"></span>'+
					'<span class="custom-control-description">V</span>'+
				'</label>' +

				'<label class="custom-control custom-radio">'+
                   '<input type="radio" class="custom-control-input" name="trueandfalse_' + trueFalse_Count + '" value="0" ' + radioCheck_2 + '>' +
					'<span class="custom-control-indicator"></span>'+
					'<span class="custom-control-description">F</span>'+
				'</label>'+

				'</div>' +
				'</div>' +
				'<div class="row col-sm-10">' +
				'<div class="col-sm-11">'+
					generateTextAccordion({ attribute: "input_truefalse", title: "Afirmación", content: content.Text, color: "#8e8e8e", isRequired:true }) +
				'</div>' +
				'<div class="col-sm-1">'+
				(isRemovable ? '<button class="btn btn-danger" style="margin-top:5px;" type="button" onclick="$(this).closest(\'.segment-test-truefalse\').remove();"  ><i class="fa fa-trash"></i></button>' : '') +
				'</div>'+
                '</div></div>';

             
			if (component == null || component == undefined)
				return structure;
			else
				component.closest(".row").find(".components-truefalse").append(structure);
		}

		function generateXQuestion() {
			return '<button type="button" class="btn btn-default remove-question" style="float:right; margin-right:-11.5px; background:transparent; border:transparent;">' +
				'<i class="fa fa-trash" style="font-size:17px;"></i>' +
				'</button>';
		}


		$.fn.Test_generatePanelPairedWords  = function (content, isRemovable = false, isMovable = false) {
			if (content.Id == undefined)
				content.Id = 0;

			if (content.Name == undefined)
				content.Name = "";

			if (content.QuestionPairedWordItems == undefined)
				content.QuestionPairedWordItems = [];

			if (content.ComplementaryAnswer == undefined)
				content.ComplementaryAnswer = "";

			var _structure = '';

			//Buscando el número más grande
			var maxNumber = 0;

			for (var i = 0; i < content.QuestionPairedWordItems.length; i++)
				if (maxNumber < parseInt(content.QuestionPairedWordItems[i].Column_2_Index))
					maxNumber = parseInt(content.QuestionPairedWordItems[i].Column_2_Index);


			for (var i = 0; i < content.QuestionPairedWordItems.length; i++) {
				content.QuestionPairedWordItems[i].MaxNumber = maxNumber;
				_structure += $.fn.Test_generateAddQuestionPairedWordItem(null, content.QuestionPairedWordItems[i], !(i == 0 || i == 1 || i == 2) && isRemovable);
			}

			if (_structure == "")
				for (var i = 0; i < 3; i++)
                    _structure += $.fn.Test_generateAddQuestionPairedWordItem(null, { Column_2_Index: (i + 1), MaxNumber: maxNumber = 3 }, false);

            Repository.queryApi(
                {
                    url: "Unity/GetUnitiesBySubjectAndCourse",
                    method: "GET",
                    data: { subject_id: $("#subject").attr("valor"), course_id: $("#course").attr("valor") },
                    success: function (data) {
                        str = "<option value='0' selected >Seleccione una opción</option>";
                        for (i = 0; i < data.length; i++) {
                            str += "<option value=" + data[i].Id + ">" + data[i].Name + "</option>";
                        }
                        $(".select-test-unity[data-index=" + index_question + "]").html(str);
                    }
                });

			var structure = '<li class="list-group-item" question-type="4" id-model="' + content.Id + '" pariedWords-numberMax="' + maxNumber + '">' +
							'<i class="fa fa-arrows-alt" style="float:right;"></i>'+
								'<div class="row form-group">'+
										'<div class="col-sm-12">'+
											generateTextAccordion({ attribute: "Name", title: "Pregunta", content: content.Name, isRequired: true }) +
										'</div>'+
										'<div class="col-sm-12">'+
											generateTextAccordion({ attribute: "ComplementaryAnswer", title: "Respuesta (Opcional)", content: content.ComplementaryAnswer, color:"#fb9678" }) +
										'</div>'+				
								'</div>'+
								'<div class="row ">'+
										'<div class="row form-group col-sm-12 components-pairedWords">'+_structure+'</div>'+
										'<div class="col-sm-4"></div>'+
										'<div class="col-sm-4">'+
											'<button type="button" class="btn btn-default waves-effect btn-block" onclick="$.fn.Test_generateAddQuestionPairedWordItem($(this),{}, true); $.fn.Test_generateAddQuestionPairedWordUpdate($(this),true);">Agregar otro más</button>'+
										'</div>'+
										'<div class="col-sm-4"></div>'+
                                '</div>' +
                                (!$("#div-modal-test").is(":visible") ? 
                                '<div class="col-md-7"></div>' +
                                '<div class="col-md-5" style="margin-top:20px;">' +
                                    '<div class="input-group select-test-difficulty">' +
                                        '<label for="select-test-difficulty" style="margin-top:10px;padding-right:10px">Dificultad</label>' +
                                        '<select  data-id=' + content.Id + ' data-index=' + index_question + ' class="select-test-difficulty form-control">' +
                                            '<option selected value="1">Sin dificultad</option>' +
                                            '<option value="2">Fácil</option>' +
                                            '<option value="3">Medio</option>' +
                                            '<option value="4">Difícil</option>' +
                                        '</select>' +
                                    '</div>' +
                                '</div>' : "")+
					generateXQuestion() +
				'</li>';
			return structure;
		}

		$.fn.Test_generateAddQuestionPairedWordItem = function (component, content, isRemovable = false) {

			if (content.Id == undefined)
				content.Id = 0;

			if (content.Column_1_Text == undefined)
				content.Column_1_Text = "";

			if (content.Column_1_Alternative == undefined)
				content.Column_1_Alternative = "";

			if (content.Column_2_Text == undefined)
				content.Column_2_Text = "";

			if (content.Column_2_Index == undefined)
				content.Column_2_Index = "-";

			if (content.MaxNumber == undefined && component != null)
			{
				var panel = component.closest('li');
				content.MaxNumber = parseInt(panel.attr('pariedWords-numberMax'));
				content.Column_2_Index = content.MaxNumber + 1;
			}

			var structure_select = '<select class="form-control" required>';
			for (var i = 0; i <= content.MaxNumber; i++)
				if (content.Column_1_Alternative != "" && parseInt(content.Column_1_Alternative)== i)
					structure_select += '<option value="' + i + '" selected>' + (i == 0 ? '-' : i) + '</option>';
				else
					structure_select += '<option value="' + i + '"  ' + (i == 0 ? 'selected disabled' : '') + '>' + (i == 0 ? '-' : i) + '</option>';

			structure_select += '</select>';

			var structure = '<div class="row col-sm-12 segment-test-pairedWords" id-model="' + content.Id + '">' +
								'<div class="row form-group col-sm-11">' +
										'<div class="row col-sm-6 column-border-left">'+
											'<div class="col-sm-3">'+
												structure_select+
											'</div>'+
											'<div class="col-sm-9">'+
												generateTextAccordion({ attribute: "textarea-1", title: "Entrada", content: content.Column_1_Text, isRequired: true, color:"#8e8e8e" }) +
											'</div>'+
										'</div>'+
										'<div class="row col-sm-6 ">'+
											'<div class="col-sm-2">'+
														'<label style="float:right;" class="label-current-number" pairedWords-currentIndex="'+content.Column_2_Index+'"><strong>'+content.Column_2_Index+'.</strong></label>'+
											'</div>'+
											'<div class="col-sm-10">'+
												generateTextAccordion({ attribute: "textarea-2", title: "Entrada", content: content.Column_2_Text, isRequired: true, color:"#8e8e8e" }) +
											'</div>'+
										'</div>'+
							'</div>'+
							'<div class="col-sm-1">'+
								(isRemovable? '<button class="btn btn-danger waves-effect waves-light" style="margin-top:5px;" type="button" onclick="$.fn.Test_generateAddQuestionPairedWordUpdate($(this).closest(\'.segment-test-pairedWords\'),false); $(this).closest(\'.segment-test-pairedWords\').remove();"> <i class="fa fa-trash"></i> </button>' :'')+
							'</div>' +
				'</div>';

			if (component == null || component == undefined)
				return structure;
			else
				component.closest("li").find(".components-pairedWords").append(structure);
		}

		$.fn.Test_generateAddQuestionPairedWordUpdate = function(component, isAdding = true)
		{
			if (isAdding)
			{
				var panel = component.closest('li');
				var numberMax = parseInt(panel.attr('pariedWords-numberMax')) + 1;
				panel.attr('pariedWords-numberMax', numberMax);
				panel.find("select").each(function () {
					$(this).append('<option value="' + numberMax + '">' + numberMax + '</option>');
				});
			}
			else
			{
				var currentIndex = parseInt(component.find(".label-current-number").attr("pairedWords-currentIndex"));
				var panel = component.closest('li');
				var numberMax = parseInt(panel.attr('pariedWords-numberMax')) - 1;
				panel.attr('pariedWords-numberMax', numberMax);

				panel.find("select").each(function () {
					if (parseInt($(this).val()) == currentIndex)
						$(this).val(0);
					else
						if (parseInt($(this).val()) > currentIndex)
							$(this).val(parseInt($(this).val()) - 1);

					$(this).children("option:last").remove();
				});

				panel.find(".label-current-number").each(function (index)
				{
					var labelIndex = parseInt($(this).attr('pairedWords-currentIndex'));

					if (labelIndex > currentIndex) {
						$(this).html('<strong>' + (labelIndex - 1) + '.</strong');
						$(this).attr('pairedWords-currentIndex', labelIndex - 1);
					}

				});

			}
		}

		/********************************************** Alternativas **************************************************************/
		var alternative_Count = 0;

		$.fn.Test_generatePanelAlternative = function (content , isRemovable = false, isMovable = false)
		{
			if (content.Id == undefined)
				content.Id = 0;

			if (content.Name == undefined)
				content.Name = "";

			if (content.QuestionAlternativeItems == undefined)
				content.QuestionAlternativeItems = [];

			if (content.ComplementaryAnswer == undefined)
				content.ComplementaryAnswer = "";

			var _structure = '';
			alternative_Count++;

			for (var i = 0; i < content.QuestionAlternativeItems.length; i++)
			{
				content.QuestionAlternativeItems[i].Index = i;
				content.QuestionAlternativeItems[i].Alternative_Count = alternative_Count;

				var _isRemovable = isRemovable;
				if (i == 0 || i == 1)
					_isRemovable = false;

				_structure += $.fn.Test_generateAddInputAlternative(null, content.QuestionAlternativeItems[i], _isRemovable);
			}

			if (_structure == "")
			{
				_structure += $.fn.Test_generateAddInputAlternative(null, { Index: 0, Alternative_Count: alternative_Count }, false);
				_structure += $.fn.Test_generateAddInputAlternative(null, { Index: 1, Alternative_Count: alternative_Count }, false);
			}

            Repository.queryApi(
                {
                    url: "Unity/GetUnitiesBySubjectAndCourse",
                    method: "GET",
                    data: { subject_id: $("#subject").attr("valor"), course_id: $("#course").attr("valor") },
                    success: function (data) {
                        str = "<option value='0' selected >Seleccione una opción</option>";
                        for (i = 0; i < data.length; i++) {
                            str += "<option value="+data[i].Id+">"+data[i].Name+"</option>";
                        }
                        $(".select-test-unity[data-index=" + index_question + "]").html(str);
                    }
                });
			var structure = '<li class="list-group-item" question-type="1" alternative-count="' + alternative_Count +'" id-model="'+content.Id+'">'+
				(isMovable ? '<i class="fa fa-arrows-alt" style="float:right;"></i>' : '') +
					'<div class="row">'+
						'<div class="col-sm-12">'+
							generateTextAccordion({attribute:"Name", title:"Pregunta", content:content.Name, isRequired:true }) +
						'</div>'+
						'<div class="col-sm-12">'+
							generateTextAccordion({ attribute: "ComplementaryAnswer", title: "Respuesta (Opcional)", content: content.ComplementaryAnswer, color:"#fb9678" }) +
						'</div>'+	
					'</div>'+

					'<div class="row">'+
						'<div class="row form-group col-sm-12 components-alternative">'+_structure+'</div>'+
						'<div class="col-sm-4"></div>'+
						'<div class="col-sm-4">'+
							'<button type="button" class="btn btn-default waves-effect btn-block" onclick="$.fn.Test_generateAddInputAlternative($(this),{}, true);">Agregar otra alternativa</button>'+
						'</div>'+
						'<div class="col-sm-4"></div>'+
                '</div>' +
              
                (!$("#div-modal-test").is(":visible") ? 
                '<div class="col-md-7"></div>' +
                '<div class="col-md-5" style="margin-top:20px;">' +
                    '<div class="input-group select-test-difficulty">' +
                '<label for="select-test-difficulty" style="margin-top:10px;padding-right:10px">Dificultad</label>' +
                '<select data-id=' + content.Id + ' data-index=' + index_question + ' class="select-test-difficulty form-control">' +
                            '<option selected value="1">Sin dificultad</option>' +
                            '<option value="2">Fácil</option>' +
                            '<option value="3">Medio</option>' +
                            '<option value="4">Difícil</option>' +
                        '</select>' +
                    '</div>' +
                '</div>' : "")+
						generateXQuestion() +
					'</li>';


			return structure;
		}

		$.fn.Test_generateAddInputAlternative = function (component, content, isRemovable = false)
        {
			if (content.Id == undefined)
				content.Id = 0;

			if (content.Text == undefined)
				content.Text = "";

			if (content.Value == undefined)
				content.Value = false;

			if (content.Index == undefined)
				content.Index = 0;

			if (component != null)
			{
				var panel = component.closest('li');
				content.Alternative_Count = parseInt(panel.attr('alternative-count'));
				content.Index = panel.find('input[name="alternative_' + content.Alternative_Count + '"]').length;
			}

			var radioCheck_1 = content.Value ? "checked" : "";

			var structure = '<div class="row col-sm-12 segment-test-alternative" id-model="' + content.Id + '" radio-name="alternative_' + content.Alternative_Count + '"> <label class="col-sm-12"></label>' +
								'<div class="col-sm-1">' +
									'<div class="radio-list">' +
										'<label class="custom-control custom-radio" style="margin-top:10px;">'+
													'<input type="radio" class="custom-control-input" name="alternative_' + content.Alternative_Count + '" value="1" ' + radioCheck_1+' '+(content.Index==0? 'required':'')+' >' +
													'<span class="custom-control-indicator"></span>'+
													'<span class="custom-control-description" name="number-alternative" current-number="'+content.Index+'">'+StringCast.NumberToLetter(content.Index)+'.</span>' +
										'</label>'+
									'</div>' +
								'</div>' +
				'<div class="row col-sm-11">' +
				'<div class="col-sm-11">'+
				generateTextAccordion({ attribute:"input_alternative", title: "Alternativa",isRequired: true, content:content.Text, color:"#8e8e8e"}) +
				'</div>' +
				'<div class="col-sm-1">'+
				(isRemovable ? '<button class="btn btn-danger" style="margin-top:5px;" type="button" onclick="$.fn.Test_generateAddQuestionAlternativeRemoveUpdate($(this));  $(this).closest(\'.segment-test-alternative\').remove(); "  ><i class="fa fa-trash"></i></button>' : '') +
				'</div>'+
                '</div></div>';
             
			if (component == null || component == undefined)
				return structure;
			else
				component.closest(".row").find(".components-alternative").append(structure);
		}

		$.fn.Test_generateAddQuestionAlternativeRemoveUpdate = function (component) {

			var panel = component.closest('li');
			var current_Index = component.closest(".segment-test-alternative").find('span[name="number-alternative"]').attr("current-number");

			component.CurrentIndex = 0;

			panel.find('span[name="number-alternative"]').each(function (index){

				if (parseInt($(this).attr("current-number")) < current_Index) return true;

				$(this).attr("current-number", parseInt($(this).attr("current-number")) - 1);
				$(this).html(StringCast.NumberToLetter(parseInt($(this).attr("current-number"))) + '.');
			});
		}

		//Termina quien inició summernote, con esta información se sabrá donde hay que dejar la información
		var currentButtonTrigger = null;

		$(document).on('click', '.summernote-modal-text-test', function () {
		

			var code = "";
			var _code = $(this).attr("content-code");

			if (_code != undefined && _code != null)
				code = _code;

			$("#div-modal-question-test").modal('show');
			$("#textarea-modal-question-test").summernote('destroy');
			$("#textarea-modal-question-test").summernote({ height: 335, lang: 'es-ES', focus: true, dialogsInBody: true });
			$("#textarea-modal-question-test").summernote('code', decodeURIComponent(escape(window.atob(code))));
			currentButtonTrigger = $(this);
		});

		$("#button-modal-question-test").click(function ()
		{
			if (currentButtonTrigger == null) return;
			currentButtonTrigger.attr("content-code", window.btoa(unescape(encodeURIComponent($("#textarea-modal-question-test").summernote('code')))));
			currentButtonTrigger.closest("div").closest(".panel-heading").closest(".panel").find(".panel-body").html($("#textarea-modal-question-test").summernote('code'));
			currentButtonTrigger.closest("div").closest(".panel-heading").closest(".panel").find("input").val($("#textarea-modal-question-test").summernote('code'));

			currentButtonTrigger = null;
			$("#div-modal-question-test").modal('hide');
        });

        

        var accordion = 0;
        var counts;

        $('input[name=random]').change(function () {
            if ($(this).is(":checked")) {
                $('#form-test').parsley('removeItem', '#form-test');
                $("#accordion").html("");
                if ($("#accordion").hasClass("ui-accordion")) {
                    $("#accordion").accordion("destroy"); 
                }
                //reinit parsley
                $('#form-test').parsley();
                if (true) 
                    Repository.queryApi(
                        {
                            url: "Unity/GetTotalQuestionsCount",
                            method: "GET",
                            data: { subject_id: $("#subject").attr("valor"), course_id: $("#course").attr("valor") },
                            success: function (data) {
                                console.log(data);

                                counts = data;
                                Repository.queryApi(
                                    {
                                        url: "Unity/GetUnitiesBySubjectAndCourse",
                                        method: "GET",
                                        data: { subject_id: $("#subject").attr("valor"), course_id: $("#course").attr("valor") },
                                        success: function (data) {
                                            if (data.length < 1) {

                                            } else {
                                                str = "";
                                                for (i = 0; i < data.length; i++) {
                                                    str += "<h3>" + data[i].Name + "</h3><h4><table class='table table-hover'><thead style='background-color:#e2ebff'><th scope='col'>Contenido</th><th scope='col'>Total preguntas</th><th scope='col'>Incluir en test</th></thead><tbody>";
                                                    for (j = 0; j < data[i].SubUnits.length; j++) {
                                                        var subunity_name = data[i].SubUnits[j].Name;
                                                        var count = counts.filter(function (item) {
                                                            return item.Id == data[i].SubUnits[j].Id;
                                                        });
                                                        str += "<tr><th scope='row'>" + subunity_name + "</th><td >" + count[0].Count + "</td><td ><input data-subunity=" + data[i].SubUnits[j].Id  +" style='max-width:100px' value='0' class='form-control count-question'></input></td></tr>";
                                                    }
                                                    str += "</tbody></table></h4>";
                                                }
                                                $("#accordion").html(str);
                                                $("#accordion").accordion();
                                                accordion = 0;
                                            }
                                        }
                                    });
                            }
                        });
                $("#ul-test-questions").css("display", "none");
                $(".random-body").css("display", "inherit");
                $("#select-test-add-component").css("display", "none");
                $("#button-test-add-component").css("display", "none");
            } else {
                $("#ul-test-questions").css("display", "inherit");
                $("#select-test-add-component").css("display", "inherit");
                $("#button-test-add-component").css("display", "inherit");
                $(".random-body").css("display", "none");
            }
        });

        $('#select-difficulty-random').change(function () {
            $("#accordion").html("");
            $("#accordion").accordion("destroy"); 
            Repository.queryApi(
                {
                    url: "Unity/GetTotalQuestionsCountByDifficulty",
                    method: "GET",
                    data: { subject_id: $("#subject").attr("valor"), course_id: $("#course").attr("valor"), difficulty: $(this).val() },
                    success: function (data) {
                        counts = data;
                        Repository.queryApi(
                            {
                                url: "Unity/GetUnitiesBySubjectAndCourse",
                                method: "GET",
                                data: { subject_id: $("#subject").attr("valor"), course_id: $("#course").attr("valor") },
                                success: function (data) {
                                    if (data.length < 1) {

                                    } else {
                                        str = "";
                                        for (i = 0; i < data.length; i++) {
                                            str += "<h3>" + data[i].Name + "</h3><h4><table class='table table-hover'><thead style='background-color:#e2ebff'><th scope='col'>Contenido</th><th scope='col'>Total preguntas</th><th scope='col'>Incluir en test</th></thead><tbody>";
                                            for (j = 0; j < data[i].SubUnits.length; j++) {
                                                var subunity_name = data[i].SubUnits[j].Name;
                                                var count = counts.filter(function (item) {
                                                    return item.Id == data[i].SubUnits[j].Id;
                                                });
                                                str += "<tr><th scope='row'>" + subunity_name + "</th><td >" + count[0].Count + "</td><td ><input data-subunity=" + data[i].SubUnits[j].Id + " style='max-width:100px' value='0' class='form-control count-question'></input></td></tr>";
                                            }
                                            str += "</tbody></table></h4>";
                                        }
                                        $("#accordion").html(str);
                                        $("#accordion").accordion();
                                    }
                                }
                            });
                    }
                });
        });

		function generateTextAccordion(options)
		{	
			if (options.color == null)
				options.color = "#4867A8";		

			if (options.isRequired == null)
				options.isRequired = false;

			if (options.content == null)
				options.content = "";

			if (options.title == null)
				options.title = "";

			var inputContent = "";

			if (options.content != null && options.content != "")
				inputContent = "1";

			var structure = '<div class="panel panel-danger accordion-test-question" >'+
                         '<div class="panel-heading" style="background-color:'+options.color+'; border-color:'+options.color+'; padding: 12px 25px;">'+options.title+				
                                '<div class="pull-right">'+
									'<a href="#" data-perform="panel-collapse">'+
										'<i class="ti-plus"></i></a>'+
				'<button name="' + options.attribute + '" type="button" class="btn btn-warning waves-effect waves-light summernote-modal-text-test" style="float:right; height:45px; width:40px; padding:4px; margin-left:10px; margin-right:-25px;  margin-top:-12px;" content-code="' + window.btoa(unescape(encodeURIComponent(options.content))) + '" >' +
									'<i class="fa fa-edit"></i>' +
									'</button>' +
								'</div>'+								
                            '</div>'+
                            '<div class="panel-wrapper collapse" aria-expanded="false" style="height: 0px;">'+
                                '<div class="panel-body" style="overflow-x:auto;">'+
								options.content+
								'</div>'+							
                            '</div>'+
							'<input style="display:none;" '+(options.isRequired?"required": "")+' value="'+inputContent+'">'+
                        '</div>';
						

			return structure;
		}

		var count_ShowAndHideTestQuestions = 0;
		$.fn.ShowAndHideTestQuestions = function ()
		{
			count_ShowAndHideTestQuestions++;

			$(".accordion-test-question").each(function (index)
			{
				var _this = $(this);
				
				if (count_ShowAndHideTestQuestions % 2 == 0)
				{
					var isOpen = $(this).find('div[aria-expanded]').attr("aria-expanded");
					
					if (isOpen == "true")
						_this.find("a[data-perform]").trigger("click");
				}
				else
				{
					var isOpen = $(this).find('div[aria-expanded]').attr("aria-expanded");
					console.log(isOpen);
					if (isOpen == "false")
						_this.find("a[data-perform]").trigger("click");				
				}
			});
		}


		$(document).on('click', '.remove-question', function () {
			$(this).closest('li').remove();
		});
	});
</script>