﻿@{
	var url = SecurityGuard.ConnectionHelper.URL_WEBAPI + "Message/Answer";
}

<div class="col s12 m9 l10">

	<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
		<a id="button-answer-actionEmail" class="btn-floating btn-large red waves-effect waves-light" style="display:none;">
			<i class="material-icons">send</i>
		</a>
	</div>

	<div id="div-email-answer" class="card-panel" style="display:none;"></div>

	<div id="div-email-answer-box" class="card-panel" style="display:none;">

		<form id="form-email-answer-box" method="post" enctype="multipart/form-data" action="@url" data-parsley-validate>

			<div id="div-receivers-answer-box-component" class="input-field" style="margin-bottom:10px;">
				<label for="div-email-receivers-answer-box">Para</label>
				<div id="div-email-receivers-answer-box" class="chips chips-autocomplete" style="margin-bottom:5px;"></div>

				<div id="div-email-receivers-progress-answer-box" class="progress" style="display:none;">
					<div class="indeterminate"></div>
				</div>

				<div style="margin-bottom:20px;"></div>
			</div>

			<div class="input-field">
				<textarea id="textarea-email-content-answer-box" class="materialize-textarea" style="height: 100px;overflow-y: scroll; max-height: 100px;" required></textarea>
				<label for="textarea-email-content-answer-box">Contenido</label>
			</div>

			<div id="div-forward-attacheds"></div>

			<div class="dropzone" id="myDropzone-answer-box" style="border: 0.5px solid rgba(0,0,0,0.3); min-height:100px;"></div>
		</form>
	</div>
</div>

<script>
	$(function () {
		var dropZone = null;

		$.fn.populateAnswer = function (email) {

			$("#div-email-answer").html("");
			$("#div-email-answer").attr("message-id", email.Messages[0].Id);
			$("#div-email-answer").attr("conversation-id", email.Id);
			$("#div-email-answer").append('<h4>Asunto: ' + email.Subject + '</h4>');		

			for (var i = 0; i < email.Messages.length; i++)
			{
				var structure = '<div>' +
					'<div class="col s9">De: <strong>' + email.Messages[i].FromUser.FirstName + ' ' + email.Messages[i].FromUser.LastName + '</strong> ' + (email.Messages[i].IsForward?'- Reenvío':'') + ' </div>' +
					'<div class="col s3 right-align">' +
					'<span>' + moment(new Date(Date.parse(email.Messages[i].Date))).format('h:mm A  DD/MM/YY') + '</span>' +
					'</div>' +
					'</div>';

				var toList = '';

				for (var j = 0; j < email.Messages[i].ToUsers.length; j++)
					if (j + 1 == email.Messages[i].ToUsers.length)
						toList += '<span>' + email.Messages[i].ToUsers[j] + '</span>';
					else
						toList += '<span>' + email.Messages[i].ToUsers[j] + '</span>,';

				structure = '<ul class="collapsible" data-collapsible="accordion"  style="box-shadow: 0 0.3px 0px rgba(0, 0, 0, 0.26) !important;">' +
					'<li>' +
					'<div class="collapsible-header">' + structure+'</div>' +
					'<div class="collapsible-body">Para: '+toList+'</div>' +
					'</li></ul>';				

				structure += '<div class="mail-text" style="padding-left:20px;" >' + email.Messages[i].Body.replace(/\n/g,'<br/>') + '</div><br>';

				$("#div-email-answer").append('<div style="border-left: 1px solid #E8E8E8;">' + structure + generateBoxAttaches(email.Messages[i]) + '</div>');
			}

			$("#div-email-answer").append(
				'<hr>' +
				'<button id="a-button-answer-answer-box" href="#" class="btn white waves-effect  grey-text text-darken-2" style="margin-right:10px;"><i class="mdi-content-send left"></i> Responder</button>' +
				'<button id="a-button-forward-answer-box" href="#" class="btn white waves-effect grey-text text-darken-2"><i class="mdi-content-reply left"></i> Reenviar</button>');

			$(".collapsible").collapsible({ accordion: false });
			$.fn.setModeStatus("answer");			
		}

		$("#myDropzone-answer-box").dropzone({
			dictDefaultMessage: "Suelta los archivos aquí o haz clic para cargarlos.",
			dictRemoveFile: "Eliminar",
			url: "/Message",
			autoProcessQueue: false,
			uploadMultiple: true,
			parallelUploads: 5,
			maxFiles: 10,
			maxFilesize: 2,
			addRemoveLinks: true,
			init: function () {
				dropZone = this;
			}
		});

		$("#div-email-receivers-answer-box").material_chip_async(
			{
				minLength: 2,
				delay: 2000,
				url: "Message/GetListReceiver",
				starting: function () {
					$("#div-email-receivers-progress-answer-box").show();
				},
				completed: function () {
					$("#div-email-receivers-progress-answer-box").hide();
				},
				cancelled: function () {
					$("#div-email-receivers-progress-answer-box").hide();
				}
			});


		$(document).on('click', '#a-button-answer-answer-box', function () {
			$("#div-receivers-answer-box-component").hide();
			$("#form-email-answer-box").get(0).reset();
			$("#form-email-answer-box").attr("mode-message", "answer");
			dropZone.removeAllFiles(true);
			$("#form-email-answer-box").parsley().reset();
			$("#textarea-email-content-answer-box").trigger('autoresize');
			Materialize.updateTextFields();
			$("#div-email-answer-box").show();
			$("#button-answer-actionEmail").show();
			$("#div-forward-attacheds").html("");
		});

		$(document).on('click', '#a-button-forward-answer-box', function () {
			$("#div-receivers-answer-box-component").show();
			$("#form-email-answer-box").get(0).reset();
			$("#form-email-answer-box").attr("mode-message","forward");
			dropZone.removeAllFiles(true);
			$("#form-email-answer-box").parsley().reset();			
			$("#div-email-answer-box").show();
			$("#button-answer-actionEmail").show();
			$("#textarea-email-content-answer-box").val(getAllContentConversation($.fn.getCurrentConversation()));
			$("#textarea-email-content-answer-box").trigger('autoresize');
			Materialize.updateTextFields();
			generateBoxAttaches_Forward();

			$("#div-email-receivers-answer-box").find("i").each(function () {
				if ($(this).hasClass("close"))
					$(this).trigger("click");
			});
		});

		$.fn.hideAnswerBox = function () {
			$("#div-email-answer").hide();
			$("#div-email-answer-box").hide();
			$("#button-answer-actionEmail").hide();
			$("#div-forward-attacheds").html("");
		}

		$.fn.showAnswerBox = function () {
			$("#div-email-answer").show();
			$("#div-email-answer-box").hide();
			$("#button-answer-actionEmail").hide();
			$("#div-forward-attacheds").html("");
		}

		$("#button-answer-actionEmail").click(function ()
		{
			if (!$("#form-email-answer-box").parsley().validate()) return;
			var data = new FormData(document.getElementById("form-email-answer-box"));

			var mode = $("#form-email-answer-box").attr("mode-message");

			var message =
				{
					Conversation_Id: $("#div-email-answer").attr("conversation-id"),
					Message_Id: $("#div-email-answer").attr("message-id"),
					Body: $("#textarea-email-content-answer-box").val(),
				};			
			
			if (mode == "forward")
			{			
				var attacheds = [];

				$("#div-forward-attacheds").find("a").each(function ()
				{
					console.log("entró?");
					var attached_id = $(this).attr("attached-id");							

					if (!(attached_id == undefined || attached_id == null)) 					
					attacheds.push(attached_id);
				});

				var toList = [];
				var toData = $("#div-email-receivers-answer-box").material_chip('data');

				for (var i = 0; i < toData.length; i++)
					toList.push(toData[i].tag);

				if (toList.length == 0) { alert("Debes agregar mínimo un destinatario."); return; }

				message.ToUsers = toList;
				message.Attacheds = attacheds;
			}

			data.append(mode, JSON.stringify(message));

			var files = dropZone.getAcceptedFiles();
			for (var i = 0; i < files.length; i++)
				data.append("file-" + i, files[i]);


			switch (mode) {
				case "answer":
					Repository.queryApi(
						{
							url: "Message/Answer",
							method: "POST",
							data: data,
                            success: function (data) {
                                sendNotification(toList)
								//window.location.href = '/Message';
							}
						}, true, true);
				break;
				case "forward":
					Repository.queryApi(
						{
							url: "Message/Forward",
							method: "POST",
							data: data,
                            success: function (data) {
                                sendNotification(toList)
								//window.location.href = '/Message';
							}
						}, true, true);
				break;
			}			
		});

		$(document).on("click", "a", function ()
		{			
			var attached_id = $(this).attr("attached-id");
			var message_id = $(this).attr("message-id");
			var name = $(this).attr("file-name");
			var type = $(this).attr("file-type");

			if (attached_id == undefined || attached_id == null || message_id == undefined || message_id == null ||
				name == undefined || name == null || type == undefined || type == null)
				return;

			event.preventDefault();
			
			Repository.queryApi(
				{
					url: "Message/Download",
					method: "GET",
					data: { "attached_id": attached_id, "message_id": message_id },
					success: function (_data) {
						DownloadManager.downloadBase64(_data, name, type);
					}
				}, true, true);			

		});

		function getAllContentConversation(conversation)
		{
			var text = '\n\n\n************ Reenvío *************\n';
			var format = 0;

			for (var i = 0; i < conversation.Messages.length; i++)
			{
				var message = conversation.Messages[i];

				if (!message.IsForward)
					text += getVerticalBars(i + 1) + moment(new Date(Date.parse(message.Date))).format('h:mm A  DD/MM/YY') + " " + message.FromUser.FirstName + ' ' + message.FromUser.LastName + ' escribió:\n' +
						getVerticalBars(i + 1) + message.Body.replace(/\n/g, '\n' + getVerticalBars(i + 1)) + ((i + 1 == conversation.Messages.length) ? '' : "\n");	
			}

			return text;
		}

		function getVerticalBars(count)
		{
			var text = '';

			for (var i = 0; i < count; i++)
				text += '|  |  ';

			return text;
		}

		function generateBoxAttaches(item, enableDelete = false)
		{
			var messages = [];

			if (item instanceof Array)
				messages = item;
			else
				messages.push(item);

			var attachedList = '';
			
			for (var i = 0; i < messages.length; i++)
			{
				var message = messages[i];
				var attacheds = messages[i].Attacheds;

				for (var j = 0; j < attacheds.length; j++)
					attachedList += '<div class="col s4"><a message-id="' + message.Id + '" attached-id="' + attacheds[j].Id + '" file-name="' + attacheds[j].Name + '" file-type="' + attacheds[j].Type + '" href="#">' + attacheds[j].Name + '(' + attacheds[j].Weight + ')' + '</a>' + (enableDelete ? '<a href="#" style="color:red; margin-left:5px;" delete-attached="true">(Eliminar)</a>' : '') + '</div>';
			}

			if (attachedList != '')
				attachedList = '<div class="row" style="border-top: 1px dotted #E8E8E8;"><strong style="padding-left:10px;">Archivos adjuntos:</strong><br>' + attachedList + '</div>';

			return attachedList;
		}

		function generateBoxAttaches_Forward()
		{
			var conversation = $.fn.getCurrentConversation();
			$("#div-forward-attacheds").html("");
			$("#div-forward-attacheds").html(generateBoxAttaches(conversation.Messages, true));
		}

		$(document).on("click", "a", function (){
			var deleteAttached = $(this).attr("delete-attached");

			if (deleteAttached == undefined || deleteAttached == null)
				return;

			event.preventDefault();

			$(this).closest("div").remove();
		});		
    });

    function sendNotification(users) {
        for (var user of users) {
            var userName = user.split(" ").slice(0, 1).join();
            Repository.queryApi(
                {
                    url: "LogFirebase/sendNotification?message=Tienes un nuevo mensaje&userName=" + userName,
                    method: "POST",
                    success: function (data) {
                        console.log("notif enviada!! -->" + userName);
                    }
                }, true, true);
        }
        setTimeout(function () {
            window.location.href = '/Message';
        }, 500)
    }
</script>