﻿<div class="col s12 m9 l10">
	<div id="div-email-view" class="card-panel" style="display:none;">
		<div class="table-responsive">
			<table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Contenido</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
				<tbody id="tbody-inbox">
				</tbody>
			</table>
		</div>
		<div class="center-align">
			<button id="button-loader-conversations" class="btn-flat waves-effect grey-text text-darken-1">Cargar más</button>
		</div>
	</div>
</div>

<script>
	$(function ()
	{
		$.fn.conversations = null;
		$.fn.currentConversationIndex = -1;		

		Repository.queryApi(
			{
				url: "Message/GetMessages",
				method: "GET",
				success: function (data)
				{
					if (data.length == 0)
						$("#button-loader-conversations").hide();

					$.fn.conversations = data;
					$.fn.populateInbox(data);

					if ($.fn.initConversation != 0) {
						for (var i = 0; i < data.length; i++)
							if ($.fn.initConversation == data[i].Id) {
								$.fn.currentConversationIndex = i;

								$.fn.populateAnswer($.fn.getCurrentConversation());

								Repository.queryApi(
									{
										url: "Message/Readed",
										method: "GET",
										data: { "conversation_id": $.fn.getCurrentConversation().Id }
									});

								return;
							}
						alert("Mensaje no encontrado.");
					}

					$("#div-email-view").show();
				}
			}, true, true);

		$.fn.populateInbox= function(data)
		{
			$("#tbody-inbox").html("");

			for (var i = 0; i < data.length; i++)
			{
				var tr = '<tr class="' + (data[i].Readed ? "read" : "unread") + ' inbox-message" index-message="' + i + '">';

				tr += '<td class="mail-contact"> <a href="#">' + data[i].Messages[0].FromUser.FirstName + ' ' + data[i].Messages[0].FromUser.LastName + '</a></td>';

				tr += '<td class="mail-subject">' +
					'<a href="#">' + (data[i].Messages.length >= 2 ? '(' + data[i].Messages.length + ') ' : ' ') + data[i].Subject + '</a>' +
					'</td>';

				tr += '<td class="mail-date">' + moment(new Date(Date.parse(data[i].Date))).format('h:mm A  DD/MM/YY') + '</td>';

				tr+= "</tr>";

				$("#tbody-inbox").append(tr);
			}
		}

		$.fn.loadMessagesSent = function ()
		{
			Repository.queryApi(
				{
					url: "Message/Sent",
					method: "GET",
					success: function (data) {
						$.fn.conversations = data;
						$.fn.populateInbox(data);
						$("#div-email-view").show();
						$("#button-loader-conversations").show();
					}
				}, true, true);
		}

		$(document).on("click", "#tbody-inbox tr", function ()
		{
			$.fn.currentConversationIndex = $(this).attr("index-message");

			if ($.fn.getCurrentConversation() != null)
			{
				$.fn.populateAnswer($.fn.getCurrentConversation());

				Repository.queryApi(
					{
						url: "Message/Readed",
						method: "GET",
						data: { "conversation_id": $.fn.getCurrentConversation().Id }
					});
			}
		});

		$.fn.getCurrentConversation = function () {

			if ($.fn.conversations == null) return null;

			return $.fn.conversations[$.fn.currentConversationIndex];
		};


		$("#button-loader-conversations").click(function ()
		{
			var url = '';
			var count = 5;

			switch ($.fn.statusMode)
			{
				case "sent":
					url = "Message/LoadSent";
				break;

				case "view":
					url = "Message/LoadMessages";
				break;
			}

			Repository.queryApi(
				{
					url: url,
					method: "GET",
					data: { conversation_reference: $.fn.conversations[$.fn.conversations.length - 1].Id, count: count },
					success: function (data)
					{
						if (data.length == 0)
							$("#button-loader-conversations").hide();

						for (var i = 0; i < data.length; i++)
							$.fn.conversations.push(data[i]);

						$.fn.populateInbox($.fn.conversations);
						$("#div-email-view").show();
					}
				}, true, true);
		});
	});
</script>