﻿@model System.Int32?

@{
	Layout = "~/Views/Shared/HomeLayoutMessage.cshtml";
	var url_write = SecurityGuard.ConnectionHelper.URL_WEBAPI + "Message/Write";
	var initConversation = Model ?? 0;
}
<style>
    ul.navbar-right {
        display:none;
    }
    .navbar-header {
        background: #1565c0;
    }

    footer {
        display:none;
    }

    .navbar-header {
        height:65px;
    }
</style>


@Styles.Render("~/Css/DropZone")
@Scripts.Render("~/Js/DropZone")
@Scripts.Render("~/Js/FileSaver")
@Scripts.Render("~/Js/Moment")

<div class="page-title">
	<div class="row">

		<div class="col s7">
			<h1>Mensajería</h1>
			<span>Recepción y envío de mensajes.</span>
		</div>
	</div>
</div>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
	<a id="button-actionEmail" class="btn-floating btn-large red waves-effect waves-light">
		<i class="material-icons">add</i>
	</a>
</div>

<section>

	<div class="row mail-inbox">

		<div class="col s12 m3 l2">
			<div id="div-actionMenu" class="card-panel">
				<!-- Mail Sidebar -->
				<ul class="mail-sidebar">
					<li id="button-actionReceived" class="active">
						<a href="#"><i class="mdi-content-inbox"></i> Entrada</a>
					</li>
					<li id="button-actionSent">
						<a href="#"><i class="mdi-action-done"></i> Enviados</a>
					</li>
				</ul>
				<!-- /Mail Sidebar -->
			</div>
		</div>

		<!-- Envio de Emails -->
		<div class="col s12 m9 l10">
			<div id="div-email-write" class="card-panel" style="display:none;">


				<form id="form-email-write" method="post" enctype="multipart/form-data" action="@url_write" data-parsley-validate>


					<div class="input-field" style="margin-bottom:10px;">
						<label for="div-email-receivers">Para</label>
						<div id="div-email-receivers" class="chips chips-autocomplete" style="margin-bottom:5px;"></div>

						<div id="div-email-receivers-progress" class="progress" style="display:none;">
							<div class="indeterminate"></div>
						</div>

						<div style="margin-bottom:20px;"></div>
					</div>

					<div class="input-field">
						<input id="input-email-subject" type="text" class="validate" required>
						<label for="input-email-subject">Asunto</label>
					</div>

					<div class="input-field">
						<textarea id="textarea-email-content" class="materialize-textarea"></textarea>
						<label for="textarea-email-content">Contenido</label>
					</div>

					<div class="dropzone" id="myDropzone" style="border: 0.5px solid rgba(0,0,0,0.3); min-height:100px;"></div>
				</form>
			</div>
		</div>

		@{Html.RenderPartial("Inbox");}

		@{Html.RenderPartial("AnswerBox");}

	</div>
</section>

<script>

	$.fn.initConversation = "@initConversation";

	var statusActionEmail = 0;
	$.fn.statusMode = "view";

	Dropzone.autoDiscover = false;
	var dropZone = null;

	$(function () {

		$("#myDropzone").dropzone({
					dictDefaultMessage: "Suelta los archivos aquí o haz clic para cargarlos.",
			dictRemoveFile: "Eliminar",
			url: "/Message",
			autoProcessQueue: false,
			uploadMultiple: true,
			parallelUploads: 5,
			maxFiles: 10,
			maxFilesize: 2,
			//acceptedFiles: 'image/*',
			addRemoveLinks: true,
			init: function () {
						dropZone = this;
					}
				});

		$('.dz-progress').addClass('dz-complete');

		$("#button-actionEmail").click(function () {
					switch ($.fn.statusMode) {
				//Modo - Vista Correos
				case "view":
					RemoveAllActiveMenu();
					$.fn.setModeStatus("write");
					$(this).find("i").text("send");
						break;

				//Modo - Escribir Correo
				case "write":
					//Aquí se debe enviar la información
					write();
						break;
				//Modo - Responder Correo
				case "answer":
					$(this).hide();
						break;

				case "sent":
					RemoveAllActiveMenu();
					$.fn.setModeStatus("write");
					$(this).find("i").text("send");
						break;
					}
				});

		function write() {
					var data = new FormData(document.getElementById("form-email-write"));

					var toList = [];
					var toData = $("#div-email-receivers").material_chip('data');

					for (var i = 0; i < toData.length; i++)
						toList.push(toData[i].tag);

					var message =
						{
					To: toList,
					Subject: $("#input-email-subject").val(),
					Content: $("#textarea-email-content").val()
				};

				data.append("message", JSON.stringify(message));

			var files = dropZone.getAcceptedFiles();
			for (var i = 0; i < files.length; i++)
				data.append("file-" + i, files[i]);

			Repository.queryApi(
				{
					url: "Message/Write",
					method: "POST",
					data: data,
                    success: function (data) {
                        sendNotification(toList);
                        //window.location.href = '/Message';
				}
			}, true, true);
		}

		$("#button-actionReceived").click(function () {
			window.location.href = '/Message';
			//$.fn.setModeStatus("view");
			//RemoveAllActiveMenu();
			//$(this).addClass("active");
			//$("#button-actionEmail").find("i").text("add");
		});

		$("#button-actionSent").click(function () {
			$.fn.setModeStatus("sent");
			RemoveAllActiveMenu();
			$(this).addClass("active");
			$("#button-actionEmail").find("i").text("add");
		});

		function RemoveAllActiveMenu() {
			$("#div-actionMenu").find("li").each(function () { $(this).removeClass("active"); });
		}

		$.fn.setModeStatus = function (status) {
			$("#div-email-write").hide();
			$("#div-email-view").hide();
			$.fn.hideAnswerBox();

			switch (status) {
				//Modo - Vista Correos
				case "view":
					$("#div-email-view").show();
					$("#button-actionEmail").show();
					break;

				//Modo - Escribir Correo
				case "write":
					$("#div-email-write").show();
					break;

				//Modo - Responder Correo
				case "answer":
					$.fn.showAnswerBox();
					$("#button-actionEmail").hide();
					break;

				//Modo - Vista correos enviados
				case "sent":
					$("#div-email-view").show();
					$("#button-actionEmail").show();
					$.fn.loadMessagesSent();
					break;
			}

			$.fn.statusMode = status;

		}

		$("#div-email-receivers").material_chip_async(
			{
			minLength: 2,
				delay: 2000,
				url: "Message/GetListReceiver",
				starting: function () {
					$("#div-email-receivers-progress").show();
			},
				completed: function () {
					$("#div-email-receivers-progress").hide();
			},
				cancelled: function () {
					$("#div-email-receivers-progress").hide();
			}
		});
    });

    function sendNotification(users) {
        for (var user of users) {
                var userName = user.split(" ").slice(0, 1).join();
                Repository.queryApi(
                    {
                        url: "LogFirebase/sendNotification?message=Tienes un nuevo mensaje&userName=" + userName,
                        method: "POST",
                        success: function (data) {
                            console.log("notif enviada!! -->" + userName);
                        }
                    }, true, true);
        }
        setTimeout(function () {
            window.location.href = '/Message';
        }, 500)
    }
</script>