﻿@model Model.Course

<div class="row bg-title">
	<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
		<h4 class="page-title">Curso</h4>
	</div>
	<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
		<ol class="breadcrumb">
			<li><a href="@Url.Action("Index", "Course")">Curso</a></li>
			<li class="active">Edición</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-sm-3"></div>

	<div class="col-sm-6">
		<div class="white-box">
			@{Html.RenderPartial("Form");}
		</div>
	</div>

	<div class="col-sm-3"></div>
</div>