﻿@model Model.Course

@{
	var course = Model ?? new Model.Course() { Name = "" };
	var action = Model == null ? "Agregar" : "Actualizar";
	var methodAjax = Model == null ? "POST" : "PUT";
}

<form id="CourseForm" data-parsley-validate>
	<div class="row">

		<div class="col-sm-12">

			<div class="form-group">

				<label class="col-sm-12">Nombre del curso</label>
				<div class="col-sm-12">
					<input id="input-name" id-value="0" class="form-control" type="text" name="Name" value="@course.Name" required>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<button id="buttonSubmit" class="btn float-right @StyleConfig.ButtonStyle_Accept">@action</button>
				</div>
			</div>

		</div>
	</div>
</form>

<script>

	$(function ()
	{
		//******************* Envío de información Formulario Agregar/Actualizar *******************//
		$("#CourseForm").parsley().on('form:submit', function () {
			var name = $("#CourseForm").find('input[name="Name"]').val();

			data = { Name: name, Id: "@course.Id" };

			Repository.queryApi(
				{
					url: "Course",
					method: "@methodAjax",
					data: data,
					success: function (data)
					{
						window.location.href = "/Course";
					}
				}, true, true);

			return false;
		});
	});
</script>