﻿@model Component.Panel.GenericPanel

@{Html.RenderPartial("GenericPanel", Model);}

<div id="div-modal-delete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			</div>
			<div class="modal-body">
				<h5>¿Seguro que desea eliminarlo?</h5>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancelar</button>
				<button id="button-delete" id-value="0" type="button" class="btn btn-danger waves-effect">Eliminar</button>
			</div>
		</div>
	</div>
</div>

<script>

	$(document).ready(function () {
		EventDispatcher.on(GenericSystemButton.buttonEvent, function (obj) {
			switch (obj.componentCode) {
				//******************************** Agregar ********************************//
				case "addButton":
					window.location.href = "Course/Add";
					break;

				//******************************** Editar ********************************//
				case "editButton":
					window.location.href = "Course/Edit/" + obj.idValue;
					break;

				//******************************** Eliminar ********************************//
				case "deleteButton":
					$("#button-delete").attr("id-value", obj.idValue);
					$('#div-modal-delete').modal('show');
					break;
			}

		});

		//******************* Envío de información Formulario Eliminar *******************//
		$("#button-delete").click(function () {

			var course_id = $(this).attr("id-value");

			Repository.queryApi(
				{
					url: "Course",
					method: "DELETE",
					data: { id: course_id },
					success: function (data) {
						refreshTable();
						$('#div-modal-delete').modal('hide');
					}
				}, true, true);

		});

		//******************* Actualizar el contenido de la tabla cuando (Creamos/Actualizamos/Eliminamos) *******************//
		function refreshTable() {
			Repository.query(
				{
					url: "Course",
					dataConvert: "Table",
					dataTypeResult: "Course",
					success: function (data)
					{
						GenericSystemTable.populateTable(@Model.groupCode, data);
					}
				});
		}
	});
</script>
