﻿@model Model.User

@{
	Layout = "../Shared/_LoginLayout.cshtml";
	var user = Model ?? new Model.User() { UserName = "", PasswordHash = "" };
}



<style>

	/*::-webkit-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		color: white!important;
		opacity: 1; /* Firefox */
	}

	:-ms-input-placeholder { /* Internet Explorer 10-11 */
		color: white;
	}

	::-ms-input-placeholder { /* Microsoft Edge */
		color: white;
	}
    */


</style>


<div class="preloader">
	<div class="cssload-speeding-wheel"></div>
</div>

<section id="wrapper" style="height: 100vh;background: rgba(0,74,124,1);
background: -moz-linear-gradient(top, rgba(0,74,124,1) 0%, rgba(0,74,124,1) 72%, rgba(0,20,33,1) 100%) !important;
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,74,124,1)), color-stop(72%, rgba(0,74,124,1)), color-stop(100%, rgba(0,20,33,1)));
background: -webkit-linear-gradient(top, rgba(0,74,124,1) 0%, rgba(0,74,124,1) 72%, rgba(0,20,33,1) 100%);
background: -o-linear-gradient(top, rgba(0,74,124,1) 0%, rgba(0,74,124,1) 72%, rgba(0,20,33,1) 100%);
background: linear-gradient(to bottom, rgba(0,74,124,1) 0%, rgba(0,74,124,1) 72%, rgba(0,20,33,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004a7c', endColorstr='#001421', GradientType=0 );">

	<div class="login-box" style="background-color:rgba(0, 0, 0, 0);">
		<div class="white-box" style="background-color:rgba(255, 255, 255, 0.9)">

			<div class="form-group ">
				<div class="col-xs-12">
					<img src="~/Content/Images/Evaluandome_Logo.png" style="height:148px;">
				</div>
			</div>


			<form class="form-horizontal form-material" id="loginform" method="post" action="/">
				<h3 class="box-title m-b-20">Cuenta de usuario</h3>
				<div class="form-group ">
					<div class="col-xs-12">
						<input name="UserName" class="form-control" type="text" required="" value="@user.UserName" placeholder="Nombre de usuario" >
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-12">
						<input name="PasswordHash" class="form-control" type="password" required="" value="@user.PasswordHash" placeholder="Contraseña">
					</div>
				</div>

				@*<div class="form-group">
				<div class="col-md-12">
					<a href="javascript:void(0)" id="to-recover" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i> ¿Olvidaste la contraseña?</a>
				</div>
			</div>*@

				<div class="form-group text-center m-t-20">
					<div class="col-xs-12" style="text-align:center">
						<button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Iniciar sesión</button>
					</div>
				</div>
			</form>

			<form class="form-horizontal" id="recoverform" action="#">
				<div class="form-group ">
					<div class="col-xs-12">
						<h3>Recuperar contraseña</h3>
						<p class="text-muted">Ingresa tu correo electrónico y te enviaremos las instrucciones.</p>
					</div>
				</div>
				<div class="form-group ">
					<div class="col-xs-12">
						<input class="form-control" type="text" required="" placeholder="Correo electrónico">
					</div>
				</div>
				<div class="form-group text-center m-t-20">
					<div class="col-xs-12">
						<button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Enviar</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>

<script>
	$(function ()
	{
		@*@if ((user.UserName!=null) && (user.PasswordHash!=null))
		{
			@:setTimeout(function () { Toast.error("Datos incorrectos."); }, 500);
		}*@
	});
</script>