﻿@Styles.Render("~/Css/Auto-Complete")
@Scripts.Render("~/Js/Auto-Complete")
@Styles.Render("~/Theme/Css/Style")
@Styles.Render("~/Materialize/css")
@Styles.Render("~/Others/css")


@model Component.Select.ManagerSelect
<style>
    .navbar-header {
        background: #1565c0;
    }
    .stats-card.large .count {
        font-size: 3rem;
        line-height: 3rem;
    }
    .stats-card.large > i {
        font-size: 8rem;
        bottom: -1.3rem;
    }
    .stats-card.large .name {
        font-size: 1.2rem;
        line-height: 1.2rem;
    }
    #img-avatar-establishment {
        padding-top: 8px;
        padding-bottom: 0px !important;
    }
</style>
<div class="row bg-title right" style="display:none">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 float-md-right ">
        <h4 class="page-title">Actual configuración</h4>
        @SecurityGuard.Authentication.currentAccess.Role<br />
        @SecurityGuard.Authentication.currentAccess.educationalEstablishment.Name<br />
        @SecurityGuard.Authentication.currentAccess.year
    </div>

</div>


@{ var currentYear = DateTime.Now.Year; }
<div class="row" style="margin-top:3vh;">
    <div class="col-sm-6">
        <div class="card-panel" style="height: 70vh">
            <h5 style="text-align:center;">
                Selecciona Establecimiento
            </h5>
            <div class="col-sm-12">
                <label id="input-autocomplete-label">Establecimiento: (Sin selección)</label>
                <input id="autocomplete-input" class="form-control" autofocus="" type="text" name="q" placeholder="Ingrese nombre del establecimiento">
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-sm-12">Seleccione un rol</label>
                    <select id="mode-2-role" class="col-sm-12 custom-select" disabled>
                        <option value="" selected disabled>Seleccione un rol</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-sm-12">Seleccione un año</label>
                    <select id="mode-2-select" class="col-sm-12 custom-select">
                        @for (var i = currentYear - 2; i < currentYear + 2; i++)
                        {
                            if (i == currentYear)
                            {
                                @:
                                <option value="@i" selected>@i</option>
                            }
                            else
                            {
                                @:
                                <option value="@i">@i</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <button id="change-login-button-2" class="btn float-right @StyleConfig.ButtonStyle_Accept">Ingresar</button>
                </div>
            </div>

        </div>
    </div>
    <div class="col-sm-6">

        <div class="card-panel" style="height: 70vh">

            <h5 style="text-align:center">Datos del Establecimiento</h5>
            <div class="col s6">
                <div class="card-panel stats-card large blue blue-text text-lighten-5">
                    <i id="icon_1" class=""></i>
                    <span id="card_1" class="count">0</span>
                    <div id="name_1" class="name"></div>
                </div>
            </div>
            <div class="col s6">
                <div class="card-panel stats-card large amber lighten-2 amber-text text-lighten-5">
                    <i id="icon_2" class=""></i>
                    <span id="card_2" class="count">0</span>
                    <div id="name_2" class="name"></div>
                </div>
            </div>
            <div class="col s6">
                <div class="card-panel stats-card large white red-text text-lighten-2">
                    <i id="icon_3" class=""></i>
                    <span id="card_3" class="count">0</span>
                    <div id="name_3" class="name"></div>
                </div>
            </div>
            <div class="col s6">
                <div class="card-panel stats-card large teal lighten-2 amber-text text-lighten-5">
                    <i id="icon_4" class=""></i>
                    <span id="card_4" class="count">0</span>
                    <div id="name_4" class="name"></div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="col-sm-12">
    <div class="form-group col-sm-4">
    </div>
</div>
<script>
    Repository.queryApi(
        {
            url: "student/studentForEducationalEstablishment/count",
            method: "GET",
            data: {},
            success: function (data) {

                $('#name_1').text('Estudiantes');
                $("#icon_1").attr('class', 'fa fa-graduation-cap');
                effectInterval('#card_1', data)
            },
            error: function (error, errorHtml) {
            }
        });

    Repository.queryApi(
        {
            url: "test/testForEducationalEstablishment/count",
            method: "GET",
            data: {},
            success: function (data) {

                $('#name_2').text('Tests');
                $("#icon_2").attr('class', 'fa fa-file');
                effectInterval('#card_2', data)
            },
            error: function (error, errorHtml) {
            }
        });


    Repository.queryApi(
        {
            url: "teacher/teacherForEducationalEstablishment/count",
            method: "GET",
            data: {},
            success: function (data) {

                $('#name_3').text('Profesores');
                $("#icon_3").attr('class', 'fa fa-users');
                effectInterval('#card_3', data)
            },
            error: function (error, errorHtml) {
            }
        });

    Repository.queryApi(
        {
            url: "course/courseForEducationalEstablishment/count",
            method: "GET",
            data: {},
            success: function (data) {

                $('#name_4').text('Cursos');
                $("#icon_4").attr('class', 'fa fa-copyright');
                effectInterval('#card_4', data)
            },
            error: function (error, errorHtml) {
            }
        });




    var effectInterval = function (classData, data) {
        var t = 0;
        var interval =
            setInterval(function () {
                $(classData).text(t);
                t += 1;

                if (t > data)
                    clearInterval(interval);
            }, 50);
    }
</script>

<script>
	$(function ()
	{
		$("#change-login-button-1").click(function ()
		{
			var year = $("#mode-1-select").val();
			var educationalestablishment_id = GenericSystemSelect.getSelect("EducationalEstablishment",@Model.groupCode).val();
			var role = GenericSystemSelect.getSelect("Role",@Model.groupCode).find(":selected").text();
			var _role = GenericSystemSelect.getSelect("Role",@Model.groupCode).val();

			if (year == null || year == "" || educationalestablishment_id == null || educationalestablishment_id == "" || _role == null || _role == "")
			{
				Toast.error("Aún faltan campos por completar antes de enviar.");
				return;
			}

			Repository.queryApi(
				{
					urlServerTemporal: "/Login/ReLogin",
                    method: "GET",
					data: { educationalestablishment_id: educationalestablishment_id, role: role, year: year },
					success: function (data)
					{
						location.reload();
					},
					error: function (error, errorHtml)
					{
						location.reload();
					}
				});
		});

		var educationalestablishmentList = [];

		Repository.queryApi(
			{
				url: "EducationalEstablishment/GetEducationalEstablishmentsFilteredByUser",
				method: "GET",
				success: function (data)
				{
					var array = [];

					for (var i = 0; i < data.length; i++)
					{
						array.push("[" + data[i].Id + "] " + data[i].Name);
						educationalestablishmentList["[" + data[i].Id + "] " + data[i].Name] = data[i].Id;
					}

					var input_2 = new autoComplete({
						selector: '#autocomplete-input',
						minChars: 1,
						source: function (term, suggest) {
							term = term.toLowerCase();
							var choices = array;
							var suggestions = [];
							for (i = 0; i < choices.length; i++)
								if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
							suggest(suggestions);
						},
						onSelect: function (e, term, item)
						{
							var val = term;
							$("#mode-2-role").prop("disabled", true);
							$("#mode-2-role").find('option:first').prop('selected', 'selected');

							$("#input-autocomplete-label").text("Establecimiento: " + val);
							var id = educationalestablishmentList[val];
							$("#input-autocomplete-label").attr("model-id", id);

							Repository.query(
								{
									url: "Role/GetRolesByEducationalEstablishmentFilteredByUser",
									method: "GET",
									dataConvert: "Select",
									dataTypeResult: "Role",
									data: { educationalestablishment_id : id },
									success: function (data)
									{
										var select = $("#mode-2-role");
										GenericSystemSelect.populateDropdown(select, data);
										select.prop('disabled', false);
									}
								});
						}
					});
				}
			});

		$("#change-login-button-2").click(function ()
		{
			var year = $("#mode-2-select").val();
			var educationalestablishment_id = $("#input-autocomplete-label").attr("model-id");
			var role = $("#mode-2-role").find(":selected").text();
			var _role = $("#mode-2-role").val();

			if (year == null || year == "" || educationalestablishment_id == null || educationalestablishment_id == "" || _role == null || _role == "")
			{
				Toast.error("Aún faltan campos por completar antes de enviar.");
				return;
			}

			Repository.queryApi(
				{
					urlServerTemporal: "/Login/ReLogin",
                    method: "GET",
					data: { educationalestablishment_id: educationalestablishment_id, role: role, year: year },
					success: function (data)
					{
						location.reload();
					},
					error: function (error, errorHtml)
					{
						location.reload();
					}
				});
		});


	});
</script>


