﻿@model System.Object[]

@{
	var subject = (Model[0] ?? new Model.Subject() { Name = "", CourseSubjects = new List<Model.CourseSubject>() }) as Model.Subject;
	var courses = Model[1] as List<Model.Course>;

	var action = subject.Id == 0 ? "Agregar" : "Actualizar";
	var methodAjax = subject.Id == 0 ? "POST" : "PUT";
}

<form id="SubjectForm" data-parsley-validate>

	<div class="row">
		<div class="col-sm-12">

			<div class="form-group">
				<label class="col-sm-12">Nombre asignatura</label>
				<div class="col-sm-12">
					<input id="input-name" id-value="0" class="form-control" type="text" name="Name" value="@subject.Name" required>
				</div>
			</div>

			<div class="form-group" style="display:none;">
				<label class="col-sm-12">Tipo de calificación</label>
				<div class="col-sm-12">
					<select id="select-typeQualification" class="custom-select col-12" required>

						<option value="" disabled>Seleccione tipo de calificación</option>

						@foreach (int item in System.Enum.GetValues(typeof(Enums.TypeQualification)))
						{
							switch (@System.Enum.GetName(typeof(Enums.TypeQualification), item))
							{
								case "Letter":
									@:<option value="@item">Letra</option>
								break;

								case "Number":
									@:<option value="@item" selected>Número</option>
								break;

								default:
									@:<option value="@item">@System.Enum.GetName(typeof(Enums.TypeQualification), item)</option>
								break;
							}

						}
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-12">Cursos asignados:</label>				
				<div id="Courses" class="col-sm-4"></div>
			</div>


			<div class="row">
				<div class="col-sm-12">
					<button id="buttonSubmit" class="btn float-right @StyleConfig.ButtonStyle_Accept">@action</button>
				</div>
			</div>

		</div>
	</div>
</form>

<script>

	$(function () {
		var courses = @Html.Raw(Json.Encode(@courses));
		populateCourses(@Html.Raw(Json.Encode(subject.CourseSubjects)));

		@if (subject.Id != 0)
		{
			@:$("#select-typeQualification").val('@((int)subject.TypeQualification)');
		}


		//******************* Envío de información Formulario Agregar/Actualizar *******************//
		$("#SubjectForm").parsley().on('form:submit', function () {
			var name = $("#SubjectForm").find('input[name="Name"]').val();

			var checkeds = [];
			$('#Courses input:checked').each(function () {
				checkeds.push({ Course_Id: $(this).attr('value') });
			});

			data =
				{
					Id: "@subject.Id",
					Name: name,
					TypeQualification: $("#select-typeQualification").val(),
					CourseSubjects: checkeds,
					SubSubjects: []
				};

			Repository.queryApi(
				{
				url: "Subject",
					method: "@methodAjax",
					data: data,
					success: function (data) {
					window.location.href = "/Subject";
				}
			}, true, true);

			return false;
		});

		//******************* Creación y carga de permisos dentro del formulario (Agregar/Editar) *******************//
		function populateCourses(courseSubjects = null) {
			var pContent = $("#Courses");
			var structure = "";

			if (courses != null)
				for (var i = 0; i < courses.length; i++) {
					structure += '<div class="form-check">' +
						'<label class="custom-control custom-checkbox">';

					var checked = findCourse(courseSubjects, courses[i].Id) ? "checked" : "";
					structure += '<input name="course[]" id="course_' + courses[i].Id + '" type="checkbox" class="custom-control-input" value="' + courses[i].Id + '" ' + checked + ((i == 0) ? ' data-parsley-mincheck="1" required data-parsley-required-message="Seleccione al menos un curso"' : '') + ' />';
					structure += '<span class="custom-control-indicator"></span>' +
						'<span class="custom-control-description" for="course_' + courses[i].Id + '">' + courses[i].Name + '</span>' +
						'</label>' +
						'</div>';
				}

			pContent.html('');
			pContent.append(structure);
		}

		function findCourse(courseSubjects, id) {
			if (courses != null && courseSubjects != null)
				for (var i = 0; i < courseSubjects.length; i++)
					if (courseSubjects[i].Course_Id == id)
						return true;
			return false;
		}

	});
</script>