﻿@model System.Object[]

@{
	var topic = (Model[1] ?? new Model.Topic() { Title = "", Description = "" }) as Model.Topic;
	var forum_id = (int)Model[0];

	var action = topic.Id == 0 ? "Agregar" : "Actualizar";
	var methodAjax = topic.Id == 0 ? "POST" : "PUT";
	var url = SecurityGuard.ConnectionHelper.URL_WEBAPI + "Topic";
}

@Styles.Render("~/Css/Summernote")
@Scripts.Render("~/Js/Summernote")
@Styles.Render("~/Css/DropZone")
@Scripts.Render("~/Js/DropZone")
@Scripts.Render("~/Js/FileSaver")
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css" rel="stylesheet">
<style>
	.dz-progress {
		display: none;
	}
</style>

<form id="TopicForm" method="post" enctype="multipart/form-data" action="@url" data-parsley-validate>

	<div class="row">
		<div class="col-sm-12">

			<div class="row">

				<div class="form-group col-sm-8">
					<label class="col-sm-12">Título</label>
					<div class="col-sm-12">
						<input id="input-name" id-value="0" class="form-control" type="text" name="Name" value="@topic.Title" required>
					</div>
				</div>

				<div class="form-group col-sm-4">
					<label class="col-sm-12 custom-control custom-checkbox" style="margin-top:32px;">
						<input name="AllowPosting" type="checkbox" class="custom-control-input" 
							@if(topic.AllowPosting)
							{
								@:checked
							}
						>
						<span class="custom-control-indicator"></span>
						<span class="custom-control-description">Permitir comentarios</span>
					</label>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-12">Descripción</label>
				<div class="col-sm-12">
					<textarea id="textarea-description" name="editordata"></textarea>
				</div>
			</div>


			<div class="form-group">
				<div class="dropzone" id="myDropzone" style="border: 0.5px solid rgba(0,0,0,0.3); min-height:100px;"></div>
			</div>

			<div id="div-form-file-checkboxes" class="form-group row"></div>

			<div class="row">
				<div class="col-sm-12">
					<button type="button" class="btn float-right @StyleConfig.ButtonStyle_Cancel" style="margin-left:5px;" onclick="window.location.href = '/Forum/@forum_id';">Cancelar</button>
					<button id="buttonSubmit" class="btn float-right @StyleConfig.ButtonStyle_Accept">@action</button>
				</div>
			</div>
		</div>
	</div>
</form>

<script>

	Dropzone.autoDiscover = false;

	$(function () {
		var DropZone;

		$("#myDropzone").dropzone({
			dictDefaultMessage: "Suelta los archivos aquí o haz clic para cargarlos.",
			dictRemoveFile: "Eliminar",
			url: "/Topic",
			autoProcessQueue: false,
			uploadMultiple: true,
			parallelUploads: 5,
			maxFiles: 5,
			maxFilesize: 5,
			addRemoveLinks: true,
			init: function () {
				dropZone = this;
			}
		});

		$('#textarea-description').summernote({ height: 300, lang: 'es-ES' });

		@if (topic.Id != 0)
		{
			@:$('#textarea-description').summernote('code', '@Html.Raw(topic.Description)');
			@:generateCheckboxes(@Html.Raw(Json.Encode(topic)));
		}

		//******************* Envío de información Formulario Agregar/Actualizar *******************//
		$("#TopicForm").parsley().on('form:submit', function () {

			var data = new FormData(document.getElementById("TopicForm"));
			var topicFiles = [];

			$("#div-form-file-checkboxes :input").each(function () {
				try {
					topicFiles.push({ Id: $(this).attr('id-model'), Status: $(this).is(':checked') });
				} catch (ex) { }
			});

			data.append("Topic", JSON.stringify(
				{
					Id: "@topic.Id",
					Title: $("#TopicForm").find('input[name="Name"]').val(),
					AllowPosting: $("#TopicForm").find('input[name="AllowPosting"]').is(':checked'),
					//Pasando a stringbase64 - Por el sistema se serialización no permite que exista contenido HTML desde el WebApi
					//por lo tanto para engañarlo lo pasamos a base64 y desde el servidor lo volvemos al original.
					//Esto solamente se debe hacer cuando de trabaja con FormData.
					Description: window.btoa(unescape(encodeURIComponent($('#textarea-description').summernote('code')))),
					Forum: { Id: "@forum_id" },
					TopicFiles: topicFiles
				}));

			var files = dropZone.getAcceptedFiles();
			for (var i = 0; i < files.length; i++)
				data.append("file-" + i, files[i]);

			Repository.queryApi(
				{
					url: "Topic",
					method: "@methodAjax",
					data: data,
					success: function (data) {
						window.location.href = "/Forum/@forum_id";
					}
				}, true, true);

			return false;
		});

		function generateCheckboxes(content) {
			var structure = '<div class="col-md-12">' +
				'<label for="recipient-name" class="control-label"> Adjuntos:</label>' +
				'</div >';

			for (var i = 0; i < content.TopicFiles.length; i++) {

				var documentName = content.TopicFiles[i].DocumentName;

				if (documentName.length > 20)
					documentName = documentName.substr(0, 19) + "...";

				structure += '<div class="col-md-4">' +
					'<div class="form-check">' +
					'<label class="custom-control custom-checkbox">' +
					'<input type="checkbox" class="custom-control-input content-file-checkboxes" id-model="' + content.TopicFiles[i].Id + '" checked>' +
					'<span class="custom-control-indicator"></span>' +
					'<span class="custom-control-description">' + documentName + '</span>' +
					'</label>' +
					'</div>' +
					'</div>';
			}

			if (content.TopicFiles.length != 0) {
				$("#div-form-file-checkboxes").html(structure);
				$("#div-form-file-checkboxes").show();
			}
			else
				$("#div-form-file-checkboxes").hide();
		}
	});
</script>