﻿@model System.Object[]

@{

	var genericPanel = Model[0] as Component.Panel.GenericPanel;
	var forum_id = (int)Model[1];
	var forum = Model[2] as Model.Forum;

}

@{Html.RenderPartial("GenericPanel", genericPanel);}

<div id="div-modal-delete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			</div>
			<div class="modal-body">
				<h5>¿Seguro que desea eliminarlo?</h5>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancelar</button>
				<button id="button-delete" id-value="0" type="button" class="btn btn-danger waves-effect">Eliminar</button>
			</div>
		</div>
	</div>
</div>

<script>

	$(document).ready(function ()
	{
		$("#div-genericpanel-order-1").show();
		var whiteBox = $("#div-genericpanel-order-1").find(".white-box");
		whiteBox.html('<h4 class="page-title m-t-0" style="text-align:center;">@forum.Title</h4><hr>@Html.Raw(forum.Description)');

		EventDispatcher.on(GenericSystemButton.buttonEvent, function (obj) {
			switch (obj.componentCode)
			{
				case "topicButton":
					window.location.href = '/Forum/@forum_id/Topic/' + obj.idValue + '/View';
					break;

				//******************************** Agregar ********************************//
				case "addButton":
					window.location.href = '/Forum/@forum_id/Topic/Add';
					break;

				//******************************** Editar ********************************//
				case "editButton":
					window.location.href = '/Forum/@forum_id/Topic/Edit/' + obj.idValue;
					break;

				//******************************** Eliminar ********************************//
				case "deleteButton":
					$("#button-delete").attr("id-value", obj.idValue);
					$('#div-modal-delete').modal('show');
				break;
			}
		});

		//******************* Envío de información Formulario Eliminar *******************//
		$("#button-delete").click(function () {

			var topic_id = $(this).attr("id-value");

			Repository.queryApi(
				{
					url: "Topic",
					method: "DELETE",
					data: { id: topic_id },
					success: function (data) {
						refreshTable();
						$('#div-modal-delete').modal('hide');
					}
				}, true, true);

		});



		//******************* Actualizar el contenido de la tabla cuando (Creamos/Actualizamos/Eliminamos) *******************//
		function refreshTable() {
			//window.location.href=window.location.href;
		}
	});
</script>
