﻿@model System.Object[]

@{
	var url = SecurityGuard.ConnectionHelper.URL_WEBAPI + "Post";
	var forum_id = (int)Model[0];
	var topic_id = (int)Model[1];
	var students = Model[2] as List<Model.User>;
}

@Styles.Render("~/Css/Auto-Complete")
@Scripts.Render("~/Js/Auto-Complete")
<style>
	.dz-progress {
		display: none;
	}
</style>

<form id="PostForm" method="post" enctype="multipart/form-data" action="@url" data-parsley-validate>

	<div class="row">
		<div class="col-sm-12">

			<div class="row form-group">
				<label class="col-sm-9">Respuesta:</label>

				@if (SecurityGuard.Authentication.currentAccess.Role == "Alumno")
				{
					<a id="a-associate-students" href="#" class="col-sm-3" style="text-align:right;" onclick="$.fn.OpenModal_AssociateStudent();">Compañeros asociados(0)</a>
				}

				<div class="col-sm-12">
					<textarea id="textarea-description" name="editordata" required></textarea>
				</div>
			</div>

			<div class="form-group">
				<div class="dropzone" id="myDropzone" style="border: 0.5px solid rgba(0,0,0,0.3); min-height:100px;"></div>
			</div>

			<div id="div-form-file-checkboxes" class="form-group row"></div>

			<div class="row">
				<div class="col-sm-12">
					<button id="buttonSubmit" class="btn float-right @StyleConfig.ButtonStyle_Accept">Enviar</button>
				</div>
			</div>
		</div>
	</div>
</form>

<div id="div-modal-associate-student" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
	<div style="max-width: 600px; margin: 30px auto;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">Asociar</h4>
			</div>
			<form>
				<div class="modal-body">

					<div class="form-group">
						<label for="recipient-name" class="control-label">Buscador:</label>
						<input id="autocomplete-input" type="text" name="User" class="form-control" placeholder="Buscar por R.U.N o nombre">
					</div>

					<div id="div-list-associate-students" class="form-group">
						<label class="col-sm-12">Alumnos asociados:</label>
						<span class="col-sm-12">Sin registro</span>
						<ol></ol>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" id="button-associate-student" data-dismiss="modal" class="btn btn-info waves-effect waves-light">Aceptar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script>

	Dropzone.autoDiscover = false;

	$(function () {
		var DropZone;

		$("#myDropzone").dropzone({
			dictDefaultMessage: "Suelta los archivos aquí o haz clic para cargarlos.",
			dictRemoveFile: "Eliminar",
			url: "/Post",
			autoProcessQueue: false,
			uploadMultiple: true,
			parallelUploads: 5,
			maxFiles: 5,
			maxFilesize: 5,
			addRemoveLinks: true,
			init: function () {
				dropZone = this;
			}
		});

		
		

		//******************* Envío de información Formulario Agregar/Actualizar *******************//
		$("#PostForm").parsley().on('form:submit', function () {

			var data = new FormData(document.getElementById("PostForm"));
			var postFiles = [];
			var postQualifications = [];

			$("#div-form-file-checkboxes :input").each(function () {
				try {
					postFiles.push({ Id: $(this).attr('id-model'), Status: $(this).is(':checked') });
				} catch (ex) { }
			});

			$("#div-list-associate-students").find("li").each(function (index, item) {
				postQualifications.push({ User: { Id: $(this).attr("model-id") } });
			});

			data.append("Post", JSON.stringify(
				{
					Id: 0,
					//Pasando a stringbase64 - Por el sistema se serialización no permite que exista contenido HTML desde el WebApi
					//por lo tanto para engañarlo lo pasamos a base64 y desde el servidor lo volvemos al original.
					//Esto solamente se debe hacer cuando se trabaja con FormData.
					Text: window.btoa(unescape(encodeURIComponent($('#textarea-description').summernote('code')))),
					Topic: { Id: "@topic_id" },
					PostFiles: postFiles,
					PostQualifications: postQualifications
				}));




			var files = dropZone.getAcceptedFiles();
			for (var i = 0; i < files.length; i++)
				data.append("file-" + i, files[i]);

			Repository.queryApi(
				{
					url: "Post",
					method: "Post",
					data: data,
					success: function (data) {
						
					}
				}, true, true, true);

			return false;
		});


		$.fn.OpenModal_AssociateStudent = function ()
		{
			event.preventDefault();
			$("#div-modal-associate-student").modal("show");
		}

		/************************************** Lista de alumnos ***************************************/

		var students = @Html.Raw(Json.Encode(students));
		var _students = [];

		var array = [];

		for (var i = 0; i < students.length; i++) {
			array.push("[" + students[i].UserName + "] " + students[i].Name + " " + students[i].FatherLastName);
			_students[array[i]] = students[i];
		}

		var input_2 = new autoComplete({
			selector: '#autocomplete-input',
			minChars: 1,
			source: function (term, suggest) {
				term = term.toLowerCase();
				var choices = array;
				var suggestions = [];
				for (i = 0; i < choices.length; i++)
					if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
				suggest(suggestions);
			},
			onSelect: function (e, term, item)
			{			
				$.fn.AddAssociate_Student(_students[term]);
				$("#autocomplete-input").val("");
			}
		});

		$.fn.AddAssociate_Student = function(user)
		{
			var isContain = false;
			$("#div-list-associate-students").find("li").each(function (index, item) {
				if (user.Id == $(this).attr("model-id")) { isContain = true; return false; }
			});

			if (isContain) return;

			var structure = '<li model-id=' + user.Id + ' ><div class="row">';

			structure += '<div class="col-md-10">' +
							'[' + $.formatRut(user.UserName) + '] ' + user.Name + ' ' + user.FatherLastName +
						'</div>';

			structure += '<div class="col-md-2">' +
				'<button type="button" class="btn btn-default remove-question" style="float:right; margin-top:-7px; background:transparent; border:transparent;">' +
				'<i class="fa fa-trash" style="font-size:17px;"></i>' +
				'</button>'+
						'</div>';

			structure += "</div></li>";

			$("#div-list-associate-students").find("span").hide();
			$("#div-list-associate-students").find("ol").append(structure);
		}

		$('#div-modal-associate-student').on('hidden.bs.modal', function () {
			var count = 0;
			$("#div-list-associate-students").find("li").each(function (index, item) {
				count++;
			});

			$("#a-associate-students").html('Compañeros asociados(' + count + ')');
		});

	});	

	$(document).on('click', '.remove-question', function () {
		$(this).closest('li').remove();
	});
</script>