﻿@model System.Object[]

@{
    var forum_id = (int)Model[0];
    var topic = Model[1] as Model.Topic;
    var students = Model[2] as List<Model.User>;
}

@Styles.Render("~/Css/Summernote")
@Scripts.Render("~/Js/Summernote")
@Styles.Render("~/Css/DropZone")
@Scripts.Render("~/Js/DropZone")
@Scripts.Render("~/Js/FileSaver")
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css" rel="stylesheet">
<div class="row bg-title">
	<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
		<h4 class="page-title">Entrada</h4>
	</div>
	<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
		<ol class="breadcrumb">
			<li><a href="@(Url.Action("Index", "Forum"))/@(forum_id)">Tema</a></li>
			<li class="active">Entrada</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-sm-1"></div>

	<div class="col-sm-10">
		<div class="row white-box">
			<div class="col-sm-12 mail_listing" style="min-height:0px; border-left: 2px solid #01c0c8;">
				<div class="media m-b-30 p-t-20">
					<h4 class="font-bold m-t-0">@topic.Title</h4>
					<hr>

					@{
						string avatarUser = null;
						var paddingTop = 0;
						var paddingTopUser = 0;

						if (topic.Author.ImagePath != null || topic.Author.ImagePath != "")
						{

							avatarUser = GeneralHelper.FileHelper.GetImageBase64(GeneralHelper.PathHelper.RootPath + topic.Author.ImagePath);

							if (avatarUser != "")
							{
								paddingTop = 6;
							}

						}
					}


					@if (avatarUser != "")
					{
						<a class="pull-left" href="#"> <img class="media-object thumb-sm img-circle" src="@avatarUser" alt="@topic.Author.Name"> </a>
					}
					else
					{
						<i class="ti-user bg-megna pull-left" style="font-size: 20px; margin-right:10px;"></i>
					}
					<div class="media-body">
						<span class="media-meta pull-right" style="padding-top:@(paddingTop)px;">@topic.CreatedAt.ToString("hh:mm tt dd/MM/yy", System.Globalization.CultureInfo.InvariantCulture)</span>
						<h4 class="text-danger m-0" style="padding-top:@(paddingTop)px;">@topic.Author.Name @topic.Author.FatherLastName</h4>
					</div>
				</div>

				@Html.Raw(topic.Description)


				@if (topic.TopicFiles.Count != 0)
				{

					<h4> <i class="fa fa-paperclip m-r-10 m-b-10"></i> Adjuntos <span>(@topic.TopicFiles.Count)</span> </h4>
					<div class="row">
						@foreach (var topicFile in topic.TopicFiles)
						{
							<div class="col-sm-4 m-b-10">

								@{
									var documentName = topicFile.DocumentName;

									if (documentName.Length > 30)
									{
										documentName = documentName.Substring(0, 27) + "...";
									}
								}
								<a href="#" onclick="var data = { 'topicfile_id': @topicFile.Id }; $.fn.File_Download('TopicFile/Download', data,'@topicFile.DocumentName','@topicFile.DocumentType')">@documentName</a>
							</div>
						}
					</div>
				}
			</div>

			@foreach (var post in topic.Posts)
			{
				<div class="col-sm-12 mail_listing" style="min-height:0px; margin-top:30px; border-left: 2px solid #01c0c8;">
					<div class="media m-b-30 p-t-20">

						@{
							paddingTop = -18;
							paddingTopUser = 0;

							if (post.Author.ImagePath != null || post.Author.ImagePath != "")
							{
								avatarUser = GeneralHelper.FileHelper.GetImageBase64(GeneralHelper.PathHelper.RootPath + post.Author.ImagePath);

								if (avatarUser != "")
								{
									paddingTopUser = 5;
									paddingTop = -18;
								}
							}
						}

						@if (avatarUser != "")
						{
							<a class="pull-left" href="#"> <img class="media-object thumb-sm img-circle" src="@avatarUser" alt="@post.Author.Name"> </a>
						}
						else
						{
							<i class="ti-user bg-megna pull-left" style="font-size: 20px; margin-right:10px;"></i>
						}
						<div class="media-body">

							<h4 class="text-danger m-0" style="padding-top:@(paddingTopUser)px; float:left;">@post.Author.Name @post.Author.FatherLastName</h4>

							@if (SecurityGuard.Authentication.ContainRole("Administrador, SubAdministrador, Profesor"))
							{
								paddingTop = 0;
								paddingTopUser = -10;
								//<a href="#" model-id="@post.Id" class="pull-right media-meta a-qualification-teacher" style="text-align:right; margin-left:15px;" onclick="">Evaluar</a>

							}
							else
							{
								paddingTop = avatarUser == "" ? -20 : -13;
							}
							<br>
							<span class="media-meta pull-right" style="margin-top:@(paddingTop)px;">@post.CreatedAt.ToString("hh:mm tt dd/MM/yy", System.Globalization.CultureInfo.InvariantCulture)</span>

						</div>
					</div>

					@Html.Raw(post.Text)

					@if (post.PostFiles.Count != 0)
					{

						<h4> <i class="fa fa-paperclip m-r-10 m-b-10"></i> Adjuntos <span>(@post.PostFiles.Count)</span> </h4>
						<div class="row">
							@foreach (var postFile in post.PostFiles)
							{
								<div class="col-sm-4 m-b-10">

									@{
										var documentName = postFile.DocumentName;

										if (documentName.Length > 30)
										{
											documentName = documentName.Substring(0, 27) + "...";
										}
									}

									<a href="#" onclick="var data = { 'postfile_id': @postFile.Id }; $.fn.File_Download('PostFile/Download', data,'@postFile.DocumentName','@postFile.DocumentType')">@documentName</a>
								</div>
							}
						</div>
					}

					

				</div>
			}

			<div class="col-sm-12">
				<hr>
				@if (topic.AllowPosting)
				{
					<div class="row p-20">

						<div class="col-sm-2"></div>
						<div class="col-sm-8">
							<p class="" style="text-align:center;">
								<button class="btn btn-block btn-outline btn-default"
										onclick="
							$('#div-button-answer').show();
							$('#textarea-description').summernote({ height: 150, focus: true, lang: 'es-ES' });
							$('#textarea-description').summernote('code', '');
							$(this).closest('.col-sm-12').hide();
							">
									Responder
								</button>
							</p>
						</div>
						<div class="col-sm-2"></div>
					</div>
				}
				else
				{
					<div class="alert alert-danger" style="text-align:center;"> Comentarios desactivados </div>
				}
			</div>

			<div id="div-button-answer" class="col-sm-12" style="display:none;">
				<hr>
				@{Html.RenderPartial("TopicViewForm", new Object[] { forum_id, topic.Id, students });}
			</div>
		</div>
	</div>

	<div class="col-sm-1"></div>
</div>

<div id="div-modal-qualification-teacher" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
	<div style="max-width: 750px; margin: 30px auto;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">Calificar</h4>
			</div>
			<form id="form-qualification-teacher" data-parsley-validate>
				<div class="modal-body">

					<div class="form-group">
						<label for="recipient-name" class="control-label">Buscador:</label>
						<input id="autocomplete-input-teacher" type="text" name="User" class="form-control" placeholder="Buscar por R.U.N o nombre">
					</div>

					<div id="div-list-associate-students-teacher" class="form-group">
						<label class="col-sm-12">Alumnos asociados:</label>
						<ol></ol>
					</div>

				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-info waves-effect waves-light">Aceptar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script>

	$(function () {
		$.fn.File_Download = function (url, data, name, type) {
			Repository.queryApi(
				{
					url: url,
					method: "GET",
					data: data,
					success: function (_data) {
						DownloadManager.downloadBase64(_data, name, type);
					}
				}, true, true);
		}

		$("#form-qualification-teacher").parsley().on('form:submit', function ()
		{
			var postQualifications = [];

			$("#div-list-associate-students-teacher").find("li").each(function (index, item) {
				postQualifications.push(
					{
						Qualification: $(this).find("input").val(),
						User:
							{
								Id: $(this).attr("model-id")
							}
					});
			});

			var data =
				{
					Id: $("#div-modal-qualification-teacher").attr("model-id"),
					PostQualifications: postQualifications
				};

			Repository.queryApi(
				{
					url: "Post/Qualification",
					method: "POST",
					data: data,
					success: function (data) {

					}
				}, true, true, true);
			return false;
		});		
		/************************************** Lista de alumnos ***************************************/

		var students = @Html.Raw(Json.Encode(students));
		var _students = [];

		var array = [];

		for (var i = 0; i < students.length; i++) {
			array.push("[" + students[i].UserName + "] " + students[i].Name + " " + students[i].FatherLastName);
			_students[array[i]] = students[i];
		}

		var input_2 = new autoComplete({
			selector: '#autocomplete-input-teacher',
			minChars: 1,
			source: function (term, suggest) {
				term = term.toLowerCase();
				var choices = array;
				var suggestions = [];
				for (i = 0; i < choices.length; i++)
					if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
				suggest(suggestions);
			},
			onSelect: function (e, term, item)
			{
				$.fn.AddAssociate_Student_Teacher(_students[term]);
				$("#autocomplete-input-teacher").val("");
			}
		});

		$(".a-qualification-teacher").click(function () {
			event.preventDefault();

			var post_id = $(this).attr("model-id");

			Repository.queryApi(
				{
					url: "Post",
					method: "GET",
					data: { id : post_id },
					success: function (data) {

						$("#div-list-associate-students-teacher").find("ol").html('');

						for (var i = 0; i < data.PostQualifications.length; i++)
							$.fn.AddAssociate_Student_Teacher(data.PostQualifications[i].User, data.PostQualifications[i].Qualification);

						$("#div-modal-qualification-teacher").attr("model-id", post_id);
						$("#div-modal-qualification-teacher").modal("show");
					}
				}, false, true);
		});

		$.fn.AddAssociate_Student_Teacher = function(user, qualification)
		{
			if (qualification == null)
				qualification = "";
			
			var isContain = false;
			$("#div-list-associate-students-teacher").find("li").each(function (index, item) {
				if (user.Id == $(this).attr("model-id")) { isContain = true; return false; }
			});

			if (isContain) return;

			var structure = '<li model-id=' + user.Id + ' ><div class="row">';

			structure += '<div class="col-md-7" style="margin-top:10px;">' +
							'[' + $.formatRut(user.UserName) + '] ' + user.Name + ' ' + user.FatherLastName +
						'</div>';


			structure += '<div class="col-md-3" style="margin-bottom:10px;">' +

				'<input class="form-control" type="number" name="Qualification" min="1" max="100" data-parsley-type="digits" placeholder="Nota (1 a 100)" ' + (qualification==""? "" :' value="' + qualification + '"')+' required>' +
				'</div>';

			
			structure += '<div class="col-md-2" style="margin-top:10px;">' +
				'<button type="button" class="btn btn-default remove-question" style="float:right; margin-top:-7px; background:transparent; border:transparent;">' +
				'<i class="fa fa-trash" style="font-size:17px;"></i>' +
				'</button>' +
				'</div>';

			structure += "</div></li>";

			$("#div-list-associate-students-teacher").find("span").hide();
			$("#div-list-associate-students-teacher").find("ol").append(structure);
		}

	});

</script>