﻿<div class="row bg-title">
	<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
		<h4 class="page-title">Establecimiento</h4>
	</div>
	<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
		<ol class="breadcrumb">
			<li><a href="@Url.Action("Index", "Establishment")">Establecimiento</a></li>
			<li class="active">Creación</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="white-box">
			@{Html.RenderPartial("Form");}
		</div>
	</div>
</div>

<script>
	$(function () {
		//******************* Envío de información Formulario Agregar/Actualizar *******************//
		$("#EducationalEstablishmentForm").parsley().on('form:submit', function () {
			var data = new FormData(document.getElementById("EducationalEstablishmentForm"));
			var id = $("#EducationalEstablishmentForm").find('input[name="Name"]').attr("id-value");
			data.append("Id", id);

			Repository.queryApi(
				{
					url: "EducationalEstablishment",
					method: "POST",
					data: data,
					success: function (data) {
						window.location.href = "/Establishment";
					}
				}, true, true);

			return false;
		});
	});
</script>