﻿@model Model.EducationalEstablishment

<div class="row bg-title">
	<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
		<h4 class="page-title">Establecimiento</h4>
	</div>
	<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
		<ol class="breadcrumb">
			<li><a href="@Url.Action("Index", "Establishment")">Establecimiento</a></li>
			<li class="active">Edición</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="white-box">
			@{Html.RenderPartial("Form", Model);}
		</div>
	</div>
</div>

<script>

	$(document).ready(function () {

		var logoName = "@Html.Raw(Model.NameImage)";
		$("#input-name").val("@Html.Raw(@Model.Name)");
		$("#input-address").val("@Html.Raw(Model.Address)");
		$("#label-fileName-upload").text("Logo actual: " + (logoName == "" ? "Sin logo" : logoName));
		$("#input-name").attr("id-value", "@Model.Id");

		//******************* Envío de información Formulario Agregar/Actualizar *******************//
		$("#EducationalEstablishmentForm").parsley().on('form:submit', function () {
			var data = new FormData(document.getElementById("EducationalEstablishmentForm"));
			var id = $("#EducationalEstablishmentForm").find('input[name="Name"]').attr("id-value");
			data.append("Id", id);

			Repository.queryApi(
				{
					url: "EducationalEstablishment",
					method: "PUT",
					data: data,
					success: function (data)
					{
						var idCurrentEstablishment = "@SecurityGuard.Authentication.currentAccess.educationalEstablishment.Id";

						if (id == idCurrentEstablishment)
						{
							$.ajax({
								type: "get",
								url: "/Home/RefreshInformationCurrentEstablishment",
								success: function (response) {
									window.location.href = "/Establishment";
								}
							});
						} else
							window.location.href = "/Establishment";
						
					}
				}, true, true);

			return false;
		});
	});
</script>