﻿@model Model.EducationalEstablishment

@{
	var establishment = Model ?? null;
	var region_id = "";
	var commune_id = "";
	var province_id = "";
	var period_id = "";

	var actionName = "Agregar";

	if (establishment != null)
	{
		region_id = establishment.Commune.Province.Region.Id.ToString();
		province_id = establishment.Commune.Province.Id.ToString();
		commune_id = establishment.Commune.Id.ToString();
		period_id = establishment.EstablishmentPeriod.Id.ToString();
		actionName = "Actualizar";
	}


	var url = SecurityGuard.ConnectionHelper.URL_WEBAPI + "EducationalEstablishment";

	var managerSelect = new Component.Select.ManagerSelect();
	managerSelect.AddSelect
		(
			new Component.Select.SelectComponent(
			typeModel: typeof(Model.Region),
			code: Component.Select.SelectCode.Region,
			url: "Region",
			name: "Región",
			placeholder: "Seleccione una región",
			defaultValue: region_id
			)
		).AddSelect(new Component.Select.SelectComponent(
			typeModel: typeof(Model.Province),
			code: Component.Select.SelectCode.Province,
			parentCode: Component.Select.SelectCode.Region,
			url: "Province/GetProvincesByRegion",
			name: "Provincia",
			placeholder: "Seleccione una provincia",
			defaultValue: province_id
		)
		).AddSelect(new Component.Select.SelectComponent(
			typeModel: typeof(Model.Commune),
			code: Component.Select.SelectCode.Commune,
			parentCode: Component.Select.SelectCode.Province,
			url: "Commune/GetCommunesByProvince",
			name: "Comuna",
			placeholder: "Seleccione una comuna",
			defaultValue: commune_id
		));

	managerSelect.groupCode = 2;
	managerSelect.showVertical = true;


	var managerSelect_2 = new Component.Select.ManagerSelect();
	managerSelect_2.AddSelect
		(
			new Component.Select.SelectComponent(
			typeModel: typeof(Model.EstablishmentPeriod),
			code: Component.Select.SelectCode.EstablishmentPeriod,
			url: "EstablishmentPeriod",
			name: "Periodo de establecimiento",
			placeholder: "Seleccione un periodo",
			defaultValue: period_id
			)
		);

	managerSelect_2.groupCode = 3;
	managerSelect_2.showVertical = true;
}

<form id="EducationalEstablishmentForm" method="post" enctype="multipart/form-data" action="@url" data-parsley-validate>

	<div class="row">
		<div class="col-sm-6">
			
			<div class="form-group">
				
				<label class="col-sm-12">Nombre del establecimiento</label>
				<div class="col-sm-12">
					<input id="input-name" id-value="0" class="form-control" type="text" name="Name" required>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-12">Dirección</label>
				<div class="col-sm-12">
					<input id="input-address" class="form-control" type="text" name="Address" required>
				</div>
			</div>

			@{Html.RenderPartial("SelectLayout", @managerSelect_2);}

			<div class="form-group">
				<label id="label-fileName-upload" class="col-md-12">Subir Logo</label>
				<div class="col-md-12" style="margin-bottom:15px;">
					<input id="FileUpload" name="pdf" type="file" class="form-control-file" aria-describedby="fileHelp" accept=".jpg,.jpeg,.png">
				</div>
			</div>

		</div>

		<div class="col-sm-6">

			@{Html.RenderPartial("SelectLayout", @managerSelect);}

			<div class="row">
				<div class="col-sm-12">
					<button id="buttonSubmit" class="btn float-right @StyleConfig.ButtonStyle_Accept">@actionName</button>
				</div>
			</div>

		</div>
	</div>
</form>

<script>
	$(document).ready(function () {
		var selects = GenericSystemSelect.getSelectsByGroupCode(@managerSelect.groupCode);

		for (var i = 0; i < selects.length; i++)
			selects[i].prop('required', true);

		selects = GenericSystemSelect.getSelectsByGroupCode(@managerSelect_2.groupCode);

		for (var i = 0; i < selects.length; i++)
			selects[i].prop('required', true);		
	});
</script>