﻿<div id="div-modal-evaluate" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
	<div style="max-width: 70%; margin: 30px auto;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">Evaluación</h4>
			</div>
			<form id="form-evaluate" data-parsley-validate>
				<div class="modal-body">

					<div class="row">

						<div class="col-md-6">
							<ul class="list-group">
								<li class="list-group-item">
									<label class="control-label">R.U.N:</label><span name="run"></span>
								</li>

								<li class="list-group-item">
									<label class="control-label">Alumno:</label><span name="name"></span>
								</li>

								<li class="list-group-item">
									<label class="control-label">Curso:</label><span name="course"></span>
								</li>
							</ul>
						</div>

						<div class="col-md-6">

							<ul class="list-group">
								<li class="list-group-item">
									<label class="control-label">Asignatura:</label><span name="subject"></span>
								</li>

								<li class="list-group-item">
									<label class="control-label">Unidad:</label><span name="unity"></span>
								</li>

								<li class="list-group-item">
									<label class="control-label">Sub-Unidad:</label><span name="subunity"></span>
								</li>
							</ul>
						</div>

						<div class="col-md-12">
							<ul class="list-group">
								<li class="list-group-item">
									<label class="control-label">Archivo a subir:</label>									
									<p name="uploadfile_name">Test</p>
								</li>

								<li class="list-group-item" style="overflow-x:auto;">
									<label class="control-label">Archivos subidos por alumno:</label>									
									<ul class="list-group" id="ul-modal-uploadFileStudentQualification-view"></ul>
								</li>							
							</ul>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6">
						</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="col-sm-12">Nota (1 a 100):</label>
									<div class="col-sm-12">
										<input class="form-control" type="number" name="Qualification" min="1" max="100" data-parsley-type="digits" value="1" required>
									</div>
								</div>
							</div>
						</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancelar</button>
					<button type="submit" id="button-submit-link" class="btn btn-info waves-effect waves-light">Actualizar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	$(function ()
	{
		$.fn.populateForm = function(data, groupCode)
		{
			$("#form-evaluate").find('span[name="run"]').html(' ' + data.UploadFileStudentQualification.Student.UserName);
			$("#form-evaluate").find('span[name="name"]').html(' ' + data.UploadFileStudentQualification.Student.Name + ' ' + data.UploadFileStudentQualification.Student.FatherLastName);
			$("#form-evaluate").find('span[name="course"]').html(' ' + data.CourseSubject.Course.Name);
			$("#form-evaluate").find('span[name="subject"]').html(' ' + data.CourseSubject.Subject.Name);
			$("#form-evaluate").find('span[name="unity"]').html(' ' + data.SubUnity.Unity.Name);
			$("#form-evaluate").find('span[name="subunity"]').html(' ' + data.SubUnity.Name);

			$("#form-evaluate").find('p[name="uploadfile_name"]').html(' ' + data.UploadFileStudentQualification.UploadFileStudent.Title);

			var structure = "";
			for (var i = 0; i < data.UploadFileStudentQualification.UploadFileStudentItems.length; i++) {
				var item = data.UploadFileStudentQualification.UploadFileStudentItems[i];

				structure +=
					'<li class="list-group-item">' +
					'<a href="#" onclick="$.fn.UploadFileStudentQualification_Download(' + item.Id + ',\'' + item.DocumentType + '\')" style="margin-left:15px; color:#2b2b2b;" class="waves-effect active" onclick=""><i class="icon-arrow-down-circle p-r-10" style="font-size: 1.3em;"></i> <span class="hide-menu">' + item.DocumentName + '</span></a>' +
					'</li>';
			}
			$("#ul-modal-uploadFileStudentQualification-view").html(structure);
			
			$("#form-evaluate").find('input').val(data.UploadFileStudentQualification.Qualification);			
			$("#div-modal-evaluate").attr("UploadFileStudentQualification_Id", data.UploadFileStudentQualification.Id);
			$("#div-modal-evaluate").attr("modal-groupCode", groupCode);
			$("#div-modal-evaluate").modal('show');
		}

		$("#form-evaluate").parsley().on('form:submit', function ()
		{
			var data =
				{
					Id: $("#div-modal-evaluate").attr("UploadFileStudentQualification_Id"),
					Qualification: $("#form-evaluate").find('input').val()
				};

			Repository.queryApi(
				{
					url: "UploadFileStudentQualification/RegisterQualification",
					method: "POST",
					data: data,
					success: function (data) {
						$.fn.refreshTable($("#div-modal-evaluate").attr("modal-groupCode"));
						$("#div-modal-evaluate").modal('hide');
						$.fn.NavBarLeft_LoadInformation();
					}
				}, true, true);
			return false;
		});

		$.fn.UploadFileStudentQualification_Download = function (uploadfilestudentitem_id, type) {
			Repository.queryApi(
				{
					url: "UploadFileStudentItem/Download",
					method: "GET",
					data: { "uploadfilestudentitem_id": uploadfilestudentitem_id },
					success: function (_data) {
						DownloadManager.downloadBase64(_data, name, type);
					}
				}, true, true);
		}

	});
</script>