﻿@model System.Object[]

@{
	var content_all = Model[0] as Component.Panel.GenericPanel;
	var content_filter = Model[1] as Component.Panel.GenericPanel;

}

@Scripts.Render("~/Js/FileSaver")

<div class="row bg-title">
	<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
		<h4 class="page-title">Rev. pendientes (Archivos)</h4>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="white-box">
			<div class="sttabs tabs-style-linebox">
				<nav>
					<ul>
						<li class="tab-current"><a href="#section-linebox-1"><span>Evaluaciones pendientes</span></a></li>
						<li class=""><a href="#section-linebox-2"><span>Buscar</span></a></li>
					</ul>
				</nav>
				<div class="content-wrap text-center">
					<section id="section-linebox-1" class="content-current">
						@{Html.RenderPartial("GenericPanel", content_all);}
					</section>
					<section id="section-linebox-2" class="">
						@{Html.RenderPartial("GenericPanel", content_filter);}
					</section>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="div-modal-delete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			</div>
			<div class="modal-body">
				<h5>¿Seguro que desea eliminarlo?</h5>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancelar</button>
				<button id="button-delete" id-value="0" type="button" class="btn btn-danger waves-effect">Eliminar</button>
			</div>
		</div>
	</div>
</div>

@{Html.RenderPartial("Form");}

<script>
	$(document).ready(function () {
		[].slice.call(document.querySelectorAll('.sttabs')).forEach(function (el) {
			new CBPFWTabs(el);
		});

		$.fn.refreshTable("@content_all.groupCode");

		EventDispatcher.on(GenericSystemButton.buttonEvent, function (obj) {
			switch (obj.componentCode) {
				//******************************** Actualizar Nota ********************************//
				case "evaluateButton":
					$.fn.populateForm(obj.contentValue, obj.groupCode);
					break;

				case "deleteButton":
					$("#button-delete").attr("id-value", obj.idValue);
					$('#div-modal-delete').modal('show');
					break;
			}
		});

		$("#button-delete").click(function () {

			var uploadfilestudentqualification_id = $(this).attr("id-value");

			Repository.queryApi(
				{
					url: "UploadFileStudentQualification",
					method: "DELETE",
					data: { id: uploadfilestudentqualification_id },
					success: function (data) {
						$.fn.refreshTable(0);
						$.fn.NavBarLeft_LoadInformation();
						$('#div-modal-delete').modal('hide');
					}
				}, true, true);

		});
	});

	//******************************* Actualizar Tabla ************************************//
	$.fn.refreshTable = function (groupCode) {
		Repository.query(
			{
				url: "UploadFileStudent/GetPendingUploadFileResponseViewModels",
				method: "GET",
				dataTypeResult: "PendingUploadFileResponseViewModel",
				dataConvert: "Table",
				viewModelConvert: "PendingUploadFile_AllViewModel",
				success: function (data) {
					GenericSystemTable.populateTable(@content_all.groupCode, data);
				}
			}, false, true);


		var uploadfilestudent_id = GenericSystemSelect.getSelect("UploadFileStudent",@content_filter.groupCode).val();

		if (uploadfilestudent_id == null || uploadfilestudent_id == 0) return;

		Repository.query(
			{
				url: "UploadFileStudent/GetPendingUploadFileResponseViewModelsByUploadFileStudent",
				method: "GET",
				dataTypeResult: "PendingUploadFileResponseViewModel",
				dataConvert: "Table",
				viewModelConvert: "PendingUploadFile_AllViewModel",
				data: { uploadfilestudent_id: uploadfilestudent_id },
				success: function (data) {
					GenericSystemTable.populateTable(@content_filter.groupCode, data);
				}
			}, false, true);
	}
</script>

