﻿<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>@ViewBag.Title - Evaluandome 2.0</title>

		@Styles.Render("~/Css/Bootstrap")
		@Styles.Render("~/Css/Bootstrap-DatePicker")
		@Styles.Render("~/Theme/Css/Animate")
		@Styles.Render("~/Theme/Css/Style")
		@Styles.Render("~/Theme/Css/Colors")
		@Styles.Render("~/Theme/Css/SideBar-Nav")
		@Styles.Render("~/Css/Snackbar")

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

		@Scripts.Render("~/Js/Jquery")
		@Scripts.Render("~/Js/Bootstrap")
		@Scripts.Render("~/Js/Cookie")
		@Scripts.Render("~/Js/Interactic")
		@Scripts.Render("~/Js/Parsley")
		@Scripts.Render("~/Js/RUN")

		<style>
			html,
			body {
				height: 100%;
				background: #edf1f5;
			}
		</style>

		<script>
			Repository.token = "@SecurityGuard.Authentication.currentAccess.Token";
			Repository.urlServer = "@SecurityGuard.ConnectionHelper.URL_WEBAPI";
		</script>

	</head>

	<body>
		<div class="preloader">
			<div class="cssload-speeding-wheel"></div>
		</div>

		@RenderBody()
		
		@Scripts.Render("~/Js/SideBar-Nav")
		@Scripts.Render("~/Js/SlimScroll")
		@Scripts.Render("~/Js/Wave")
		@Scripts.Render("~/Js/Custom")
		@Scripts.Render("~/Js/Switcher")
		@Scripts.Render("~/Js/Bootstrap-DatePicker")
		@Scripts.Render("~/Js/Bootstrap-Jasny")
		@Scripts.Render("~/Js/Mask")
		@Scripts.Render("~/Js/Snackbar")
	</body>
</html>

<script type="text/javascript">
	$(function () {
		jQuery('.mydatepicker').datepicker();		
		window.history.pushState(null, "", window.location.href);
		window.onpopstate = function ()
		{
			window.history.pushState(null, "", window.location.href);
		};
	});	
</script>