﻿<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="_nK">
	


	@Scripts.Render("~/Js/Jquery")
	@Styles.Render("~/Materialize/css")
	@Scripts.Render("~/Materialize/js")
	@Scripts.Render("~/Evaluandome/js")

	<script>
        Repository.token = "@SecurityGuard.Authentication.currentAccess.Token";
        Repository.urlServer = "@SecurityGuard.ConnectionHelper.URL_WEBAPI";
	</script>
</head>

<body>

	<section class="content-wrap">
		@RenderBody()
	</section>



	<!-- Validation -->
	<script type="text/javascript" src="~/bower_components/parsleyjs/dist/parsley.min.js"></script>
	<script type="text/javascript" src="~/bower_components/parsleyjs/dist/i18n/es.js"></script>
	@Scripts.Render("~/Others/js")
</body>

</html>