﻿@model Component.Table.GenericTableComponent

@{
	var hide = Model.genericTable.content.Count == 0 ? "hide" : "";
	var alertHide = Model.genericTable.content.Count == 0 ? "" : "hide";

	var pag = Model.pagination == null ? 0 : Model.pagination.pag;
	var hidePagination = "hide";

	if (Model.pagination != null && Model.pagination.pages >= 2)
	{
		hidePagination = "";
	}
}

<div class="col-sm-12">
	<div class="alert alert-warning @alertHide" group-code="@Model.groupCode">  <strong>Sin resultados</strong> <p>Utilice el sistema de búsqueda proporcionado por el panel gestor.</p></div>
</div>

<table class="table  @hide" group-code="@Model.groupCode">
	
	<thead>
		<tr>
			@for(var i=0; i < Model.genericTable.headers.Count; i++)
			 {
				var header = Model.genericTable.headers[i];
				var width = Model.genericTable.columnWidths[i].ToString();
				width = width == "-1" ? "" : "width:" + width+"px;";

                <th class="text-center" style="@width" >@header</th>
             }
		</tr>
	</thead>
	
	<tbody>		

		@foreach (var content in Model.genericTable.content)
		 {
			<tr>
				@foreach (var _group in content.group)
				 {
					<td>
						<div class="row">
	
							@foreach (var item in _group.items)
							 {

								switch (_group.itemsType)
								{
									case Generic.ItemType.String:
										<div>
											@item.ToString()
										</div>
									break;

									case Generic.ItemType.Button:
										var _item = (Attributes.ButtonAttribute)item;

										<div class="col-xs-6">
											<button class="btn @_item.color" id-value="@content.id" group-code="@Model.groupCode" component-code="@_item.componentCode" content-value="@content.contentValue">
												<i class="fa @_item.icon"></i>
											</button>
										</div>
									break;
								}
							 }
						</div>
					</td>
				 }
			</tr>
		 }				
	</tbody>

	<tfoot>
		<tr>
			<th colspan="@(Model.genericTable.headers.Count)">

				@{
					var idValueBack = Model.pagination == null ? -1 : Model.pagination.backPage;
					var idValueNext = Model.pagination == null ? -1 : Model.pagination.nextPage;
                 }

				<ul class="pagination float-right @hidePagination" group-code="@Model.groupCode">
					<li><a  class="paginationButton waves-effect waves-light" id-value="@idValueBack" group-code="@Model.groupCode"><i class="fa fa-angle-double-left"></i></a></li>
                                              
					@if (Model.pagination != null)
					{
						for (int i = Model.pagination.startPag; i <= Model.pagination.endPag; i++)
						{
							var colorSelected = i == pag ? "background-color:#01c0c8; border-color:#01c0c8;" : "";
							var active = i == pag ? "active" : "";
							<li class="@active"><a class="paginationButton waves-effect waves-light" style="@colorSelected" id-value="@i" group-code="@Model.groupCode">@(i + 1)</a></li>
						}
					 }

					 <li><a class="paginationButton waves-effect waves-light" id-value="@idValueNext" group-code="@Model.groupCode"><i class="fa fa-angle-double-right"></i></a></li>
				</ul>					
			</th>
		</tr>
	</tfoot>
</table>