﻿@model Component.Panel.GenericPanel


@if (Model.displayTitle)
{
	<div class="row bg-title">
		<div class="col-lg-4 col-md-5 col-sm-5 col-xs-12">
			<h4 class="page-title">@Model.title</h4>
		</div>
		<div class="col-lg-8 col-sm-7 col-md-7 col-xs-12">

			@foreach (var button in Model.buttons)
			{
				<button  class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light @button.color" style="margin:4px 4px 4px 4px;" group-code="@Model.groupCode" component-code="@button.componentCode">
					@button.text
				</button>
			}
		</div>
	</div>
}

<!--Usar si se desea con llenar con información antes de mostrar la tabla-->
<div id="div-genericpanel-order-@Model.groupCode" class="row" style="display:none;">
	<div class="col-sm-12">
		<div class="white-box">
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="white-box">

			@if (Model.managerSelect != null)
			{
				<div class="row">
					@{Html.RenderPartial("SelectLayout", Model.managerSelect);}
				</div>
			}

			<div class="row">
				@{Html.RenderPartial("GenericTable", Model.genericTableComponent);}
			</div>

		</div>
	</div>
</div>

@if (Model.managerSelect != null && !(Model.managerSelect.url.Equals("")))
{
	<script>

    $(document).ready(function()
    {
        var itemsSelects = null;

        EventDispatcher.on(GenericSystemSelect.lastSelectedEvent, function(elements)
		{
			if ("@Model.groupCode" != (elements.groupCode + "")) return;

			var data = { };

            for (var i = 0; i < elements.components.length; i++)
                data[elements.components[i].code+"_Id"] = GenericSystemSelect.getSelect(elements.components[i].code, @Model.groupCode).val();

            itemsSelects = data;

            Repository.query(
                {
					url: "@Model.managerSelect.url",
					method: "GET",
					dataConvert: "Table",
					dataTypeResult: "@Model.typeModel",
					viewModelConvert: "@Model.viewModelType",
                    data: data,
                    success: function (data)
					{
						if (data.length == 0)
						{
							var alert = $("#div-alert-empty");

							if (alert != null) alert.show();
						}

						GenericSystemTable.populateTable(@Model.groupCode, data);
                    },
                    error: function(error, errorHtml) {

                }
            });
        });

        EventDispatcher.on(GenericSystemTable.paginationEvent, function (pagination) {

            if (itemsSelects == null) return;

            Repository.query(
                {
					url: "@Model.managerSelect.url",
					method: "GET",
					dataConvert: "Table",
					dataTypeResult:"@Model.typeModel",
					pagination: { pag: pagination.pag },
					viewModelConvert: "@Model.viewModelType",
                    data: itemsSelects,
                    success: function (data)
                    {
                        GenericSystemTable.populateTable(@Model.groupCode, data);
                    },
                    error: function(error, errorHtml) {

                }
            });

        });

    });
	</script>
}
else
{
	<script>
	$(document).ready(function () {
		EventDispatcher.on(GenericSystemTable.paginationEvent, function (pagination) {

			var data = null;

			@if (Model.genericTableComponent.dataQuery != null)
			{
				@:data = @Html.Raw(Json.Encode(Model.genericTableComponent.dataQuery));
				@:data = JSON.parse(data);
			}
				Repository.query(
				{
					url: "@Model.genericTableComponent.queryProcess",
					method:"GET",
					dataConvert: "Table",
					dataTypeResult: "@Model.typeModel",
					viewModelConvert: "@Model.viewModelType",
					pagination: { pag: pagination.pag },
					data: data,
					success: function (data) {
						GenericSystemTable.populateTable(@Model.groupCode, data);
					},
					error: function (error, errorHtml) {

					}
				});

			});
	});
	</script>
}
