﻿<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="_freedom">
    <!-- <link rel="icon" href="assets/_con/images/icon.png">-->
    <title>Evaluándome 2.0 - Material Design</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- WeatherIcons -->
    <!--[if lt IE 9]>
        <script src="bower_components/html5shiv/dist/html5shiv.min.js"></script>
    <![endif]-->


    @Styles.Render("~/Others/css")
    @Styles.Render("~/Loader/css")
    @Scripts.Render("~/Js/Jquery")
    @Styles.Render("~/Materialize/css")
    @Scripts.Render("~/Materialize/js")
    @Scripts.Render("~/Loader/js")
    @Scripts.Render("~/Evaluandome/js")
    @Scripts.Render("~/Js/Moment")

    <script>
        Repository.token = "@SecurityGuard.Authentication.currentAccess.Token";
        Repository.urlServer = "@SecurityGuard.ConnectionHelper.URL_WEBAPI";
    </script>
</head>



<body style="min-width:800px;">
    @Html.Partial("NavWrapper")
    <section class="content-wrap">
        @RenderBody()
    </section>
    <footer>
        &copy; @System.DateTime.Now.Year
    </footer>
    @Scripts.Render("~/Js/Parsley")
    @Scripts.Render("~/Others/js")
    <script>


		@*/*
		 * Stacked Bar Chart
		 */
		(function () {
			nv.addGraph(function () {
				var chart = nv.models.multiBarChart()
					.color(["#64B5F6", "#42A5F5"])
					.margin({
						left: 20,
						bottom: 20,
						right: 20
					})
					.reduceXTicks(true) //If 'false', every single x-axis tick label will be rendered.
					.rotateLabels(0) //Angle to rotate x-axis labels.
					.showControls(true) //Allow user to switch between 'Grouped' and 'Stacked' mode.
					.groupSpacing(0.1) //Distance between each group of bars.
					;

				chart.xAxis
					.tickFormat(d3.format(',f'));

				chart.yAxis
					.tickFormat(d3.format(',.1f'));

				d3.select('#chart1').append('svg')
					.datum(exampleData())
					.call(chart);

				return chart;
			});


			/* Inspired by Lee Byron's test data generator. */
			function stream_layers(n, m, o) {
				if (arguments.length < 3) o = 0;

				function bump(a) {
					var x = 1 / (.1 + Math.random()),
						y = 2 * Math.random() - .5,
						z = 10 / (.1 + Math.random());
					for (var i = 0; i < m; i++) {
						var w = (i / m - y) * z;
						a[i] += x * Math.exp(-w * w);
					}
				}
				return d3.range(n).map(function () {
					var a = [],
						i;
					for (i = 0; i < m; i++) a[i] = o + o * Math.random();
					for (i = 0; i < 5; i++) bump(a);
					return a.map(stream_index);
				});
			}

			function stream_index(d, i) {
				return {
					x: i,
					y: Math.max(0, d)
				};
			}


			//Generate some nice data.
			function exampleData() {
				return stream_layers(2, 30, 50).map(function (data, i) {
					return {
						key: i ? 'Alumnos' : 'Calificaciones',
						values: data
					};
				});
			}
		}());



		/*
		 * Stacked Area Chart
		 */
		(function () {
			/*Data sample:
			{
				  "key" : "North America" ,
				  "values" : [ [ 1025409600000 , 23.041422681023] , [ 1028088000000 , 19.854291255832],
				   [ 1030766400000 , 21.02286281168],
				   [ 1033358400000 , 22.093608385173],
				   [ 1036040400000 , 25.108079299458],
				   [ 1038632400000 , 26.982389242348]
				   ...

			*/
			d3.json("@Url.Content("~/assets/_con/nvd3/stackedAreaData.json")", function (data) {
				nv.addGraph(function () {
					var chart = nv.models.stackedAreaChart()
						.margin({
							bottom: 20
						})
						.color(["#E27272", "#64B5F6", "#FFD83C", "#81C784"])
						.margin({
							right: 40,
							left: 40
						})
						.x(function (d) {
							return d[0]
						}) //We can modify the data accessor functions...
						.y(function (d) {
							return d[1]
						}) //...in case your data is formatted differently.
						.useInteractiveGuideline(true) //Tooltips which show all data points. Very nice!
						.rightAlignYAxis(true) //Let's move the y-axis to the right side.
						.showControls(true) //Allow user to choose 'Stacked', 'Stream', 'Expanded' mode.
						.clipEdge(true);

					//Format x-axis labels with custom function.
					chart.xAxis
						.tickFormat(function (d) {
							return d3.time.format('%x')(new Date(d))
						});

					chart.yAxis
						.tickFormat(d3.format(',.2f'));

					d3.select('#chart2').append('svg')
						.datum(data)
						.call(chart);

					nv.utils.windowResize(chart.update);

					return chart;
				});
			})
		}());*@





    // setTimeout(function() {
    //   toast('Welcome to Con!', 2000);
    // }, 1000);
    </script>
</body>

</html>

 <!-- Simple Weather -->
