﻿@{
	var user = SecurityGuard.Authentication.currentAccess;
	string avatarUser = null;
	string imagePath = user.user.ImagePath;

	if (imagePath != null || imagePath != ""){
		avatarUser = GeneralHelper.FileHelper.GetImageBase64(GeneralHelper.PathHelper.RootPath + user.user.ImagePath);
	}

	var name = user.user.Name + " " + user.user.FatherLastName?.ElementAt(0) + ".";

	if (name.Length > 17) {
		name = name.Substring(0, 14) + "...";
	}
}

<!-- Left navbar-header -->
<div class="navbar-default sidebar" role="navigation">
	<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
		<div class="sidebar-nav navbar-collapse slimscrollsidebar" style="overflow: hidden; width: auto; height: 100%;">
			<ul class="nav" id="side-menu">
				<li class="sidebar-search hidden-sm hidden-md hidden-lg">
					<!-- input-group -->
					<div class="input-group custom-search-form">
						<input type="text" class="form-control" placeholder="Search..."> <span class="input-group-btn">
							<button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
						</span>
					</div>
					<!-- /input-group -->
				</li>
				<li class="user-pro">
					<a href="#" class="waves-effect">

						@if (avatarUser != "")
						{
							<img src="@avatarUser" alt="@SecurityGuard.Authentication.currentAccess.user.Name" class="img-circle">
							<span class="hide-menu">@name<span class="fa arrow"></span></span>

						}
						else
						{
							<i class="ti-user  bg-megna" style="font-size: 20px; margin:5px;"></i>
							<span class="hide-menu">@name<span class="fa arrow"></span></span>
						}

					</a>
					<ul class="nav nav-second-level collapse">
						<li><a href="@Url.Action("Index", "Configuration")"><i class="ti-settings"></i> Configuración</a></li>
						<li><a href="@Url.Action("Logout", "Login")"><i class="fa fa-power-off"></i> Salir</a></li>
					</ul>
				</li>
				<li class="nav-small-cap m-t-10">--- Menú principal</li>
				<li> <a href="@Url.Action("Index", "Home")" class="waves-effect"><i class="icon-home p-r-10"></i> <span class="hide-menu">Inicio</span></a> </li>

				@*<li>
			<a href="javascript:void(0);" class="waves-effect"><i class="icon-envelope p-r-10"></i> <span class="hide-menu">Foro <span class="fa arrow"></span><span class="label label-rouded label-danger pull-right">6</span></span></a>
			<ul class="nav nav-second-level collapse">
				<li> <a href="inbox.html">Nueva entrada</a></li>
				<li> <a href="inbox-detail.html">Entradas</a></li>
			</ul>
		</li>*@

				<li class="nav-small-cap m-t-10">--- Gestión</li>

				@if (user.Role == "Administrador" || user.Role == "SubAdministrador")
				{
					<li> <a href="@Url.Action("Index", "User")" class="waves-effect"><i class="icon-people p-r-10"></i> <span class="hide-menu">Usuarios</span></a> </li>
				}

				@if (user.Role == "Administrador" || user.Role == "SubAdministrador")
				{
					<li> <a href="@Url.Action("Index", "Establishment")" class="waves-effect"><i class="icon-briefcase p-r-10"></i> <span class="hide-menu">Establecimientos</span></a> </li>
				}

				@if (user.Role == "Administrador" || user.Role == "SubAdministrador")
				{
					<li> <a href="@Url.Action("Index", "Course")" class="waves-effect"><i class="icon-graduation p-r-10"></i> <span class="hide-menu">Cursos</span></a> </li>
				}

				@if (user.Role == "Administrador" || user.Role == "SubAdministrador")
				{
					<li> <a href="@Url.Action("Index", "Subject")" class="waves-effect"><i class="icon-rocket p-r-10"></i> <span class="hide-menu">Asignaturas</span></a> </li>
				}

				@if (user.Role == "Administrador" || user.Role == "SubAdministrador" || user.Role == "Profesor")
				{
					<li> <a href="@Url.Action("Index", "Unity")" class="waves-effect"><i class="icon-layers p-r-10"></i> <span class="hide-menu">Unidades</span></a> </li>
				}

				@if (user.Role == "Administrador" || user.Role == "SubAdministrador" || user.Role == "Profesor")
				{
					<li> <a href="@Url.Action("Index", "SubUnity")" class="waves-effect"><i class="icon-grid p-r-10"></i> <span class="hide-menu">Sub-Unidades</span></a> </li>
				}

				@if (user.Role == "Administrador" || user.Role == "SubAdministrador" || user.Role == "Profesor")
				{
					<li>
						<a href="javascript:void(0);" class="waves-effect">
							<i data-icon="o" class="linea-icon linea-basic fa-fw"></i>
							<span class="hide-menu">
								Rev. Pendientes
								<span class="fa arrow"></span>
								<span id="span-number-pendingtotal" class="label label-rouded label-info pull-right" style="display:none;">0</span>
							</span>
						</a>

						<ul class="nav nav-second-level collapse" aria-expanded="true" style="">
							<li>
								<a href="@Url.Action("Index", "PendingTest")">
									Test
									<span id="span-number-pendingtest" class="label label-rouded label-warning pull-right" style="display:none;">0</span>
								</a>
							</li>

							<li>
								<a href="@Url.Action("Index", "PendingUploadFile")">
									Archivos
									<span id="span-number-pendinguploadfile" class="label label-rouded label-warning pull-right" style="display:none;">0</span>
								</a>
							</li>
						</ul>
					</li>
				}

				@if (user.Role == "Alumno")
				{
					<li> <a href="@Url.Action("Index", "Activity")" class="waves-effect"><i class="icon-grid p-r-10"></i> <span class="hide-menu">Actividades</span></a> </li>
				}

				@if (SecurityGuard.Authentication.ContainRole("Administrador, SubAdministrador, Profesor, Alumno"))
				{
					<li> <a href="@Url.Action("Index", "Report")" class="waves-effect"><i class="ti-agenda p-r-10"></i> <span class="hide-menu">Informes</span></a> </li>
				}

			</ul>
		</div><div class="slimScrollBar" style="background: rgb(220, 220, 220); width: 0px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 1438px;"></div><div class="slimScrollRail" style="width: 0px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
	</div>
</div>
<!-- Left navbar-header end -->

<script>
	$(function ()
	{
		$.fn.NavBarLeft_LoadInformation = function () {

			@if (user.Role == "Administrador" || user.Role == "SubAdministrador" || user.Role == "Profesor")
			{
					@:Repository.queryApi(
					@:{
						@:url: "Test/GetPendingTestsCount", method: "GET",
						@:success: function (data) {
						@:if (data == null || data == undefined || data == 0 || data == '0')
							@:$("#span-number-pendingtest").hide();
						@:else
							@:$("#span-number-pendingtest").show();

						@:$("#span-number-pendingtest").html(data);
						@:$("#span-number-pendingtest").attr("pending-count",data);
						@:updatePendingTotal();

					@:}
						@:});


					@:Repository.queryApi(
					@:{
						@:url: "UploadFileStudent/GetPendingUploadFileCount", method: "GET",
						@:success: function (data) {
						@:if (data == null || data == undefined || data == 0 || data == '0')
							@:$("#span-number-pendinguploadfile").hide();
						@:else
							@:$("#span-number-pendinguploadfile").show();

						@:$("#span-number-pendinguploadfile").html(data);
						@:$("#span-number-pendinguploadfile").attr("pending-count",data);
						@:updatePendingTotal();

					@:}
						@:});
			}
		}

		$.fn.NavBarLeft_LoadInformation();

		function updatePendingTotal()
		{
			var test_count = $("#span-number-pendingtest").attr("pending-count");
			if (test_count == null || test_count == undefined || test_count == "")
				test_count = 0;
			else
				test_count = parseInt(test_count);

			var uploadfile_count = $("#span-number-pendinguploadfile").attr("pending-count");
			if (uploadfile_count == null || uploadfile_count == undefined || uploadfile_count == "")
				uploadfile_count = 0;
			else
				uploadfile_count = parseInt(uploadfile_count);

			var total = test_count + uploadfile_count;
		
			if (total > 0) {
				$("#span-number-pendingtotal").html(total);
				$("#span-number-pendingtotal").show();
			}
			else
				$("#span-number-pendingtotal").hide();
		}
	});
</script>