﻿@{
    var user = SecurityGuard.Authentication.currentAccess;
    string avatarUser = null;
    string avatarEstablishment = null;
    string imagePath = user.user.ImagePath;
    string nameEstablishment = user.educationalEstablishment.Name;
    string imagePath_establishment = user.educationalEstablishment.PathImage;

    if (imagePath != null || imagePath != "")
    {
        avatarUser = GeneralHelper.FileHelper.GetImageBase64(GeneralHelper.PathHelper.RootPath + user.user.ImagePath);
    }

    if (imagePath_establishment != null || imagePath_establishment != "")
    {
        avatarEstablishment = GeneralHelper.FileHelper.GetImageBase64(GeneralHelper.PathHelper.RootPath + imagePath_establishment);
    }


    var name = user.user.Name + " " + user.user.FatherLastName?.ElementAt(0) + ".";

    if (name.Length > 17)
    {
        name = name.Substring(0, 14) + "...";
    }

    if (nameEstablishment.Length > 15)
    {
        nameEstablishment = nameEstablishment.Substring(0, 13) + "...";
    }
}

<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top m-b-0">
    <div class="navbar-header">
        <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
        <div class="top-left-part" style="text-align:center; height:60px;">

            @if (avatarEstablishment == null || avatarEstablishment == "")
            {
                <a class="logo" style="color:white;">
                    <p style="height:8px;"></p>
                    <span class="hidden-xs"><strong>@nameEstablishment.ElementAt(0)</strong>@nameEstablishment.Substring(1)</span>
                </a>
            }
            else
            {
                <img id="img-avatar-establishment" src="@avatarEstablishment" alt="home" style="margin-top:5px; max-height:50px; max-width:100px; ">
            }
        </div>
        <ul class="nav navbar-top-links navbar-left hidden-xs active">
            <li><a id="a-menu-bar-openClose" href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light"><i class="icon-arrow-left-circle ti-menu"></i></a></li>
            @*<li class="in">
                    <form role="search" class="app-search hidden-xs">
                        <input type="text" placeholder="Search..." class="form-control"> <a href="" class="active"><i class="fa fa-search"></i></a>
                    </form>
                </li>*@
        </ul>
        <ul class="nav navbar-top-links navbar-right pull-right">
            <li class="home">
                <a href="@Url.Action("Index", "User")" style="width:140px;color:#fff">
                    <img style="width:35px;height:25px;vertical-align:middle;padding-right:10px" src="/Content/Images/users.png">
                    Usuarios
                </a>
            </li>
            <li class="home">
                <a href="@Url.Action("Index", "Home")" style="width:120px;color:#fff">
                    <img style="width:35px;height:25px;vertical-align:middle;padding-right:10px" src="/Content/Images/home.png">
                    Inicio
                </a>
            </li>
            <li class="directory">
                <a href="@Url.Action("Index", "Inicio")" style="width:150px;color:#fff">
                    <img style="width:35px;height:25px;vertical-align:middle;padding-right:10px" src="/Content/Images/folder.png">
                    Directorio
                </a>
            </li>
            <li class="mensajes">
                <a href="@Url.Action("Index", "Message")" style="width:150px;color:#fff">
                    <img style="width:35px;height:25px;vertical-align:middle;padding-right:10px;" src="/Content/Images/message.png">
                    Mensajes
                </a>
            </li>
            @*<li class="dropdown">
                    <a class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#">
                        <i class="icon-envelope"></i>
                        <div class="notify"><span class="heartbit"></span><span class="point"></span></div>
                    </a>
                    <ul class="dropdown-menu mailbox animated bounceInDown">
                        <li>
                            <div class="drop-title">Tienes 4 mensajes</div>
                        </li>
                        <li>
                            <div class="message-center">
                                <a href="#">
                                    <div class="user-img"> <img src="~/plugins/images/users/pawandeep.jpg" alt="user" class="img-circle"> <span class="profile-status online pull-right"></span> </div>
                                    <div class="mail-contnet">
                                        <h5>Pavan kumar</h5> <span class="mail-desc">Tengo una preguntas sobre matemáticas</span> <span class="time">9:30 AM</span>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="user-img"> <img src="~/plugins/images/users/sonu.jpg" alt="user" class="img-circle"> <span class="profile-status busy pull-right"></span> </div>
                                    <div class="mail-contnet">
                                        <h5>Sonu Nigam</h5> <span class="mail-desc">Necesito el último pdf</span> <span class="time">9:10 AM</span>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="user-img"> <img src="~/plugins/images/users/arijit.jpg" alt="user" class="img-circle"> <span class="profile-status away pull-right"></span> </div>
                                    <div class="mail-contnet">
                                        <h5>Arijit Sinh</h5> <span class="mail-desc">¿Cúando es el test?</span> <span class="time">9:08 AM</span>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="user-img"> <img src="~/plugins/images/users/pawandeep.jpg" alt="user" class="img-circle"> <span class="profile-status offline pull-right"></span> </div>
                                    <div class="mail-contnet">
                                        <h5>Pavan kumar</h5> <span class="mail-desc">Mañana hay clases a las 11:00 AM</span> <span class="time">9:02 AM</span>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li>
                            <a class="text-center" href="javascript:void(0);"> <strong>Ver todas las notificaciones</strong> <i class="fa fa-angle-right"></i> </a>
                        </li>
                    </ul>

                </li>*@
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#">

                    @if (avatarUser != "")
                    {
                        <img src="@avatarUser" alt="@SecurityGuard.Authentication.currentAccess.user.Name" width="40" class="img-circle">
                        <b class="hidden-xs">@name</b>
                    }
                    else
                    {
                        <i class="ti-user bg-megna" style="font-size: 20px; margin:5px;"></i>
                        <b class="hidden-xs">@name</b>
                    }
                </a>

                <ul class="dropdown-menu dropdown-user animated flipInY">
                    <li><a href="@Url.Action("Index", "Configuration")"><i class="ti-settings"></i>  Configuración</a></li>
                    <li><a href="@Url.Action("Logout", "Login")"><i class="fa fa-power-off"></i>  Salir</a></li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
    </div>
    <!-- /.navbar-header -->
    <!-- /.navbar-top-links -->
    <!-- /.navbar-static-side -->
</nav>
<script>
	$(function () {

		var iElement = $("#a-menu-bar-openClose").find("i");
		var imageEstablishment = $("#img-avatar-establishment");

		if ('@avatarEstablishment'!="" && imageEstablishment != undefined && imageEstablishment!=null &&  imageEstablishment[0].clientWidth > 50)
			checkAvatarEstablishmentChanges();

		function checkAvatarEstablishmentChanges()
		{
			if (iElement.hasClass("icon-arrow-left-circle"))
				imageEstablishment.show("fast");
			else
				imageEstablishment.hide("fast");

			setTimeout(checkAvatarEstablishmentChanges, 200);
		}
	});
</script>