﻿@model Component.Select.ManagerSelect

@for (int i = 0; i < Model.components.Count; i++)
{
	var select = Model.components[i];
	var sizeColumn = 4;

	if (Model.showVertical)
	{
		sizeColumn = 12;
	}

	<div class="@Html.Raw("col-sm-"+sizeColumn)">
		<div class="form-group">
			<label class="">@select.placeholder</label>
			@{ var name = "Select_" + select.code + "_" + Model.groupCode; }
			<select class="custom-select col-@Html.Raw(sizeColumn)" component-code="@select.code" group-code="@Model.groupCode" name=" @name" id="@name">
				<option value="0" disabled selected>@select.placeholder</option>
			</select>
		</div>
	</div>
}

<script>
    $(document).ready(function ()
    {
        var components = JSON.parse('@Html.Raw(Json.Encode(Model.components))');

        for (var i = 0; i < components.length; i++)
            if (components[i].parentCode == "Unknow")
                GenericSystemSelect.loadComponent(components[i],@Model.groupCode);
            else
                GenericSystemSelect.getSelect(components[i].code,@Model.groupCode).prop("disabled", true);

        GenericSystemSelect.ChangeSelect(components,@Model.groupCode);

    });
</script>