﻿@{
    var user = SecurityGuard.Authentication.currentAccess;
	var avatarUser = GeneralHelper.FileHelper.GetImageBase64(user.user.ImagePath);
}

<aside class="yaybar yaybar-right yay-shrink yay-hide-to-small yay-gestures">



    <div class="nano">
        <div class="nano-content">
            <ul>
                <li style="padding-bottom:50px;text-align:center;padding-top:5px;font-size:14px;padding-left: 30%;" class="label">Acciones</li>
                <li></li>


            </ul>
            <div style="margin-top:10px;" id="rightpaneloptions">  </div>
        </div>
    </div>
</aside>