﻿@Styles.Render("~/Css/DropZone")
@Scripts.Render("~/Js/DropZone")
@Scripts.Render("~/Js/FileSaver")

@{
	var url = SecurityGuard.ConnectionHelper.URL_WEBAPI + "ActionFileGroup";
}

<style>
	.dz-progress {
		display: none;
	}
</style>

<div id="div-modal-file" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
	<div style="max-width: 690px; margin: 30px auto;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">Archivos</h4>
			</div>
			<form id="form-file" method="post" enctype="multipart/form-data" action="@url" data-parsley-validate>
				<div class="modal-body">

					<div class="form-group">
						<label for="recipient-name" class="control-label">Nombre del grupo:</label>
						<input type="text" name="Name" class="form-control" id="recipient-name" required>
					</div>

					<div id="div-form-file-checkboxes" class="form-group row"></div>

					<div class="form-group">
						<div class="dropzone" id="myDropzone" style="border: 0.5px solid rgba(0,0,0,0.3); min-height:100px;"></div>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancelar</button>
					<button id="button-submit-file" type="submit" class="btn btn-info waves-effect waves-light">Agregar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div id="div-modal-file-view" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
	<div style="max-width: 500px; margin: 30px auto;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 id="h4-modal-file-view" class="modal-title">Archivos</h4>
			</div>

			<div class="row">
				<div class="col-md-12">
					<ul class="list-group" id="ul-modal-file-view"></ul>
				</div>
			</div>

		</div>
	</div>
</div>

<script>
	Dropzone.autoDiscover = false;

	$(function () {

		var DropZone;

		//Componente que se está manipulando.
		var currentComponent;

		$.fn.File_View = function (content) {
			event.preventDefault();
			resetForm();
			$("#h4-modal-file-view").text("Archivos: " + content.Name);
			$('#div-modal-file-view').modal('show');

			var structure = "";

			for (var i = 0; i < content.ActionFiles.length; i++) {
				structure +=
					'<li class="list-group-item">' +
					'<a href="#" onclick="$.fn.File_Download(' + content.ActionFiles[i].Id + ',\'' + content.ActionFiles[i].DocumentType + '\')" style="margin-left:15px; color:#2b2b2b;" class="waves-effect active" onclick=""><i class="icon-arrow-down-circle p-r-10" style="font-size: 1.3em;"></i> <span class="hide-menu">' + content.ActionFiles[i].DocumentName + '</span></a>' +
					'</li>';
			}
			$("#ul-modal-file-view").html(structure);
		}

		$.fn.File_Add = function (activity_id) {
			event.preventDefault();
			resetForm();
			$('#div-modal-file').modal('show');
			$("#form-file").attr("activity-id", activity_id);
			$("#form-file").attr("actionfilegroup-id", 0);
			$("#button-submit-file").text("Agregar");
		}

		$.fn.File_Edit = function (content) {
			event.preventDefault();
			resetForm();
			$('#div-modal-file').modal('show');
			$("#form-file").attr("activity-id", 0);
			$("#form-file").attr("actionfilegroup-id", content.Id);
			$("#form-file").find('input[name="Name"]').val(content.Name);
			$("#button-submit-file").text("Actualizar");
			generateCheckboxes(content);
		}

		$.fn.File_Delete = function (content)
		{
			event.preventDefault();
			$("#button-delete").attr("id-value", content.Id);
			$("#button-delete").attr("url-name", "ActionFileGroup");
			$('#div-modal-delete').modal('show');
		}

		$.fn.File_Download = function (actionfile_id, type) {
			Repository.queryApi(
				{
					url: "ActionFile/Download",
					method: "GET",
					data: { "actionfile_id": actionfile_id },
					success: function (_data) {
						DownloadManager.downloadBase64(_data, name, type);
					}
				}, true, true);
		}

		$("#myDropzone").dropzone({
			dictDefaultMessage: "Suelta los archivos aquí o haz clic para cargarlos.",
			dictRemoveFile: "Eliminar",
			url: "/Unity",
			autoProcessQueue: false,
			uploadMultiple: true,
			parallelUploads: 5,
			maxFiles: 5,
			maxFilesize: 5,
			addRemoveLinks: true,
			init: function () {
				dropZone = this;
			}
		});

		$("#form-file").parsley().on('form:submit', function () {
			var data = new FormData(document.getElementById("form-file"));

			var name = $("#form-file").find('input[name="Name"]').val();
			var activity_id = $("#form-file").attr("activity-id");
			var actionFileGroup_id = $("#form-file").attr("actionfilegroup-id");

		
			var actionFiles = [];

			$("#div-form-file-checkboxes :input").each(function () {
				try
				{
					actionFiles.push({ Id: $(this).attr('id-model'), Status: $(this).is(':checked') });
				} catch (ex) {}
			});

			data.append("ActionFileGroup", JSON.stringify(
				{
					Name: name,
					Activity_Id: activity_id,
					ActionFileGroup_Id: actionFileGroup_id,
					ActionFiles: actionFiles
				}));

			var files = dropZone.getAcceptedFiles();
			for (var i = 0; i < files.length; i++)
				data.append("file-" + i, files[i]);

			Repository.queryApi(
				{
					url: "ActionFileGroup",
					method: actionFileGroup_id == 0? "POST" : "PUT",
					data: data,
					success: function (data) {
						$.fn.refreshTable();
						$('#div-modal-file').modal('hide');
					}
				}, true, true);

			return false;
		});

		function generateCheckboxes(content)
		{
			var structure = '<div class="col-md-12">' +
				'<label for="recipient-name" class="control-label"> Archivos asociados:</label>' +
				'</div >';

			for (var i = 0; i < content.ActionFiles.length; i++)
			{
				structure += '<div class="col-md-4">'+
					'<div class="form-check">'+
						'<label class="custom-control custom-checkbox">'+
					'<input type="checkbox" class="custom-control-input content-file-checkboxes" id-model="' + content.ActionFiles[i].Id+'" checked>'+
								'<span class="custom-control-indicator"></span>'+
								'<span class="custom-control-description">'+content.ActionFiles[i].DocumentName+'</span>'+
								'</label>'+
							'</div>'+
						'</div>';
			}

			if (content.ActionFiles.length != 0) {
				$("#div-form-file-checkboxes").html(structure);
				$("#div-form-file-checkboxes").show();
			}
			else
				$("#div-form-file-checkboxes").hide();
		}

		function resetForm() {
			$("#form-file").get(0).reset();
			$("#form-file").parsley().reset();
			dropZone.removeAllFiles(true);
			$("#div-form-file-checkboxes").html("");
		}
	});
</script>