﻿@model System.Object[]

@{
	var subUnity = (Model[0] ?? new Model.SubUnity() { Name = "" }) as Model.SubUnity;
	var managerSelect = Model[1] as Component.Select.ManagerSelect;
	managerSelect.showVertical = true;

	var action = subUnity.Id == 0 ? "Agregar" : "Actualizar";
	var methodAjax = subUnity.Id == 0 ? "POST" : "PUT";

	DateTime start = DateTime.Now.Date;
	DateTime ends = DateTime.Now.Date.AddDays(5);

	if (subUnity.Id != 0)
	{
		managerSelect.FindSelectComponent(Component.Select.SelectCode.Course).defaultValue = subUnity.Unity.CourseSubject.Course.Id.ToString();
		managerSelect.FindSelectComponent(Component.Select.SelectCode.Subject).defaultValue = subUnity.Unity.CourseSubject.Subject.Id.ToString();
		managerSelect.FindSelectComponent(Component.Select.SelectCode.Unity).defaultValue = subUnity.Unity.Id.ToString();

		start = subUnity.Start;
		ends = subUnity.Ends;
	}

}

@Styles.Render("~/Css/Flatpickr")
@Scripts.Render("~/Js/Flatpickr")

@Styles.Render("~/Css/Summernote")
@Scripts.Render("~/Js/Summernote")

@Scripts.Render("~/Js/Moment")

<form id="SubUnityForm" data-parsley-validate>

	<div class="row">
		<div class="col-sm-12">

			<div class="row form-group">

				<div class="col-sm-6">
					<label class="col-sm-12">Nombre Sub-Unidad</label>
					<div class="col-sm-12">
						<input id="input-name" id-value="0" class="form-control" type="text" name="Name" value="@subUnity.Name" required>
					</div>
				</div>


				<div class="col-sm-6">
					<label class="col-sm-12">Fecha Desde/Hasta</label>
					<div class="col-sm-12">
						<input id="datepicker_1" class="flatpickr flatpickr-input form-control active" style="background-color: #fff;" type="text" placeholder="Seleccione un rango" readonly="readonly" required>
					</div>
				</div>




			</div>

			<div class="form-group">
				<label class="col-sm-12">Descripción</label>
				<div class="col-sm-12">
					<textarea id="textarea-description" name="editordata"></textarea>
				</div>
			</div>

			@{Html.RenderPartial("SelectLayout", @managerSelect);}



			<div class="row">
				<div class="col-sm-12">
					<button id="buttonSubmit" class="btn float-right @StyleConfig.ButtonStyle_Accept">@action</button>
				</div>
			</div>
		</div>
	</div>
</form>

<script>
	$(document).ready(function ()
	{
		var calendar = flatpickr("#datepicker_1",
			{
				dateFormat: "d/m/Y",
				mode: "range",
				defaultDate: ["@start.ToString("dd/MM/yyyy")", "@ends.ToString("dd/MM/yyyy")"],
				locale: "es"
			});

		$('#textarea-description').summernote({ height: 300, lang: 'es-ES' });

		@if (subUnity.Id != 0)
		{
			@:$('#textarea-description').summernote('code', '@Html.Raw(subUnity.Description)');
		}

		var selects = GenericSystemSelect.getSelectsByGroupCode(@managerSelect.groupCode);

		for (var i = 0; i < selects.length; i++)
			selects[i].prop('required', true);

		$("#SubUnityForm").parsley().on('form:submit', function () {

			var name = $("#SubUnityForm").find('input[name="Name"]').val();
			var description = $('#textarea-description').summernote('code');
			var unity_id = GenericSystemSelect.getSelect("Unity",@managerSelect.groupCode).val();

			data =
				{
					Id: "@subUnity.Id",
					Name: name,
					Start: moment(new Date(calendar.selectedDates[0])).format('YYYY-MM-DD'),
					Ends: moment(new Date(calendar.selectedDates[1])).format('YYYY-MM-DD'),
					Description: description,
					Unity: { Id : unity_id }
				};

			Repository.queryApi(
				{
					url: "SubUnity",
					method: "@methodAjax",
					data: data,
					success: function (data) {
						window.location.href = "/SubUnity";
					}
				}, true, true);

			return false;
		});
	});
</script>