﻿@model Component.Select.ManagerSelect

@Styles.Render("~/Css/Summernote")
@Scripts.Render("~/Js/Summernote")
@Scripts.Render("~/Js/Sortable")
@Scripts.Render("~/Js/Moment")

<style>
	.scrollable-menu {
		height: auto;
		max-height: 250px;
		overflow-x: hidden;
	}

	.cool-link {
		display: inline-block;
		color: #005aa1;
		text-decoration: none;
	}

		.cool-link::after {
			content: '';
			display: block;
			width: 0;
			height: 1px;
			background: #005aa1;
			transition: width .3s;
		}

		.cool-link:hover::after {
			width: 100%;
			//transition: width .3s;
		}
</style>

<!--Style para Sortable-->
<style>
	.column-border-left {
		border-right: 1px dashed #686868;
	}

	body.dragging, body.dragging * {
		cursor: move !important;
	}

	.dragged {
		position: absolute;
		opacity: 0.5;
		z-index: 2000;
	}

	lu.sortable-test li.placeholder {
		position: relative;
	}

		lu.sortable-test li.placeholder:before {
			position: absolute;
		}

	.parsley-required {
		color: red;
	}

	.li-action-line {
		margin: 0px !important;
		padding: 6px !important;
		padding-top: 0px !important;
		padding-bottom: 0px !important;
		border-color: white !important;
	}

	.li-activity-line {
		margin: 0px !important;
		padding: 6px !important;
		padding-top: 0px !important;
		padding-bottom: 0px !important;
		border-color: white !important;
	}

	.li-subunity-line {
		margin: 0px !important;
		padding: 0px !important;
		padding-top: 0px !important;
		padding-bottom: 0px !important;
		border-color: white !important;
		margin-top: 25px !important;
	}
</style>


<div class="row bg-title">
	<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
		<h4 class="page-title">Sub-Unidades</h4>
	</div>
	<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
		<button class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm btn right waves-effect waves-light btn-danger waves-effect waves-light" style="margin:4px 4px 4px 4px;" group-code="1" component-code="addButton" onclick="window.location.href='SubUnity/Add'">
			Crear Sub-Unidad
		</button>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="white-box">
			<div class="row">
				@{Html.RenderPartial("SelectLayout", Model);}
			</div>
		</div>
	</div>

	<div id="div-subUnits" class="col-sm-12"></div>
</div>

@{Html.RenderPartial("Activity - Form");}
@{Html.RenderPartial("File - Form");}
@{Html.RenderPartial("Link - Form");}
@{Html.RenderPartial("ActionLesson - Form");}
@{Html.RenderPartial("Publication - Form");}
@{Html.RenderPartial("Test - Form");}
@{Html.RenderPartial("UploadFileStudent - Form");}

<div id="div-modal-delete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			</div>
			<div class="modal-body">
				<h5>¿Seguro que desea eliminarlo?</h5>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancelar</button>
				<button id="button-delete" id-value="0" type="button" class="btn btn-danger waves-effect">Eliminar</button>
			</div>
		</div>
	</div>
</div>

<script>

	$(document).ready(function ()
	{
		//******************* Envío de información Formulario Eliminar *******************//
		$("#button-delete").click(function () {

			var id = $(this).attr("id-value");
			var url = $(this).attr("url-name");

			Repository.queryApi(
				{
					url: url,
					method: "DELETE",
					data: { id: id },
					success: function (data) {
						$.fn.refreshTable();
						$('#div-modal-delete').modal('hide');
					}
				}, true, true);
		});


		//******************************* Actualizar Tabla ************************************//
		$.fn.refreshTable = function ()
		{
			var unity_id = GenericSystemSelect.getSelect("Unity",@Model.groupCode).val();

			if (unity_id == null || unity_id == 0) return;

			Repository.queryApi(
				{
					url: "SubUnity/GetSubUnitsViewModel",
					method: "GET",
					data: { unity_id: unity_id },
					success: function (data) {
						generateContent(data);
					}
				});
		}

		//*********************************** Select Event ***************************************//
		EventDispatcher.on(GenericSystemSelect.lastSelectedEvent, function (elements) {

			if ("@Model.groupCode" != (elements.groupCode + "")) return;
			$.fn.refreshTable();
		});

		function generateContent(data)
		{

			var structure = '<ul id="ul-subUnities-sort" group-sort="ul-subunities"  class="sortable-test list-group" style="width:100%; overflow: visible !important;  background-color:#f1f1f1">';

			for (var i = 0; i < data.length; i++)
				structure += generateSubUnityContent(i, i + 1 == data.length, data[i]);

			structure += "</ul>";

			$("#div-subUnits").html(structure);

			for (var i = 0; i < data.length; i++)
				for (var j = 0; j < data[i].Activities.length; j++) {
					$("#ul-actions-sort_" + data[i].Activities[j].Id).sortable(
						{
							delay: 250,
							tolerance: -100,
							onMousedown: function ($item, _super, event) {

								if (!event.target.nodeName.match(/^(input|select|textarea)$/i) && $item[0].className.indexOf("li-action-line") >= 0) {
									event.preventDefault();
									return true;
								}

								return false;
							},
							onDrop: function ($item, container, _super, event) {
								$item.closest("ul").find('.li-action-line').each(function (index, value) {
									if ($item.attr("id") == $(this).attr("id"))
										sortItems_Actions($item.attr("id-model"), $item.attr("action-type"), index);
								});

								$item.removeClass(container.group.options.draggedClass).removeAttr("style");
								$("body").removeClass(container.group.options.bodyClass);
							},
							isValidTarget: function ($item, container)
							{
								try
								{
									return $item.attr("group-sort") == container.target.attr("group-sort");
								}
								catch (error)
								{
									return false;
								}
							}

						});

					$("#ul-activities-sort_" + data[i].Activities[j].Id).sortable(
						{
							delay: 250,
							tolerance: -100,
							onMousedown: function ($item, _super, event) {

								if (!event.target.nodeName.match(/^(input|select|textarea)$/i) && $item[0].className.indexOf("li-activity-line") >= 0) {
									event.preventDefault();
									return true;
								}

								return false;
							},
							onDrop: function ($item, container, _super, event) {
								$item.closest("ul").find('.li-activity-line').each(function (index, value) {
									if ($item.attr("id") == $(this).attr("id"))
									sortItems_Activities($item.attr("id-model"), index);
								});

								$item.removeClass(container.group.options.draggedClass).removeAttr("style");
								$("body").removeClass(container.group.options.bodyClass);
							},
							isValidTarget: function ($item, container)
							{
								try
								{
									return $item.attr("group-sort") == container.target.attr("group-sort");
								}
								catch (error)
								{
									return false;
								}
							}
						});
				}

			$("#ul-subUnities-sort").sortable(
				{
					delay: 250,
					tolerance: -100,
					onMousedown: function ($item, _super, event) {

						if (!event.target.nodeName.match(/^(input|select|textarea)$/i) && $item[0].className.indexOf("li-subunity-line") >= 0) {
							event.preventDefault();
							return true;
						}

						return false;
					},
					onDrop: function ($item, container, _super, event) {
						$item.closest("ul").find('.li-subunity-line').each(function (index, value) {
							if ($item.attr("id") == $(this).attr("id"))
								sortItems_SubUnities($item.attr("id-model"), index);
						});

						$item.removeClass(container.group.options.draggedClass).removeAttr("style");
						$("body").removeClass(container.group.options.bodyClass);
					},
					isValidTarget: function ($item, container) {
						try {
							return $item.attr("group-sort") == container.target.attr("group-sort");
						}
						catch (error) {
							return false;
						}
					}
				});

		}

		function generateSubUnityContent(index, lastSubUnity, subUnity)
		{

			if (subUnity.Description == null)
				subUnity.Description = "";

			var dropDown = '<div class="btn-group" style="margin-top:-6px;">' +
				'<button aria-expanded="false" data-toggle="dropdown" class="btn btn-danger dropdown-toggle waves-effect waves-light" type="button" style="background-color:#4867A8; border-color:#4867A8;"><i class="fa fa-cog m-r-5"></i>Config.</button>' +
				'<ul role="menu" class="dropdown-menu dropdown-menu-right">' +
				'<li><a href="SubUnity/Edit/' + subUnity.Id+'" style="color:#2b2b2b;">Editar</a></li>' +
				'<li><a href="#" style="color:#2b2b2b;" onclick="$.fn.SubUnity_Delete(' + subUnity.Id+');">Eliminar</a></li>' +
				'<li class="divider"></li>' +
				'<li><a href="#" style="color:#2b2b2b;" onclick="$.fn.Activity_Add(' + subUnity.Id +');">Agregar actividad</a></li>' +
				'</ul>' +
				'</div>';

			var structure = '<div class="panel panel-danger" style="margin-bottom: 0px;">' +
				'<div class="panel-heading" style="background-color:#4867A8; border-color:#4867A8;">' +
				'<i class="fa fa-arrows-alt p-r-10" style="font-size: 1em; margin-top:2px; float:left;"></i>' +
				' Sub-Unidad ' + (index + 1) + ': ' + subUnity.Title +
				'<div class="pull-right" style="color:black;">' + dropDown + '</div>' +
				'<div class="ribbon ribbon-right ribbon-warning" style="position: relative; top:-53px; right:-137px; width:320px; float:right; text-align:center; font-weight: 300; text-transform: none;">Desde: ' + moment(new Date(subUnity.Start)).format('DD/MM/YY') + ' - Hasta: ' + moment(new Date(subUnity.Ends)).format('DD/MM/YY')+'</div>'+
				'</div>' +
				'<div class="panel-wrapper collapse in" aria-expanded="true" style="">' +
				'<div class="panel-body">' +
				subUnity.Description +
				generateActivities(lastSubUnity, subUnity)+
				'</div>' +
				'</div>' +
				'</div>';

			structure = '<li id="li-subunity-sort_' + subUnity.Id + '" group-sort="ul-subunities"  id-model="' + subUnity.Id + '" class="list-group-item li-subunity-line">' +
				structure + '</li>';

			return structure;
		}

		function generateActivities(lastSubUnity ,subUnity)
		{
			var structure = '';


			for (var i = 0; i < subUnity.Activities.length; i++)
			{
				var dropDown = '<div class="btn-group ' + (lastSubUnity ? "dropup" : "") + ' " style="margin-top:-6px;">' +
					'<button aria-expanded="false" data-toggle="dropdown" class="btn btn-warning dropdown-toggle waves-effect waves-light" type="button"><i class="fa fa-cog m-r-5"></i></button>' +
					'<ul role="menu" class="dropdown-menu dropdown-menu-right scrollable-menu">' +
					'<li class="dropdown-header ms-hover"><span class="text">Actividad</span></li>' +
					'<li><a href="#" style="color:#2b2b2b;" onclick="$.fn.Activity_Edit(' + i + ',$(\'#h4-title-' + subUnity.Activities[i].Id + '\'),\'' + subUnity.Activities[i].Title + '\',' + subUnity.Activities[i].Id + ');">Editar</a></li>' +
					'<li><a href="#" style="color:#2b2b2b;" onclick="$.fn.Activity_Delete(' + subUnity.Activities[i].Id + ');">Eliminar</a></li>' +
					'<li class="divider"></li>' +
					'<li class="dropdown-header ms-hover"><span class="text">Agregar contenido</span></li>' +
					'<li><a href="#" style="color:#2b2b2b;" onclick="$.fn.Test_Add(' + subUnity.Activities[i].Id + ');">Test</a></li>' +
					'<li><a href="#" style="color:#2b2b2b;" onclick="$.fn.Publication_Add(' + subUnity.Activities[i].Id + ');">Foro</a></li>' +
					'<li><a href="#" style="color:#2b2b2b;" onclick="$.fn.ActionLesson_Add(' + subUnity.Activities[i].Id + ');">Contenido</a></li>' +
					'<li><a href="#" style="color:#2b2b2b;" onclick="$.fn.File_Add(' + subUnity.Activities[i].Id + ');">Archivos</a></li>' +
					'<li><a href="#" style="color:#2b2b2b;" onclick="$.fn.Link_Add(' + subUnity.Activities[i].Id + ');">Enlace</a></li>' +
					'<li><a href="#" style="color:#2b2b2b;" onclick="$.fn.UploadFileStudent_Add(' + subUnity.Activities[i].Id + ');">Subida de archivos (Estudiantes)</a></li>' +
					'</ul>' +
					'</div>';

				structure += '<li id="li-activity-sort_' + subUnity.Activities[i].Id + '" group-sort="ul-activities"  id-model="' + subUnity.Activities[i].Id + '" class="list-group-item li-activity-line">' +
					'<div class="row">' +
								'<div class="col-sm-11">'+
									'<i class="fa fa-arrows-alt p-r-8" style="font-size: 1em; margin-top:7px; margin-left:-20px; float:left;"></i>'+
									'<h3 id="h4-title-'+subUnity.Activities[i].Id+'" class="box-title" style="color:#686868;">' + (i + 1) + '. ' + subUnity.Activities[i].Title + '</h4>' +
								'</div>'+
								'<div class="col-sm-1">'+
									dropDown+
					'</div>' +
					generateActions(lastSubUnity, subUnity.Activities[i].Actions,subUnity.Activities[i].Id) +
							'</div></li>';
			}

			if (structure != "")
			{
				structure = '<hr>' + '<ul id="ul-activities-sort_' + subUnity.Id + '" group-sort="ul-activities" class="sortable-test list-group" style="width:100%; overflow: visible !important;  background-color:#f1f1f1">' +
					structure
					+ '</ul>';
			}

			return structure;
		}

		function generateActions(lastSubUnity, actions, activity_id)
		{
			var structure = '<ul id="ul-actions-sort_' + activity_id + '" group-sort="ul-actions"  class="sortable-test list-group" style="width:100%; overflow: visible !important;  background-color:#f1f1f1">';

			for (var i = 0; i < actions.length; i++)
			{
				//Todos los métodos terminarán por defecto en _Add _Edit _Delete _Etc
				//Solamente incluir el nombre antes del _"Accion"
				var methodAction = "";
				var icon = "";
				var title = "";
				var content_view = "";
				var content_edit = "";
				var content_delete = "";
				//HTML que iría debajo del título
				var sub_content = "";
				var action_id = actions[i].Content.Id;

				switch (actions[i].Type+"")
				{
					case '@((int)GeneralHelper.ActionType.File)':
						methodAction= "File";
						icon = "icon-cloud-download";
						title = actions[i].Content.Name;
						content_view = content_edit = actions[i].Content;
						content_delete = { Id: actions[i].Content.Id };
					break;
					case '@((int)GeneralHelper.ActionType.ActionLesson)':
						methodAction = "ActionLesson";
						icon = "icon-book-open";
						title = actions[i].Content.Title;
						sub_content = actions[i].Content.Description;
						content_edit = actions[i].Content;
						content_delete = { Id: actions[i].Content.Id };
					break;
					case '@((int)GeneralHelper.ActionType.Link)':
						methodAction = "Link";
						icon = "fa fa-link";
						title = actions[i].Content.Name;
						content_view = content_edit = actions[i].Content;
						content_delete = { Id: actions[i].Content.Id };
					break;
					case '@((int)GeneralHelper.ActionType.Forum)':
						methodAction = "Publication";
						icon = "icon-bubbles";
						title = actions[i].Content.Title;
						content_view = content_edit = actions[i].Content;
						content_delete = { Id: actions[i].Content.Id };
					break;
					case '@((int)GeneralHelper.ActionType.Test)':
						methodAction = "Test";
						icon = "icon-bulb";
						title = actions[i].Content.Title;
						content_view = actions[i].Content;
						content_delete = { Id: actions[i].Content.Id };
						content_edit = { Id: actions[i].Content.Id };
					break;
					case '@((int)GeneralHelper.ActionType.UploadFileStudent)':
						methodAction = "UploadFileStudent";
						icon = "ti-upload";
						title = actions[i].Content.Title;
						content_view = content_edit = actions[i].Content;
						content_delete = { Id: actions[i].Content.Id };
					break;
				}

				if (content_view != "")
					content_view = StringCast.ObjectToString_Encode(content_view);

				content_edit = StringCast.ObjectToString_Encode(content_edit);
				content_delete = StringCast.ObjectToString_Encode(content_delete);

				var dropDown = '<div class="btn-group ' + (lastSubUnity ? "dropup" : "") + ' " style="margin-top:-6px;">' +
					'<button aria-expanded="false" data-toggle="dropdown" class="btn  dropdown-toggle waves-effect waves-light" type="button"><i class="fa fa-cog m-r-5"></i></button>' +
					'<ul role="menu" class="dropdown-menu dropdown-menu-right scrollable-menu">' +
					'<li class="dropdown-header ms-hover"><span class="text">Contenido</span></li>' +
					'<li><a href="#" style="color:#2b2b2b;" onclick="$.fn.' + methodAction + '_Edit(StringCast.StringToObject_Decode(\'' + content_edit + '\'));">Editar</a></li>' +
					'<li><a href="#" style="color:#2b2b2b;" onclick="$.fn.' + methodAction + '_Delete(StringCast.StringToObject_Decode(\'' + content_delete + '\'));">Eliminar</a></li>' +
					'</ul>' +
					'</div>';

				structure +=
					'<li id="li-action-sort_' + methodAction +'_'+action_id+'" group-sort="ul-actions" action-type="'+actions[i].Type+'"  id-model="'+action_id+'" class="list-group-item li-action-line"><div class="row">  <div class="col-sm-11">' +
					((content_view=="")?
						'<i class="fa fa-arrows-alt p-r-10" style="font-size: 1em; margin-top:3px; float:left;"></i><a style="margin-left:15px; color:#005aa1; height:37px;"><i class="' + icon + ' p-r-10" style="font-size: 1.3em;"></i> <span class="hide-menu">' + title + '</span></a>':
						'<i class="fa fa-arrows-alt p-r-10" style="font-size: 1em; margin-top:3px; float:left;"></i><a href="#" style="margin-left:15px; color:#005aa1; height:37px;" class="cool-link waves-effect active" onclick="$.fn.' + methodAction + '_View(StringCast.StringToObject_Decode(\'' + content_view + '\'));"><i class="' + icon +' p-r-10" style="font-size: 1.3em;"></i> <span class="hide-menu">'+title+'</span></a>')+
					'</div>' +
					'<div class="col-sm-1">' +
					dropDown +
					'</div>';

				if (sub_content != "")
				{
					structure += '<div class="col-sm-11" style="margin-left:40px;" >' + sub_content + '</div>';
				}

				structure += '</div> </li>';
			}

			return structure + '</ul>';
		}

		function sortItems_Actions(action_id, type, order)
		{
			Repository.queryApi(
				{
					url: "Action/OrderAction",
					method: "GET",
					data: { action_id: action_id , type : type , order : order },
				});
		}

		function sortItems_Activities(activity_id, order)
		{
			Repository.queryApi(
				{
					url: "Activity/OrderActivity",
					method: "GET",
					data: { activity_id: activity_id, order: order }
				});
		}

		function sortItems_SubUnities(subunity_id, order) {
			Repository.queryApi(
				{
					url: "SubUnity/OrderSubUnity",
					method: "GET",
					data: { subunity_id: subunity_id, order: order }
				});
		}
	});

	$.fn.SubUnity_Delete = function(id)
	{
		event.preventDefault();
		$("#button-delete").attr("id-value", id);
		$("#button-delete").attr("url-name", "SubUnity");
		$('#div-modal-delete').modal('show');
	}
</script>
