﻿@Styles.Render("~/Css/VenoBox")
@Scripts.Render("~/Js/VenoBox")

<div id="div-modal-link" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
	<div style="max-width: 400px; margin: 30px auto;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">Enlace</h4>
			</div>
			<form id="form-link" data-parsley-validate>
				<div class="modal-body">

					<div class="form-group">
						<label for="recipient-name" class="control-label">Nombre:</label>
						<input type="text" name="Name" class="form-control" id="recipient-name" required>
					</div>

					<div class="form-group">
						<label for="recipient-name" class="control-label">Url:</label>
						<input type="text" name="Link" class="form-control" id="recipient-name" placeholder="https://www.google.cl" data-parsley-type="url" required>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancelar</button>
					<button type="submit" id="button-submit-link" class="btn btn-info waves-effect waves-light">Agregar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<button id="a-link-view-video" class="venobox" data-vbtype="video" href="" disabled style="display:none;">Visualizador</button>
<button id="a-link-view-image" class="venobox" href="" disabled style="display:none;">Visualizador</button>
<a id="a-link-view-new" href="#" target="_blank" style="display:none;" ></a>
<img id="img-link-view-image" src="" style="display:none;"/>

<script>
	$(function ()
	{
		$.fn.Link_View = function (content) {
			event.preventDefault();
			resetForm();

			if (content.Url.toLowerCase().indexOf("youtu.be") != -1 ||
				(content.Url.toLowerCase().indexOf("youtube") != -1 && content.Url.toLowerCase().indexOf("/watch") != -1) ||
				content.Url.toLowerCase().indexOf("player.vimeo") != -1) {
				$("#a-link-view-video").attr("href", content.Url);
				$("#a-link-view-video").attr("data-vbtype", "video");
				$("#a-link-view-video").venobox().trigger('click');
			}
			else
			if (content.Url.split('.').pop().toLowerCase() == "png" ||
				content.Url.split('.').pop().toLowerCase() == "jpg" ||
				content.Url.split('.').pop().toLowerCase() == "jpeg")
			{
				$("#img-link-view-image").attr("src", content.Url);
				$("#a-link-view-image").attr("href", content.Url);				
			}
			else
				if (content.Url.toLowerCase().indexOf("www.") == 0)
					window.open("http://" + content.Url);
				else
					window.open(content.Url);						
		}

		$("#img-link-view-image").bind('error', function (ev)
		{
			alert("Imagen no disponible.");
		});

		$("#img-link-view-image").bind('load', function (ev)
		{
			$("#a-link-view-image").venobox().trigger('click');
		});

		$.fn.Link_Add = function (activity_id) {
			event.preventDefault();
			resetForm();
			$('#div-modal-link').modal('show');
			$("#form-link").attr("activity-id", activity_id);
			$("#form-link").attr("link-id", 0);
			$("#button-submit-link").text("Agregar");
		}

		$.fn.Link_Edit = function (content) {
			event.preventDefault();
			resetForm();
			$('#div-modal-link').modal('show');
			$("#form-link").attr("activity-id", 0);
			$("#form-link").attr("link-id", content.Id);
			$("#form-link").find('input[name="Name"]').val(content.Name);
			$("#form-link").find('input[name="Link"]').val(content.Url);

			$("#button-submit-link").text("Actualizar");
		}

		$.fn.Link_Delete = function (content) {
			event.preventDefault();
			$("#button-delete").attr("id-value", content.Id);
			$("#button-delete").attr("url-name", "Link");
			$('#div-modal-delete').modal('show');
		}

		$("#form-link").parsley().on('form:submit', function () {
			var data =
				{
					Name: $("#form-link").find('input[name="Name"]').val(),
					Url: $("#form-link").find('input[name="Link"]').val(),
					Activity_Id: $("#form-link").attr("activity-id"),
					Link_Id: $("#form-link").attr("link-id")
				};

			Repository.queryApi(
				{
					url: "Link",
					method: data.Link_Id == 0 ? "POST" : "PUT",
					data: data,
					success: function (data) {
						$.fn.refreshTable();
						$('#div-modal-link').modal('hide');
					}
				}, true, true);

			return false;
		});

		function resetForm() {
			$("#form-link").get(0).reset();
			$("#form-link").parsley().reset();
		}
	});
</script>