﻿<div id="div-modal-publication" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static" style="display: none;" aria-hidden="true">
	<div style="max-width: 900px; margin: 30px auto;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">Foro</h4>
			</div>
			<form id="form-publication" data-parsley-validate>
				<div class="modal-body" style="height: 420px;overflow-y: auto;">
					<div class="col-sm-12">

						<div class="form-group">
							<label class="col-sm-12">Título:</label>
							<div class="col-sm-12">
								<input id="input-name" class="form-control" type="text" name="Name" required>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-12">Tipo de foro:</label>
							<div class="col-sm-12">
								<select id="select-publication" class="form-control custom-select" required>
									<option disabled selected value="">Seleccione un tipo</option>
									<option value="@((int)Enums.ForumType.Normal)">Normal</option>
									<option value="@((int)Enums.ForumType.Social)">Social</option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-12">Descripción:</label>
							<div class="col-md-12">
								<textarea id="textarea-publication" name="editordata"></textarea>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancelar</button>
					<button type="submit" id="button-submit-publication" class="btn btn-info waves-effect waves-light">Agregar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div id="div-modal-publication-view" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
	<div style="max-width: 900px; margin: 30px auto;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">Información</h4>
			</div>
			<div id="div-modal-publication-view-content" class="modal-body">
					
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Aceptar</button>
			</div>
			
		</div>
	</div>
</div>


<script>
	$(function ()
	{
		$.fn.Publication_View = function (content) {
			event.preventDefault();
			resetForm();

			window.open('/Forum/' + content.Id);
		}		

		$.fn.Publication_Add = function (activity_id) {
			event.preventDefault();
			resetForm();

			$('#div-modal-publication').modal('show');

			$('#textarea-publication').summernote('destroy');
			$('#textarea-publication').summernote({ height: 200, lang: 'es-ES', focus: true, dialogsInBody: true });
			$('#textarea-publication').summernote('code', '');
			
			$("#form-publication").attr("activity-id", activity_id);
			$("#form-publication").attr("publication-id", 0);
			$("#button-submit-publication").text("Agregar");
		}

		$.fn.Publication_Edit = function (content) {
			event.preventDefault();
			resetForm();
			$('#div-modal-publication').modal('show');
			$("#form-publication").attr("activity-id", 0);
			$("#form-publication").attr("publication-id", content.Id);
			$("#form-publication").find('input[name="Name"]').val(content.Title);
			$("#form-publication").find('select').val(content.Type);

			$('#textarea-publication').summernote('destroy');
			$('#textarea-publication').summernote({ height: 200, lang: 'es-ES', focus: true, dialogsInBody: true });
			$('#textarea-publication').summernote('code', content.Description);
			
			$("#button-submit-publication").text("Actualizar");
		}

		$.fn.Publication_Delete = function (content) {
			event.preventDefault();
			$("#button-delete").attr("id-value", content.Id);
			$("#button-delete").attr("url-name", "Forum");
			$('#div-modal-delete').modal('show');
		}

		$("#form-publication").parsley().on('form:submit', function () {
			var data =
				{
					Name: $("#form-publication").find('input[name="Name"]').val(),
					Description: $('#textarea-publication').summernote('code'),
					Activity_Id: $("#form-publication").attr("activity-id"),
					Publication_Id: $("#form-publication").attr("publication-id"),
					Type: $("#form-publication").find("select").val(),
					IsAsociated : true
				};

			Repository.queryApi(
				{
					url: "Forum",
					method: data.Publication_Id == 0 ? "POST" : "PUT",
					data: data,
					success: function (data) {
						$.fn.refreshTable();
						$('#div-modal-publication').modal('hide');
					}
				}, true, true);

			return false;
		});

		function resetForm() {
			$("#form-publication").get(0).reset();
			$("#form-publication").parsley().reset();
		}
	});
</script>