﻿@model  Model.StudentTest
@{
    Layout = "~/Views/Shared/EmptyLayout.cshtml";
    var alternatives = new List<string>() { "A", "B", "C", "D", "E" };

    if (Model.Test.NumberAlternatives == 4)
    {
        alternatives.Remove("E");
    }
}
<script>
	$(function () {
		@if (!Model.Active || Model.Done)
		{
			@:alert("Ya no es posible realizar este Test.");
			@:window.close();
		}
	});
</script>
<div class="row">
    <div class="col s3" style="float:right;">
        @*<div class="row">
                <div class="col s12">
                    <div class="card-panel teal center-align" style="padding: 15px; margin-bottom:5px;">
                        <span id="timer" class="white-text">
                            Quedan 00h 00m 00s
                        </span>
                    </div>
                </div>
            </div>*@
        <div class="card-panel">

            <div id="panel-answers" class="row">
                @foreach (var question in Model.Test.Questions)
                {
                    var pN = "P" + question.Order;

                    <div class="input-field col s3">
                        <select id-model="@question.Id">
                            <option value="" selected disabled>-</option>
                            @foreach (var alternative in alternatives)
                            {
                                <option value="@alternative">@alternative</option>
                            }
                        </select>
                        <label>@pN</label>
                    </div>
                }
            </div>
            <div class="row">
                <div class="right">
                    <button id="send-button" class="btn @StyleConfig.ButtonStyle_Accept">Enviar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="pdfViewer" class="col s9">
        <div id="input-progress" class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>
</div>
<div id="send-modal" class="modal">
    <div class="modal-content">
        <h4>Enviar test</h4>
        <p>¿Seguro que deseas enviarlo?</p>
    </div>
    <div class="row">
        <div class="col s12">
            <button id="send-button-modal" id-value="0" class="btn right @StyleConfig.ButtonStyle_Accept">Enviar</button>
        </div>
    </div>
</div>
<div id="performance-modal" class="modal" style="width:450px;">
    <div class="modal-content">
        <div class="row">
            <div class="col s12">
            </div>
            <div class="col s12 center-align">
                <h4 id="performance-test">Nota: - </h4>
                <span style="text-align:justify;">Si deseas saber más sobre tu evaluación dirigete a Historial/Resumen, ahí encontrarás todos tus Test realizados hasta ahora.</span>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="modal-action modal-close btn right @StyleConfig.ButtonStyle_Accept">Aceptar</button>
    </div>
</div>
<script>
	$(function ()
	{
		$('select').material_select();
		//Materialize.updateTextFields();
		$("#input-progress").show();

		Repository.queryApi(
			{
				url: "Test",
				method: "GET",
				data: { "id": @Model.Test.Id },
				success: function (data) {

					Repository.queryApi(
						{
							url: "Test/DownloadPDF",
							method: "GET",
							data: { test_id: data.Id },
							success: function (data)
							{
								var pdfStructure = '<object type="application/pdf" data="data:application/pdf;base64,' + data + '" style="width: 100%;height: 100%;">' +
									'<p>Problemas al ejecutar, intente más tarde</p>' +
									'<parm name="view" value="FitH/></object >';

								$("#pdfViewer").append(pdfStructure);
                                $("#pdfViewer").css('height',$(window).height());

								$("#input-progress").hide();

							},
							error: function (error)
							{
								alert("No es posible cargar el Test.\nComuníquese con su profesor, es posible que no haya subido el PDF asociado a este Test.\n" +
									"Intente actualizar la página." + "\n\nAunque el PDF no haya sido cargado aún es posible responder el Test.");
							}
						});
				},
				error: function (error, errorHtml) {
					alert("Ups, tenemos un problema, intenta recagar la página de nuevo.");
				}
			});

		$("#send-button").click(function ()
		{
			$("#send-modal").modal('open');
		});

		$("#send-button-modal").click(function ()
		{
			$("#send-button-modal").prop('disabled', true);

			var answers = [];

			$("#panel-answers select").each(function (index)
			{
				if ($(this).val() == null || $(this).val() == "")
					answers.push({ Choice: "", Question: { Id: $(this).attr("id-model") } });
				else
					answers.push({ Choice: $(this).val(), Question: { Id: $(this).attr("id-model") } });
			});

			Repository.queryApi(
			{
				url: "StudentTest/RegisterTest",
				method: "POST",
				data: { User: { Answers: answers }, Test: {Id : @Model.Test.Id} },
				success: function (data)
				{
					$("#send-modal").modal('close');
					$("#performance-test").html("Nota: " + Math.round(data * 100) + "%");

					$("#performance-modal").modal('open', {
						complete: function ()
						{
							window.close();
						}
					});
				},
				error: function (error, errorHtml) {
					alert("Ups, tenemos un problema, intenta recagar la página de nuevo.");
				}
			});
		});

		//function getTimeRemaining(endtime) {
		//	var t = Date.parse(endtime) - Date.parse(new Date());
		//	var seconds = Math.floor((t / 1000) % 60);
		//	var minutes = Math.floor((t / 1000 / 60) % 60);
		//	var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
		//	var days = Math.floor(t / (1000 * 60 * 60 * 24));
		//	return {
		//		'total': t,
		//		'days': days,
		//		'hours': hours,
		//		'minutes': minutes,
		//		'seconds': seconds
		//	};
		//}

		//function initializeClock(id, endtime)
		//{
		//	var clock = document.getElementById(id);

		//	function updateClock() {
		//		var t = getTimeRemaining(endtime);

		//		daysSpan.innerHTML = t.days;
		//		hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
		//		minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
		//		secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

		//		if (t.total <= 0) {
		//			clearInterval(timeinterval);
		//		}
		//	}

		//	updateClock();
		//	var timeinterval = setInterval(updateClock, 1000);
		//}

		//var deadline = new Date(100);
		//initializeClock('timer', deadline);

	});

</script>
