﻿@model ViewModels.ReportViewModel
@{
    Layout = "~/Views/Shared/_Report.cshtml";
    var establishmentId = Helper.GlobalParameters.EducationalEstablishmentId;
    var course = Model.Course.Id;
    var students = Model.StudentsC;
    List<int> AssistenceT = new List<int>();
    List<int> AssistenceM = new List<int>();
    List<int> AssistenceA = new List<int>();
    List<int> AssistenceN = new List<int>();
}


<style>
    #monthTable table {
        table-layout: fixed;
    }

    #monthTable td {
        width: 20%;
    }

    .breakhere {
        page-break-after: always
    }
</style>


<div class="col-xs-12 text-center">
    <hr />
    <h4 class="text-uppercase"><b>Informe de asistencia</b></h4>
    <hr style="margin-bottom: 5px;" />
    <h5>
        @DateTime.Now.ToString("dd/MM/yyyy")
    </h5>

</div>

<div class="col-xs-12" style="padding-top: 10px;">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th class=" col-xs-3 text-uppercase color-row">ESTABLECIMIENTO</th>
                <td>@Model.Establishment.Name.ToUpper()</td>
                <td class="col-xs-3" rowspan="4">
                    <div class=" text-center">
                        <img src="@Model.Establishment.PathImage" height="120" width="120" />
                    </div>
                </td>
            </tr>
            <tr>
                <th class=" col-xs-3 text-uppercase color-row">CURSO</th>
                <td class="text-uppercase">@Model.Course.Name</td>
            </tr>
        </tbody>
    </table>
</div>

@*@foreach (var period in Model.PeriodDetails.Where(x => x.Status == true &&  x.EstablishmentPeriod.Id == establishmentId))
    {
        <div class="col-xs-12" style="padding-top: 10px;">
            <h4 class="text-center "> Periodo: @period.Name </h4><br />

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class=" col-xs-3 text-uppercase color-row">Fecha</th>
                        <th class=" col-xs-3 text-uppercase color-row">Ausentes (Mañana)</th>
                        <th class=" col-xs-3 text-uppercase color-row">Ausentes (Tarde)</th>
                        <th class=" col-xs-3 text-uppercase color-row">Porcentaje de asistencia</th>
                    </tr>
                </thead>
                <tbody>

                    @{
                        var dates = Model.Absents.Where(x => x.Status == true &&  x.AttendanceDate.PeriodDetail.Id == period.Id).Select(x => x.AttendanceDate.Date);
                    }

                    @if (dates.Count() == 0)
                    {
                        <tr>
                            <td colspan="4">
                                No hay inasistencias registradas en esta jornada
                            </td>
                        </tr>
                    }
                    @foreach (var date in dates)
                    {
                        var absentsDay = 0;
                        var absentsAvgAfternoon = 0;
                        var absentsAvg = 0;
                        <tr>
                            <td>@date.ToString("dd/MM/yyyy") </td>
                            <td>
                                @* DayTrip 1 representa jornada de mañana
                                @foreach (var absent in Model.Absents.Where(x => x.Status == true &&  x.AttendanceDate.Daytrip.Id == 1 &&
                                                   x.AttendanceDate.Date == date))
                                {
                                    @: (@absent.AttendanceDate.Course.StudentCourses.SingleOrDefault(x => x.User_Id == absent.User_Id).ListNumber)
                                    // @: (@absent.User.Name @absent.User.FatherLastName)
                                    absentsDay++;
                                }
                            </td>
                            <td>
                                @* DayTrip 2 representa jornada de tarde
                                @foreach (var absent in Model.Absents.Where(x => x.Status == true &&  x.AttendanceDate.Daytrip.Id == 2 &&
                                        x.AttendanceDate.Date == date))
                                {
                                    @: (@absent.AttendanceDate.Course.StudentCourses.SingleOrDefault(x => x.User_Id == absent.User_Id).ListNumber)
                                    //@: (@absent.User.Name @absent.User.FatherLastName)
                                    absentsDay++;
                                }
                            </td>
                            <td>
                                @* DayTrip 3 representa jornada de tarde
                                @foreach (var absent in Model.Absents.Where(x => x.Status == true &&  x.AttendanceDate.Daytrip.Id == 3 &&
                                        x.AttendanceDate.Date == date))
                                {
                                    @: (@absent.AttendanceDate.Course.StudentCourses.SingleOrDefault(x => x.User_Id == absent.User_Id).ListNumber)
                                    //@: (@absent.User.Name @absent.User.FatherLastName)
                                    //absentsDay++; Por el momento no agregare jornada noche
                                }
                            </td>

                            @{
                                var totalStudents = Model.Course.StudentCourses.Count();
                                totalStudents = totalStudents * 3; // Son dos jornadas (Mañana y tarde)
                                absentsAvg = ((totalStudents - absentsDay) * 100) / totalStudents;
                            }
                            <td> @absentsAvg %</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    @* }*@

@* ************************ Porcentaje de asistencia por alumno global **************************** *@

<div class="col-xs-12" style="padding-top: 10px;">
    <h4 class="text-left ">1.-Porcentaje de asistencia por alumno.(@Model.AttendanceDates.Where(x=> x.Date <= DateTime.Today.Date && x.Course.Id == course && x.Date.Year == DateTime.Today.Year).Count() jornadas) (Mañana + tarde + noche)</h4><br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class=" col-xs-1 text-uppercase color-row">N°</th>
                <th class=" col-xs-1 text-uppercase color-row">Apellido P</th>
                <th class=" col-xs-1 text-uppercase color-row">Apellido M</th>
                <th class=" col-xs-9 text-uppercase color-row">Nombre</th>
                @for (int i = 1; i <= 12; i++)
                {
                    var month = new DateTime(Model.Course.Year, i, 1);
                    <th class="color-row">
                        @month.ToString("MMMM").ElementAt(0).ToString().ToUpper()
                    </th>
                }
                <th class=" col-xs-3 text-uppercase color-row">Total</th>
            </tr>
        </thead>
        <tbody>


            @*@{
                    var dates = Model.Absents.Where(x => x.Status == true &&  x.User_Id == s).Select(x => x.AttendanceDate.Date);
                }*@

            @{
                var count = 1;
            }
            @foreach (var student in students)
            {
                <tr>
                    <td>@count</td>
                    <td>@student.FatherLastName</td>
                    <td>@student.MotherLastName</td>
                    <td>@student.Name</td>
                    @for (int i = 1; i <= 12; i++)
                    {

                        if (@Model.AttendanceDates.Where(x => x.Status == true &&  x.Date.Month == i && x.Course.Id == course).Count() > 0)
                        {
                            <td>
                                @Math.Round((((double)@Model.AttendanceDates.Where(x => x.Status == true &&  x.Date.Month == i && x.Course.Id == course).Count() - @Model.Absents.Where(x => x.Status == true &&  x.User_Id == student.Id && x.AttendanceDate.Date.Month == i && x.AttendanceDate.Course.Id == course).Count()) * 100 / @Model.AttendanceDates.Where(x => x.Status == true &&  x.Date.Month == i && x.Course.Id == course).Count()),1 ,MidpointRounding.AwayFromZero)
                            </td>

                        }
                        else
                        {
                            <td class="text-center">-</td>
                        }

                    }
                    @if (@Model.AttendanceDates.Where(x => x.Status == true &&  x.Course.Id == course).Count() > 0)
                    {
                        <td>
                            @Math.Round((((double)@Model.AttendanceDates.Where(x => x.Status == true &&  x.Course.Id == course).Count() - @Model.Absents.Where(x => x.Status == true &&  x.User_Id == student.Id && x.AttendanceDate.Course.Id == course).Count()) * 100 / @Model.AttendanceDates.Where(x => x.Status == true &&  x.Course.Id == course).Count()),1,MidpointRounding.AwayFromZero)
                        </td>

                    }
                    else
                    {
                        <td class="text-center">-</td>
                    }
                </tr>
                count += 1;
            }
        </tbody>
    </table>
</div>

@* ************************ Promedio asistencia por mes global**************************** *@
<div class="breakhere"></div>
<div class="col-xs-12" style="padding-top: 10px;">
    <h4 class="text-left ">2.- Resumen de asistencia.(@Model.AttendanceDates.Where(x => x.Status == true &&  x.Date <= DateTime.Today.Date && x.Course.Id == course && x.Date.Year == DateTime.Today.Year).Count() jornadas)(Mañana + tarde + noche)</h4><br />

    <table class="table table-bordered" id="monthTable" style="table-layout: fixed;">
        <thead>
            <tr>
                @for (int i = 1; i <= 12; i++)
                {
                    var month = new DateTime(Model.Course.Year, i, 1);
                    <th class="color-row text-center" style="width: calc(100%/12);">
                        @month.ToString("MMMM").ElementAt(0).ToString().ToUpper()
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                @{ var absentAvg = 0;
                    var globalAvg = 0;
                    var countAvgs = 0;
                }
                @for (int i = 1; i <= 12; i++)
                {
                    absentAvg = 0;
                    foreach (var absent in Model.Absents.Where(x => x.Status == true &&  x.AttendanceDate.Course.Id == course))
                    {
                        if (absent.AttendanceDate.Date != null && absent.AttendanceDate.Date.Month == i)
                        {
                            absentAvg++;
                        }
                    }

                    if (absentAvg != 0)
                    {
                        var totalAttendanceDays = Model.AttendanceDates.Where(x => x.Status == true &&  x.Date.Month == i && x.Course.Id == course && x.Date.Year == DateTime.Today.Year).Count();
                        var totalStudents = Model.Course.StudentCourses.Select(x => x.User).Distinct().Count();

                        if (totalAttendanceDays != 0 && totalStudents != 0)
                        {
                            var totalOptions = (totalStudents) * totalAttendanceDays;
                            absentAvg = ((totalOptions - absentAvg) * 100) / totalOptions;
                            globalAvg = globalAvg + absentAvg;
                            countAvgs++;
                            <td class="text-center">@absentAvg %</td>
                            AssistenceT.Add(absentAvg);
                        }
                        else
                        {
                            <td class="text-center">--</td>
                            AssistenceT.Add(0);

                        }
                    }
                    else
                    {
                        var totalAttendanceDays = Model.AttendanceDates.Where(x => x.Status == true &&  x.Date.Month == i && x.Course.Id == course && x.Date.Year == DateTime.Today.Year).Count();
                        if (totalAttendanceDays == 0)
                        {
                            <td> - </td>
                            AssistenceT.Add(0);

                        }
                        else
                        {
                            countAvgs++;
                            globalAvg = globalAvg + 100;
                            <td> 100 % </td>
                            AssistenceT.Add(100);

                        }
                    }
                }
            </tr>
            <tr>
                <th colspan="6" class="color-row text-center">Asistencia Anual</th>
                @{
                    globalAvg = countAvgs > 0 ? globalAvg / countAvgs : 0;
                    <td colspan="6" class="text-center">@globalAvg %</td>
                }
            </tr>
        </tbody>
    </table>
</div>

<div class="col-xs-12 graph-container" style="page-break-after: always;padding-top: 20px;">
    <h4 class="text-center">Asistencia en todas las jornadas</h4>
    <div id='chart1'></div>
</div>


@* ************************ Porcentaje de asistencia por alumno mañana **************************** *@
<div class="breakhere"></div>

<div class="col-xs-12" style="padding-top: 10px;">
    <h4 class="text-left ">3.- Porcentaje de asistencia por alumno “jornada mañana” (@Model.AttendanceDates.Where(x => x.Status == true &&  x.Date <= DateTime.Today.Date && x.Course.Id == course && x.Date.Year == DateTime.Today.Year && x.Daytrip.Id==1).Count() jornadas)</h4><br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class=" col-xs-1 text-uppercase color-row">N°</th>
                <th class=" col-xs-1 text-uppercase color-row">Apellido P</th>
                <th class=" col-xs-1 text-uppercase color-row">Apellido M</th>
                <th class=" col-xs-9 text-uppercase color-row">Nombre</th>
                @for (int i = 1; i <= 12; i++)
                {
                    var month = new DateTime(Model.Course.Year, i, 1);
                    <th class="color-row">
                        @month.ToString("MMMM").ElementAt(0).ToString().ToUpper()
                    </th>
                }
                <th class=" col-xs-3 text-uppercase color-row">Total</th>
            </tr>
        </thead>
        <tbody>


            @*@{
                    var dates = Model.Absents.Where(x => x.Status == true &&  x.User_Id == s).Select(x => x.AttendanceDate.Date);
                }*@

            @{
                count = 1;
            }
            @foreach (var student in students)
            {
                <tr>
                    <td>@count</td>
                    <td>@student.FatherLastName</td>
                    <td>@student.MotherLastName</td>
                    <td>@student.Name</td>
                    @for (int i = 1; i <= 12; i++)
                    {

                        if (@Model.AttendanceDates.Where(x => x.Status == true &&  x.Date.Month == i && x.Daytrip.Id == 1 && x.Course.Id == course && x.Date.Year == DateTime.Today.Year).Count() > 0)
                        {
                            <td>
                                @Math.Round((((double)@Model.AttendanceDates.Where(x => x.Status == true &&  x.Date.Month == i && x.Daytrip.Id == 1 && x.Course.Id == course && x.Date.Year == DateTime.Today.Year).Count() - @Model.Absents.Where(x => x.Status == true &&  x.User_Id == student.Id && x.AttendanceDate.Date.Month == i && x.AttendanceDate.Daytrip.Id == 1 && x.AttendanceDate.Course.Id == course && x.AttendanceDate.Date.Year == DateTime.Today.Year).Count()) * 100 / @Model.AttendanceDates.Where(x => x.Status == true &&  x.Date.Month == i && x.Daytrip.Id == 1 && x.Course.Id == course && x.Date.Year == DateTime.Today.Year).Count()),1,MidpointRounding.AwayFromZero)
                            </td>

                        }
                        else
                        {
                            <td class="text-center">-</td>
                        }

                    }
                    @if (@Model.AttendanceDates.Where(x => x.Status == true &&  x.Daytrip.Id == 1 && x.Course.Id == course).Count() > 0)
                    {
                        <td>
                            @Math.Round((((double)@Model.AttendanceDates.Where(x => x.Status == true &&  x.Daytrip.Id == 1 && x.Course.Id == course).Count() - @Model.Absents.Where(x => x.Status == true &&  x.User_Id == student.Id && x.AttendanceDate.Daytrip.Id == 1 && x.AttendanceDate.Course.Id == course).Count()) * 100 / @Model.AttendanceDates.Where(x => x.Status == true &&  x.Daytrip.Id == 1 && x.Course.Id == course).Count()),1,MidpointRounding.AwayFromZero)
                        </td>

                    }
                    else
                    {
                        <td class="text-center">-</td>
                    }
                </tr>
                count += 1;
            }
        </tbody>
    </table>
</div>

@* ************************ Promedio asistencia por mes jornada mañana **************************** *@
<div class="breakhere"></div>

<div class="col-xs-12" style="padding-top: 10px;">
    <h4 class="text-left ">4.- Resumen de asistencia jornada mañana. (@Model.AttendanceDates.Where(x => x.Status == true &&  x.Date <= DateTime.Today.Date && x.Course.Id == course && x.Date.Year == DateTime.Today.Year && x.Daytrip.Id == 1).Count() jornadas)</h4><br />

    <table class="table table-bordered" id="monthTable" style="table-layout: fixed">
        <thead>
            <tr>
                @for (int i = 1; i <= 12; i++)
                {
                    var month = new DateTime(Model.Course.Year, i, 1);
                    <th class="color-row text-center" style="width: calc(100%/12);">
                        @month.ToString("MMMM").ElementAt(0).ToString().ToUpper()
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                @{ absentAvg = 0;
                    globalAvg = 0;
                    countAvgs = 0;
                }
                @for (int i = 1; i <= 12; i++)
                {
                    absentAvg = 0;
                    foreach (var absent in Model.Absents.Where(x => x.Status == true &&  x.AttendanceDate.Course.Id == course && x.AttendanceDate.Daytrip.Id
                    == 1 && x.AttendanceDate.Date.Year == DateTime.Today.Year))
                    {
                        if (absent.AttendanceDate.Date != null && absent.AttendanceDate.Date.Month == i)
                        {
                            absentAvg++;
                        }
                    }

                    if (absentAvg != 0)
                    {
                        var totalAttendanceDays = Model.AttendanceDates.Where(x => x.Status == true &&  x.Date.Month == i && x.Course.Id == course && x.Daytrip.Id == 1 && x.Date.Year == DateTime.Today.Year).Count();
                        var totalStudents = Model.Course.StudentCourses.Select(x => x.User).Distinct().Count();

                        if (totalAttendanceDays != 0 && totalStudents != 0)
                        {
                            var totalOptions = (totalStudents) * totalAttendanceDays;
                            absentAvg = ((totalOptions - absentAvg) * 100) / totalOptions;
                            globalAvg = globalAvg + absentAvg;
                            countAvgs++;
                            <td class="text-center">@absentAvg %</td>
                            AssistenceM.Add(absentAvg);
                        }
                        else
                        {
                            <td class="text-center">--</td>
                            AssistenceM.Add(0);

                        }
                    }
                    else
                    {
                        var totalAttendanceDays = Model.AttendanceDates.Where(x => x.Status == true &&  x.Date.Month == i && x.Course.Id == course && x.Daytrip.Id == 1 && x.Date.Year == DateTime.Today.Year).Count();
                        if (totalAttendanceDays == 0)
                        {
                            <td> - </td>
                            AssistenceM.Add(0);

                        }
                        else
                        {
                            countAvgs++;
                            globalAvg = globalAvg + 100;
                            <td> 100 % </td>
                            AssistenceM.Add(100);

                        }
                    }
                }
            </tr>
            <tr>
                <th colspan="6" class="color-row text-center">Asistencia Anual</th>
                @{
                    globalAvg = countAvgs > 0 ? globalAvg / countAvgs : 0;
                    <td colspan="6" class="text-center">@globalAvg %</td>
                }
            </tr>
        </tbody>
    </table>
</div>

<div class="col-xs-12 graph-container" style="page-break-after: always;padding-top: 20px;">
    <h4 class="text-center">Asistencia en jornada mañana</h4>
    <div id='chart2'></div>
</div>

@* ************************ Porcentaje de asistencia por alumno tarde **************************** *@
<div class="breakhere"></div>

<div class="col-xs-12" style="padding-top: 10px;">
    <h4 class="text-left ">5.- Porcentaje de asistencia por alumno “jornada tarde”.(@Model.AttendanceDates.Where(x => x.Status == true &&  x.Date <= DateTime.Today.Date && x.Course.Id == course && x.Date.Year == DateTime.Today.Year && x.Daytrip.Id == 2).Count() jornadas)</h4><br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class=" col-xs-1 text-uppercase color-row">N°</th>
                <th class=" col-xs-1 text-uppercase color-row">Apellido P</th>
                <th class=" col-xs-1 text-uppercase color-row">Apellido M</th>
                <th class=" col-xs-9 text-uppercase color-row">Nombre</th>
                @for (int i = 1; i <= 12; i++)
                {
                    var month = new DateTime(Model.Course.Year, i, 1);
                    <th class="color-row">
                        @month.ToString("MMMM").ElementAt(0).ToString().ToUpper()
                    </th>
                }
                <th class=" col-xs-3 text-uppercase color-row">Total</th>
            </tr>
        </thead>
        <tbody>


            @*@{
                    var dates = Model.Absents.Where(x => x.Status == true &&  x.User_Id == s).Select(x => x.AttendanceDate.Date);
                }*@

            @{
                count = 1;
            }
            @foreach (var student in students)
            {
                <tr>
                    <td>@count</td>
                    <td>@student.FatherLastName</td>
                    <td>@student.MotherLastName</td>
                    <td>@student.Name</td>
                    @for (int i = 1; i <= 12; i++)
                    {

                        if (@Model.AttendanceDates.Where(x => x.Status == true &&  x.Date.Month == i && x.Daytrip.Id == 2 && x.Course.Id == course && x.Date.Year == DateTime.Today.Year).Count() > 0)
                        {
                    <td>
                        @Math.Round((((double)@Model.AttendanceDates.Where(x => x.Status == true &&  x.Date.Month == i && x.Daytrip.Id == 2 && x.Course.Id == course && x.Date.Year == DateTime.Today.Year).Count() - @Model.Absents.Where(x => x.Status == true &&  x.User_Id == student.Id && x.AttendanceDate.Date.Month == i && x.AttendanceDate.Daytrip.Id == 2 && x.AttendanceDate.Course.Id == course && x.AttendanceDate.Date.Year == DateTime.Today.Year).Count()) * 100 / @Model.AttendanceDates.Where(x => x.Status == true &&  x.Date.Month == i && x.Daytrip.Id == 2 && x.Course.Id == course && x.Date.Year == DateTime.Today.Year).Count()),1,MidpointRounding.AwayFromZero)
                    </td>

                        }
                        else
                        {
                            <td class="text-center">-</td>
                        }

                    }
                    @if (@Model.AttendanceDates.Where(x => x.Status == true &&  x.Daytrip.Id == 2 && x.Course.Id == course && x.Date.Year == DateTime.Today.Year).Count() > 0)
                    {
                        <td>
                            @Math.Round((((double)@Model.AttendanceDates.Where(x => x.Status == true &&  x.Daytrip.Id == 2 && x.Course.Id == course && x.Date.Year == DateTime.Today.Year).Count() - @Model.Absents.Where(x => x.Status == true &&  x.User_Id == student.Id && x.AttendanceDate.Daytrip.Id == 2 && x.AttendanceDate.Course.Id == course && x.AttendanceDate.Date.Year == DateTime.Today.Year).Count()) * 100 / @Model.AttendanceDates.Where(x => x.Status == true &&  x.Daytrip.Id == 2 && x.Course.Id == course && x.Date.Year == DateTime.Today.Year).Count()),1,MidpointRounding.AwayFromZero)
                        </td>

                    }
                    else
                    {
                        <td class="text-center">-</td>
                    }
                </tr>
                count += 1;
            }
        </tbody>
    </table>
</div>

@* ************************ Promedio asistencia por mes jornada tarde **************************** *@
<div class="breakhere"></div>

<div class="col-xs-12" style="padding-top: 10px;">
    <h4 class="text-left ">6.- Resumen de asistencia jornada tarde. (@Model.AttendanceDates.Where(x => x.Status == true &&  x.Date <= DateTime.Today.Date && x.Course.Id == course && x.Date.Year == DateTime.Today.Year && x.Daytrip.Id == 2).Count() jornadas)</h4><br />

    <table class="table table-bordered" id="monthTable" style="table-layout:fixed;">
        <thead>
            <tr>
                @for (int i = 1; i <= 12; i++)
                {
                    var month = new DateTime(Model.Course.Year, i, 1);
                    <th class="color-row text-center" style="width: calc(100%/12);">
                        @month.ToString("MMMM").ElementAt(0).ToString().ToUpper()
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                @{ absentAvg = 0;
                    globalAvg = 0;
                    countAvgs = 0;
                }
                @for (int i = 1; i <= 12; i++)
                {
                    absentAvg = 0;
                    foreach (var absent in Model.Absents.Where(x => x.Status == true &&  x.AttendanceDate.Course.Id == course && x.AttendanceDate.Daytrip.Id
                    == 2 && x.AttendanceDate.Date.Year == DateTime.Today.Year))
                    {
                        if (absent.AttendanceDate.Date != null && absent.AttendanceDate.Date.Month == i)
                        {
                            absentAvg++;
                        }
                    }

                    if (absentAvg != 0)
                    {
                        var totalAttendanceDays = Model.AttendanceDates.Where(x => x.Status == true &&  x.Date.Month == i && x.Course.Id == course && x.Daytrip.Id == 2 && x.Date.Year == DateTime.Today.Year).Count();
                        var totalStudents = Model.Course.StudentCourses.Select(x => x.User).Distinct().Count();

                        if (totalAttendanceDays != 0 && totalStudents != 0)
                        {
                            var totalOptions = (totalStudents) * totalAttendanceDays;
                            absentAvg = ((totalOptions - absentAvg) * 100) / totalOptions;
                            globalAvg = globalAvg + absentAvg;
                            countAvgs++;
                            <td class="text-center">@absentAvg %</td>
                            AssistenceA.Add(absentAvg);

                        }
                        else
                        {
                            <td class="text-center">--</td>
                            AssistenceA.Add(0);
                        }
                    }
                    else
                    {
                        var totalAttendanceDays = Model.AttendanceDates.Where(x => x.Status == true &&  x.Date.Month == i && x.Course.Id == course && x.Daytrip.Id == 2 && x.Date.Year == DateTime.Today.Year).Count();
                        if (totalAttendanceDays == 0)
                        {
                            <td> - </td>
                            AssistenceA.Add(0);
                        }
                        else
                        {
                            countAvgs++;
                            globalAvg = globalAvg + 100;
                            <td> 100 % </td>
                            AssistenceA.Add(100);
                        }
                    }
                }
            </tr>
            <tr>
                <th colspan="6" class="color-row text-center">Asistencia Anual</th>
                @{
                    globalAvg = countAvgs > 0 ? globalAvg / countAvgs : 0;
                    <td colspan="6" class="text-center">@globalAvg %</td>
                }
            </tr>
        </tbody>
    </table>
</div>

<div class="col-xs-12 graph-container" style="page-break-after: always;padding-top: 20px;">
    <h4 class="text-center">Asistencia en jornada tarde</h4>
    <div id='chart3'></div>
</div>


@* ************************ Porcentaje de asistencia por alumno noche **************************** *@
<div class="breakhere"></div>

<div class="col-xs-12" style="padding-top: 10px;">
    <h4 class="text-left ">7.- Porcentaje de asistencia por alumno “jornada noche”.(@Model.AttendanceDates.Where(x => x.Status == true &&  x.Date <= DateTime.Today.Date && x.Course.Id == course && x.Date.Year == DateTime.Today.Year && x.Daytrip.Id == 3).Count() jornadas)</h4><br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class=" col-xs-1 text-uppercase color-row">N°</th>
                <th class=" col-xs-1 text-uppercase color-row">Apellido P</th>
                <th class=" col-xs-1 text-uppercase color-row">Apellido M</th>
                <th class=" col-xs-9 text-uppercase color-row">Nombre</th>
                @for (int i = 1; i <= 12; i++)
                {
                    var month = new DateTime(Model.Course.Year, i, 1);
                    <th class="color-row">
                        @month.ToString("MMMM").ElementAt(0).ToString().ToUpper()
                    </th>
                }
                <th class=" col-xs-3 text-uppercase color-row">Total</th>
            </tr>
        </thead>
        <tbody>


            @*@{
                    var dates = Model.Absents.Where(x => x.Status == true &&  x.User_Id == s).Select(x => x.AttendanceDate.Date);
                }*@

            @{
                count = 1;
            }
            @foreach (var student in students)
            {
                <tr>
                    <td>@count</td>
                    <td>@student.FatherLastName</td>
                    <td>@student.MotherLastName</td>
                    <td>@student.Name</td>
                    @for (int i = 1; i <= 12; i++)
                    {

                        if (@Model.AttendanceDates.Where(x => x.Status == true &&  x.Date.Month == i && x.Daytrip.Id == 3 && x.Course.Id == course && x.Date.Year == DateTime.Today.Year).Count() > 0)
                        {
                    <td>
                        @Math.Round((((double)@Model.AttendanceDates.Where(x => x.Status == true &&  x.Date.Month == i && x.Daytrip.Id == 3 && x.Course.Id == course && x.Date.Year == DateTime.Today.Year).Count() - @Model.Absents.Where(x => x.Status == true &&  x.User_Id == student.Id && x.AttendanceDate.Date.Month == i && x.AttendanceDate.Daytrip.Id == 3 && x.AttendanceDate.Course.Id == course && x.AttendanceDate.Date.Year == DateTime.Today.Year).Count()) * 100 / @Model.AttendanceDates.Where(x => x.Status == true &&  x.Date.Month == i && x.Daytrip.Id == 3 && x.Course.Id == course && x.Date.Year == DateTime.Today.Year).Count()),1, MidpointRounding.AwayFromZero)
                    </td>

                        }
                        else
                        {
                            <td class="text-center">-</td>
                        }


                    }
                    @if (@Model.AttendanceDates.Where(x => x.Status == true &&  x.Daytrip.Id == 3 && x.Course.Id == course && x.Date.Year == DateTime.Today.Year).Count() > 0)
                    {
                        <td>
                            @Math.Round((((double)@Model.AttendanceDates.Where(x => x.Status == true &&  x.Daytrip.Id == 3 && x.Course.Id == course && x.Date.Year == DateTime.Today.Year).Count() - @Model.Absents.Where(x => x.Status == true &&  x.User_Id == student.Id && x.AttendanceDate.Daytrip.Id == 3 && x.AttendanceDate.Course.Id == course && x.AttendanceDate.Date.Year == DateTime.Today.Year).Count()) * 100 / @Model.AttendanceDates.Where(x => x.Status == true &&  x.Daytrip.Id == 3 && x.Course.Id == course && x.Date.Year == DateTime.Today.Year).Count()),1,MidpointRounding.AwayFromZero)
                        </td>

                    }
                    else
                    {
                        <td class="text-center">-</td>
                    }
                </tr>
                count += 1;
            }
        </tbody>
    </table>
</div>

@* ************************ Promedio asistencia por mes jornada noche **************************** *@
<div class="breakhere"></div>

<div class="col-xs-12" style="padding-top: 10px;">
    <h4 class="text-left ">8.- Resumen de asistencia jornada noche. (@Model.AttendanceDates.Where(x => x.Status == true &&  x.Date <= DateTime.Today.Date && x.Course.Id == course && x.Date.Year == DateTime.Today.Year && x.Daytrip.Id == 3).Count() jornadas)</h4><br />

    <table class="table table-bordered" id="monthTable" style="table-layout:fixed">
        <thead>
            <tr>
                @for (int i = 1; i <= 12; i++)
                {
                    var month = new DateTime(Model.Course.Year, i, 1);
                    <th class="color-row text-center" style="width: calc(100%/12);">
                        @month.ToString("MMMM").ElementAt(0).ToString().ToUpper()
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                @{ absentAvg = 0;
                    globalAvg = 0;
                    countAvgs = 0;
                }
                @for (int i = 1; i <= 12; i++)
                {
                    absentAvg = 0;
                    foreach (var absent in Model.Absents.Where(x => x.Status == true &&  x.AttendanceDate.Course.Id == course && x.AttendanceDate.Daytrip.Id
                    == 3 && x.AttendanceDate.Date.Year == DateTime.Today.Year))
                    {
                        if (absent.AttendanceDate.Date != null && absent.AttendanceDate.Date.Month == i)
                        {
                            absentAvg++;
                        }
                    }

                    if (absentAvg != 0)
                    {
                        var totalAttendanceDays = Model.AttendanceDates.Where(x => x.Status == true &&  x.Date.Month == i && x.Course.Id == course && x.Daytrip.Id == 3 && x.Date.Year == DateTime.Today.Year).Count();
                        var totalStudents = Model.Course.StudentCourses.Select(x => x.User).Distinct().Count();

                        if (totalAttendanceDays != 0 && totalStudents != 0)
                        {
                            var totalOptions = (totalStudents) * totalAttendanceDays;
                            absentAvg = ((totalOptions - absentAvg) * 100) / totalOptions;
                            globalAvg = globalAvg + absentAvg;
                            countAvgs++;
                            <td class="text-center">@absentAvg %</td>
                            AssistenceN.Add(absentAvg);
                        }
                        else
                        {
                            <td class="text-center">--</td>
                            AssistenceN.Add(0);

                        }
                    }
                    else
                    {
                        var totalAttendanceDays = Model.AttendanceDates.Where(x => x.Status == true &&  x.Date.Month == i && x.Course.Id == course && x.Daytrip.Id == 3 && x.Date.Year == DateTime.Today.Year).Count();
                        if (totalAttendanceDays == 0)
                        {
                            <td> - </td>
                            AssistenceN.Add(0);

                        }
                        else
                        {
                            countAvgs++;
                            globalAvg = globalAvg + 100;
                            <td> 100 % </td>
                            AssistenceN.Add(100);

                        }
                    }
                }
            </tr>
            <tr>
                <th colspan="6" class="color-row text-center">Asistencia Anual</th>
                @{
                    globalAvg = countAvgs > 0 ? globalAvg / countAvgs : 0;
                    <td colspan="6" class="text-center">@globalAvg %</td>
                }
            </tr>
        </tbody>
    </table>
</div>

<div class="col-xs-12 graph-container" style="page-break-after: always;padding-top: 20px;">
    <h4 class="text-center">Asistencia en jornada noche</h4>
    <div id='chart4'></div>
</div>


@* ************************ Asistencia por asignatura **************************** *@
<div class="breakhere"></div>

<div class="col-xs-12" style="padding-top: 10px;">
    <h4 class="text-left ">9.- Resumen de Asistencia por asignatura</h4><br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class=" col-xs-1 text-uppercase color-row">Código</th>
                <th class=" col-xs-1 text-uppercase color-row">Asignatura</th>
                <th class=" col-xs-1 text-uppercase color-row">N° Clases</th>
            </tr>
        </thead>
        <tbody>
            @{
                var asignaturas = Model.AttendanceDates.Where(x => x.Status == true &&  x.Course.Id == course).Select(x => x.BaseSubject).Distinct().ToList();
                count = 1;
            }
            @foreach (var asignatura in asignaturas)
            {
                <tr>
                    <td>
                        @count
                    </td>
                    <td>
                        @asignatura.Name
                    </td>
                    <td>
                        @(@Model.AttendanceDates.Where(x => x.Status == true &&  x.Course.Id == course && x.BaseSubject.Id == asignatura.Id && x.Date.Year == DateTime.Today.Year).Count())
                    </td>
                </tr>
                count += 1;
            }
        </tbody>
    </table>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th class=" col-xs-1 text-uppercase color-row">N°</th>
                <th class=" col-xs-1 text-uppercase color-row">Apellido P</th>
                <th class=" col-xs-1 text-uppercase color-row">Apellido M</th>
                <th class=" col-xs-3 text-uppercase color-row">Nombre</th>
                @for (int i = 1; i <= asignaturas.Count(); i++)
                {
                    <th class="color-row">
                        @i
                    </th>
                }
            </tr>
        </thead>
        <tbody>


            @*@{
                    var dates = Model.Absents.Where(x => x.Status == true &&  x.User_Id == s).Select(x => x.AttendanceDate.Date);
                }*@

            @{
                count = 1;
            }
            @foreach (var student in students)
            {
                <tr>
                    <td>@count</td>
                    <td>@student.FatherLastName</td>
                    <td>@student.MotherLastName</td>
                    <td>@student.Name</td>
                    @for (int i = 0; i < asignaturas.Count(); i++)
                    {

                        if (@Model.AttendanceDates.Where(x => x.Status == true &&  x.Course.Id == course && x.BaseSubject.Id == asignaturas.ElementAt(i).Id && x.Date.Year == DateTime.Today.Year).Count() > 0)
                        {
                    <td>
                        @Math.Round((((double)Model.AttendanceDates.Where(x => x.Status == true &&  x.Course.Id == course && x.BaseSubject.Id == asignaturas.ElementAt(i).Id && x.Date.Year == DateTime.Today.Year).Count() - @Model.Absents.Where(x => x.Status == true &&  x.AttendanceDate.Course.Id == course && x.AttendanceDate.BaseSubject.Id == asignaturas.ElementAt(i).Id && x.AttendanceDate.Date.Year == DateTime.Today.Year && x.User.Id == student.Id).Count()) *   100 / @Model.AttendanceDates.Where(x => x.Status == true &&  x.Course.Id == course && x.BaseSubject.Id == asignaturas.ElementAt(i).Id && x.Date.Year == DateTime.Today.Year).Count()),1,MidpointRounding.AwayFromZero) %
                    </td>

                        }
                        else
                        {
                            <td class="text-center">-</td>
                        }

                    }
                </tr>
                count += 1;
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">

    var config1 = {
        "globals": {
            "font-family": "Helvetica"
        },
        "type": "bar",
        "background-color": "white",
        "scale-y": {
            "line-color": "none",
            "tick": {
                "line-color": "none"
            },
            "guide": {
                "line-style": "solid"
            },
            "item": {
                "color": "#606060"
            }
        },
        "scale-y": {
            "label": {
                "text": "Porcentaje de asistencia",
            }
        },
        "scale-x": {
            "label": {
                "text": "Mes",
            },
            "values": [
                "E",
                "F",
                "M",
                "A",
                "M",
                "J",
                "J",
                "A",
                "S",
                "O",
                "N",
                "D"
            ]
        },
        "plot": {
            "value-box": {
                "text": "%v%",
                "color": "#606060"
            },
            "tooltip": {
                "visible": false
            },
            "animation": {
                "effect": "none"
            },
        },
        "series": [
            {
                "values": [
                    @for (int j = 0; j < AssistenceT.Count ; j++)
                    {
                        @: @AssistenceT.ElementAt(j),
                    }
                ]
            }
        ]
    };

    var config2 = {
        "globals": {
            "font-family": "Helvetica"
        },
        "type": "bar",
        "background-color": "white",
        "scale-y": {
            "line-color": "none",
            "tick": {
                "line-color": "none"
            },
            "guide": {
                "line-style": "solid"
            },
            "item": {
                "color": "#606060"
            }
        },
        "scale-y": {
            "label": {
                "text": "Porcentaje de asistencia",
            }
        },
        "scale-x": {
            "label": {
                "text": "Mes",
            },
            "values": [
                "E",
                "F",
                "M",
                "A",
                "M",
                "J",
                "J",
                "A",
                "S",
                "O",
                "N",
                "D"
            ]
        },
        "plot": {
            "value-box": {
                "text": "%v%",
                "color": "#606060"
            },
            "tooltip": {
                "visible": false
            },
            "animation": {
                "effect": "none"
            },
        },
        "series": [
            {
                "values": [
                    @for (int j = 0; j < AssistenceM.Count ; j++)
                    {
                        @: @AssistenceM.ElementAt(j),
                    }
                ]
            }
        ]
    };

    var config3 = {
        "globals": {
            "font-family": "Helvetica"
        },
        "type": "bar",
        "background-color": "white",
        "scale-y": {
            "line-color": "none",
            "tick": {
                "line-color": "none"
            },
            "guide": {
                "line-style": "solid"
            },
            "item": {
                "color": "#606060"
            }
        },
        "scale-y": {
            "label": {
                "text": "Porcentaje de asistencia",
            }
        },
        "scale-x": {
            "label": {
                "text": "Mes",
            },
            "values": [
                "E",
                "F",
                "M",
                "A",
                "M",
                "J",
                "J",
                "A",
                "S",
                "O",
                "N",
                "D"
            ]
        },
        "plot": {
            "value-box": {
                "text": "%v%",
                "color": "#606060"
            },
            "tooltip": {
                "visible": false
            },
            "animation": {
                "effect": "none"
            },
        },
        "series": [
            {
                "values": [
                    @for (int j = 0; j < AssistenceA.Count ; j++)
                    {
                        @: @AssistenceA.ElementAt(j),
                    }
                ]
            }
        ]
    };

    var config4 = {
        "globals": {
            "font-family": "Helvetica"
        },
        "type": "bar",
        "background-color": "white",
        "scale-y": {
            "line-color": "none",
            "tick": {
                "line-color": "none"
            },
            "guide": {
                "line-style": "solid"
            },
            "item": {
                "color": "#606060"
            }
        },
        "scale-y": {
            "label": {
                "text": "Porcentaje de asistencia",
            }
        },
        "scale-x": {
            "label": {
                "text": "Mes",
            },
            "values": [
                "E",
                "F",
                "M",
                "A",
                "M",
                "J",
                "J",
                "A",
                "S",
                "O",
                "N",
                "D"
            ]
        },
        "plot": {
            "value-box": {
                "text": "%v%",
                "color": "#606060"
            },
            "tooltip": {
                "visible": false
            },
            "animation": {
                "effect": "none"
            },
        },
        "series": [
            {
                "values": [
                    @for (int j = 0; j < AssistenceN.Count ; j++)
                    {
                        @: @AssistenceN.ElementAt(j),
                    }
                ]
            }
        ]
    };

    zingchart.render({
        id: 'chart1',
        data: config1,
        height: '300',
        width: '800'
    });

    zingchart.render({
        id: 'chart2',
        data: config2,
        height: '300',
        width: '800'
    });

    zingchart.render({
        id: 'chart3',
        data: config3,
        height: '300',
        width: '800'
    });

    zingchart.render({
        id: 'chart4',
        data: config4,
        height: '300',
        width: '800'
    });
</script>