﻿@model ViewModels.ReportViewModel
@{
    Layout = "~/Views/Shared/_Report.cshtml";
}


    <div class="col-xs-12 text-center">
        <hr />
        <h4 class="text-uppercase"><b>Informe de asistencia</b></h4>
        <hr style="margin-bottom: 5px;" />
        <h5>
            @DateTime.Now.ToString("dd/MM/yyyy")
        </h5>

    </div>

    <div class="col-xs-12" style="padding-top: 10px;">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th class=" col-xs-3 text-uppercase color-row">ESTABLECIMIENTO</th>
                    <td>@Model.Establishment.Name.ToUpper()</td>
                    <td class="col-xs-3" rowspan="4">
                        <div class=" text-center">
                            <img src="@Model.Establishment.PathImage" height="120" width="120" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class=" col-xs-3 text-uppercase color-row">CURSO</th>
                    <td class="text-uppercase">@Model.Course.Name</td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="col-xs-12" style="padding-top: 10px;">
        <h4 class="text-center "> Lista de alumnos  </h4><br />
        
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class=" col-xs-3 text-uppercase color-row">Apellido paterno</th>
                        <th class=" col-xs-3 text-uppercase color-row">Apellido materno</th>
                        <th class=" col-xs-3 text-uppercase color-row">Nombre</th>
                        <th class=" col-xs-3 text-uppercase color-row">Porcentaje de asistencia</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var student in Model.Course.StudentCourses.Select(x=> x.User).Distinct())
                    {
                        var avg = 0;
                        <tr>
                            <td>@student.FatherLastName</td>
                            <td>@student.MotherLastName</td>
                            <td>@student.Name</td>
                            @{ 
                                var totaAbsentsTimes = Model.Absents.Where(x => x.Status == true &&  x.User.Id == student.Id).Count();
                                var totalAttendanceTimes = 2* Model.AttendanceDates.Count();
                                avg = totalAttendanceTimes > 0 ? ((totalAttendanceTimes - totaAbsentsTimes) * 100) / totalAttendanceTimes : 0;
                            }
                            <td class="text-center"> @avg %</td>
                        </tr>
                    }
                </tbody>
            </table>
     
    </div>




