﻿@model ViewModels.ReportViewModel
@{
    Layout = "~/Views/Shared/_Report.cshtml";
}

    <div class="col-xs-12 text-center">
        <hr />
        <h4 class="text-uppercase"><b>ALERTA DE CALIFICACIONES DEFICIENTES</b></h4>
        <hr style="margin-bottom: 5px;" />
        <h5>
            @DateTime.Now.ToString("dd/MM/yyyy")
        </h5>

    </div>

    <div class="col-xs-12" style="padding-top: 10px;">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th class=" col-xs-3 text-uppercase color-row">ESTABLECIMIENTO</th>
                    <td class="text-uppercase">@Model.Establishment.Name</td>
                    <td class="col-xs-3" rowspan="4">
                        <div class=" text-center">
                            <img src="@Model.Establishment.PathImage" height="120" width="120" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class=" col-xs-3 text-uppercase color-row">PROFESOR</th>
                    <td class="text-uppercase">@Model.Teacher.Name</td>
                </tr>
                <tr>
                    <th class=" col-xs-3 text-uppercase color-row">CURSO</th>
                    <td class="text-uppercase">@Model.Course.Name</td>
                </tr>
                <tr>
                    <th class=" col-xs-3 text-uppercase color-row">PERIODO</th>
                    <td class="text-uppercase">@Model.Period.Name</td>
                </tr>
            </tbody>
        </table>
    </div>

@foreach (var student in Model.StudentCourse)
{
    var totalAvg = 0.0;
    var avgs = 0;
    var deficientAvgs = 0;
    var subjects = Model.CourseSubjects.Select(x => x.Subject).Distinct();

    <div class="col-xs-12" style="padding-top: 10px;">
        <h4> Alumno : @student.Name @student.FatherLastName @student.MotherLastName </h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class=" col-xs-3 text-uppercase color-row">Asignatura reprobada</th>
                    <th class=" col-xs-3 text-uppercase color-row">Promedio</th>
                </tr>
            </thead>
            <tbody>                
                @foreach (var subject in subjects)
                {
                    var avg = 0.0;
                    var qualifications = subject.StudentQualifications.Where(x => x.Student.Id == student.Id && x.PeriodDetail.Id == Model.Period.Id);
                    foreach (var qualification in qualifications)
                    {
                        avg = avg + qualification.Qualification;
                    }
                    if (qualifications.Count() != 0)
                    {
                        avg = avg / qualifications.Count();
                        totalAvg = totalAvg + avg;
                        avgs++;
                        if (avg < 4.0)
                        {
                            deficientAvgs++;
                            <tr>
                                <th>@subject.Name</th>
                                <td class="center">
                                    @avg
                                </td>
                            </tr>
                        }
                    }
                }
                @if (deficientAvgs == 0)
                {
                    <tr>
                        <td colspan="2">
                            Sin promedios deficientes.
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @{ totalAvg = totalAvg / avgs; }
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th class=" col-xs-3 text-uppercase color-row">Promedio General</th>
                    <td class="text-uppercase">@totalAvg.ToString("0.0")</td>
                </tr>
            </tbody>
        </table>
    </div>
            }
    


