﻿@model System.Int32

@{
	var managerSelect = new Component.Select.ManagerSelect()
							.AddSelect(new Component.Select.SelectComponent(
							typeModel: typeof(Model.Course),
							code: Component.Select.SelectCode.Course,
							url: "Course/GetCoursesFilteredByUser",
							name: "Curso",
							placeholder: "Seleccione un curso"
						));

	managerSelect.groupCode = Model;
}

<div id="div-select-@managerSelect.groupCode" class="row div-report" style="display:none;">
	<div class="col-sm-12">
		<div class="white-box">

			<div class="row">
				@{Html.RenderPartial("SelectLayout", managerSelect);}
			</div>

			<div class="row"><br><br></div>

			<div class="row">
				<div class="col-sm-4"></div>
				<div class="col-sm-4">
					<button class="btn btn-block btn-info waves-effect waves-light button-generateReport" style="display:none;">Ver informe</button>
				</div>
				<div class="col-sm-4"></div>
			</div>

		</div>
	</div>
</div>

<script>

	$(function ()
	{
		GenericSystemSelect.getSelect("Course",@managerSelect.groupCode).change(function ()
		{
			$("#div-select-@managerSelect.groupCode").find('.button-generateReport').hide();
		});

		$("#div-select-@managerSelect.groupCode").find('.button-generateReport').click(function ()
		{
			$("#div-pdfModal").find("div").css("height", $(window).height() * 0.9);			
			$("#div-pdfModal").find("div").html($("#div-select-@managerSelect.groupCode").find('.button-generateReport').attr('report-code'));
			$("#div-pdfModal").modal('show');
		});

		EventDispatcher.on(GenericSystemSelect.lastSelectedEvent, function (elements)
		{
			if ("@managerSelect.groupCode" != (elements.groupCode + "")) return;

			Repository.queryApi(
						{
							urlServerTemporal: "@(SecurityGuard.ConnectionHelper.UrlReport)ReportGeneralStudent",
							method: "GET",
							data:
								{
									course_id : GenericSystemSelect.getSelect("Course",@managerSelect.groupCode).val(),
								},
							success: function (data)
							{
								var structurePdf = '<object type="application/pdf" data="data:application/pdf;base64,' + data + '" style="width:100%; height:100%;">' +
									'<p>Problemas al ejecutar, intente más tarde</p>' +
									'</object >';

								$("#div-select-@managerSelect.groupCode").find('.button-generateReport').attr('report-code', structurePdf);
								$("#div-select-@managerSelect.groupCode").find('.button-generateReport').show();
							}
						}, false, true);			
		});
	});
</script>