﻿@model ViewModels.ReportViewModel
@using Model
@{
    Layout = "~/Views/Shared/_Report.cshtml";    
}

<div class="col-xs-12 text-center">
    <hr />
    <h3><b> ESTIMADO USUARIO. NO EXISTE LA INFORMACIÓN SUFICIENTE PARA GENERAR ESTE REPORTE.</b></h3>
</div>

