﻿@model ViewModels.ReportViewModel
@{

        Layout = "~/Views/Shared/_Report.cshtml";
        var noInfo = false;
        var totalAchievement = 0;
        var contectsWithData = 0;
}

<div class="col-xs-12 text-center">
    <hr />
    <h4><b>RENDIMIENTO POR TEMA</b></h4>
    <hr style="margin-bottom: 5px;" />
    <h5>
        @DateTime.Now.ToString("dd/MM/yyyy")
    </h5>

</div>

<div class="col-xs-12" style="padding-top: 10px;">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th class=" col-xs-3 text-uppercase color-row">ESTABLECIMIENTO</th>
                <td>@Model.Establishment.Name.ToUpper()</td>
                <td class="col-xs-3" rowspan="4">
                    <div class=" text-center">
                        <img src="@Model.Establishment.PathImage" height="120" width="120" />
                    </div>
                </td>
            </tr>
            <tr>
                <th class=" col-xs-3 text-uppercase color-row">PROFESOR</th>
                <td>@Model.Teacher.Name</td>
            </tr>
            <tr>
                <th class=" col-xs-3 text-uppercase color-row">CURSO</th>
                <td>@Model.CourseSubject.Course.Name</td>
            </tr>
            <tr>
                <th class=" col-xs-3 text-uppercase color-row">ASIGNATURA</th>
                <td>@Model.CourseSubject.Subject.Name</td>
            </tr>
        </tbody>
    </table>
</div>



<div class="col-xs-12">
   
        <br /><br />
        <h4 class="text-uppercase text-center" >Eje tematico : @Model.SubUnity.Unity.Name</h4>
        @if (Model.SubUnity == null)
        {
            <table class="table table-bordered">
                <tr>
                    <td>
                        Sin temas ni contenidos asociados
                    </td>
                </tr>
            </table>
        }
        else
        {
            <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="col-xs-3 color-row">Tema 1 </th>
                            <td class="col-xs-8 text-uppercase">@Model.SubUnity.Name</td>
                            <th class="col-xs-3 color-row">Logro</th>
                        </tr>
                    </thead>    
                    <tbody>

                    @if (Model.SubUnity.Tests.Count == 0)
                    {
                              <td class="text-red">Sin Tema</td>
                              <td class="text-red">Sin test asociado</td>
                              <td class="text-red">Sin nota</td>
                    }

                    @{var j = 1;
                        totalAchievement = 0;
                        contectsWithData = 0;
                      }
                    @foreach (var test in Model.SubUnity.Tests)
                    {
                        <tr>                       
                                    <th class="col-xs-3 text-uppercase color-row">Tema @j </th>
                                    <td class="col-xs-8">@test.Title</td>
                                
                                   @{    //calculate achievement
                                       var totalQuestions = test.Questions.Count();
                                       var localAchievement = 0;
                                       var totalLocalAchievement = 0;
                                     }
                                    @if (totalQuestions == 0)
                                    {
                                        noInfo = true;
                                    }
                                    else
                                    {
                                        foreach (var question in test.Questions)
                                        {
                                            var totalAsnwers = question.Answers.Count();
                                            var correctAnswers = 0;
                                            if (totalAsnwers == 0)
                                            {
                                                noInfo = true;
                                            }
                                            else
                                            {
                                                foreach (var answer in question.Answers)
                                                {
                                                    if (question.Choice == answer.Choice) { correctAnswers++; }
                                                }
                                                localAchievement = (correctAnswers * 100) / totalAsnwers;
                                                totalLocalAchievement = totalLocalAchievement + localAchievement;
                                            }
                                        }
                                        totalLocalAchievement = totalLocalAchievement / totalQuestions;
                                    }
                                  @if (noInfo == false)
                                  {
                                    <td >@totalLocalAchievement %</td>
                                      totalAchievement = totalAchievement + totalLocalAchievement;
                                      contectsWithData++;
                                  }
                                  else
                                  {
                                    <td class="text-red">Sin nota</td>
                                  }
                                @{j++; }
                       </tr>
                                    }
                    @if (totalAchievement > 0)
                    {
                        <tr>
                            @{ totalAchievement = totalAchievement / contectsWithData;}
                            <td colspan="2" >Total</td>
                            <td >@totalAchievement %</td>
                         </tr>
                                }
                </tbody>
            </table>
   }
</div>