﻿@model ViewModels.ReportViewModel
@{
    Layout = "~/Views/Shared/_Report.cshtml";
}
@{
    var performanceList = new List<Performance>();
    var performanceListA = new List<Performance>();
    var performanceListE = new List<Performance>();
    var performanceListI = new List<Performance>();
    var performanceListH = new List<double>();
}

@functions {
    public class Performance
    {
        public string StudentID { get; set; }
        public int PerformanceValue { get; set; }
        public string StudentFatherLastName { get; set; }
        public string StudentMotherLastName { get; set; }
        public string StudentName { get; set; }
        public double calificaction { get; set; }
        public string created { get; set; }
        public Boolean isAnswered { get; set; }
    }
}

<style>

    .breakhere {
        page-break-after: always
    }
    #chart8-wrapper {
        margin: auto;
    }
</style>



<div class="col-xs-12 text-center">
    <hr />
    <h4 class="text-uppercase"><b>RENDIMIENTO POR TEST</b></h4>
    <hr style="margin-bottom: 5px;" />
    <h5>
        @DateTime.Now.ToString("dd/MM/yyyy")
    </h5>

</div>

<div class="col-xs-12" style="padding-top: 10px;">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th class=" col-xs-3 text-uppercase color-row">ESTABLECIMIENTO</th>
                <td>@Model.Establishment.Name.ToUpper()</td>
                <td class="col-xs-3" rowspan="4">
                    <div class=" text-center">
                        <img src="@Model.Establishment.PathImage" height="120" width="120" />
                    </div>
                </td>
            </tr>
            <tr>
                <th class=" col-xs-3 text-uppercase color-row">PROFESOR</th>
                <td class="text-uppercase">@Model.Teacher.Name @Model.Teacher.FatherLastName @Model.Teacher.MotherLastName</td>
            </tr>
            <tr>
                <th class=" col-xs-3 text-uppercase color-row">CURSO</th>
                <td class="text-uppercase">@Model.CourseSubject.Course.Name</td>
            </tr>
            <tr>
                <th class=" col-xs-3 text-uppercase color-row">ASIGNATURA</th>
                <td class="text-uppercase">@Model.CourseSubject.Subject.Name</td>
            </tr>
        </tbody>
    </table>
</div>



<div class="col-xs-12" style="padding-top: 10px;">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th class=" col-xs-3 text-uppercase color-row">Eje temático</th>
                <td class="text-uppercase">@Model.SubUnity.Unity.Name</td>
            </tr>
            <tr>
                <th class=" col-xs-3 text-uppercase color-row">Tema</th>
                <td class="text-uppercase">@Model.SubUnity.Name</td>
            </tr>
            <tr>
                <th class=" col-xs-3 text-uppercase color-row">Objetivo</th>
                <td class="text-uppercase">@Model.Test.Title</td>
            </tr>
        </tbody>
    </table>
</div>

@* ******************************************** TEST RENDIDOS Y RENDIMIENTO POR TEST ************************************************************* *@
@{ var totalStudent = Model.Test.StudentTests.Count;
    var totalQuestions = Model.Test.Questions.Count;
    var totalDone = Model.Test.StudentTests.Where(x => x.Status == true &&  x.Done == true).Count();
}
<!--Calcular rendimiento-->

@{ var rightAnswers = 0;}
@foreach (var question in Model.Test.Questions)
{
    foreach (var answer in question.Answers)
    {
        if (question.Choice == answer.Choice)
        {
            rightAnswers++;
        }
    }
}
@{ var totalPosibleAnswer = totalDone * totalQuestions;
    var performance = (totalDone == 0 || totalQuestions == 0) ? 0 : (rightAnswers * 100) / totalPosibleAnswer;
}

@* ******************************************** RENDIMIENTO POR ALUMNO ************************************************************* *@


@{
    var insuficiente = 0;
    var suficiente = 0;
    var adecuado = 0;
    var count = 0;
    var sumaDE = 0.0d;
    var desviacionEstandar = 0.0d;

}

@foreach (var studentTest in Model.Test.StudentTests)
{
    rightAnswers = 0;
    bool isAnswered = true;
    foreach (var question in Model.Test.Questions)
    {
        var answersStudent = question.Answers.Where(x => x.Status == true &&  x.User_Id == studentTest.User.Id).ToList();
        if (answersStudent.Count() > 0)
        {
            foreach (var answer in answersStudent)
            {
                if (question.Choice == answer.Choice)
                {
                    rightAnswers++;
                }
            }
        }
        else
        {
            isAnswered = false;
        }

    }
    
    var studentPerformance = (rightAnswers * 100) / totalQuestions;
    double calification = 0.0;
    if (studentPerformance < 60)
    {
        var f = (((double)studentPerformance / 60) * 3) + 1;
        calification = Math.Round(f, 1, MidpointRounding.AwayFromZero);
    }
    else if (studentPerformance >= 60)
    {
        calification = Math.Round((((double)(studentPerformance - 60) / 40) * 3) + 4, 1, MidpointRounding.AwayFromZero);
    }

    var perf = new Performance()
    {
        StudentID = studentTest.User.Id,
        PerformanceValue = studentPerformance,
        StudentFatherLastName = studentTest.User.FatherLastName,
        StudentMotherLastName = studentTest.User.MotherLastName,
        StudentName = studentTest.User.Name,
        calificaction = calification,
        created = studentTest.Test.CreatedAt.ToString("dd/MM/yyyy"),
        isAnswered = isAnswered
    };
    performanceList.Add(perf);
    if (studentPerformance < 60 && studentTest.Done == true) { performanceListI.Add(perf); }
    else if (studentPerformance >= 60 && studentPerformance < 80) { performanceListE.Add(perf); }
    else if (studentPerformance >= 80) { performanceListA.Add(perf); }

}
@foreach (var perf in performanceList)
{
    if (perf.PerformanceValue < 60 && perf.isAnswered == true)
    { insuficiente++; }
    else if (perf.PerformanceValue < 80 && perf.PerformanceValue >= 60)
    { suficiente++; }
    else if (perf.PerformanceValue >= 80)
    { adecuado++; }
    if (perf.isAnswered)
    {
        sumaDE += Math.Pow(Math.Abs((double)perf.PerformanceValue - (double)performanceList.Average(a => a.PerformanceValue)), 2);
    }
}
@{
    var insuficienteP = Math.Round((Double)(insuficiente * 100) / totalDone, 1);
    var suficienteP = Math.Round((Double)(suficiente * 100) / totalDone, 1);
    var adecuadoP = Math.Round((Double)(adecuado * 100) / totalDone, 1);
    var insuficientePGlobal = Math.Round((Double)(insuficiente * 100) / totalDone, 1);
    var suficientePGlobal = Math.Round((Double)(suficiente * 100) / totalDone, 1);
    var adecuadoPGlobal = Math.Round((Double)(adecuado * 100) / totalDone, 1);
}

<div class="col-xs-12  text-center" style="padding-top: 10px;">
    <h4 class="text-uppercase text-left">1.- Resumen</h4><br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-uppercase text-center col-xs-2 color-row">Rendidos</th>
                <th class="text-uppercase text-center col-xs-2 color-row">x̅</th>
                <th class="text-uppercase text-center  col-xs-1 color-row">Mín</th>
                <th class="text-uppercase text-center col-xs-1 color-row">Máx</th>
                <th class="text-uppercase text-center col-xs-2 color-row">D. E.</th>
                <th class="text-uppercase text-center col-xs-1 color-row">A</th>
                <th class="text-uppercase text-center col-xs-1 color-row">E</th>
                <th class="text-uppercase text-center col-xs-1 color-row">I</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-uppercase text-center">@totalDone de @totalStudent</td>
                <td class="text-uppercase text-center">@performance %</td>
                <td class="text-uppercase text-center">
                    @if (performanceList.Where(x =>  x.isAnswered == true).Count() > 0)
                    {@String.Concat(performanceList.Where(x => x.isAnswered == true).Min(item => item.PerformanceValue), " %")}
                </td>
                <td class="text-uppercase text-center">
                    @if (performanceList.Where(x => x.isAnswered == true).Count() > 0)
                    {@String.Concat(performanceList.Where(x => x.isAnswered == true).Max(item => item.PerformanceValue), " %")}
                </td>
                <td class="text-uppercase text-center">
                    @if (performanceList.Where(x => x.isAnswered == true).Count() > 0)
                    {
                        @String.Concat(@Math.Round((Math.Sqrt(sumaDE / (performanceList.Where(p => p.isAnswered).Count())) * 100) / 100), " %")
                    }

                </td>
                <td class="text-uppercase">@String.Concat(adecuadoP, " %")</td>
                <td class="text-uppercase">@String.Concat(suficienteP, " %")</td>
                <td class="text-uppercase">@String.Concat(insuficienteP, " %")</td>
            </tr>
        </tbody>

    </table>


    @{ count = 0; }
    <h4 class="text-uppercase text-left">2.- Rendimiento por alumno</h4>
    <br />
    NR: No rendido.
    <br>
    <br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-uppercase text-center col-xs-1 color-row">N°</th>
                <th class="text-uppercase text-left col-xs-2 color-row">Apellido P</th>
                <th class="text-uppercase text-left col-xs-2 color-row">Apellido M</th>
                <th class="text-uppercase text-left col-xs-3 color-row">Nombre</th>
                <th class="text-uppercase text-center col-xs-1 color-row">Rendimiento</th>
                <th class="text-uppercase text-center col-xs-1 color-row">Calificación</th>
                <th class="text-uppercase text-center col-xs-2 color-row">Fecha</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in performanceList)
            {
                count += 1;
                <tr>
                    <td class="text-center">@count</td>
                    <td class="text-left">@student.StudentFatherLastName</td>
                    <td class="text-left">@student.StudentMotherLastName</td>
                    <td class="text-left">@student.StudentName</td>


                    @if (student.isAnswered)
                    {
                        <td class="text-center" @if (student.PerformanceValue < 60) { <text> style="color: red" </text> }> @student.PerformanceValue </td>
                        <td class="text-center"> @student.calificaction </td>
                    }
                    else
                    {
                        <td class="text-center">NR</td>
                        <td></td>
                    }
                    <td>@student.created</td>
                </tr>
            }
        </tbody>
    </table>

</div>

@* ******************************************** CALCULO DISTRIBUCION DEL RENDIMIENTO EN PREGUNTA ************************************************************* *@

@{
    // Array para almacenar la cantidad de alumnos en cada nivel de logro contando de 10 en 10
    int[] distribution = new int[11];
}

@foreach (var perf in performanceList)
{
    if (perf.isAnswered == true) {
        var range = 10;
        var aux = 0;
        if (perf.PerformanceValue > 0)
        {
            aux = (perf.PerformanceValue) / range;
        }
        switch (aux)
        {
            case (0):
                distribution[0]++;
                break;
            case (1):
                distribution[1]++;
                break;
            case (2):
                distribution[2]++;
                break;
            case (3):
                distribution[3]++;
                break;
            case (4):
                distribution[4]++;
                break;
            case (5):
                distribution[5]++;
                break;
            case (6):
                distribution[6]++;
                break;
            case (7):
                distribution[7]++;
                break;
            case (8):
                distribution[8]++;
                break;
            case (9):
                distribution[9]++;
                break;
            case (10):
                distribution[9]++;
                break;

            default:
                break;
        }

    }
}



@* ******************************************** DISTRIBUCION DEL GRUPO POR NIVEL DE LOGRO ************************************************************* *@

<p CLASS="breakhere" />
<div class="col-xs-12" style="padding-top: 10px;">

    <h4 class="text-uppercase text-left">3.- Distribución del grupo curso por nivel de logro</h4><br />

    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-uppercase text-center col-xs-3 color-row">NIVEL DE LOGRO</th>
                <th class="text-uppercase text-center col-xs-3 color-row">N° ALUMNOS</th>
                <th class="text-uppercase text-center col-xs-3 color-row">%</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-uppercase text-center">ADECUADO</td>
                <td class="text-uppercase text-center">@adecuado</td>
                <td class="text-uppercase text-center">@adecuadoPGlobal %</td>
            </tr>
            <tr>
                <td class="text-uppercase text-center">ELEMENTAL</td>
                <td class="text-uppercase text-center">@suficiente</td>
                <td class="text-uppercase text-center">@suficientePGlobal %</td>
            </tr>
            <tr>
                <td class="text-uppercase text-center">INSUFICIENTE</td>
                <td class="text-uppercase text-center">@insuficiente</td>
                <td class="text-uppercase text-center">@insuficientePGlobal %</td>
            </tr>

        </tbody>
    </table>
</div>

@* ******************************************** GRAFICO DISTRIBUCION DEL GRUPO POR NIVEL DE LOGRO ************************************************************* *@
<div class="col-xs-12" style="padding-top: 20px;">
    <h4 class="text-center">Distribución del grupo curso por nivel de logro</h4>
    <div id='chart8' style="margin:0 auto;"></div>
</div>

@* ******************************************** GRAFICO DISTRIBUCION DEL RENDIMIENTO EN PREGUNTA ************************************************************* *@
<div class="col-xs-12 graph-container" style="padding-top: 20px;">
    <h4 class="text-center">Distribución del rendimiento (Cantidad de alumnos por logro alcanzado)</h4>
    <div id='chart2'></div>
</div>

@* ******************************************** PORCENTAJE DE LOGRO POR PREGUNTA ************************************************************* *@

@*<div class="col-xs-12" style="padding-top: 10px;">

        <h4 class="text-center">Porcentaje de logro por pregunta</h4><br />

        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    @foreach (var question in Model.Test.Questions.OrderBy(x => x.Order))
                    {
                        <th class="color-row text-center">P @question.Order</th>
                    }
                </tr>

            </thead>
            <tbody>
                <tr>
                    @foreach (var question in Model.Test.Questions.OrderBy(x => x.Order))
                    {
                        rightAnswers = 0;
                        foreach (var answer in question.Answers)
                        {
                            if (question.Choice == answer.Choice)
                            {
                                rightAnswers++;
                            }
                        }

                        if (question.Answers.Count != 0)
                        {
                            performance = (rightAnswers * 100) / question.Answers.Count;
                        }
                        else
                        {
                            performance = 0;
                        }

                        <td>@performance %</td>
                    }
                </tr>

            </tbody>
        </table>
    </div>*@


@* ******************************************** INDICADORES DE LOGRO ************************************************************* *@
@*<p CLASS="breakhere" />

    @if (Model.Test.AchievementIndicator.Count != 0)
    {
        <div class="col-xs-12" style="padding-top: 10px;">

            <h4 class="text-uppercase text-center">Indicadores de logro</h4><br />

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-uppercase color-row">INDICADORES DE LOGRO</th>
                        <th class="text-uppercase color-row">PREGUNTAS</th>
                        <th class="text-uppercase color-row">LOGRO</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var indicator in Model.Test.AchievementIndicator)
                    {
                        <tr>
                            <td>@indicator.Name</td>
                            <td>
                                @foreach (var alternative in indicator.AchievementAlternatives)
                                {
                                    @:  @alternative.Question.Order &nbsp;
                                }
                                @if (indicator.AchievementAlternatives.Count == 0)
                                {
                                    @: Sin preguntas asociadas al indicador
                                }
                            </td>
                            <td>
                                @{
                                    var average = 0;
                                    var achievement = 0;
                                }
                                @foreach (var alternative in indicator.AchievementAlternatives)
                                {
                                    var question = alternative.Question;
                                    var counter = 0;
                                    foreach (var answer in question.Answers) // Obtiene todas las respuestas asociadas a la pregunta para el indicador específico
                                    {
                                        if (question.Choice == answer.Choice)
                                        {
                                            counter++; // Respuesas correctas
                                        }
                                    }

                                    average = average + (question.Answers.Count != 0 ? (counter * 100) / question.Answers.Count : 0);


                                    /*average = average + (counter * 100) / question.Answers.Count;*/ // porcentaje de respuestas correctas en relacion al total de respuestas
                                }
                                @if (indicator.AchievementAlternatives.Count != 0)
                                {
                                    achievement = average / indicator.AchievementAlternatives.Count;
                                    @: @achievement %
                                }
                                else
                                {
                                    @: Sin datos
                                }

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <h4 class="text-uppercase text-center">Sin Indicadores de logro</h4>
        <br />
    }*@




@* ******************************************** Lista de alumnos en nivel adecuado ************************************************************* *@


<p CLASS="breakhere" />
<div class="col-xs-12  text-center" style="page-break-after: always">
    @{ count = 0; sumaDE = 0; }
    <h4 class="text-uppercase text-left">4.- Alumnos en	nivel "Adecuado"</h4>
    <br />
   
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="col-xs-3 color-row text-center">Total Rendidos</th>
                <th class="col-xs-2 color-row text-center">Rendimiento General</th>
                <th class="col-xs-2 color-row text-center">Min</th>
                <th class="col-xs-2 color-row text-center">Max</th>
                <th class="col-xs-2 color-row text-center">D. E.</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-uppercase text-center">@performanceListA.Count de @totalStudent </td>
                <td class="text-uppercase text-center">
                    @if (performanceListA.Where(x => x.isAnswered == true).Count() > 0)
                    {
                        @String.Concat(@Math.Round(performanceListA.Average(item => item.PerformanceValue), 1, MidpointRounding.AwayFromZero), " %");
                    }
                </td>
                <td class="text-uppercase text-center">
                    @if (performanceListA.Where(x => x.isAnswered == true).Count() > 0)
                    {@performanceListA.Min(item => item.PerformanceValue)}
                </td>
                <td class="text-uppercase text-center">
                    @if (performanceListA.Where(x => x.isAnswered == true).Count() > 0)
                    {@performanceListA.Max(item => item.PerformanceValue)}
                </td>
                <td class="text-uppercase text-center">
                    @if (performanceListA.Where(x => x.isAnswered == true).Count() > 0)
                    {
                        foreach (var perf in performanceListA)
                        {
                            if (perf.isAnswered)
                            {
                                sumaDE += Math.Pow(Math.Abs((double)perf.PerformanceValue - (double)performanceListA.Average(a => a.PerformanceValue)), 2);
                            }
                        }
                        @String.Concat(@Math.Round((Math.Sqrt(sumaDE / (performanceListA.Where(p => p.isAnswered).Count())) * 100) / 100), " %")
                    }

                </td>
            </tr>
        </tbody>
    </table>


    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-uppercase text-center col-xs-1 color-row">N°</th>
                <th class="text-uppercase text-left col-xs-2 color-row">Apellido P</th>
                <th class="text-uppercase text-left col-xs-2 color-row">Apellido M</th>
                <th class="text-uppercase text-left col-xs-3 color-row">Nombre</th>
                <th class="text-uppercase text-center col-xs-1 color-row">Rendimiento</th>
                <th class="text-uppercase text-center col-xs-1 color-row">Calificación</th>
                <th class="text-uppercase text-center col-xs-2 color-row">Fecha</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in performanceListA.OrderByDescending(o => o.PerformanceValue).ToList())
            {
                count = count + 1;
                <tr>
                    <td class="text-center">@count</td>
                    <td class="text-left">@student.StudentFatherLastName</td>
                    <td class="text-left">@student.StudentMotherLastName</td>
                    <td class="text-left">@student.StudentName</td>
                    <td class="text-center">@student.PerformanceValue</td>
                    <td class="text-center">@student.calificaction</td>
                    <td class="text-center">@student.created</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="col-xs-12 graph-container" style="page-break-after: always;padding-top: 20px;">
    <h4 class="text-center">Distribución del rendimiento en	nivel "Adecuado"</h4>
    <div id='chart3'></div>
</div>

@* ******************************************** Lista de alumnos en nivel elemental ************************************************************* *@


<p CLASS="breakhere" />
<div class="col-xs-12  text-center" style="padding-top: 10px;page-break-after: always">
    @{ count = 0; }
    <h4 class="text-uppercase text-left">5.- Alumnos	en	nivel "Elemental"</h4>
    <br />

    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="col-xs-3 color-row text-center">Total Rendidos</th>
                <th class="col-xs-2 color-row text-center">Rendimiento General</th>
                <th class="col-xs-2 color-row text-center">Min</th>
                <th class="col-xs-2 color-row text-center">Max</th>
                <th class="col-xs-2 color-row text-center">D. E.</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-uppercase text-center">@performanceListE.Count de @totalStudent </td>
                <td class="text-uppercase text-center">
                    @if (performanceListE.Where(x => x.isAnswered == true).Count() > 0)
                    {
                        @String.Concat(@Math.Round(performanceListE.Average(item => item.PerformanceValue), 1, MidpointRounding.AwayFromZero), " %");
                    }
                </td>
                <td class="text-uppercase text-center">
                    @if (performanceListE.Where(x => x.isAnswered == true).Count() > 0)
                    {@performanceListE.Min(item => item.PerformanceValue)}
                </td>
                <td class="text-uppercase text-center">
                    @if (performanceListE.Where(x => x.isAnswered == true).Count() > 0)
                    {@performanceListE.Max(item => item.PerformanceValue)}
                </td>
                <td class="text-uppercase text-center">
                    @if (performanceListE.Where(x =>  x.isAnswered == true).Count() > 0)
                    {
                        foreach (var perf in performanceListE)
                        {
                            if (perf.isAnswered)
                            {
                                sumaDE += Math.Pow(Math.Abs((double)perf.PerformanceValue - (double)performanceListE.Average(a => a.PerformanceValue)), 2);
                            }
                        }
                        @String.Concat(@Math.Round((Math.Sqrt(sumaDE / (performanceListE.Where(p => p.isAnswered).Count())) * 100) / 100), " %")
                    }
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-uppercase text-center col-xs-1 color-row">N°</th>
                <th class="text-uppercase text-left col-xs-2 color-row">Apellido P</th>
                <th class="text-uppercase text-left col-xs-2 color-row">Apellido M</th>
                <th class="text-uppercase text-left col-xs-2 color-row">Nombre</th>
                <th class="text-uppercase text-center col-xs-1 color-row">Rendimiento</th>
                <th class="text-uppercase text-center col-xs-1 color-row">Calificación</th>
                <th class="text-uppercase text-center col-xs-1 color-row">Fecha</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in performanceListE.OrderByDescending(o => o.PerformanceValue).ToList())
            {
                count = count + 1;
                <tr>
                    <td class="text-center">@count</td>
                    <td class="text-left">@student.StudentFatherLastName</td>
                    <td class="text-left">@student.StudentMotherLastName</td>
                    <td class="text-left">@student.StudentName</td>
                    <td class="text-center">@student.PerformanceValue</td>
                    <td class="text-center">@student.calificaction</td>
                    <td class="text-center">@student.created</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="col-xs-12 graph-container" style="padding-top: 20px; page-break-inside: avoid;page-break-after: always;">
    <h4 class="text-center">Distribución del rendimiento en nivel "Elemental"</h4>
    <div id='chart4'></div>
</div>

@* ******************************************** Lista de alumnos en nivel insuficiente ************************************************************* *@


<p CLASS="breakhere" />
<div class="col-xs-12  text-center" style="padding-top: 10px;page-break-after: always">
    @{ count = 0; }
    <h4 class="text-uppercase text-left">6.- Alumnos	en	nivel "Insuficiente"</h4>
    <br />

    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="col-xs-3 color-row text-center">Total Rendidos</th>
                <th class="col-xs-2 color-row text-center">Rendimiento General</th>
                <th class="col-xs-2 color-row text-center">Min</th>
                <th class="col-xs-2 color-row text-center">Max</th>
                <th class="col-xs-2 color-row text-center">D. E.</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-uppercase text-center">@performanceListI.Count de @totalStudent </td>
                <td class="text-uppercase text-center">
                    @if (performanceListI.Where(x => x.isAnswered == true).Count() > 0)
                    {
                        @String.Concat(@Math.Round(performanceListI.Average(item => item.PerformanceValue), 1, MidpointRounding.AwayFromZero), " %");
                    }
                </td>
                <td class="text-uppercase text-center">
                    @if (performanceListI.Where(x => x.isAnswered == true).Count() > 0)
                    {@performanceListI.Min(item => item.PerformanceValue)}
                </td>
                <td class="text-uppercase text-center">
                    @if (performanceListI.Where(x => x.isAnswered == true).Count() > 0)
                    {@performanceListI.Max(item => item.PerformanceValue)}
                </td>
                <td class="text-uppercase text-center">
                    @if (performanceListI.Where(x => x.isAnswered == true).Count() > 0)
                    {
                        foreach (var perf in performanceListI)
                        {
                            if (perf.isAnswered)
                            {
                                sumaDE += Math.Pow(Math.Abs((double)perf.PerformanceValue - (double)performanceListI.Average(a => a.PerformanceValue)), 2);
                            }
                        }
                        @String.Concat(@Math.Round((Math.Sqrt(sumaDE / (performanceListI.Where(p => p.isAnswered).Count())) * 100) / 100), " %")
                    }
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-uppercase text-center col-xs-1 color-row">N°</th>
                <th class="text-uppercase text-left col-xs-2 color-row">Apellido P</th>
                <th class="text-uppercase text-left col-xs-2 color-row">Apellido M</th>
                <th class="text-uppercase text-left col-xs-3 color-row">Nombre</th>
                <th class="text-uppercase text-center col-xs-1 color-row">Rendimiento</th>
                <th class="text-uppercase text-center col-xs-1 color-row">Calificación</th>
                <th class="text-uppercase text-center col-xs-2 color-row">Fecha</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in performanceListI.OrderByDescending(o => o.PerformanceValue).ToList())
            {
                count = count + 1;
                <tr>
                    <td class="text-center">@count</td>
                    <td class="text-left">@student.StudentFatherLastName</td>
                    <td class="text-left">@student.StudentMotherLastName</td>
                    <td class="text-left">@student.StudentName</td>
                    <td class="text-center">@student.PerformanceValue</td>
                    <td class="text-center">@student.calificaction</td>
                    <td class="text-center">@student.created</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="col-xs-12 graph-container" style="padding-top: 20px; page-break-inside: avoid;page-break-after: always">
    <h4 class="text-center">Distribución del rendimiento en	nivel "Insuficiente"</h4>
    <div id='chart5'></div>
</div>

@* ******************************************** Rendimiento por contenido ************************************************************* *@
<p CLASS="breakhere" />
<div class="col-xs-12  text-center" style="padding-top: 10px;">
    @{ count = 0; Double rendimiento = 0.0f; float correctas; float todasLasRespuestas; }
    <h4 class="text-uppercase text-left">7.- Rendimiento por "Contenido"	</h4>
    <br />

    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-uppercase text-center col-xs-1 color-row">N°</th>
                <th class="text-uppercase text-left col-xs-4 color-row">Tema</th>
                <th class="text-uppercase text-left col-xs-3 color-row">Preguntas Asociadas</th>
                <th class="text-uppercase text-center col-xs-1 color-row">Rendimiento</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var achievementIndicator in Model.AchievementIndicator)
            {
                count = count + 1;
                <tr>
                    <td class="text-center">
                        @count
                    </td>
                    <td class="text-left">
                        @achievementIndicator.Name
                    </td>
                    <td class="text-left">
                        @{
                            correctas = 0;
                            todasLasRespuestas = 0;
                        }
                        @foreach (var achievementAlternatives in achievementIndicator.AchievementAlternatives)
                        {
                            @:  @achievementAlternatives.Question.Order &nbsp;

                            //comparar choice de question por la
                            correctas += Model.Answers.Where(x => x.Status == true && x.Choice == achievementAlternatives.Question.Choice && x.Question_Id == achievementAlternatives.Question.Id).ToList().Count();
                            todasLasRespuestas += Model.Answers.Where(x => x.Status == true && x.Question_Id == achievementAlternatives.Question.Id && x.Question_Id == achievementAlternatives.Question.Id).ToList().Count();
                        }
                    </td>
                    <td class="text-center">
                        @{
                            @Math.Round((float)correctas / (float)todasLasRespuestas * 100);
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="col-xs-12 graph-container" style="padding-top: 20px;">
        <h4 class="text-center"></h4>
        <div id='chart6'>Distribución del rendimiento por Tema</div>
    </div>

</div>



@* ******************************************** Rendimiento por Habilidad Cognitiva ************************************************************* *@
<p CLASS="breakhere" />
<div class="col-xs-12  text-center" style="padding-top: 10px;">
    @{ count = 1; }
    <h4 class="text-uppercase text-left">8.- Rendimiento por "Habilidad Cognitiva"</h4><br />
    <br />
    <br>
    <br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-uppercase text-center col-xs-1 color-row">N°</th>
                <th class="text-uppercase text-left col-xs-3 color-row">Habilidad Cognitiva</th>
                <th class="text-uppercase text-left col-xs-3 color-row">Preguntas Asociadas</th>
                <th class="text-uppercase text-center col-xs-1 color-row">Rendimiento</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var skill in Model.Skills)
            {
                <tr>
                    <td class="text-center">
                        @count
                    </td>
                    <td class="text-left">
                        @skill.Name
                    </td>
                    <td class="text-left">
                        @foreach (var question in Model.Questions.Where(x => x.Status == true &&  x.Skill.Id == skill.Id))
                        {
                            @: @question.Order &nbsp

                        }
                    </td>
                    @{
                        var respuestas = Model.Answers.Where(x => x.Status == true &&  x.Choice == x.Question.Choice && x.Question.Test.Id == Model.Test.Id && x.Question.Skill.Id == skill.Id).Count();

                        todasLasRespuestas = Model.Test.Questions.Where(x => x.Status == true &&  x.Skill.Id == skill.Id && x.Test.Id == Model.Test.Id).Count();
                        rendimiento = Math.Round(respuestas / (todasLasRespuestas * totalDone) * 100);
                        performanceListH.Add(rendimiento);
                    }
                    <td class="text-center">
                        @rendimiento %
                    </td>
                </tr>
                count += 1;
            }
        </tbody>
    </table>
</div>

<div class="col-xs-12 graph-container" style="padding-top: 20px;">
        <h4 class="text-center">Distribución del logro por habilidad cognitiva</h4>
        <div id='chart7'></div>
    </div>

@* ******************************************** TENDENCIA DE RESPUESTA POR PREGUNTA ************************************************************* *@
<p CLASS="breakhere" />
<div class="col-xs-12" style="padding-top: 10px; page-break-inside: avoid;">
    <h4 class="text-uppercase text-left">9.- Tendencia de respuesta por pregunta</h4><br />

    @foreach (var question in Model.Test.Questions.OrderBy(x => x.Order))
    {
        int A = 0, B = 0, C = 0, D = 0;
        <div class="col-xs-6">
            <table class="table table-bordered" style=" page-break-inside: avoid;">
                <thead>
                    <tr>
                        <th colspan="4" class="color-row text-center"> Pregunta @question.Order</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        @foreach (var ans in question.Answers)
                        {
                            if (ans.Choice == "A") { A++; }
                            if (ans.Choice == "B") { B++; }
                            if (ans.Choice == "C") { C++; }
                            if (ans.Choice == "D") { D++; }
                        }


                        @if (question.Answers.Count != 0)
                        {

                            <td class="col-xs-3" @Html.Raw(question.Choice == "A" ? "style='color:blue;'" : "")>A @( (A * 100) / question.Answers.Count ) %</td>
                            <td class="col-xs-3" @Html.Raw(question.Choice == "B" ? "style='color:blue;'" : "")>B @( (B * 100) / question.Answers.Count) %</td>
                            <td class="col-xs-3" @Html.Raw(question.Choice == "C" ? "style='color:blue;'" : "")>C @( (C * 100) / question.Answers.Count) %</td>
                            <td class="col-xs-3" @Html.Raw(question.Choice == "D" ? "style='color:blue;'" : "")>D @( (D * 100) / question.Answers.Count) %</td>
                        }
                        else
                        {
                            <td class="col-xs-3" @Html.Raw(question.Choice == "A" ? "style='color:blue;'" : "")>A @( 0 ) %</td>
                            <td class="col-xs-3" @Html.Raw(question.Choice == "B" ? "style='color:blue;'" : "")>B @( 0 ) %</td>
                            <td class="col-xs-3" @Html.Raw(question.Choice == "C" ? "style='color:blue;'" : "")>C @( 0 ) %</td>
                            <td class="col-xs-3" @Html.Raw(question.Choice == "D" ? "style='color:blue;'" : "")>D @( 0 ) %</td>
                        }

                    </tr>
                </tbody>
            </table>
        </div>
    }

</div>
<script type="text/javascript">

    var config1 = {
        "globals": {
            "font-family": "Helvetica"
        },
        "type": "bar",
        "background-color": "white",
        "scale-y": {
            "line-color": "none",
            "tick": {
                "line-color": "none"
            },
            "guide": {
                "line-style": "solid"
            },
            "item": {
                "color": "#606060"
            }
        },
        "scale-y": {
            "label": {
                "text": "Porcentaje alcanzado",
            },
        },
        "scale-x": {
            "label": {
                "text": "Nivel de logro",
            },
            "values": [
                "INSUFICIENTE",
                "ELEMENTAL",
                "ADECUADO"
            ]
        },
        "plot": {
            "value-box": {
                "text": "%v%",
                "color": "#606060"
            },
            "tooltip": {
                "visible": false
            },
            "animation": {
                "effect": "none"
            },
        },
        "series": [
            {
                "values": [
                    @Math.Round(insuficientePGlobal, MidpointRounding.AwayFromZero),
                    @Math.Round(suficientePGlobal, MidpointRounding.AwayFromZero),
                    @Math.Round(adecuadoPGlobal, MidpointRounding.AwayFromZero)
            
                ]
            }
        ]
    };


     var config2 = {
        "globals": {
            "font-family": "Helvetica"
        },
        "type": "bar",
        "background-color": "white",
        "scale-y": {
            "line-color": "none",
            "tick": {
                "line-color": "none"
            },
            "guide": {
                "line-style": "solid"
            },
            "item": {
                "color": "#606060"
            }
        },
        "scale-y": {
            "label": {
                "text": "Cantidad de alumnos",
            },
            "values": [
               @for (int a = 0; a <= totalStudent; a++)
               {
                    @: @a,
               }
            ]
        },
        "scale-x": {
            "label": {
                "text": "Porcentaje de rendimiento",
            },
            "values": [
                "0 a 10%",
                "10 a 20%",
                "20 a 30%",
                "30 a 40%",
                "40 a 50%",
                "50 a 60%",
                "60 a 70%",
                "70 a 80%",
                "80 a 90%",
                "90 a 100%",
            ]
        },
        "plot": {
            "value-box": {
                "text": "%v",
                "color": "#606060"
            },
            "tooltip": {
                "visible": false
            },
            "animation": {
                "effect": "none"
            },

        },
        "series": [
            {
                "values": [
                    @for (int j = 0; j < distribution.Length; j++)
                    {
                        @: @distribution[j],
                    }
                ]
            }
        ]
    };

    @{ int au = 0, aum = 0, aumx = 0; }

        var config3 = {
        "globals": {
            "font-family": "Helvetica"
        },
        "type": "line",
        "background-color": "white",

        "scale-y": {
            "label": {
                "text": "Rendimiento (%)",
            },
            "min-value": @if (performanceListA.Count() > 0) { @((int)Math.Round(performanceListA.Min(x => x.PerformanceValue) / 10.0) * 10) } else { @au; },
        },
         "scale-x": {
            "values": [
            @for (var i = 1; i <= performanceListA.Count(); i++) {
                @: @i,
            }
            ]
        },
        "plot":{
 	      valueBox:{
 	        text:"%v",
             "color": "#606060"
 	      }
 	    },
        "series": [
            {
                "values": [

                    @for (int j = 0; j < performanceListA.OrderBy(o => o.PerformanceValue).ToList().Count; j++)
                    {
                        @: @performanceListA.OrderBy(o => o.PerformanceValue).ToList().ElementAt(j).PerformanceValue,
                    }
                ]
            }
        ]
    };

        var config4 = {
        "globals": {
            "font-family": "Helvetica"
        },
        "type": "line",
        "background-color": "white",

        "scale-y": {
            "label": {
                "text": "Rendimiento (%)",
            },
             "min-value": @if (performanceListE.Count() > 0) { @((int)Math.Round(performanceListE.Min(x => x.PerformanceValue) / 10.0) * 10) } else { @aum;  },
         },
         "scale-x": {

            "values": [
            @for (var i = 1; i <= performanceListE.Count(); i++) {
                @: @i,
            }
            ]
        },
        "plot":{
 	              valueBox:{
 	                text:"%v",
                    "color": "#606060"
 	              }
 	            },
        "series": [
            {
                "values": [
                   @for (int j = 0; j < performanceListE.OrderBy(o => o.PerformanceValue).ToList().Count; j++)
                    {
                        @: @performanceListE.OrderBy(o => o.PerformanceValue).ToList().ElementAt(j).PerformanceValue,
                    }
                ]
            }
        ]
    };

    var config5 = {
        "globals": {
            "font-family": "Helvetica"
        },
        "type": "line",
        "background-color": "white",

        "scale-y": {
            "label": {
                "text": "Rendimiento (%)",
            },
             "min-value": @if (performanceListI.Count() > 0) { @((int)Math.Round(performanceListI.Min(x => x.PerformanceValue) / 10.0) * 10)} else { @aumx; },
        },
        "plot":{
 	      valueBox:{
 	        text:"%v",
            "color": "#606060"
 	      }
        },
         "scale-x": {

            "values": [
            @for (var i = 1; i <= performanceListI.Count(); i++) {
                @: @i,
            }
            ]
        },
        "series": [
            {
                "values": [
                   @for (int j = 0; j < performanceListI.OrderBy(o => o.PerformanceValue).ToList().Count; j++)
                    {
                        @: @performanceListI.OrderBy(o => o.PerformanceValue).ToList().ElementAt(j).PerformanceValue,
                    }
                ]
            }
        ]
    };

    var config6 = {
        "globals": {
            "font-family": "Helvetica"
        },
        "type": "bar",
        "background-color": "white",
        "scale-x": {
            "label": {
                "text": "Nivel de logro",
            },
            "values": [
            @for (var i = 1; i <= Model.AchievementIndicator.Count(); i++) {
                @: @i,
            }
            ]
        },
        "scale-y": {
            "label": {
                "text": "Rendimiento (%)",
            }
        },
        "plot": {
            "value-box": {
                "text": "%v%",
                "color": "#606060"
            },
            "tooltip": {
                "visible": false
            },
            "animation": {
                "effect": "none"
            },
        },
        "series": [
            {
                "values": [
                    @foreach (var achievementIndicator in Model.AchievementIndicator)
                    {
                        correctas = 0;
                        todasLasRespuestas = 0;
                        foreach (var achievementAlternatives in achievementIndicator.AchievementAlternatives)
                        {
                            correctas += Model.Answers.Where(x => x.Status == true &&  x.Choice == achievementAlternatives.Question.Choice && x.Question_Id == achievementAlternatives.Question.Id).ToList().Count();
                            todasLasRespuestas += Model.Answers.Where(x => x.Status == true &&  x.Question_Id == achievementAlternatives.Question.Id && x.Question_Id == achievementAlternatives.Question.Id).ToList().Count();
                        }
                        @: @Math.Round((float)correctas / (float)todasLasRespuestas * 100),
                    }
                ]
            }
        ]
    };

    var config7 = {
        "globals": {
            "font-family": "Helvetica"
        },
        "type": "bar",
        "background-color": "white",

        "scale-y": {
            "label": {
                "text": "Rendimiento (%)",
            },
        },
        "plot":{
 	      valueBox:{
 	        text:"%v",
            "color": "#606060"
 	      }
        },
         "scale-x": {

            "values": [
            @for (var i = 1; i <= performanceListH.Count(); i++) {
                @: @i,
            }
            ]
        },
        "series": [
            {
                "values": [
                   @for (int j = 0; j < performanceListH.ToList().Count; j++)
                    {
                        @: @performanceListH.ToList().ElementAt(j).,
                    }
                ]
            }
        ]
    };

    var config8 = {
       "type": "bar",
  "legend": {
    borderColor: "#CCCCCC",
    marginTop: 55,
    marginRight:50,
    shadow: false,
    alpha: 1,
    toggleAction:'remove'
  },
    plotarea: {
 	   "margin-top":"10%",
 	   "margin-right":"40%",
        
 	},
        "plot":{
        "stacked":true,
        "stack-type":"100%",
        "valueBox":[
 	        {
 	          text:'%v %',
               color: "#fff",

 	          placement: 'middle',
 	          shadow: 0
 	        },
 	      ]
        },
        "scale-x": {

            "label": {
                "text": "Nivel de logro",
            },
            "values": [""]
        },

        "scale-y":{
            "min-value":0,
            "max-value":100
        },
        "series": [
            {
                "legend-item": {
                    "order" : 3
                },
                "text" : "Insuficiente",
                "values":[ @Math.Round(insuficientePGlobal, MidpointRounding.AwayFromZero)],
                "background-color":"#a0b2f7", /* Bar fill color (single) */
            },
            {
                "legend-item": {
                    "order": 2
                },
                "text" : "Elemental",
                "values":[ @Math.Round(suficientePGlobal, MidpointRounding.AwayFromZero)],
                "background-color":"#2853ff", /* Bar fill color (single) */
            },
            {   
                "legend-item": {
                    "order": 1
                },
                "text" : "Adecuado",
                "values":[ @Math.Round(adecuadoPGlobal, MidpointRounding.AwayFromZero)],
                "background-color":"#021251", /* Bar fill color (single) */
            }
        ]
    };

    zingchart.render({
        id: 'chart1',
        data: config1,
        height: '300',
        width: '900'
    });

    zingchart.render({
        id: 'chart2',
        data: config2,
        height: '300',
        width: '800'
    });

    zingchart.render({
        id: 'chart3',
        data: config3,
        width: '800'
    });

    zingchart.render({
        id: 'chart4',
        data: config4,
        width: '800'
    });

    zingchart.render({
        id: 'chart5',
        data: config5,
        width: '800'
    });

    zingchart.render({
        id: 'chart6',
        data: config6,
        width: '800'
    });

    zingchart.render({
        id: 'chart7',
        data: config7,
        width: '800'
    });

    zingchart.render({
        id: 'chart8',
        data: config8,
        width: '400'

    });

    $('#chart1-license-text').html('');
    $('#chart2-license-text').html('');
    $('#chart3-license-text').html('');
    $('#chart4-license-text').html('');
    $('#chart5-license-text').html('');
    $('#chart6-license-text').html('');
    $('#chart7-license-text').html('');
    $('#chart8-license-text').html('');
</script>
