﻿ @model ViewModels.ReportViewModel

@{
    Layout = "~/Views/Shared/_Report.cshtml";
}

    <div class="col-xs-12 text-center">
        <hr />
        <h4 class="text-uppercase"><b>RESPUESTAS CORRECTAS DEL TEST</b></h4>
        <hr style="margin-bottom: 5px;" />
        <h5>
            @DateTime.Now.ToString("dd/MM/yyyy")
        </h5>

    </div>

    <div class="col-xs-12" style="padding-top: 10px;">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th class=" col-xs-3 text-uppercase color-row">ESTABLECIMIENTO</th>
                    <td>@Model.Establishment.Name.ToUpper()</td>
                    <td class="col-xs-3" rowspan="4">
                        <div class=" text-center">
                            <img src="@Model.Establishment.PathImage" height="120" width="120" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class=" col-xs-3 text-uppercase color-row">PROFESOR</th>
                    <td class="text-uppercase">@Model.Teacher.Name</td>
                </tr>
                <tr>
                    <th class=" col-xs-3 text-uppercase color-row">CURSO</th>
                    <td class="text-uppercase">@Model.Test.SubUnity.Unity.CourseSubject.Course.Name</td>
                </tr>
                <tr>
                    <th class=" col-xs-3 text-uppercase color-row">ASIGNATURA</th>
                    <td class="text-uppercase">@Model.Test.SubUnity.Unity.CourseSubject.Subject.Name</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-xs-12" style="padding-top: 10px;">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th class=" col-xs-3 text-uppercase color-row">Eje temático</th>
                    <td class="text-uppercase">@Model.Test.SubUnity.Unity.Name</td>
                </tr>
                <tr>
                    <th class=" col-xs-3 text-uppercase color-row">Tema</th>
                    <td class="text-uppercase">@Model.Test.SubUnity.Name</td>
                </tr>
                <tr>
                    <th class=" col-xs-3 text-uppercase color-row">Título</th>
                    <td class="text-uppercase">@Model.Test.Title</td>
                </tr>
            </tbody>
        </table>
    </div>


<div class="col-xs-12" style="padding-top: 10px;">
    @{
        var totalQuestions = Model.Test.Questions.Where(p => p.Status).Count();
        var i = 1;
    }
    <table class="table table-bordered text-center">
        <thead>       
            <tr>
                @foreach (var question in Model.Test.Questions.Where(p => p.Status))
                {
                    <th class="color-row text-center">P @i</th>
                    i++;
                 }
            </tr>

        </thead>
        <tbody>
            <tr>
                @foreach (var question in Model.Test.Questions.Where(p => p.Status))
                {
                    <td>@question.Choice</td>
                }
            </tr>
        </tbody>
    </table>
</div>

