﻿@model ViewModels.ReportViewModel
@using Extensions;
@{
    Layout = "~/Views/Shared/_Report.cshtml";
    var establishmentId = Helper.GlobalParameters.EducationalEstablishmentId;
    var students = Model.StudentsC;
    var course = Model.Course.Id;
    var studentcourse = Model.StudentCourseList;

}



<style>
    #monthTable table {
        table-layout: fixed;
    }

    #monthTable td {
        width: 20%;
    }

    .breakhere {
        page-break-after: always
    }
</style>


<div class="col-xs-12 text-center">
    <hr />
    <h4 class="text-uppercase"><b>Informe de alumnos por curso</b></h4>
    <hr style="margin-bottom: 5px;" />
    <h5>
        @DateTime.Now.ToString("dd/MM/yyyy")
    </h5>

</div>

<div class="col-xs-12" style="padding-top: 10px;">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th class=" col-xs-3 text-uppercase color-row">ESTABLECIMIENTO</th>
                <td>@Model.Establishment.Name.ToUpper()</td>
                <td class="col-xs-3" rowspan="4">
                    <div class=" text-center">
                        <img src="@Model.Establishment.PathImage" height="120" width="120" />
                    </div>
                </td>
            </tr>
            <tr>
                <th class=" col-xs-3 text-uppercase color-row">CURSO</th>
                <td class="text-uppercase">@Model.Course.Name</td>
            </tr>
        </tbody>
    </table>
</div>


@* ************************ Alumnos por curso **************************** *@

<div class="col-xs-12" style="padding-top: 10px;">
    <h4 class="text-left ">Lista del curso @Model.Course.Name</h4><br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class=" col-xs-1 text-uppercase color-row">N° de Lista</th>
                <th class=" col-xs-1 text-uppercase color-row">RUT</th>
                <th class=" col-xs-1 text-uppercase color-row">Apellido P</th>
                <th class=" col-xs-1 text-uppercase color-row">Apellido M</th>
                <th class=" col-xs-2 text-uppercase color-row">Nombre</th>
                <th class=" col-xs-1 text-uppercase color-row">N° de Matrícula</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var student in studentcourse.OrderBy(x => x.ListNumber))
            {
                var user = students.Where(x =>
                                                        x.Id == student.User_Id
                                                    ).SingleOrDefault();
                <tr>
                    <td class="text-center">@student.ListNumber</td>
                    <td>@user.UserName.WithFormatRUN()</td>
                    <td>@user.FatherLastName</td>
                    <td>@user.MotherLastName</td>
                    <td>@user.Name</td>
                    <td class="text-center">@student.EstablishmentRegisterNumber</td>
                </tr>
            }
        </tbody>
    </table>
</div>

