﻿@model ViewModels.ReportViewModel

@{
	Layout = "~/Views/Shared/_Report.cshtml";
	var generalAverage = 0.0;
	var courseAverage = 0.0;
	var bestAverage = 0.0;

	var finalStudentAverage = 0.0;
	var finalBestAverage = 0.0;
	var finalBestAverageList = new List<StudentAverage>();
	var finalCourseAverage = 0.0;
	var rank = 0;
}

@functions {
	public class StudentAverage
	{
		public string StudentID { get; set; }
		public double Average { get; set; }
	}
}


<div class="col-xs-12 text-center">
	<hr />
	<h4 class="text-uppercase"><b>INFORME DE CALIFICACIONES Y OBSERVACIONES</b></h4>
	<hr style="margin-bottom: 5px;" />
	<h5>
		@DateTime.Now.ToString("dd/MM/yyyy")
	</h5>

</div>


<div class="col-xs-12" style="padding-top: 10px;">
	<table class="table table-bordered">
		<tbody>
			<tr>
				<th class=" col-xs-3 text-uppercase color-row">ESTABLECIMIENTO</th>
				<td>@Model.Establishment.Name.ToUpper()</td>
				<td class="col-xs-3" rowspan="4">
					<div class=" text-center">
						<img src="@Model.Establishment.PathImage" height="120" width="120" />
					</div>
				</td>
			</tr>
			<tr>
				<th class=" col-xs-3 text-uppercase color-row">ALUMNO</th>
				<td class="text-uppercase">@Model.Student.Name @Model.Student.FatherLastName</td>
			</tr>
			<tr>
				<th class=" col-xs-3 text-uppercase color-row">CURSO</th>
				<td class="text-uppercase">@Model.CourseSubject.Course.Name</td>
			</tr>
			<tr>
				<th class=" col-xs-3 text-uppercase color-row">AÑO</th>
				<td class="text-uppercase">@Model.CurrentYear </td>
			</tr>
		</tbody>
	</table>
</div>

@{
	var isSubSubject = false;
	var subjectBases = new List<Model.BaseSubject>();

	if (Model.CourseSubject.CourseSubSubjects.Where(p => p.Status).Count() != 0)
	{
		foreach (var courseSubSubject in Model.CourseSubject.CourseSubSubjects)
		{
			subjectBases.Add(courseSubSubject.SubSubject);
		}

		isSubSubject = true;
	}
	else
	{
		subjectBases.Add(Model.CourseSubject.Subject);
	}
}

@foreach (var period in Model.PeriodDetails)
{
	generalAverage = 0.0;

	<div class="col-xs-12" style="padding-top: 10px;">

		<h4 class="text-uppercase text-center">@period.Name</h4>
		<h4>Asignatura: @Model.CourseSubject.Subject.Name</h4>




		@foreach (var subjectBase in subjectBases)
		{
			// Filtrar calificaciones de acuerdo al periodo y al alumno
			var qualificationsBySubject = subjectBase.StudentQualifications.Where(x => x.PeriodDetail.Id == period.Id &&
																									   x.Student.Id == Model.Student.Id)
																									   .ToList();
			var totalSubjectQualifications = qualificationsBySubject.Count;
			var subjectAverage = 0.0;

			<table class="table table-bordered">
				<thead>
					@if (isSubSubject)
					{
						<tr>
							<th colspan="13" style="text-align:center;">Módulo: @subjectBase.Name </th>
						</tr>
					}

					<tr>
						@for (int i = 1; i <= 12; i++)
						{
							<th class="text-uppercase col-xs-1 color-row">N @i</th>
						}
						<th class="color-row">Promedio</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						@foreach (var qualification in qualificationsBySubject)
						{
							<td>
								@qualification.Qualification
							</td>
							subjectAverage = subjectAverage + qualification.Qualification;
						}
						@for (int i = 1; i <= 12 - totalSubjectQualifications; i++)
						{
							<td class="text-center">--</td>
						}
						@{ subjectAverage = subjectAverage / totalSubjectQualifications;
						}
						@if (Double.IsNaN(subjectAverage) || Double.IsInfinity(subjectAverage))
						{
							<td class="text-center">
								--
							</td>
						}
						else
						{
							generalAverage = generalAverage + subjectAverage;

							<td>
								@subjectAverage.ToString("0.0")
							</td>
						}
					</tr>
				</tbody>
			</table>
		}
	</div>

	@* Tabla promedio General *@
	@* ******************* Calcular mejor promedio del curso por periodo **************** *@
	bestAverage = 0.0;
	var studentIds = subjectBases.FirstOrDefault().StudentQualifications
													 .Where(x => x.PeriodDetail.Id == period.Id)
													 .Select(x => x.Student.Id).Distinct();
	foreach (var studentId in studentIds)
	{
		var avg = 0.0;
		foreach (var subjectBase in subjectBases)
		{

			var qualifications = subjectBase.StudentQualifications
									 .Where(x => x.PeriodDetail.Id == period.Id && x.Student.Id == studentId)
							 .Select(x => x.Qualification);

			var sum = 0.0;
			foreach (var qualification in qualifications)
			{
				sum = sum + qualification;
			}
			avg += sum / qualifications.Count();
		}

		if (bestAverage < avg)
		{
			bestAverage = avg;
		}

		if (finalBestAverageList.Any(p => p.StudentID == studentId))
		{
			finalBestAverageList.FirstOrDefault(p => p.StudentID == studentId).Average += avg / subjectBases.Count;
		}
		else
		{
			finalBestAverageList.Add(new StudentAverage() { Average = avg / subjectBases.Count, StudentID = studentId });
		}
	}

	bestAverage /= subjectBases.Count;


	@* ******************* Calcular promedio general del curso **************** *@
	courseAverage = 0.0;

	foreach (var subjectBase in subjectBases)
	{
		var studentQualifications = subjectBase.StudentQualifications.Where(x => x.PeriodDetail.Id == period.Id);
		var qualifications = 0.0;

		foreach (var stdQual in studentQualifications)
		{
			qualifications += stdQual.Qualification;
		}

		if (studentQualifications.Count() != 0)
		{
			courseAverage += qualifications / studentQualifications.Count();
		}
	}

	courseAverage /= subjectBases.Count();

	<div class="col-xs-12" style="padding-top: 10px;">

		<table class="table table-bordered">

			<tbody>
				<tr>
					<td class="color-row col-xs-6 text-uppercase">Promedio general</td>
					@if (Double.IsNaN(generalAverage) || Double.IsInfinity(generalAverage) || generalAverage == 0)
					{
						<td class="text-center"> -- </td>}
					else
					{
						<td>@((generalAverage / subjectBases.Count).ToString("0.0"))</td>
						finalStudentAverage += generalAverage / subjectBases.Count;
					}
				</tr>
				<tr>
					<td class="color-row col-xs-6 text-uppercase">Mejor promedio del curso</td>
					@if (Double.IsNaN(bestAverage) || Double.IsInfinity(bestAverage) || bestAverage == 0.0)
					{
						<td class="text-center"> -- </td>}
					else
					{
						<td>@bestAverage.ToString("0.0")</td>}
				</tr>
				<tr>
					<td class="color-row col-xs-6 text-uppercase">Promedio del curso</td>
					@if (Double.IsNaN(courseAverage) || Double.IsInfinity(courseAverage) || courseAverage == 0.0)
					{
						<td class="text-center"> -- </td>}
					else
					{
						<td>@courseAverage.ToString("0.0")</td>
						finalCourseAverage += courseAverage;
					}
				</tr>

			</tbody>
		</table>
	</div>

}
@{
	var totalPeriods = Model.PeriodDetails.Count();

	//******************** FINAL STUDENT AVERAGE ************************
	finalStudentAverage = finalStudentAverage / totalPeriods;

	//******************** FINAL COURSE AVERAGE ************************
	finalCourseAverage = finalCourseAverage / totalPeriods;

	//******************** FINAL BEST AVERAGE ************************

	foreach (var fba in finalBestAverageList)
	{
		fba.Average = fba.Average / totalPeriods;
	}

	finalBestAverage = finalBestAverageList.Count > 0 ? finalBestAverageList.Max(x => x.Average) : 0;
}

@* Situacion final *@
<div class="col-xs-12" style="padding-top: 10px;">
	<h4 class="text-uppercase text-center">Situación Final</h4><br />

	<table class="table table-bordered">

		<tbody>
			<tr>
				<td class="color-row col-xs-6 text-uppercase">Promedio final</td>
				@if (Double.IsNaN(finalStudentAverage) || Double.IsInfinity(finalStudentAverage))
				{
					<td class="text-center"> -- </td>}
				else
				{
					<td>@finalStudentAverage.ToString("0.0")</td>}
			</tr>
			<tr>
				<td class="color-row col-xs-6 text-uppercase">Mejor promedio del curso</td>
				@if (Double.IsNaN(finalBestAverage) || Double.IsInfinity(finalBestAverage) || finalBestAverage == 0.0)
				{
					<td class="text-center"> -- </td>}
				else
				{
					<td>@finalBestAverage.ToString("0.0")</td>}
			</tr>
			<tr>
				<td class="color-row col-xs-6 text-uppercase">Promedio del curso</td>
				@if (Double.IsNaN(finalCourseAverage) || Double.IsInfinity(finalCourseAverage) || finalCourseAverage == 0.0)
				{
					<td class="text-center"> -- </td>}
				else
				{
					<td>@finalCourseAverage.ToString("0.0")</td>}
			</tr>
			<tr>
				<td class="color-row col-xs-6 text-uppercase">Ranking</td>
				@if (finalBestAverageList.Count == 0)
				{
					<td class="text-center"> -- </td>}
				else
				{
					var rankList = finalBestAverageList.OrderByDescending(x => x.Average);
					rank = 1;
					foreach (var ranker in rankList)
					{
						if (ranker.StudentID == Model.Student.Id)
						{
							break;
						}
						rank++;
					}
					<td>@rank</td>
				}
			</tr>

		</tbody>
	</table>
</div>




@* Observations *@

<div class="col-xs-12" style="padding-top: 10px;">

	<br />
	<br />
	<br />

	<h4 class="text-uppercase text-center">Observaciones</h4><br />
	@if (subjectBases.SelectMany(p => p.Observations.Where(q => q.Status && q.User.Id == Model.Student.Id)).Count() == 0)
	{
		<table class="table table-bordered">
			<thead>
			<th class="color-row col-xs-2 ">Fecha</th>
			<th class="color-row col-xs-2 ">Asignatura</th>
			<th class="color-row">Observación</th>
			</thead>
			<tbody>
				<tr>
					<td colspan="3">No existen observaciones registradas para este alumno.</td>
				</tr>
			</tbody>
		</table>
	}
	else
	{
		<table class="table table-bordered">
			<thead>
			<th class="color-row col-xs-2 ">Fecha</th>
			<th class="color-row col-xs-2 ">Asignatura</th>
			<th class="color-row">Observación</th>
			</thead>
			<tbody>
				@foreach (var observation in subjectBases.SelectMany(p => p.Observations.Where(q => q.Status && q.User.Id == Model.Student.Id)))
				{
					<tr>
						<th class="color-row col-xs-2 ">@observation.CreatedAt.ToString("dd MMM yyyy")</th>
						<td>@observation.BaseSubject.Name</td>
						<td>@observation.Message</td>
					</tr>
				}
			</tbody>
		</table>
	}

</div>