﻿@model ViewModels.ReportViewModel
@{
    Layout = "~/Views/Shared/_Report.cshtml";
    int correctas = 0;
    var todasLasRespuestas = 0;
    double rendimiento = 0.0;
}
<style>
    .breakhere {
        page-break-after: always
    }
</style>
<div class="col-xs-12 text-center">
    <hr />
    <h4 class="text-uppercase"><b>Respuestas equivocas y omitidas</b></h4>
    <hr style="margin-bottom: 5px;" />
    <h5>
        @DateTime.Now.ToString("dd/MM/yyyy")
    </h5>
</div>
<div class="col-xs-12" style="padding-top: 10px;">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th class=" col-xs-3 text-uppercase color-row">ESTABLECIMIENTO</th>
                <td>@Model.Establishment.Name.ToUpper()</td>
                <td class="col-xs-3" rowspan="4">
                    <div class=" text-center">
                        <img src="@Model.Establishment.PathImage" height="120" width="120" />
                    </div>
                </td>
            </tr>
            <tr>
                <th class=" col-xs-3 text-uppercase color-row">PROFESOR</th>
                <td class="text-uppercase">@Model.Teacher.Name</td>
            </tr>
            <tr>
                <th class=" col-xs-3 text-uppercase color-row">CURSO</th>
                <td class="text-uppercase">@Model.CourseSubject.Course.Name</td>
            </tr>
            <tr>
                <th class=" col-xs-3 text-uppercase color-row">ASIGNATURA</th>
                <td class="text-uppercase">@Model.CourseSubject.Subject.Name</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="col-xs-12" style="padding-top: 10px;">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th class=" col-xs-3 text-uppercase color-row">Eje temático</th>
                <td class="text-uppercase">@Model.SubUnity.Unity.Name</td>
            </tr>
            <tr>
                <th class=" col-xs-3 text-uppercase color-row">Tema</th>
                <td class="text-uppercase">@Model.SubUnity.Name</td>
            </tr>
            <tr>
                <th class=" col-xs-3 text-uppercase color-row">Título</th>
                <td class="text-uppercase">@Model.Test.Title</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-xs-12" style="padding-top: 10px;">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th class=" col-xs-3 text-uppercase color-row">Alumno</th>
                <td class="text-uppercase">@Model.Student.Name</td>
            </tr>
        </tbody>
    </table>
    @{ var rightAnswers = 0;}
    @foreach (var answer in Model.Answers.Where(p => p.Question.Status))
    {
        if (answer.Question.Choice == answer.Choice)
        {
            rightAnswers++;
        }
    }
    @{ var performance = (rightAnswers * 100) / Model.Test.Questions.Where(p => p.Status).Count(); }
    <h4>Rendimiento : @performance %</h4>
    @{ var omitted = new List<int>();
        var different = false;

    }
    @foreach (var quest in Model.Test.Questions.Where(p => p.Status))
    {
        different = false;
        foreach (var ans in Model.Answers)
        {
            if (quest.Id == ans.Question.Id)
            {
                different = true;
            }
        }
        if (!different)
        {
            omitted.Add(quest.Id);
        }
    }

    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-uppercase col-xs-3 color-row">N° De Pregunta</th>
                <th class="text-uppercase col-xs-3 color-row">Correcta</th>
                <th class="text-uppercase col-xs-3 color-row">Tu Indicaste</th>
            </tr>
        </thead>
        <tbody>
            @{ var i = 1;}
            @foreach (var question in Model.Test.Questions.Where(p => p.Status))
            {
                <tr>
                    <td class="text-uppercase">@i</td>
                    @if (!Model.IsHideAnswers)
                    {
                        <td class="text-uppercase">@question.Choice</td>
                    }
                    else
                    {
                        <td class="text-uppercase">-</td>
                    }
                    @if (omitted.Contains(question.Id))
                    {
                        <td class="text-uppercase">Omitido</td>
                    }
                    @foreach (var answer in Model.Answers.Where(p => p.Question.Status))
                    {
                        if (answer.Question.Id == question.Id)
                        {
                            if (question.Choice != answer.Choice)
                            {
                                <td class="text-uppercase" style="color:red;">@answer.Choice</td>
                            }
                            else
                            {
                                <td class="text-uppercase">@answer.Choice</td>
                            }
                        }
                    }
                </tr>
                i++;
            }
        </tbody>
    </table>
</div>
@* ******************************************** Rendimiento por contenido ************************************************************* *@
<p CLASS="breakhere" />
<div class="col-xs-12  text-center" style="page-break-after: always;padding-top: 10px;">
    @{ var count = 0;   }
    <h4 class="text-uppercase text-left">Rendimiento por "Contenido"	</h4>
    <br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-uppercase text-center col-xs-1 color-row">N°</th>
                <th class="text-uppercase text-left col-xs-4 color-row">Tema</th>
                <th class="text-uppercase text-left col-xs-3 color-row">Preguntas Asociadas</th>
                <th class="text-uppercase text-center col-xs-1 color-row">Rendimiento</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var achievementIndicator in Model.AchievementIndicator)
            {
                count = count + 1;
                <tr>
                    <td class="text-center">
                        @count
                    </td>
                    <td class="text-left">
                        @achievementIndicator.Name
                    </td>
                    <td class="text-left">
                        @{ 
                            correctas = 0;
                            todasLasRespuestas = 0;
                        }
                        @foreach (var achievementAlternatives in achievementIndicator.AchievementAlternatives)
                        {
                            @:  @achievementAlternatives.Question.Order &nbsp;
                            correctas += Model.Answers.Where(x => x.Status == true && x.Choice == achievementAlternatives.Question.Choice && x.Question_Id == achievementAlternatives.Question.Id).ToList().Count();
                            todasLasRespuestas += Model.Answers.Where(x => x.Status == true && x.Question_Id == achievementAlternatives.Question.Id && x.Question_Id == achievementAlternatives.Question.Id).ToList().Count();
                        }
                        @{ 

                            rendimiento = Math.Round((float)correctas / (float)todasLasRespuestas * 100);
                        }
                    </td>
                    <td class="text-center">
                        @rendimiento %
                    </td>

                </tr>

            }
        </tbody>
    </table>
</div>

@* ******************************************** Rendimiento por Habilidad Cognitiva ************************************************************* *@
<p CLASS="breakhere" />
<div class="col-xs-12  text-center" style="padding-top: 10px;">
    @{  count = 1; }
    <h4 class="text-uppercase text-left">Rendimiento por "Habilidad Cognitiva"</h4><br />
    <br />
    <br>
    <br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-uppercase text-center col-xs-1 color-row">N°</th>
                <th class="text-uppercase text-left col-xs-3 color-row">Habilidad Cognitiva</th>
                <th class="text-uppercase text-left col-xs-3 color-row">Preguntas Asociadas</th>
                <th class="text-uppercase text-center col-xs-1 color-row">Rendimiento</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var skill in Model.Skills)
            {
                <tr>
                    <td class="text-center">
                        @count
                    </td>
                    <td class="text-left">
                        @skill.Name
                    </td>
                    <td class="text-left">
                        @foreach (var question in Model.Questions.Where(x => x.Status == true && x.Skill.Id == skill.Id))
                        {
                            @: @question.Order &nbsp

                        }
                    </td>
                    @{
                        var respuestas = Model.Answers.Where(x => x.Status == true && x.Choice == x.Question.Choice && x.Question.Test.Id == Model.Test.Id && x.Question.Skill.Id == skill.Id && x.User_Id == Model.Student.Id).Count();

                        todasLasRespuestas = Model.Test.Questions.Where(x => x.Status == true && x.Skill.Id == skill.Id && x.Test.Id == Model.Test.Id).Count();
                        rendimiento = Math.Round((double)respuestas / todasLasRespuestas * 100);
                    }
                    <td class="text-center">
                        @rendimiento %
                    </td>
                </tr>
                count += 1;
            }
        </tbody>
    </table>
</div>