﻿<div id="div-modal-actionlesson-view" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
	<div style="max-width: 900px; margin: 30px auto;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">Información</h4>
			</div>
			<div id="div-modal-actionlesson-view-content" class="modal-body">
					
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Aceptar</button>
			</div>
			
		</div>
	</div>
</div>

<script>
	$(function ()
	{
		$.fn.ActionLesson_View = function (content) {
			event.preventDefault();

			//$("#div-modal-actionlesson-view").modal('show');
			//$("#div-modal-actionlesson-view").find("h4").text(content.Title);
			//$('#div-modal-actionlesson-view-content').html(content.Description);
		}	
	});
</script>