﻿<div id="div-modal-actionlesson" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static" style="display: none;" aria-hidden="true">
	<div style="max-width: 900px; margin: 30px auto;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">Contenido</h4>
			</div>
			<form id="form-actionlesson" data-parsley-validate>
				<div class="modal-body" style="height: 420px;overflow-y: auto;">
					<div class="col-sm-12">

						<div class="form-group">
							<label class="col-sm-12">Título:</label>
							<div class="col-sm-12">
								<input id="input-name" class="form-control" type="text" name="Name" required>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-12">Descripción:</label>
							<div class="col-md-12">
								<textarea id="textarea-actionlesson" name="editordata"></textarea>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancelar</button>
					<button type="submit" id="button-submit-actionlesson" class="btn btn-info waves-effect waves-light">Agregar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div id="div-modal-actionlesson-view" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
	<div style="max-width: 900px; margin: 30px auto;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">Información</h4>
			</div>
			<div id="div-modal-actionlesson-view-content" class="modal-body">
					
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Aceptar</button>
			</div>
			
		</div>
	</div>
</div>


<script>
	$(function ()
	{
		$.fn.ActionLesson_View = function (content) {
			event.preventDefault();
			resetForm();

			//$("#div-modal-actionlesson-view").modal('show');
			//$("#div-modal-actionlesson-view").find("h4").text(content.Title);
			//$('#div-modal-actionlesson-view-content').html(content.Description);
		}		

		$.fn.ActionLesson_Add = function (activity_id) {
			event.preventDefault();
			resetForm();

			$('#div-modal-actionlesson').modal('show');

			$('#textarea-actionlesson').summernote('destroy');
			$('#textarea-actionlesson').summernote({ height: 200, lang: 'es-ES', focus: true, dialogsInBody: true });
			$('#textarea-actionlesson').summernote('code', '');
			
			$("#form-actionlesson").attr("activity-id", activity_id);
			$("#form-actionlesson").attr("actionlesson-id", 0);
			$("#button-submit-actionlesson").text("Agregar");
		}

		$.fn.ActionLesson_Edit = function (content) {
			event.preventDefault();
			resetForm();
			$('#div-modal-actionlesson').modal('show');
			$("#form-actionlesson").attr("activity-id", 0);
			$("#form-actionlesson").attr("actionlesson-id", content.Id);
			$("#form-actionlesson").find('input[name="Name"]').val(content.Title);

			$('#textarea-actionlesson').summernote('destroy');
			$('#textarea-actionlesson').summernote({ height: 200, lang: 'es-ES', focus: true, dialogsInBody: true });
			$('#textarea-actionlesson').summernote('code', content.Description);
			
			$("#button-submit-actionlesson").text("Actualizar");
		}

		$.fn.ActionLesson_Delete = function (content) {
			event.preventDefault();
			$("#button-delete").attr("id-value", content.Id);
			$("#button-delete").attr("url-name", "ActionLesson");
			$('#div-modal-delete').modal('show');
		}

		$("#form-actionlesson").parsley().on('form:submit', function () {
			var data =
				{
					Name: $("#form-actionlesson").find('input[name="Name"]').val(),
					Description: $('#textarea-actionlesson').summernote('code'),
					Activity_Id: $("#form-actionlesson").attr("activity-id"),
					ActionLesson_Id: $("#form-actionlesson").attr("actionlesson-id")
				};

			Repository.queryApi(
				{
					url: "ActionLesson",
					method: data.ActionLesson_Id == 0 ? "POST" : "PUT",
					data: data,
					success: function (data) {
						$.fn.refreshTable();
						$('#div-modal-actionlesson').modal('hide');
					}
				}, true, true);

			return false;
		});

		function resetForm() {
			$("#form-actionlesson").get(0).reset();
			$("#form-actionlesson").parsley().reset();
		}
	});
</script>