﻿@model System.Object
@Scripts.Render("~/Js/JQuery-UI")

@{
	Layout = "../Shared/_Blank.cshtml";
	var content = Model as String;
}

<style>
	.parsley-errors-list li.parsley-required {
		color: red;
	}
</style>

<div id="div-alert-test" class="myadmin-alert alert-info myadmin-alert-bottom-right" style="display: block; background: #4867A8; padding: 12px 12px 12px 12px; bottom: 5px; right: 10px; min-width:250px;">
	<div class="row">
		<div class="col-md-7">
			<h4>Tiempo:</h4>
			<span id="span-timer-test">- hr : -min : -s</span>
		</div>
		<div class="col-md-5">
			<button class="btn btn-block btn-danger" style="margin-top:4px;" onclick="$.fn.Submit();">Enviar</button>
		</div>
	</div>
</div>

<div id="div-modal-test" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			</div>
			<div class="modal-body">
				<h5>¿Seguro que desea enviar?</h5>
				<h4 style="color:red;">Aún hay preguntas sin responder.</h4>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-danger waves-effect" onclick="$.fn.Send();">Enviar</button>
			</div>
		</div>
	</div>
</div>

<div id="div-modal-test-result" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static" style="display: none;" aria-hidden="true">
	<div style="max-width: 430px; margin: 30px auto;">			
		<div class="modal-content" style="border: none;">
			<div class="white-box" style="width:100%; text-align:center; margin-bottom:0px; padding-bottom: 10px;">
				<div class="r-icon-stats">
					<i class="icon-trophy"></i>
					<div class="bodystate">
						<h4>-</h4>
						<span class="text-muted">Nota</span>
					</div>
				</div>
				<p>No es posible calcular la nota por el momento. (El profesor debe evaluar primero las respuestas para las preguntas con desarrollo)</p>
			</div>

			<div class="row">
				<div class="col-md-6" style="padding-right:0;">
					<button id="button-complementaryAnswers" type="button" class="btn btn-success waves-effect" style="width:100%; ">Ver respuestas</button>
				</div>
				<div class="col-md-6" style="padding-left:0;">
					<button type="button" class=" btn btn-danger waves-effect" style="width:100%;" data-dismiss="modal" onclick="window.close(); window.location.href = '/Home';">Salir</button>
				</div>
			</div>
		</div>		
	</div>
</div>

<div class="row"><p></p><</div>

<div class="row">

	<div class="col-md-1"></div>

	<div class="panel panel-default col-md-10">
		<div id="div-panel-title" class="panel-heading"></div>
		<div class="panel-wrapper collapse in">
			<div class="panel-body">
				<form id="form-test" data-parsley-validate>
					<div class="form-group">
						<div class="col-sm-12">
							<ul id="ul-test-questions" class="list-group" style="background-color:#f1f1f1"></ul>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="col-md-1"></div>

</div>

<script>

	$(function ()
	{
		var content = StringCast.StringToObject_Decode('@Html.Raw(content)');
		var colorTime = false;

		if (content == null || content == undefined || content.Error == null || content.Error == undefined || content.Error != "")
		{
			if (content == null)
				content = { Error: "Error - No es posible cargar el contenido" };

			if (content.Error == null || content.Error == undefined)
				content.Error = "Error - No es posible cargar el contenido";

			alert(content.Error);
			window.close();
			window.location.href = "/Home";
			return;
		}

		var test = content.Test;

		$("#div-panel-title").html(test.Title);

		for (var i = 0; i < test.Questions.length; i++) {
			var question = test.Questions[i];

			switch (question.QuestionType + "") {
				case '@((int)ModelEnum.QuestionType.WrittenAnswer)':
					$("#ul-test-questions").append($.fn.Test_generatePanelWrittenAnswer(i, question));
					break;

				case '@((int)ModelEnum.QuestionType.TrueFalse)':
					$("#ul-test-questions").append($.fn.Test_generatePanelTrueFalse(i, question));
					break;

				case '@((int)ModelEnum.QuestionType.PairedWords)':
					$("#ul-test-questions").append($.fn.Test_generatePanelPairedWords(i, question));
					break;

				case '@((int)ModelEnum.QuestionType.Alternatives)':
					$("#ul-test-questions").append($.fn.Test_generatePanelAlternative(i, question));
					break;
			}
		}

		var time = 0;

		if (test.Timer > 0 && content.Info != null)
			time = parseInt(content.Info.CurrentTime);

		var state = true;

		if (time <= 0)
			$("#span-timer-test").html("Ilimitado");
		else

		//Activando cronometro
		var timerTime = setInterval(function ()
		{
			var _time = time;

			var hours = Math.floor(_time / (60 * 60));

			_time -= hours * 60 * 60;

			var minutes = Math.floor(_time / 60);
			_time -= minutes * 60;

			var seconds = Math.floor(_time);

			// Display the result in the element with id="demo"
			$("#span-timer-test").html(hours + 'hr : ' + minutes + 'min : ' + seconds+'s');

			if (Math.floor(time) <= 60 && !colorTime)
				setInterval(function () {
					colorTime = true;
					if (state)
						$("#div-alert-test").animate({
							backgroundColor: "#ff2a2a",
						}, 1500);
					else
						$("#div-alert-test").animate({
							backgroundColor: "#4867A8",
						}, 1500);

					state = !state;
				}, 2000);

			time = time <= 0 ? 0 : time - 1;

			if (time == 0) {
				$("#span-timer-test").html("Tiempo terminado. No es posible enviar la evaluación.");
				$("#div-alert-test").find("h4").html("");
				$("#div-alert-test").find("h4").closest("div").removeClass("col-md-7");
				$("#div-alert-test").find("h4").closest("div").addClass("col-md-12");
				$("#div-alert-test").find("button").closest("div").remove();	
				clearInterval(timerTime);
			}

			}, 1000);

		$.fn.Submit = function ()
		{
			$("#form-test").parsley().validate();

			if ($("#form-test").parsley().isValid())
				$("#div-modal-test").find("h4").html("");
			else
				$("#div-modal-test").find("h4").html("Aún hay preguntas sin responder.");

			$("#div-modal-test").modal('show');
		}

		$.fn.Send = function ()
		{
			@if (SecurityGuard.Authentication.currentAccess.Role != "Alumno")
			{
				@:alert("Modo Lectura - Solamente alumnos puede enviar test");
				@:return;
			}

			Repository.queryApi(
				{
					url: "Test/RegisterStudentQuestions",
					method: "POST",
					data: $.fn.GetData(),
					success: function (data) {
						clearInterval(timerTime);

						if (data == "-1")
							data = "-";
						else
						{
							data += "/100";
							$("#div-modal-test-result").find("p").html("");
						}

						$("#div-modal-test-result").find("h4").html(data);
						$("#div-modal-test").modal('hide');
						$("#div-modal-test-result").modal('show');
						$("#div-alert-test").hide();
				}
			}, true, true);
		}

		$.fn.GetData = function () {
			var data =
				{
					Test_Id: test.Id,
					QuestionTrueFalseItems: [],
					QuestionWrittenAnswerItems: [],
					QuestionPairedWordItems: [],
					QuestionAlternativeItems: []
				};

			$("#ul-test-questions").children("li").each(function (index) {

				try {

					var type = $(this).attr("question-type");
					if (type == null || type == undefined || type == "") return true;

					switch (type + "") {
						case "@((int)ModelEnum.QuestionType.WrittenAnswer)":
							var item = $.fn.Test_GetData_WrittenAnswer(index, $(this));
							if (item == null) return true;
							data.QuestionWrittenAnswerItems.push(item);
							break;
						case "@((int)ModelEnum.QuestionType.TrueFalse)":
							var item = $.fn.Test_GetData_TrueFalse(index, $(this));
							if (item == null || item.length == 0) return true;
							data.QuestionTrueFalseItems = $.merge(data.QuestionTrueFalseItems, item);
							break;
						case "@((int)ModelEnum.QuestionType.PairedWords)":
							var item = $.fn.Test_GetData_PairedWords(index, $(this));
							if (item == null || item.length == 0) return true;
							data.QuestionPairedWordItems = $.merge(data.QuestionPairedWordItems, item);
							break;
						case "@((int)ModelEnum.QuestionType.Alternatives)":
							var item = $.fn.Test_GetData_Alternative(index, $(this));
							if (item == null) return true;
							data.QuestionAlternativeItems.push(item);
							break;
					}

				} catch (Ex) { }
			});

			return data;
		}

		$.fn.Test_GetData_WrittenAnswer = function(index, component)
		{
			var questionWrittenAnswerItem = {
				Id: component.attr("id-model"),
				Answer: component.find('textarea').val()
			};

			if (questionWrittenAnswerItem.Answer == undefined || questionWrittenAnswerItem.Answer == null || questionWrittenAnswerItem.Answer == "")
				return null;
			else
				return questionWrittenAnswerItem;
		}

		$.fn.Test_GetData_TrueFalse = function(index, component)
		{
			var questionTrueFalseItems = [];

			component.find('.segment-test-truefalse').each(function ()
			{
				var radioName = $(this).attr("radio-name");
				if (radioName == null || radioName == undefined || radioName == "") return true;

				var value =$(this).find("input:radio[name ='" + radioName + "']:checked").val();

				if (value == null || value == undefined || value == "") return true;

				questionTrueFalseItems.push(
					{
						Id: $(this).attr("id-model"), Value: value == "1"
					});
			});
			return questionTrueFalseItems;
		}

		$.fn.Test_GetData_PairedWords = function(index, component)
		{
			var questionPairedWordItems = [];

			component.find('.segment-test-pairedWords').each(function ()
			{
				var alternative = $(this).find("select").val();

				if (alternative == undefined || alternative == null || alternative == "")
					return true;

				questionPairedWordItems.push(
					{
						Id: $(this).attr("id-model"),
						Column_1_Alternative: alternative,
					});
			});

			return questionPairedWordItems;
		}

		$.fn.Test_GetData_Alternative = function(index, component)
		{
			var questionAlternativeItems = [];

			component.find('.segment-test-alternative').each(function ()
			{
				var radioName = $(this).attr("radio-name");
				if (radioName == null || radioName == undefined || radioName == "") return true;

				var value = $(this).find("input:radio[name ='" + radioName + "']:checked").val();
				if (value == undefined) value = "0";

				if (value == null || value == "") return true;

				questionAlternativeItems.push(
					{
						Id: $(this).attr("id-model"), Value: value == "1"
					});
			});

			for (var i = 0; i < questionAlternativeItems.length; i++)
			{
				if (questionAlternativeItems[i].Value)
					return questionAlternativeItems[i];
			}

			return null;
		}

		$("#button-complementaryAnswers").click(function () {

			$(document).find("input").each(function () { $(this).attr('disabled', true); });
			$(document).find("textarea").attr('readonly', true);
			$(document).find("select").attr('disabled', true);

			Repository.queryApi(
				{
					url: "Test/GetComplementaryAnswers",
					method: "GET",
					data: { test_id: test.Id },
					success: function (data)
					{

						if (data.length == 0)
						{
							alert("No se encontraron respuestas complementarias.");
							window.close();
							window.location.href = "/Home";
							return;
						}

						$("#div-modal-test-result").modal('hide');

						var test_questions = $("#ul-test-questions");
						
						for (var i = 0; i < data.length; i++)
						{
							var element = test_questions.find('li[id-model="' + data[i].Id + '"]');

							if (element == undefined && element == null) continue;

							if (data[i].Type != element.attr("question-type")) continue;

							var structure = '<label class="col-sm-12" style="color:#00c292"> Respuesta complementaria:</label>'+
								'<div class="card card-outline-success text-dark" style="overflow-x:auto;">' +
								'<div class="card-block">' +
								data[i].Answer +
								'</div>' +
								'</div>';

							element.append(structure);
						}
					}
				}, false, true);

		});

	});

		$.fn.Test_generatePanelWrittenAnswer = function(index, content)
		{
			structure=
				'<li class="list-group-item" question-type="@((int)ModelEnum.QuestionType.WrittenAnswer)" id-model="'+content.QuestionWrittenAnswerItem.Id+'" >' +
				'<div class="row" style="margin-bottom:10px;">' +
					'<label class="col-sm-12">'+(index+1)+'.</label>'+
					'<div class="col-sm-12" style="overflow-x:auto;">'+
						'<span>'+content.Name+'</span>'+
					'</div>'+
					'<label class="col-sm-12"> Respuesta:</label>'+
					'<div class="col-sm-12">'+
						'<textarea class="form-control" type="text" name="Answer" style="max-height:100px; min-height:100px;" required>' + content.QuestionWrittenAnswerItem.Answer+'</textarea>'+
					'</div>'+
				'</div>' +
			'</li>';

			return structure;
		}

		var trueFalse_Count = 0;

		$.fn.Test_generatePanelTrueFalse = function (index, content)
		{
			var _structure = '';

			for (var i = 0; i < content.QuestionTrueFalseItems.length; i++)
				_structure += $.fn.Test_generateAddInputTrueFalse(content.QuestionTrueFalseItems[i]);

			var structure = '<li class="list-group-item" question-type="@((int)ModelEnum.QuestionType.TrueFalse)" id-model="'+content.Id+'">'+
					'<div class="row">'+
						'<label class="col-sm-12">'+(index+1)+'.</label>'+
						'<div class="col-sm-12" style="overflow-x:auto;">'+
							'<span>'+content.Name+'</span>'+
						'</div>'+
					'</div>'+

					'<div class="row">'+
						'<div class="row form-group col-sm-12 components-truefalse">'+_structure+'</div>'+
					'</div>'+
				'</li>';

			return structure;
		}

		$.fn.Test_generateAddInputTrueFalse = function (content)
		{
			var structure = '<div class="row col-sm-12 segment-test-truefalse" id-model="' + content.Id + '" radio-name="trueandfalse_' + (++trueFalse_Count) + '"> <label class="col-sm-12"></label>' +
				'<div class="col-sm-2">' +
				'<div class="radio-list" style="margin-top:13px; ">' +

					'<label class="custom-control custom-radio" style="margin-right:25px;">'+
						'<input type="radio" class="custom-control-input" name="trueandfalse_' + trueFalse_Count + '" value="1" required data-parsley-errors-container="#truefalse_' + content.Id +'">' +
						'<span class="custom-control-indicator"></span>'+
						'<span class="custom-control-description">V</span>'+
					'</label>' +

					'<label class="custom-control custom-radio">'+
						'<input type="radio" class="custom-control-input" name="trueandfalse_' + trueFalse_Count + '" value="0">' +
						'<span class="custom-control-indicator"></span>' +
						'<span class="custom-control-description">F</span>'+
					'</label>' +
				'</div>' +
				'</div>' +
				'<div class="row col-sm-10">' +
				'<div class="col-sm-12" style="padding-top:9px; overflow-x:auto;">'+
					'<span>' + content.Text + '</span>' +
				'</div>' +
				'</div><span id="truefalse_'+content.Id+'"><span></div>';

			return structure;
		}

		$.fn.Test_generatePanelPairedWords  = function (index, content) {

			var _structure = '';

			//Buscando el número más grande
			var maxNumber = 0;

			for (var i = 0; i < content.QuestionPairedWordItems.length; i++)
				if (maxNumber < parseInt(content.QuestionPairedWordItems[i].Column_2_Index))
					maxNumber = parseInt(content.QuestionPairedWordItems[i].Column_2_Index);

			for (var i = 0; i < content.QuestionPairedWordItems.length; i++) {
				content.QuestionPairedWordItems[i].MaxNumber = maxNumber;
				_structure += $.fn.Test_generateAddQuestionPairedWordItem(content.QuestionPairedWordItems[i]);
			}

			if (_structure == "")
				for (var i = 0; i < 3; i++)
					_structure += $.fn.Test_generateAddQuestionPairedWordItem(null, { Column_2_Index: (i + 1), MaxNumber: 3 }, false);

			var structure = '<li class="list-group-item" question-type="@((int)ModelEnum.QuestionType.PairedWords)" id-model="' + content.Id + '" pariedWords-numberMax="' + maxNumber + '">' +
								'<div class="row form-group">'+
									'<label class="col-sm-12">'+(index+1)+'.</label>'+
										'<div class="col-sm-12" style="overflow-x:auto;">'+
												'<span>'+content.Name+'</span>'+
										'</div>'+
								'</div>'+
								'<div class="row ">'+
										'<div class="row form-group col-sm-12 components-pairedWords">'+_structure+'</div>'+
								'</div>'+
				'</li>';
			return structure;
		}

		$.fn.Test_generateAddQuestionPairedWordItem = function (content)
		{

			var structure_select = '<select class="form-control" data-parsley-errors-container="#pairedWord_' + content.Id +'" required>';
			for (var i = 0; i <= content.MaxNumber; i++)
				if (content.Column_1_Alternative != "" && parseInt(content.Column_1_Alternative)== i)
					structure_select += '<option value="' + i + '" selected>' + (i == 0 ? '-' : i) + '</option>';
				else
					structure_select += '<option value="' + i + '"  ' + (i == 0 ? 'selected disabled' : '') + '>' + (i == 0 ? '-' : i) + '</option>';

			structure_select += '</select>';

			var structure = '<div class="row col-sm-12 segment-test-pairedWords" id-model="' + content.Id + '">' +
								'<div class="row form-group col-sm-12">' +
										'<div class="row col-sm-6 column-border-left">'+
											'<div class="col-sm-3">'+
												structure_select+
											'</div>'+
											'<div class="col-sm-9" style="padding-top:9px; overflow-x:auto;">'+
													'<span>'+content.Column_1_Text+'</span>'+
											'</div>'+
											'<span id="pairedWord_' + content.Id + '"></span>' +
										'</div>'+
										'<div class="row col-sm-6 ">'+
											'<div class="col-sm-2" style="padding-top:9px;" >'+
														'<label style="float:right;" class="label-current-number" pairedWords-currentIndex="'+content.Column_2_Index+'"><strong>'+content.Column_2_Index+'.</strong></label>'+
											'</div>'+
											'<div class="col-sm-10" style="padding-top:9px; overflow-x:auto;">'+
												'<span>'+content.Column_2_Text+'</span>'+
											'</div>'+
										'</div>'+
							'</div>'+
				'</div>';

			return structure;

		}

		/********************************************** Alternativas **************************************************************/
		var alternative_Count = 0;

		$.fn.Test_generatePanelAlternative = function (index, content)
		{
			var _structure = '';
			alternative_Count++;

			for (var i = 0; i < content.QuestionAlternativeItems.length; i++)
			{
				content.QuestionAlternativeItems[i].Index = i;
				content.QuestionAlternativeItems[i].Alternative_Count = alternative_Count;
				content.QuestionAlternativeItems[i].Parent_Id = content.Id;
				_structure += $.fn.Test_generateAddInputAlternative(content.QuestionAlternativeItems[i]);
			}

			var structure = '<li class="list-group-item" question-type="@((int)ModelEnum.QuestionType.Alternatives)" alternative-count="' + alternative_Count +'" id-model="'+content.Id+'">'+
					'<div class="row">'+
				'<label class="col-sm-12">' + (index + 1) +'.</label>'+
						'<div class="col-sm-12" style="overflow-x:auto;">'+
							'<span>'+content.Name+'</span>'+
						'</div>'+
					'</div>'+

					'<div class="row">'+
						'<div class="row form-group col-sm-12 components-alternative">'+_structure+
				'<span id="alternative_' + content.Id + '"></span>' +
				'</div>' +
					'</div>'+
				'</li>';

			return structure;
		}

		$.fn.Test_generateAddInputAlternative = function (content)
		{
			var radioCheck_1 = content.Value ? "checked" : "";

			var structure = '<div class="row col-sm-12 segment-test-alternative" id-model="' + content.Id + '" radio-name="alternative_' + content.Alternative_Count + '"> <label class="col-sm-12"></label>' +
								'<div class="col-sm-1">' +
									'<div class="radio-list">' +
										'<label class="custom-control custom-radio" style="margin-top:10px;">'+
													'<input type="radio" class="custom-control-input" name="alternative_' + content.Alternative_Count + '" value="1" data-parsley-errors-container="#alternative_' + content.Parent_Id +'" ' + radioCheck_1+' '+(content.Index==0? 'required':'')+' >' +
													'<span class="custom-control-indicator"></span>'+
													'<span class="custom-control-description" name="number-alternative" current-number="'+content.Index+'">'+StringCast.NumberToLetter(content.Index)+'.</span>' +
										'</label>'+
									'</div>' +
								'</div>' +
				'<div class="row col-sm-11">' +
				'<div class="col-sm-12" style="padding-top:9px; overflow-x:auto;">'+
					'<span>' + content.Text + '</span>' +
				'</div>' +
				'</div></div>';

			return structure;
	}
</script>