﻿<form id="form-configSubjects" data-parsley-validate>

	<table class="bordered highlight">
		<thead >
			<tr>
				<th>Asignatura</th>
				<th class="center-align">Sub-Asignaturas</th>
			</tr>
		</thead>

		<tbody id="tbody-subSubjects">
		</tbody>
	</table>
	
	<div class="row">
		<div class="col s12">
			<button type="button" id="button-configSubjects" class="btn right @StyleConfig.ButtonStyle_Accept">Configurar</button>
		</div>
	</div>
</form>

<script>
	$(function ()
	{
		$.populateConfigSubjectForm = function(data)
		{
			generatePanel(data);
		}

		function generatePanel(course)
		{
			var tbody = "";

			for (var i = 0; i < course.CourseSubjects.length; i++)
			{
				var courseSubject = course.CourseSubjects[i];
				tbody += generateStructureTR(courseSubject);
			}

			$("#tbody-subSubjects").html(tbody);
			autoCheck(course.CourseSubjects);
		}

		function generateStructureTR(courseSubject)
		{
			var tr = '<tr id-model-course="' + courseSubject.Course_Id + '" id-model-subject="' + courseSubject.Subject_Id + '">';
			tr += '<td>' + courseSubject.Subject.Name + '</td>';
			tr += '<td>' + generateStructureTD(courseSubject) + '</td>';
			tr += "</tr>";

			return tr;
		}

		function generateStructureTD(courseSubject)
		{
			var structure = '<div class="row">';

			for (var i = 0; i < courseSubject.Subject.SubSubjects.length; i++)
			{
				var subSubject = courseSubject.Subject.SubSubjects[i];
				structure += '<div class="col s4">' +
					'<input type="checkbox" id="input-subSubject-' + subSubject.Id + '" id-model="' + subSubject.Id + '" />' +
					'<label for="input-subSubject-' + subSubject.Id + '" >' + subSubject.Name + '</label >' +
					'</div>';
			}

			structure += '</div>';
			return structure;
		}

		function autoCheck(courseSubjects)
		{
			for (var i = 0; i < courseSubjects.length; i++)
				for (var j = 0; j < courseSubjects[i].CourseSubSubjects.length; j++)
				{
					var subSubject_id = courseSubjects[i].CourseSubSubjects[j].SubSubject_Id;
					$("#input-subSubject-" + subSubject_id).prop('checked', true);
				}			
		}
	});
</script>