﻿    <form id="form-guardian" data-parsley-validate>
        <div class="row">
            <div class="col-sm-12">

                <div class="form-group">
                    <label class="col-sm-12">R.U.N</label>
                    <input class="form-control" id="input-run-form" type="text" name="R.U.N"  required>
                </div>
                <div class="form-group">
                    <label class="col-sm-12">Nombres</label>
                    <input class="form-control" id="input-name-form" id-value="0" type="text" name="Name" required>
                </div>
                <div class="form-group">
                    <label class="col-sm-12">Ap. Paterno</label>
                    <input class="form-control" id="input-fatherlastname-form" type="text" name="FatherLastName" required>
                </div>
            </div>
            <div class="col-sm-12">

                <div class="input-field">
                    <label class="col-sm-12">Ap. Materno</label>
                    <input class="form-control" id="input-motherlastname-form" type="text" name="MotherLastName" required>
                </div>

                <label>Establecimientos asociados:</label>

                <select class="form-control" id="input-establishments-form" name="establishments[]" multiple data-parsley-mincheck="1">
                    <option value="" disabled selected>Seleccione algún establecimiento</option>
                </select>
            </div>
            <div class="col-sm-12">
                <button id="button-submit-form" class="btn float-right btn-info waves-effect waves-light">Agregar</button>
                <button onclick="closeModals();" class="btn float-right btn-info waves-effect waves-light">Cerrar</button>
            </div>
    </div>
</form>
            <script>
    @if (SecurityGuard.Authentication.ContainRole("Alumno")) {
        @:Repository.queryApi(
        @:{
        @:url: "EducationalEstablishment",
            @:method: "GET",
            @:success: function (data) {
            @:for (var i=0; i < data.length; i++)
                    @:$("#input-establishments-form").append("<option value=" + data[i].Id + ">" + data[i].Name + "</option>");
        @:},
            @:error: function (error, errorHtml) {
            @:alert(errorHtml);
        @:}
    @:});
    }
            </script>
