﻿<div id="StepperMaster4" class="col s12"></div>
<div id="Etapa_000" class="col s12">
    <form id="EvaluationStudentForm" method="post" enctype="multipart/form-data" data-parsley-validatedata-parsley-validate>
        <div class="modal-content">
            <h5>Selección de Alumno</h5>
            <div class="input-field col s11">
                <div id="select-user-evaluation">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col 12 left">
                <button type="button" class="btn close-rubric" id="close3">Cerrar</button>
            </div>
            <div class="col 12 right">
                <button type="button" style="z-index:99999" class="btn next-stage waves-light">Continuar</button>
            </div>
        </div>
    </form>
</div>
<div id="Etapa_111" class="col s12">
    <form data-parsley-validate>
        <div class="modal-content">
            <h5>Evaluación nivel Procedimental</h5>
            <div class="row">
                <div style="max-height: 300px;" id="div-table-rubrics1"></div>
            </div>
        </div>
        <div class="row">
            <div class="col 12 left">
                <button type="button" class="btn close-rubric" id="close3">Cerrar</button>
            </div>
            <div class="col 12 right">
                <button type="button" class="btn back-stage waves-lightk">Atrás</button>
                <button type="button"  style="z-index:99999" class="btn next-stage waves-light">Continuar</button>
            </div>
        </div>
    </form>
</div>
<div id="Etapa_222" class="col s12">
    <form data-parsley-validate>
        <div class="modal-content">
            <h5>Evaluación nivel Declarativo</h5>
            <div class="row">
                <div style="max-height: 300px;" id="div-table-rubrics21"></div>
            </div>
        </div>
        <div class="row">
            <div class="col 12 left">
                <button type="button" class="btn close-rubric" id="close3">Cerrar</button>
            </div>
            <div class="col 12 right">
                <button type="button" class="btn back-stage waves-lightk">Atrás</button>
                <button type="button" class="btn next-stage waves-light">Continuar</button>
            </div>
        </div>
    </form>
</div>
<div id="Etapa_333" class="col s12">
    <form data-parsley-validate>
        <div class="modal-content">
            <h5>Evaluación nivel Actitudinal</h5>
            <div class="row">
                <div style="max-height: 300px;" id="div-table-rubrics31"></div>
            </div>
        </div>
        <div class="row">
            <div class="col 12 left">
                <button type="button" class="btn close-rubric" id="close3">Cerrar</button>
            </div>
            <div class="col 12 right">
                <button type="button" class="btn back-stage waves-lightk">Atrás</button>
                <button type="button" class="btn next-stage waves-light">Continuar</button>
            </div>
        </div>
    </form>
</div>


<script>

    $(document).ready(function () {

        /************************************** Inicialización **************************************/
		$("#StepperMaster4").InitStepper(
		{
			stages: [
				{ id: "Etapa_11", title: "Procedimental" },
                { id: "Etapa_22", title: "Declarativo" },
                { id: "Etapa_33", title: "Actitudinal" },
			]
        });
        ResetFormsStepperDescriptions();
        //$('#Etapa_11').css("display", "none");
        //$('#Etapa_22').css("display", "none");
        //$('#Etapa_33').css("display", "none");

    function closeModal() {
        $('#modal-evaluation-student').modal("close");
    }


    function ResetFormsStepperDescriptions() {
            $("#StepperMaster4").ResetStepper();

            $("#Etapa_0 form").get(0).reset();
            $("#Etapa_111 form").get(0).reset();
            $("#Etapa_222 form").get(0).reset();
            $("#Etapa_333 form").get(0).reset();
            
            $("#Etapa_0 form").parsley().reset();
            $("#Etapa_111 form").parsley().reset();
            $("#Etapa_222 form").parsley().reset();
            $("#Etapa_333 form").parsley().reset();

            $('select').material_select();
            Materialize.updateTextFields();
        }

    }



</script>