﻿<form id="SkillsGroupForm" data-parsley-validate>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="col-sm-12">Nombre del grupo</label>
                <input class="form-control" id="input-name" id-value="0" type="text" name="Name" required>
            </div>
            <div id="div-addSkill-component">
                <div class="form-group">
                    <label class="col-sm-12">Nombre de habilidad</label>
                    <input class="form-control" id="input-Skill" placeholder="Habilidad" type="text">
                </div>
                <div class="col s4" style="margin-top:15px;">
                    <button id="button-addSkill" type="button" class="btn @StyleConfig.ButtonStyle_Accept">Agregar habilidad</button>
                </div>
            </div>
            <div id="div-skills" class="card-panel col s12" style="padding-top: 15px;padding-bottom:15px; display:none;">
            </div>
            <div class="col-sm-12">
                <button id="buttonSubmit" class="btn float-right btn-info waves-effect waves-light">Agregar</button>
                <button onclick="closeModals();" class="btn float-right btn-info waves-effect waves-light">Cerrar</button>
            </div>
        </div>
        </div>
</form>
            <script>
                $(function () {
                    var indexSkill = 0;
                    var currentSkill = 0;

                    $('body').on('click', 'button', function () {

                        var skill = $(this).attr("id-SkillRemove");

                        if (skill != null && skill != "") {
                            $("#" + skill).remove();
                            currentSkill--;

                            if (currentSkill <= 0)
                                $("#div-skills").hide();
                        }
                    });

                    $("#button-addSkill").click(function () {
                        var item = $("#input-Skill").val();
                        $("#input-Skill").val("");

                        if (item == undefined || item == null || item == "")
                            return;

                        var repeated = false;

                        $('#div-skills').find("label").each(function () {
                            if (repeated = ($(this).text() == item))
                                return status = false;
                        });

                        if (repeated) return;

                        addSkill({ Id: 0, Name: item });
                    });

                    $.addSkills = function (skills, disabledRemove = false) {
                        $("#div-skills").html("");
                        $("#div-skills").hide();
                        currentSkill = 0;
                        indexSkill = 0;

                        if (disabledRemove) {
                            $("#div-addSkill-component").hide();
                            $("#div-skills").html("<br><label>Habilidades registradas:</label>");
                        }
                        else
                            $("#div-addSkill-component").show();

                        for (var i = 0; skills != null && i < skills.length; i++)
                            addSkill(skills[i], disabledRemove);
                    }

                    function addSkill(skill = null, disabledRemove = false) {
                        if (skill == null) {
                            if (currentSkill <= 0)
                                $("#div-skills").hide();
                            return;
                        }

                        $("#div-skills").show();

                        var text =
                            '<div dinamycSkill id="div-skill-component-' + (indexSkill) + '">' +
                            '<div class="form-group col-sm-10">' +
                            '<label id-model="' + skill.Id + '" >' + skill.Name + '</label>'  +

                             
                            (!disabledRemove ? '<button type="button" id-SkillRemove="div-skill-component-' + (indexSkill) + '" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-minus"></span></button>' : '<div style="height:45px;"></div>') +
                            '</div>' 
                            ;

                        indexSkill++;
                        currentSkill++;
                        $("#div-skills").append(text);
                        //Materialize.updateTextFields();
                    }
                });
            </script>
