﻿<form id="EvaluationForm"  data-parsley-validate>

    <div class="form-group ">
        <label for="input-name-evaluation">Nombre de la evaluación</label>
        <input class="form-control" id="input-name-evaluation" type="text" required>
    </div>
    <div class="form-group ">
        <div id="select-rubric">
        </div>
    </div>

    <div class="form-group ">
        <label for="input-description">Descripción</label>
        <textarea id="input-description-eva" class="form-control" required></textarea>
    </div>

    <div class="row">
        <div class="col-sm-12 float-right">
            <button id="button-ok-eva" class="btn float-right btn-info waves-effect waves-light">Registrar</button>
            <button onclick="closeModals();" class="btn float-right btn-info waves-effect waves-light">Cerrar</button>
        </div>
    </div>
    </form>
