﻿<form id="form-attendanceDate" data-parsley-validate>

	<table class="bordered">
		<thead>
			<tr>
				<th width="40px">N°</th>
				<th width="100px">R.U.N</th>
				<th width="500px">Nombre</th>
				<th>Presente</th>
			</tr>
		</thead>

		<tbody id="users-list"></tbody>
	</table>

    <div class="row" style="padding-top: 30px">
		<div class="col-sm-12">
            <div >
                <button type="button" id="button-delete-attendance" class="float-right btn @StyleConfig.ButtonStyle_Delete">Eliminar</button>
                <button id="button-submit" class="float-right btn @StyleConfig.ButtonStyle_Accept">Registrar</button>
                <button type="button" class="btn float-left btn-info waves-effect waves-light" OnClick="closeModals();" id="close1">Cerrar</button>
            </div>
		</div>
    </div>
</form>
