﻿@model System.Object[]
@Scripts.Render("~/FlotPie/js")
@{
}
<div id="StepperMaster2" class="col-sm-12"></div>
<div id="Etapa_1" class="col-sm-12">
    <form id="FormStagesRubric" method="post" enctype="multipart/form-data"  data-parsley-validatedata-parsley-validate>
        <div class="row">
            <div class="input-field col s3" style="margin-bottom: 10px;"><label>Creación de rúbrica</label></div>
        </div>
        <div class="row">
            <div class="input-field col-sm-10">
                <label>Nombre </label>
                <input class="form-control" style="margin-left:10px;" id-model="0" id="rubric-name" name="achievements" type="text" required>
            </div>
            <div class="col-sm-6" style="margin-top: 8px;">
                <label>Dimensión </label>
                <div id="dimension" class="form-group form-check" style="margin-top:32px; text-align:center;">
                    <label class="custom-control custom-checkbox">
                        <input id="select-dimension-0" type="checkbox" value="8" dimension="8" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Procedimental</span>
                    </label>
                    <label class="custom-control custom-checkbox">
                        <input id="select-dimension-1" type="checkbox" value="8" dimension="8" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Declarativo</span>
                    </label>
                    <label class="custom-control custom-checkbox">
                        <input id="select-dimension-2" type="checkbox" value="8" dimension="8" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Actitudinal</span>
                    </label>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12 float-right">
                <button type="button" onclick="closeModals();" class="btn float-left btn-info waves-effect waves-light">Cerrar</button>
                <button type="button" class="btn next-stage btn-info waves-effect waves-light">Continuar</button>
            </div>
        </div>
    </form>
</div>
<div id="Etapa_2" class="col-sm-12">
    <form data-parsley-validate>
        <div class="row">
            <div class="input-field col s3"><label>Creación de niveles de logro</label></div>
        </div>
        <br />
        <div id="fields-achievements2" class="row" style="display:block">
            <div id="field-achievement-1">
                <div class="input-field col s10">
                    <label >Nivel</label>
                    <input id-model="0" id="input-achievement-required2" name="achievements" type="text" required>
                </div>
                <div class="input-field col s2">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4" style="margin-top: 15px;margin-bottom: 15px">
                <button id="add-input-achievement2" type="button" class="btn waves-light input-field col">Agregar Nivel</button>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s3"><label>Creación de criterios</label></div>
        </div>
        <br />
        <div id="fields-achievements3" class="row" style="display:block">
            <div id="field-achievement-1">
                <div class="input-field col s10">
                    <label >Criterio</label>
                    <input id-model="0" id="input-achievement-required3" name="achievements" type="text" required>
                </div>
                <div class="input-field col s2">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4" style="margin-top: 15px;margin-bottom: 15px">
                <button id="add-input-achievement3" type="button" class="btn waves-light input-field col">Agregar Criterio</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 float-right">
                <button type="button"  onclick="closeModals();" class="btn float-left btn-info waves-effect waves-light">Cerrar</button>
                <button type="button" class="btn next-stage btn-info waves-effect waves-light">Continuar</button>
                <button type="button" class="btn back-stage btn-info waves-effect waves-light">Atrás</button>
            </div>
        </div>
    </form>
</div>
<div id="Etapa_3" class="col-sm-12">
    <form data-parsley-validate>
        <div class="row">
            <div class="input-field col s3"><label>Creación de niveles de logro</label></div>
        </div>
        <br />
        <div id="fields-achievements4" class="row" style="display:block">
            <div id="field-achievement-1">
                <div class="input-field col s10">
                    <label for="input-achievement-1">Nivel</label>
                    <input id-model="0" id="input-achievement-required2" name="achievements" type="text" required>
                </div>
                <div class="input-field col s2">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4" style="margin-top: 15px;margin-bottom: 15px">
                <button id="add-input-achievement4" type="button" class="btn waves-light input-field col">Agregar Nivel</button>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s3"><label>Creación de criterios</label></div>
        </div>
        <br />
        <div id="fields-achievements5" class="row" style="display:block">
            <div id="field-achievement-1">
                <div class="input-field col s10">
                    <label for="input-achievement-1">Criterio</label>
                    <input id-model="0" id="input-achievement-required3" name="achievements" type="text" required>
                </div>
                <div class="input-field col s2">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4" style="margin-top: 15px;margin-bottom: 15px">
                <button id="add-input-achievement5" type="button" class="btn waves-light input-field col">Agregar Criterio</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 float-right">
                <button type="button"  onclick="closeModals();" class="btn float-left btn-info waves-effect waves-light">Cerrar</button>
                <button type="button" class="btn next-stage btn-info waves-effect waves-light">Continuar</button>
                <button type="button" class="btn back-stage btn-info waves-effect waves-light">Atrás</button>
            </div>
        </div>
    </form>
</div>
<div id="Etapa_4" class="col-sm-12">
    <form data-parsley-validate>
        <div class="row">
            <div class="input-field col s3"><label>Creación de niveles de logro</label></div>
        </div>
        <br />
        <div id="fields-achievements6" class="row" style="display:block">
            <div id="field-achievement-1">
                <div class="input-field col s10">
                    <label for="input-achievement-1">Nivel</label>
                    <input id-model="0" id="input-achievement-required2" name="achievements" type="text" required>
                </div>
                <div class="input-field col s2">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4" style="margin-top: 15px;margin-bottom: 15px">
                <button id="add-input-achievement6" type="button" class="btn waves-light input-field col">Agregar Nivel</button>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s3"><label>Creación de criterios</label></div>
        </div>
        <br />
        <div id="fields-achievements7" class="row" style="display:block">
            <div id="field-achievement-1">
                <div class="input-field col s10">
                    <label for="input-achievement-1">Criterio</label>
                    <input id-model="0" id="input-achievement-required3" name="achievements" type="text" required>
                </div>
                <div class="input-field col s2">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4" style="margin-top: 15px;margin-bottom: 15px">
                <button id="add-input-achievement7" type="button" class="btn waves-light input-field col">Agregar Criterio</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 float-right">
                <button type="button" onclick="closeModals();" class="btn float-left btn-info waves-effect waves-light">Cerrar</button>
                <button type="button" class="btn next-stage btn-info waves-effect waves-light">Continuar</button>
                <button type="button" class="btn back-stage btn-info waves-effect waves-light">Atrás</button>
            </div>
        </div>
    </form>
</div>
<script>

    $(document).ready(function () {

        /************************************** Inicialización **************************************/
		$("#StepperMaster2").InitStepper(
		{
			stages: [
				{ id: "Etapa_1", title: "General" },
			]
        });
        $('#Etapa_2').css("display", "none");
        $('#Etapa_3').css("display", "none");
        $('#Etapa_4').css("display", "none");
        EventDispatcher.on(StepperExpress.ChangedStageEvent, function (obj)
        {

        });

        $('body').on('click', 'button', function () {
            var achievement = $(this).attr("id-AchievementRemove");

            if (achievement != null && achievement != "") {
                $("#component-achievement-" + achievement).remove();
                achievementsCount--;
            }
        });



    function closeModal() {
        $('#modal-rubrics').modal("close");
    }

    function populateFormRubric(item = null)
        {
            $.fn.Rubric = item;
            ResetFormsStepperRubric();
            getDataDimensions();

            $('#modal-rubrics').modal("open", {
                dismissible: false
            });

            if (item == null)
            {
                $("#FormStagesRubric").attr("id-user", 0);
                addInputAchievementsRubric([{ Id: 0, Name: "" }]);
                addCriterionsRubric([{ Id: 0, Name: "" }]);
                //addDescriptions();
                return;
			}

			//$.fn.Questions = $.fn.Test.Questions;

            $("#FormStagesRubric").attr("id-user", item.Id);
            $("#dimension").val( item.Dimension_Id);
            $("#rubric-name").val(item.Name);
            addInputAchievementsRubric(item.AchievementLevels);
            addCriterionsRubric(item.Criterions);
            //addDescriptions(item.DescriptionRubricItems);
            $('select').material_select();
            Materialize.updateTextFields();
        }

    function ResetFormsStepperRubric() {
            $("#StepperMaster2").ResetStepper();

            $("#Etapa_1 form").get(0).reset();
            $("#Etapa_2 form").get(0).reset();
            $("#Etapa_3 form").get(0).reset();

            $("#Etapa_1 form").parsley().reset();
            $("#Etapa_2 form").parsley().reset();
            $("#Etapa_3 form").parsley().reset();

            $('select').material_select();
            Materialize.updateTextFields();
        }

    function GetAchievementLevels() {
        var achievements = [];
        $("#fields-achievements2 input").each(function () {
            achievements.push({ "Name": $(this).val() });
        });
        return achievements;
    }
    function GetCriterions() {
        var criterions = [];
            $("#fields-achievements3 input").each(function () {
                criterions.push({ "Name": $(this).val() });
        });
        return criterions;
    }
    var dataText = [];
    var dataRubric = [];
    function generateTableRubrics(rubric) {
        var headers = ['Criterios'];
        $("#fields-achievements2 input").each(function () {
            headers.push($(this).val());
        });
        data = getDataRubric(rubric);
        var widths = [220];
        $("#div-table-rubrics").html("");

        var columnsConfig = [];
        for (var i = 0; i < headers.length; i++) {
            if (i == 0) {
                columnsConfig.push({
                    type: 'text',
                    language: 'de-DE',
                    allowEmpty: true,
                    autoRowSize: true,
                    readOnly: true
                });
            } else {
                columnsConfig.push({
                    type: 'text',
                    language: 'de-DE',
                    allowEmpty: true,
                    autoRowSize: true,
                });
            }
        }


        for (var i = 0; i < headers.length; i++)
            widths.push(320);

        var container = document.getElementById('div-table-rubrics');
        var hot = new Handsontable(container, {
            data: data[0],
            colHeaders: headers,
            columns: columnsConfig,
            colWidths: widths
        });
        dataTable = hot;
        return data;
    }
    var descriptions = [[]];
    function generateDataRubric() {
        
        var criterios = [];
        $("#fields-achievements3 input").each(function () {
            criterios.push($(this).val());
        });
        var niveles = ['Criterios'];
        $("#fields-achievements2 input").each(function () {
            niveles.push($(this).val());
        });
        descriptions = [[]];
        for (var i = 0; i < criterios.length; i++) {
            descriptions[i] = [];
            for (var j = 0; j < niveles.length; j++) {
            }
        }
        
    }
    function getDataRubric(rubric) {
        dataRubric = [];
        dataText = [];
        var criterios = [];
        Repository.queryApi(
            {
                url: "Rubric/GetCriterionsAndLevelsByRubric",
                method: "GET",
                data:  { rubric_id: rubric.Id },
                success: function (data) {
                    var niveles = data.levels;
                    var criterios = data.criterions;
                    for (var i = 0; i < criterios.length; i++) {
                        var descriptionsObject = [];
                        var dataTextColumn = [];
                        //dataTextColumn.push(criterios[i]);
                        for (var j = 1; j < niveles.length; j++) {
                            //if (descriptions[i][j] != null && descriptions[i][j] != "") {
                            
                               // descriptionsObject.push({ "AchievementLevel_Id": j, "Criterion_Id": i, "Text": descriptions[i][j] });
                            //}
                            //dataTextColumn.push(descriptions[i][j]);
                            console.log(niveles[j]);
                        }
                        //dataText.push(dataTextColumn);
                        //dataRubric.push(descriptionsObject);
                    }
                    
                }
            });
        return dataText;
    }

    function getDataDimensions(item) {
        var tbodyStructure = "";
        tbodyStructure = "";
        tbodyStructure += '<label class="custom-control custom-checkbox">< input id = "select-dimension-0" type = "checkbox" value = "8" dimension = "8" class="custom-control-input" ><span class="custom-control-indicator"></span><span class="custom-control-description">Procedimental</span></label><label class="custom-control custom-checkbox"><input id="select-dimension-1" type="checkbox" value="8" dimension="8" class="custom-control-input"><span class="custom-control-indicator"></span><span class="custom-control-description">Declarativo</span></label><label class="custom-control custom-checkbox"><input id="select-dimension-2" type="checkbox" value="8" dimension="8" class="custom-control-input"><span class="custom-control-indicator"></span><span class="custom-control-description">Actitudinal</span></label>';
       
        $("#dimension").html(tbodyStructure);
        $('#select-dimension').material_select();
        for (i = 0; i < item.RubricDimensions.length; i++) {
            if (item.RubricDimensions[i].Dimension.Name == "Procedimental") {
                $("[name='Procedimental']").each(function () {
                    $(this).prop("checked", true);
                });
            }
            if (item.RubricDimensions[i].Dimension.Name == "Declarativo") {
                $("[name='Declarativo']").each(function () {
                    $(this).prop("checked", true);
                });
            }
            if (item.RubricDimensions[i].Dimension.Name == "Actitudinal") {
                $("[name='Actitudinal']").each(function () {
                    $(this).prop("checked", true);
                });
            }

        }
    }

   

    
</script>