﻿@model System.Object[]
@Scripts.Render("~/FlotPie/js")
@{
    var url = SecurityGuard.ConnectionHelper.URL_WEBAPI + "Test";
}
<div id="StepperMaster" class="col-sm-12"></div>
<div id="Stage_1" class="col-sm-12">
    <form id="FormStages" method="post" enctype="multipart/form-data" action="@url" data-parsley-validate>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="file-field form-group col-sm-8">
                <div class="btn">
                    <span>Subir Test</span>
                    <input class="form-control" id="input-file" type="file" name="pdf" accept=".pdf">
                </div>
                <div class="file-path-wrapper">
                    <input class="form-control" id="input-file-text" class="file-path validate" type="text">
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>

            <div class="file-field form-group col-sm-8">
                <div class="btn">
                    <span>Corrección</span>
                    <input class="form-control" id="input-file-correction" type="file" name="pdf_correction" accept=".pdf">
                </div>
                <div class="file-path-wrapper">
                    <input class="form-control" id="input-file-correction-text" class="file-path validate" type="text">
                </div>
                <div  class="form-group form-check" style="margin-top:32px;">
                    <label class="custom-control custom-checkbox">
                        <input id="input-file-correction-publish" type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Corrección es visible cuando todos hayan realizado el test.</span>
                    </label>
                    <label class="custom-control custom-checkbox">
                        <input id="check-test-global" type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Test global</span>
                    </label>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row">
            <div class="col-sm-12 float-right">
                <button type="button" class="next-stage btn float-right btn-info waves-effect waves-light">Continuar</button>
                <button type="button" onclick="closeModals();" class="btn float-right btn-info waves-effect waves-light">Cerrar</button>
            </div>
        </div>
    </form>
</div>
<div id="Stage_2" class="col-sm-12">
    <form data-parsley-validate>
        <div class="row">
            <div class="col-sm-4">
                <label>Cantidad de alternativas</label><br>
                <input name="group1" type="radio" id="input-CantAlternative-4" class="with-gap" checked />
                <label for="input-CantAlternative-4">4</label>
                <input name="group1" type="radio" id="input-CantAlternative-5" class="with-gap" />
                <label for="input-CantAlternative-5">5</label>
            </div>
            <div class="form-group col-sm-8">
                <label>Cantidad de preguntas</label>
                <select class="form-control" id="input-countQuery" name="countQuery">
                    @for (int i = 1; i <= 100; i++)
                    {
                        if (i == 5)
                        {
                            <option value="@i" selected>@i</option>
                        }
                        else
                        {
                            <option value="@i">@i</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group col-sm-12">
                <label >Título</label>
                <textarea id="input-content" class="form-control" required></textarea>
            </div>
            <br>
            <hr />
        </div>
        <div class="row">
            <div class="col-sm-12 float-right">
                <button type="button" class="back-stage btn float-right btn-info waves-effect waves-light">Atrás</button>
                <button type="button" class="next-stage btn float-right btn-info waves-effect waves-light">Continuar</button>
                <button type="button" onclick="closeModals();" class="btn float-right btn-info waves-effect waves-light">Cerrar</button>
            </div>
        </div>
    </form>
</div>
<div id="Stage_3" class="col-sm-12">
    <form data-parsley-validate>
        <div class="row">
            <div class="input-field col-sm-3"><label>Creación de contenidos</label></div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-4">
                <button id="add-input-achievement" type="button" class="btn @StyleConfig.ButtonStyle_Accept input-field col">Agregar Contenido</button>
            </div>
        </div>
        <div id="fields-achievements" class="row" style="display:block;">
            <div id="field-achievement-1">
                <div class="form-group col-sm-10">
                    <input class="form-control" id-model="0" id="input-achievement-required" name="achievements" placeholder="Contenido..." type="text" required>
                    <label for="input-achievement-1">Contenido</label>
                </div>
                <div class="form-group col-sm-2">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 float-right">
                <button type="button" class="back-stage btn float-right btn-info waves-effect waves-light">Atrás</button>
                <button type="button" class="next-stage btn float-right btn-info waves-effect waves-light">Continuar</button>
                <button type="button" onclick="closeModals();" class="btn float-right btn-info waves-effect waves-light">Cerrar</button>
            </div>
        </div>
    </form>
</div>
<div id="Stage_4" class="col-sm-12">
    <form data-parsley-validate>
        <div id="AsignAchievements" class="row"  style="display: inline-block;"">
            <label>Asignar Contenidos</label>
        </div>
        <div class="row">
            <div class="col-sm-12 float-right">
                <button type="button" class="back-stage btn float-right btn-info waves-effect waves-light">Atrás</button>
                <button type="button" class="next-stage btn float-right btn-info waves-effect waves-light">Continuar</button>
                <button type="button" onclick="closeModals();" class="btn float-right btn-info waves-effect waves-light">Cerrar</button>
            </div>
        </div>
    </form>
</div>
<div id="Stage_5" class="col-sm-12">
    <form data-parsley-validate>
        <div id="AsignAlternatives" class="row" style="display :inline-block">
        </div>
        <div class="row">
            <div class="col-sm-12 float-right">
                <button type="button" class="back-stage btn float-right btn-info waves-effect waves-light">Atrás</button>
                <button type="button" class="next-stage btn float-right btn-info waves-effect waves-light">Continuar</button>
                <button type="button" onclick="closeModals();" class="btn float-right btn-info waves-effect waves-light">Cerrar</button>
            </div>
        </div>
    </form>
</div>
<div id="Stage_6" class="col-sm-12">
    <form data-parsley-validate>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <label>Asociar cada pregunta con una habilidad</label>
            </div>
        </div>
        <div id="AsignSkills" class="row">
        </div>
        <div class="row">
            <div class="col-sm-12 float-right">
                <button type="button" class="back-stage btn float-right btn-info waves-effect waves-light">Atrás</button>
                <button type="button" class="next-stage btn float-right btn-info waves-effect waves-light">Continuar</button>
                <button type="button" onclick="closeModals();" class="btn float-right btn-info waves-effect waves-light">Cerrar</button>
            </div>
        </div>
    </form>
</div>
<div id="Stage_7" class="col-sm-12">
    <form data-parsley-validate>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <label>Asociar test a los siguientes cursos</label>
            </div>
        </div>
        <div id="AsignCourses" class="row">
        </div>
        <div class="row">
            <div class="col-sm-12 float-right">
                <button type="button" class="back-stage btn float-right btn-info waves-effect waves-light">Atrás</button>
                <button type="button" class="next-stage btn float-right btn-info waves-effect waves-light">Continuar</button>
                <button type="button" onclick="closeModals();" class="btn float-right btn-info waves-effect waves-light">Cerrar</button>
            </div>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {

        /************************************** Inicialización **************************************/
		$("#StepperMaster").InitStepper(
			{
				stages: [
					{ id: "Stage_1", title: "Subir PDF" },
					{ id: "Stage_2", title: "Parametros" },
					{ id: "Stage_3", title: "Contenido" },
					{ id: "Stage_4", title: "Contenido" },
					{ id: "Stage_5", title: "Alternativas" },
					{ id: "Stage_6", title: "Habilidades" }
				]
            });
        var selects = [];
        //var selects = GenericSystemSelect.getSelectsByGroupCod(2);
        for (var i = 0; i < selects.length; i++)
            selects[i].prop('required', true);

        $('.datepicker').pickadate({
            firstDay: true,
            container: 'body',
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year,
            today: 'Hoy',
            clear: 'Limpiar',
            close: 'Listo',
            closeOnSelect: false, // Close upon selecting a date,
            monthsFull: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            monthsShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
            weekdaysFull: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            weekdaysShort: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
            weekdaysLetter: ['D', 'L', 'M', 'X', 'J', 'V', 'S'],
        });

        /*****************************************************************************************/
        /************************************** Indicadores **************************************/


        EventDispatcher.on(StepperExpress.ChangedStageEvent, function (obj)
        {
            if (obj.action == "next" && obj.id == "Stage_3")
                generateSelectQueryByAchievement();


            if (obj.action == "next" && obj.id == "Stage_4")
                generateSelectQueryByAchievement();

            if (obj.action == "next" && obj.id == "Stage_5")
				generateSelectQueryByAlternative();

			if (obj.action == "next" && obj.id == "Stage_6")
				generateSelectQueryBySkill();
            if (obj.action == "next" && obj.id == "Stage_7")
                generateCoursesBySubject();
        });

        $('body').on('click', 'button', function () {

            var achievement = $(this).attr("id-AchievementRemove");

            if (achievement != null && achievement != "") {
                $("#component-achievement-" + achievement).remove();
                achievementsCount--;
            }
        });

        $("#add-input-achievement").click(function ()
        {
            addInputAchievement();
        });

        /*****************************************************************************************/
        /************************************** Altenativas **************************************/


        function generateSelectQueryByAlternative()
        {

            var queryCount = $("#input-countQuery").val();
            var alternativeCount = $("#input-CantAlternative-4").is(':checked') ? 4 : 5;
            var abc = ["A", 'B', 'C', 'D', 'E'];
            var options = "";
            var structure = "";

            for (var i = 0; i < alternativeCount; i++)
                options += '<option value="' + abc[i] + '">' + abc[i] + '</option>';

            for (var i = 0; i < queryCount; i++) {
                structure += '<div class="input-field col s1">' +
                    '<select index-query="' + i + '" required>' +
                    '<option value="" disabled selected> - </option>' +
                    options +
                    '</select>' +
                    '<label>P' + (i + 1) + '</label>' +
                    '</div >';
            }

            var selectResult = [];

            if ($.fn.Test != null && $.fn.Test.Questions != null) {
                selectResult = getChoicesAlternatives($.fn.Test.Questions);
                $.fn.Test.Questions = null;
            }
            else
                $("#AsignAlternatives select").each(function () {
                    selectResult.push($(this).val());
                });

            $("#AsignAlternatives").html("");
            $("#AsignAlternatives").append('<div class="row"><div class="col 12"><label>Asignación del alternativas correctas</label></div></div><br>');
            $("#AsignAlternatives").append(structure);

            $("#AsignAlternatives select").each(function (index) {
                if (index < selectResult.length)
                    $(this).val(selectResult[index]);
            });

            $('select').material_select();
        }
    });

    var achievementsCount = 0;
    var indexAchievement_IdLink_Count = 0;

    function addInputAchievementsTest(achievements)
    {
        console.log(achievements);
        
        $("#fields-achievements").html("");
        achievementsCount = 0;

        for (var i = 0; i < achievements.length; i++)
            addInputAchievement(achievements[i]);
    }

    function addInputAchievement(achievement = null)
    {
        if (achievement == null)
            achievement = { Id: 0, Name: "", IdLink: "input-achievement-" + (indexAchievement_IdLink_Count++) };
        else
            achievement.IdLink = "input-achievement-" + (indexAchievement_IdLink_Count++);

        var text = '<div dinamycAchievement id="component-achievement-' + achievement.IdLink + '">' +
            '<div class="input-field col s10">' +
            '<input class="form-control" id-model="' + achievement.Id + '" id="' + achievement.IdLink + '" placeholder="Ingresar contenido" value="' + achievement.Name + '" type="text" required>' +
            '<label for="input-achievement-' + achievementsCount + '">Contenido</label>' +
            '</div>' +

            '<div class="input-field col s2">' +
            (achievementsCount != 0 ? '<button type="button" id-AchievementRemove="' + achievement.IdLink + '" class="btn-floating @StyleConfig.ButtonStyle_Delete"><i class="material-icons">remove</i></button>' : '') +
            '</div>' +
            '</div>';
        $("#fields-achievements").append(text);
        //Materialize.updateTextFields();
        achievementsCount++;
    }

    function generateSelectQueryByAchievement()
    {
        var achievementsStack = GetAchievements();

        var countQuery = $("#input-countQuery").val();

        var structure = "";
        var options = "";
        var list = '<div class="row"><div class="col 12"><ul class="with-header"><li class="collection-header"><label>Lista de contenidos para asociar a preguntas</label></li>';

        for (var i = 0; i < achievementsStack.length; i++)
            list += '<li class="collection-item">' + (i + 1) + ".- " + achievementsStack[i].Name + '</li>';

        list += '</ul> </div> </div><br>';

        for (var i = 0; i < achievementsStack.length; i++)
            options += '<option value="' + achievementsStack[i].IdLink + '">' + (i + 1) + '</option>';

        for (var i = 0; i < countQuery; i++) {
            structure += '<div class="input-field col s1">' +
                '<select index-query="' + i + '" required>' +
                '<option value="" disabled selected> - </option>' +
                options +
                '</select>' +
                '<label>P' + (i + 1) + '</label>' +
                '</div >';
        }

        var selectResult = [];

        if ($.fn.Test!=null && $.fn.Test.AchievementIndicator != null)
        {
            selectResult = getChoicesAchievements($.fn.Test.AchievementIndicator);
            $.fn.Test.AchievementIndicator = null;
        }
        else
            $("#AsignAchievements select").each(function () {
                selectResult.push($(this).val());
            });

        $("#AsignAchievements").html("");
        $("#AsignAchievements").append(list);
        $("#AsignAchievements").append(structure);


        $("#AsignAchievements select").each(function (index) {
            if (index < selectResult.length)
                $(this).val(selectResult[index]);
        });

        $('select').material_select();
    }

    function GetAchievements()
    {
        var achievementsStack = [];

        $("#fields-achievements :input").each(function (index) {
            if ($("#check-test-global").prop("checked")) {
                achievementsStack.push(
                {
                    Id: 0,
                    Name: "None",
                    IdLink: 0
                });
            } else {
                if ($(this).val() != "" && achievementsStack.indexOf($(this).val()) == -1)
                achievementsStack.push(
                    {
                        Id: $(this).attr("id-model"),
                        Name: $(this).val(),
                        IdLink: $(this).attr("id")
                    });
            }
        });

        return achievementsStack;
    }

    function GetCourses()
    {
        var coursesStack = [];
        $("input[type=checkbox]:checked").each(function (index) {
            if ($(this).attr("course") != "" && $(this).attr("course") != null) {
                coursesStack.push(
                    {
                        Course_Id: parseInt($(this).attr("course")),
                        Test_Id: $("#test_id").attr("valor") != "" && $("#test_id").attr("valor") != null ? parseInt($("#test_id").attr("valor")) : 0
                    });
            }
        });

        return coursesStack;
    }

    function getChoicesAchievements(achievementIndicator)
    {
        var result = [];

        for (var i = 0; i < achievementIndicator.length; i++)
            for (var j = 0; j < achievementIndicator[i].AchievementAlternatives.length; j++)
            {
                var item = achievementIndicator[i].AchievementAlternatives[j];
                result.push({ Order: item.Question.Order, Achievement: item.AchievementIndicator.Name });
            }

        result.sort(function (a, b) { return a.Order - b.Order });

        var achievements = GetAchievements();

        for (var i = 0; i < result.length; i++)
            for (var j = 0; j < achievements.length; j++)
                if (achievements[j].Name == result[i].Achievement)
                {
                    result[i].Achievement = achievements[j].IdLink;
                    break;
                }

        var _result = [];
        for (var i = 0; i < result.length; i++)
            _result.push(result[i].Achievement);

        return _result;
    }

    function getChoicesAlternatives(alternatives)
    {
        alternatives.sort(function (a, b) { return a.Order - b.Order });

        var result = [];

        for (var i = 0; i < alternatives.length; i++)
            result.push(alternatives[i].Choice);

        return result;
	}
	  /*****************************************************************************************/
      /************************************** Habilidades **************************************/

	function generateSelectQueryBySkill()
	{
		var countQuery = $("#input-countQuery").val();
		var structure = '';

		for (var i = 0; i < countQuery; i++)
		{
			var id = 0;
			var value = -1;

			if ($.fn.Test != null && $.fn.Questions != null && $.fn.Questions.length > i) {
				id = $.fn.Questions[i].Id;
				if ($.fn.Questions[i].Skill != null)
					value = $.fn.Questions[i].Skill.Id;
			}

			structure += '<div class="col s12">' +
				'<label order="' + (i + 1) + '" >P' + (i + 1) + '</label >' +
				generateSelectGroupBySkillsGroup(skillsGroups, value) +
				'</div>';
		}

		$("#AsignSkills").html(structure);
		$('select').material_select();
	}

    function generateCoursesBySubject()
	{
        var structure = '';
		Repository.queryApi(
        {
            url: "Course/GetCoursesBySubject",
            method: "GET",
            data: { "id": $("#subject").attr("valor") },
            success: function (data) {
                for(i=0;i<data.length;i++) {
                    structure +='<input type="checkbox" course="'+data[i].Id+'" id="select-course-'+i+'" ><label for="select-course-'+i+'">'+data[i].Name+'</label><br>';
                }
                $("#AsignCourses").html(structure);
                Repository.queryApi(
                {
                    url: "Test",
                    method: "GET",
                    data: { "id": $("#test_id").attr("valor") },
                    success: function (item) {
                
                        for (i = 0; i < item.CourseTests.length; i++) {
                            $("[course="+item.CourseTests[i].Course_Id+"]").each(function () {
                                $(this).prop("checked", true);
                            });
                        }
                    },
                    async:false
                });
                
            },
            async:false
        });
       
        
        

		$('select').material_select();
        
	}

	function generateSelectGroupBySkillsGroup(skillsGroups, value)
	{
		var select_group = '<select class="form-control select-group-skillsGroup"><option value="" disabled selected>Seleccione un grupo</option>';
		var block = false;

		for (var i = 0; i < skillsGroups.length; i++)
		{
			var skillSelect_Id = 0;


			if(!block)
			{
				options = '';
				for (var j = 0; j < skillsGroups[i].Skills.length; j++)
				{
					options += '<option value="' + skillsGroups[i].Skills[j].Id + '" ' + (skillsGroups[i].Skills[j].Id == value ? 'selected' : '') + ' >' + skillsGroups[i].Skills[j].Name + '</option>';

					if(skillsGroups[i].Skills[j].Id == value)
						skillSelect_Id = value;
				}
			}

			select_group += '<option value="' + skillsGroups[i].Id + '" ' + (skillSelect_Id!=0 ? 'selected' : '') +'>' + skillsGroups[i].Name + '</option>';

			if(skillSelect_Id!=0 && !block)
				block = true;
		}

		var select = '<select class="form-control" select-skill-skillsGroup required '+(block?"":"disabled")+' ><option value="" disabled selected>Seleccione una habilidad</option>'+ options + '</select>';
		select_group+='</select>';

		return '<div class="row" style="margin:0px;"> <div class="col s6">'+ select_group+'</div> <div class="col s6">' + select + '</div> </div>';
    }


	$(document).on('change', '.select-group-skillsGroup', function()
	{
		for (var i = 0; i < skillsGroups.length; i++)
		{
			if(skillsGroups[i].Id == parseInt($(this).val()))
			{
				var options = '<option value="" disabled selected>Seleccione una habilidad</option>';
				for (var j = 0; j < skillsGroups[i].Skills.length; j++)
					options += '<option value="' + skillsGroups[i].Skills[j].Id + '">' + skillsGroups[i].Skills[j].Name + '</option>';

				var select = $(this).closest(".row").find("select[select-skill-skillsGroup]");

				select.html(options);
				select.prop("disabled",false);
				$('select').material_select();
				break;
			}
		}
    });

    function closeModal() {
        $('#modal-test-teacher').modal("toggle");
    }
    function GetCourses() {
        var coursesStack = [];
        $("input[type=checkbox]:checked").each(function (index) {
            if ($(this).attr("course") != "" && $(this).attr("course") != null) {
                coursesStack.push(
                    {
                        Course_Id: parseInt($(this).attr("course")),
                        Test_Id: 0
                    });
            }
        });

        return coursesStack;
    }
</script>