﻿
@{
	var url = SecurityGuard.ConnectionHelper.URL_WEBAPI + "Note";
}



<form id="form-note" method="post" enctype="multipart/form-data" action="@url" data-parsley-validate="" novalidate="">
    <div class="row">

        <div class="col-sm-12">

            <div class="form-group">

                <label class="col-sm-12">Nombre del contenido</label>
                <div class="col-sm-12">
                    <input id="input-name-note" id-value="0" class="form-control" type="text" name="Name" value="" required="">
                </div>
            </div>

            <div class="form-group">

                <label class="col-sm-12">Descripción</label>
                <div class="col-sm-12">
                    <textarea id="textarea-description" class="form-control" name="Description"  required></textarea>
                </div>
            </div>

            <div class="form-group">

                <label class="col-sm-12">Enlace del video</label>
                <div class="col-sm-12">
                    <input id="input-video-id"  class="form-control" type="text" name="input-video-id">
                </div>
            </div>

            <div class="form-group" id="input-documento">
                <label class="col-sm-12">Subir archivo</label>
                <div class="col-sm-12">
                    <div class="btn">
                        <input id="FileUpload" name="file" type="file" accept=".pdf,.xls,.doc,.ppt,.xlsx,.docx,.pptx">
                    </div>
                    <div class="file-path-wrapper">
                        <input id="TitleFileUpload" class="file-path validate form-control" type="text">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <button id="button-submit" class="btn float-right btn-info waves-effect waves-light">Agregar</button>
                    <button onclick="closeModals();" class="btn float-right btn-info waves-effect waves-light">Cerrar</button>
                </div>
            </div>

        </div>
    </div>
</form>

