﻿<div id="div-modal-uploadfilestudent" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
	<div style="max-width: 690px; margin: 30px auto;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">Subida de archivos para estudiantes</h4>
			</div>
			<form id="form-uploadfilestudent" method="post" data-parsley-validate>
				<div class="modal-body">
					<div class="form-group">
						<label for="recipient-name" class="control-label">Título:</label>
						<input type="text" name="Name" class="form-control" id="recipient-name" required>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancelar</button>
					<button id="button-submit-uploadfilestudent" type="submit" class="btn btn-info waves-effect waves-light">Agregar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	

	$(function () {

	
		var currentComponent;

		$.fn.UploadFileStudent_View = function (content) {
			$.fn.UploadFileStudent_Edit(content);
		}

		$.fn.UploadFileStudent_Add = function (activity_id) {
			event.preventDefault();
			resetForm();
			$('#div-modal-uploadfilestudent').modal('show');
			$("#form-uploadfilestudent").attr("activity-id", activity_id);
			$("#form-uploadfilestudent").attr("uploadfilestudent-id", 0);
			$("#button-submit-uploadfilestudent").text("Agregar");
		}

		$.fn.UploadFileStudent_Edit = function (content) {
			event.preventDefault();
			resetForm();
			$('#div-modal-uploadfilestudent').modal('show');
			$("#form-uploadfilestudent").attr("activity-id", 0);
			$("#form-uploadfilestudent").attr("uploadfilestudent-id", content.Id);
			$("#form-uploadfilestudent").find('input[name="Name"]').val(content.Title);
			$("#button-submit-uploadfilestudent").text("Actualizar");
		}

		$.fn.UploadFileStudent_Delete = function (content)
		{
			event.preventDefault();
			$("#button-delete").attr("id-value", content.Id);
			$("#button-delete").attr("url-name", "UploadFileStudent");
			$('#div-modal-delete').modal('show');
		}

		
		$("#form-uploadfilestudent").parsley().on('form:submit', function ()
		{
			var name = $("#form-uploadfilestudent").find('input[name="Name"]').val();
			var activity_id = $("#form-uploadfilestudent").attr("activity-id");		
			var uploadFileStudent_id = $("#form-uploadfilestudent").attr("uploadfilestudent-id");
			
			var data =
				{
					Title: name,
					Activity_Id: activity_id,
					UploadFileStudent_Id: uploadFileStudent_id
				};			

			Repository.queryApi(
				{
					url: "UploadFileStudent",
					method: uploadFileStudent_id == 0? "POST" : "PUT",
					data: data,
					success: function (data) {
						$.fn.refreshTable();
						$('#div-modal-uploadfilestudent').modal('hide');
					}
				}, true, true);

			return false;
		});		

		function resetForm() {
			$("#form-uploadfilestudent").get(0).reset();
			$("#form-uploadfilestudent").parsley().reset();
		}
	});
</script>